/* ==========================================================================
   Hive theme for Textpattern CMS (v4.6alpha3)
   ========================================================================== */
/* Google Code Prettify
   ========================================================================== */
/* markup colouring */
.atn,
.dec,
.typ,
.var {
  color: teal;
}

.atv,
.str {
  color: #d14;
}

.clo,
.opn,
.pun {
  color: #93a1a1;
}

.com {
  color: #93a1a1;
}

.fun {
  color: #dc322f;
}

.kwd {
  color: #1e347b;
}

.lit {
  color: #195f91;
}

.pln {
  color: #48484c;
}

.tag {
  color: #1e347b;
}

/* Google Code Prettify - line number colouring */
.linenums {
  padding-left: 2em;
}
.linenums ol {
  margin: 0;
  -webkit-box-shadow: inset #f6f6f6 1.85714em 0px 0px, inset #e3e3e3 1.92857em 0px 0px;
  -moz-box-shadow: inset #f6f6f6 1.85714em 0px 0px, inset #e3e3e3 1.92857em 0px 0px;
  box-shadow: inset #f6f6f6 1.85714em 0px 0px, inset #e3e3e3 1.92857em 0px 0px;
}
.linenums li {
  padding-left: 1em;
  color: #b8b8b8;
}
