/* Hive theme for Textpattern CMS (v2.0b1) */
/* --------------------- BLUE COLORSCHEME -------------------- */
/* General */
body {
  color: #333;
  background: #fff;
  -webkit-tap-highlight-color: rgba(68, 200, 255, 0.5);
}

a {
  color: #2b91fa;
}

a:hover {
  color: #0050a3;
}

:focus {
  -webkit-box-shadow: 0 0 5px #44c8ff;
  box-shadow: 0 0 5px #44c8ff;
}

#article-main .author {
  color: #999;
}

/* Messages */
#messagepane,
.not-ok,
#plugin_container td.modified {
  color: #c00;
}

/* Twisties */
.lever,
#supporting_content legend {
  color: #fff;
  background: #666;
  background: -webkit-gradient(linear, left top, left bottom, from(#666666), to(#333333));
  /* Safari 4+, Chrome */
  background: -webkit-linear-gradient(top, #666666, #333333);
  /* Safari 5.1+, Chrome 10+ */
  background: -moz-linear-gradient(top, #666666, #333333);
  /* Firefox 3.6 */
  background: -ms-linear-gradient(top, #666666, #333333);
  /* IE10 */
  background: -o-linear-gradient(top, #666666, #333333);
  /* Opera 11.10+ */
  background: linear-gradient(top, #666666, #333333);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorStr='#666',EndColorStr='#333');
  /* IE7-IE9 */
}

.lever:hover {
  background: #777;
  background: -webkit-gradient(linear, left top, left bottom, from(#777777), to(#555555));
  /* Safari 4+, Chrome */
  background: -webkit-linear-gradient(top, #777777, #555555);
  /* Safari 5.1+, Chrome 10+ */
  background: -moz-linear-gradient(top, #777777, #555555);
  /* Firefox 3.6 */
  background: -ms-linear-gradient(top, #777777, #555555);
  /* IE10 */
  background: -o-linear-gradient(top, #777777, #555555);
  /* Opera 11.10+ */
  background: linear-gradient(top, #777777, #555555);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorStr='#777',EndColorStr='#555');
  /* IE7-IE9 */
}

.lever a {
  color: #fff;
}

/* Buttons */
input[type="submit"],
input[type="button"],
a.article-view,
.action-create a,
a.navlink,
a.navlink-active,
.navlink a,
.navlink-active a,
#list_banned_ips a,
#page-rss_db_bk h3 a,
#insert-link {
  color: #fff !important;
  text-shadow: -1px -1px #0c77e5;
  border: solid 1px #2b91fa;
  background: #44c8ff;
  background: -webkit-gradient(linear, left top, left bottom, from(#44c8ff), to(#2b91fa));
  /* Safari 4+, Chrome */
  background: -webkit-linear-gradient(top, #44c8ff, #2b91fa);
  /* Safari 5.1+, Chrome 10+ */
  background: -moz-linear-gradient(top, #44c8ff, #2b91fa);
  /* Firefox 3.6 */
  background: -ms-linear-gradient(top, #44c8ff, #2b91fa);
  /* IE10 */
  background: -o-linear-gradient(top, #44c8ff, #2b91fa);
  /* Opera 11.10+ */
  background: linear-gradient(top, #44c8ff, #2b91fa);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorStr='#44c8ff',EndColorStr='#2b91fa');
  /* IE7-IE9 */
}

input[type="submit"]:hover,
input[type="button"]:hover,
a:hover.article-view,
.action-create a:hover,
a:hover.navlink,
a:hover.navlink-active,
.navlink a:hover,
.navlink-active a:hover,
#list_banned_ips a:hover,
#page-rss_db_bk h3 a:hover,
#insert-link:hover {
  background: #69d3ff;
  background: -webkit-gradient(linear, left top, left bottom, from(#69d3ff), to(#55a7fb));
  /* Safari 4+, Chrome */
  background: -webkit-linear-gradient(top, #69d3ff, #55a7fb);
  /* Safari 5.1+, Chrome 10+ */
  background: -moz-linear-gradient(top, #69d3ff, #55a7fb);
  /* Firefox 3.6 */
  background: -ms-linear-gradient(top, #69d3ff, #55a7fb);
  /* IE10 */
  background: -o-linear-gradient(top, #69d3ff, #55a7fb);
  /* Opera 11.10+ */
  background: linear-gradient(top, #69d3ff, #55a7fb);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorStr='#69d3ff',EndColorStr='#55a7fb');
  /* IE7-IE9 */
}

input[type="submit"]:active,
input[type="button"]:active,
a:active.article-view,
.action-create a:active,
a:active.navlink,
a:active.navlink-active,
.navlink a:active,
.navlink-active a:active,
#list_banned_ips a:active,
#page-rss_db_bk h3 a:active,
#insert-link:active {
  background: #2b91fa;
  background: -webkit-gradient(linear, left top, left bottom, from(#2b91fa), to(#44c8ff));
  /* Safari 4+, Chrome */
  background: -webkit-linear-gradient(top, #2b91fa, #44c8ff);
  /* Safari 5.1+, Chrome 10+ */
  background: -moz-linear-gradient(top, #2b91fa, #44c8ff);
  /* Firefox 3.6 */
  background: -ms-linear-gradient(top, #2b91fa, #44c8ff);
  /* IE10 */
  background: -o-linear-gradient(top, #2b91fa, #44c8ff);
  /* Opera 11.10+ */
  background: linear-gradient(top, #2b91fa, #44c8ff);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorStr='#2b91fa',EndColorStr='#44c8ff');
  /* IE7-IE9 */
}

/* Light tint backgrounds */
#configuration_content .plain-list,
#tagbuild_links .plain-list,
#page-login .login-pane,
#page-logout .login-pane,
.category-list div,
#list .even,
#configuration_content,
#tagbuild_links,
#supporting_content,
#content_switcher,
#supporting_content p,
#section_container .section,
#page-arc_admin_twitter #list tr:nth-of-type(2n),
#page-bot_privs_tab #list tr:nth-of-type(2n) {
  background: #f5f9fb;
}

/* Tables */
#list tfoot {
  border-top: 1px solid #f0f2f6;
}

#list th a:hover {
  color: #44c8ff;
}

#list thead .desc {
  background: #333333 url("../img/colour-blue/twisty-arrow-list.gif") no-repeat right -31px;
}

#list thead .asc {
  background: #333333 url("../img/colour-blue//twisty-arrow-list.gif") no-repeat right -4px;
}

#list .odd {
  background: #fff;
}

/* Navigation */
#txp-nav {
  background: #666;
  background: -webkit-gradient(linear, left top, left bottom, from(#666666), to(#333333));
  /* Safari 4+, Chrome */
  background: -webkit-linear-gradient(top, #666666, #333333);
  /* Safari 5.1+, Chrome 10+ */
  background: -moz-linear-gradient(top, #666666, #333333);
  /* Firefox 3.6 */
  background: -ms-linear-gradient(top, #666666, #333333);
  /* IE10 */
  background: -o-linear-gradient(top, #666666, #333333);
  /* Opera 11.10+ */
  background: linear-gradient(top, #666666, #333333);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorStr='#666',EndColorStr='#333');
  /* IE7-IE9 */
}

#txp-nav .primary {
  border: solid 1px #2b91fa;
  background: #44c8ff;
  background: -webkit-gradient(linear, left top, left bottom, from(#44c8ff), to(#2b91fa));
  /* Safari 4+, Chrome */
  background: -webkit-linear-gradient(top, #44c8ff, #2b91fa);
  /* Safari 5.1+, Chrome 10+ */
  background: -moz-linear-gradient(top, #44c8ff, #2b91fa);
  /* Firefox 3.6 */
  background: -ms-linear-gradient(top, #44c8ff, #2b91fa);
  /* IE10 */
  background: -o-linear-gradient(top, #44c8ff, #2b91fa);
  /* Opera 11.10+ */
  background: linear-gradient(top, #44c8ff, #2b91fa);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorStr='#44c8ff',EndColorStr='#2b91fa');
  /* IE7-IE9 */
}

#txp-nav .primary:hover {
  background: #69d3ff;
  background: -webkit-gradient(linear, left top, left bottom, from(#69d3ff), to(#55a7fb));
  /* Safari 4+, Chrome */
  background: -webkit-linear-gradient(top, #69d3ff, #55a7fb);
  /* Safari 5.1+, Chrome 10+ */
  background: -moz-linear-gradient(top, #69d3ff, #55a7fb);
  /* Firefox 3.6 */
  background: -ms-linear-gradient(top, #69d3ff, #55a7fb);
  /* IE10 */
  background: -o-linear-gradient(top, #69d3ff, #55a7fb);
  /* Opera 11.10+ */
  background: linear-gradient(top, #69d3ff, #55a7fb);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorStr='#69d3ff',EndColorStr='#55a7fb');
  /* IE7-IE9 */
}

#txp-nav a {
  color: #fff !important;
  text-shadow: -1px -1px #0c77e5;
}

#txp-nav li:hover a {
  background: url("../img/colour-blue/indicator.gif") no-repeat 50% bottom;
}

#txp-nav ul {
  background: #ebf6fb;
}

#txp-nav ul li:hover {
  background: #d8eef7;
}

#txp-nav ul li.active {
  background: #c5e6f3;
}

#txp-nav ul a {
  color: #333 !important;
}

/* Write page */
#configuration_content > div,
#supporting_content > div,
#tagbuild_links > div,
#content_switcher form > div,
#supporting_content fieldset,
#tagbuild_links h2,
#content_switcher h2 {
  border-bottom: 2px solid #fafcfd;
}

/* Sections page */
#section_container .section {
  border-top: 2px solid #fafcfd;
}

#section_container #list .label,
#section_container #list .actions,
#section_container #list .section > td:last-child {
  background: #fff;
}

/* Forms page */
.lever a.pophelp {
  background: #dde6ed;
  background: -webkit-gradient(linear, left top, left bottom, from(#dde6ed), to(#d2d9e0));
  /* Safari 4+, Chrome */
  background: -webkit-linear-gradient(top, #dde6ed, #d2d9e0);
  /* Safari 5.1+, Chrome 10+ */
  background: -moz-linear-gradient(top, #dde6ed, #d2d9e0);
  /* Firefox 3.6 */
  background: -ms-linear-gradient(top, #dde6ed, #d2d9e0);
  /* IE10 */
  background: -o-linear-gradient(top, #dde6ed, #d2d9e0);
  /* Opera 11.10+ */
  background: linear-gradient(top, #dde6ed, #d2d9e0);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorStr='#dde6ed',EndColorStr='#d2d9e0');
  /* IE7-IE9 */
}

/* Pages page */
#tagbuild_links h2,
#content_switcher h2 {
  color: #fff;
  background: #333;
}

/* Tabs */
.tabs a {
  color: #333;
}

.tabs .tabup a {
  background: #ebf6fb;
}

.tabs .tabup a:hover {
  background: #d8eef7;
}

.tabs .tabdown2 a {
  background: #c5e6f3;
}

.tabs .tabdown2 a:hover {
  background: #d8eef7;
}

/* rss_admin_db_manager */
#page-rss_db_man #list tr[style="background-color: #eee;"],
#page-rss_db_bk #list tr[style="background-color: #eee;"] {
  background: #f5f9fb !important;
}
