/* Hive theme for Textpattern CMS (v2.0a1) */
/* Light tint backgrounds */
#configuration_content .plain-list,
#tagbuild_links .plain-list,
#content_switcher,
#section_container .section {
  background: #f7f7f7;
}

/* Tabs */
.tabs a {
  color: #333333;
}

.tabs .tabup a {
  background: #ffda44;
}

.tabs .tabup a:hover {
  background: #fcdd62;
}

.tabs .tabdown2 a {
  background: #c7d3d8;
}

.tabs .tabdown2 a:hover {
  background: #d2dce0;
}

/* rss_admin_db_manager */
#page-rss_db_man #list tr[style="background-color: #eee;"],
#page-rss_db_bk #list tr[style="background-color: #eee;"] {
  background: #f7f7f7 !important;
}
