/* ------ OPTIONALLY HIDE FEATURES ------- */


/* More info: http://forum.textpattern.com/viewtopic.php?pid=240058#p240058 */
/* Uncomment any rule below to apply it */

/* Write/edit page: Preview tab group */
/* #article-tabs {display:none !important;} */

/* Write/edit page: Textile group */
/* #textile_group {display:none !important;} */

/* Write/edit page: Advanced group */
/* #advanced_group {display:none !important;} */

/* Write/edit page: Recent articles group */
/* #recent_group {display:none !important;} */

/* Write/edit page: Keywords field */
/* .keywords {display:none !important;} */

/* Write/edit page: Comments group */
/* #write-comments {display:none !important;} */

/* Write/edit page: Expires fields */
/* #write-expires {display:none !important;} */

/* Pages and Forms pages: Tag builder column */
/* #page-page #edit td.column:first-child, #page-form #edit td.column:first-child {display:none !important;} */
