/* Hive theme for Textpattern CMS (v2.0a4) */
/* Proposed improvements to the Textpattern core classes (prefixed with 'expermental-' for now) */
.experimental-section {
  padding-top: 5em;
  background: url("../img/separator.gif") repeat-x 0 2em;
}

.experimental-icon-colour {
  color: #f00;
}

.experimental-align-left {
  float: left;
  margin: 1em 1em 1em 0;
}

.experimental-align-right {
  float: right;
  margin: 1em 0 1em 1em;
}

.experimental-align-center {
  display: block;
  margin: 1em auto;
}

input.experimental-input-medium {
  width: 50%;
  max-width: 11.6153846153846em;
}

input.experimental-input-small {
  width: 25%;
  max-width: 5.76923076923077em;
}
