/* Hive theme for Textpattern CMS (v2.0a4) */
/* PROPOSED ADDITIONS TO THE TEXTAPTTERN CORE CLASSES (prefixed with 'expermental-' for now) */
/* Sections */
.experimental-text-section {
  padding-top: 5em;
  background: url("../img/separator.gif") repeat-x 0 2.154em;
}

@media only screen and (max-width: 768px) {
  .experimental-text-section {
    padding-top: 4em;
    background-position: 0 1.69230769230769em;
  }
}
/* Image alignments */
.experimental-align-left {
  float: left;
  margin: 1em 1em 1em 0;
}

.experimental-align-right {
  float: right;
  margin: 1em 0 1em 1em;
}

.experimental-align-center {
  display: block;
  margin: 1em auto;
}

/* Input field widths */
input.experimental-input-medium {
  width: 50%;
  max-width: 11.6153846153846em;
}

input.experimental-input-small {
  width: 25%;
  max-width: 5.76923076923077em;
}

/* icons */
a.icon {
  display: -moz-inline-box;
  -moz-box-orient: vertical;
  display: inline-block;
  *display: inline;
  *zoom: 1;
  width: 1.69230769230769em;
  height: 1.69230769230769em;
  text-indent: 110%;
  white-space: nowrap;
  overflow: hidden;
  margin: 0 .5em .5em 0;
  border: 1px solid #e3e3e3;
  -moz-border-radius: 0.385em;
  border-radius: 0.385em;
  background-color: #f7f7f7;
  background-image: url("../img/icon-sprite.png");
}
.svg a.icon {
  background-image: url("../img/svg/icon-sprite.svg");
  -webkit-background-size: 27.077em 3.385em;
  -moz-background-size: 27.077em 3.385em;
  -o-background-size: 27.077em 3.385em;
  background-size: 27.077em 3.385em;
}
a.icon:hover {
  border-color: #cccccc;
}

button.icon {
  padding-left: 2.46153846153846em;
  *padding-left: .75em;
}
button.icon:before {
  content: "";
  position: absolute;
  top: .15384615384615em;
  left: .46153846153846em;
  z-index: 2;
  width: 1.69230769230769em;
  height: 1.69230769230769em;
  background-image: url("../img/icon-sprite.png");
}
.svg button.icon:before {
  background-image: url("../img/svg/icon-sprite.svg");
  -webkit-background-size: 27.077em 3.385em;
  -moz-background-size: 27.077em 3.385em;
  -o-background-size: 27.077em 3.385em;
  background-size: 27.077em 3.385em;
}

a.icon-write, button.icon-write:before {
  background-position: 0 0;
}

a.icon-code, button.icon-code:before {
  background-position: -1.692em 0;
}

a.icon-view, button.icon-view:before {
  background-position: -3.385em 0;
}

a.icon-mail, button.icon-mail:before {
  background-position: -5.077em 0;
}

a.icon-plus, button.icon-plus:before {
  background-position: -6.769em 0;
}

a.icon-minus, button.icon-minus:before {
  background-position: -8.462em 0;
}

a.icon-close, button.icon-close:before {
  background-position: -10.154em 0;
}

a.icon-ban, button.icon-ban:before {
  background-position: -11.846em 0;
}

a.icon-warn, button.icon-warn:before {
  background-position: -13.538em 0;
}

a.icon-search, button.icon-search:before {
  background-position: -15.231em 0;
}

a.icon-yes, button.icon-yes:before {
  background-position: -16.923em 0;
}

a.icon-no, button.icon-no:before {
  background-position: -18.615em 0;
}

a.icon-time, button.icon-time:before {
  background-position: -20.308em 0;
}

a.icon-cog, button.icon-cog:before {
  background-position: -22em 0;
}

a.icon-repeat, button.icon-repeat:before {
  background-position: -23.692em 0;
}

a.icon-off, button.icon-off:before {
  background-position: -25.385em 0;
}

a.icon-arrow-n, button.icon-arrow-n:before {
  background-position: 0 -1.692em;
}

a.icon-arrow-e, button.icon-arrow-e:before {
  background-position: -1.692em -1.692em;
}

a.icon-arrow-s, button.icon-arrow-s:before {
  background-position: -3.385em -1.692em;
}

a.icon-arrow-w, button.icon-arrow-w:before {
  background-position: -5.077em -1.692em;
}

a.icon-star, button.icon-star:before {
  background-position: -6.769em -1.692em;
}

a.icon-refresh, button.icon-refresh:before {
  background-position: -8.462em -1.692em;
}

a.icon-list, button.icon-list:before {
  background-position: -10.154em -1.692em;
}

a.icon-grid, button.icon-grid:before {
  background-position: -11.846em -1.692em;
}

a.icon-image, button.icon-image:before {
  background-position: -13.538em -1.692em;
}

a.icon-user, button.icon-user:before {
  background-position: -15.231em -1.692em;
}

a.icon-target, button.icon-target:before {
  background-position: -16.923em -1.692em;
}

a.icon-comment, button.icon-comment:before {
  background-position: -18.615em -1.692em;
}

a.icon-trash, button.icon-trash:before {
  background-position: -20.308em -1.692em;
}

a.icon-favourite, button.icon-favourite:before {
  background-position: -22em -1.692em;
}

a.icon-folder, button.icon-folder:before {
  background-position: -23.692em -1.692em;
}

a.icon-file, button.icon-file:before {
  background-position: -25.385em -1.692em;
}
