/* Hive theme for Textpattern CMS (v2.0a4) */
/* =============================================================================
   rah plugins
   ========================================================================== */
.rah_ui_container {
  position: relative;
  z-index: 1;
  width: auto !important;
}
