/* Hive theme for Textpattern CMS (v2.0a1) */
/* import rules to make base rendering consistent for all browsers */
@import url("reset.css");
/* =============================================================================
   IMPORT CUSTOM CSS FILE
   ========================================================================== */
/* see the 'readme.txt' for instructions on how to use this file */
@import url("custom.css");
/* =============================================================================
   Web fonts
   ========================================================================== */
@font-face {
  font-family: cousine;
  src: url("../fonts/Cousine-Regular.eot?#iefix") format("embedded-opentype"), url("../fonts/Cousine-Regular.woff") format("woff"), url("../fonts/Cousine-Regular.ttf") format("truetype"), url("../fonts/Cousine-Regular.svg#Cousine-Regular") format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: cousine;
  src: url("../fonts/Cousine-Italic.eot?#iefix") format("embedded-opentype"), url("../fonts/Cousine-Italic.woff") format("woff"), url("../fonts/Cousine-Italic.ttf") format("truetype"), url("../fonts/Cousine-Italic.svg#Cousine-Italic") format("svg");
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: cousine;
  src: url("../fonts/Cousine-Bold.eot?#iefix") format("embedded-opentype"), url("../fonts/Cousine-Bold.woff") format("woff"), url("../fonts/Cousine-Bold.ttf") format("truetype"), url("../fonts/Cousine-Bold.svg#Cousine-Bold") format("svg");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: cousine;
  src: url("../fonts/Cousine-BoldItalic.eot?#iefix") format("embedded-opentype"), url("../fonts/Cousine-BoldItalic.woff") format("woff"), url("../fonts/Cousine-BoldItalic.ttf") format("truetype"), url("../fonts/Cousine-BoldItalic.svg#Cousine-BoldItalic") format("svg");
  font-weight: bold;
  font-style: italic;
}

/* =============================================================================
   Clearfix
   ========================================================================== */
.clearfix, #txp-foot, .txp-navigation {
  *zoom: 1;
}
.clearfix:before, #txp-foot:before, .txp-navigation:before, .clearfix:after, #txp-foot:after, .txp-navigation:after {
  content: "";
  display: table;
}
.clearfix:after, #txp-foot:after, .txp-navigation:after {
  clear: both;
}

/* =============================================================================
   Links
   ========================================================================== */
a {
  -webkit-tap-highlight-color: rgba(0, 102, 255, 0.5);
  color: #1a428b;
  text-decoration: none;
}
a:hover {
  color: #0066ff;
  text-decoration: underline;
}

/* =============================================================================
   Typography
   ========================================================================== */
h1,
h3,
h4,
h5,
h6 {
  font-size: 1em;
  margin: 0 0 1em;
}

h2 {
  font-size: 1.23076923076923em;
  margin: 0 0 .8125em;
}
h2 .pophelp {
  font-size: .8125em;
}

small,
sub,
sup,
#txp-foot {
  font-size: 0.846em;
}

pre,
code,
kbd,
samp,
.code,
#diagnostics textarea {
  font-family: Cousine, Menlo, Consolas, "Lucida Console", "Bitstream Vera Sans Mono", "DejaVu Sans Mono", monospace;
}

code,
mark {
  padding: .23076923076923em;
  background: #fff6d3;
  -moz-border-radius: 0.231em;
  border-radius: 0.231em;
}

pre {
  padding: 1em;
  overflow-x: auto;
  background: #fff6d3;
  -moz-border-radius: 0.385em;
  border-radius: 0.385em;
}

.pophelp {
  padding: 0 .23076923076923em;
  font-weight: normal;
  background: #ddd;
  -moz-border-radius: 0.538em;
  border-radius: 0.538em;
}

/* =============================================================================
   Messages
   ========================================================================== */
#messagepane {
  margin: 1em 0;
  text-align: center;
}

.not-ok,
#plugin_form .modified {
  color: #9d261d;
}

/* alert boxes */
#messagepane span {
  -moz-border-radius: 0.385em;
  border-radius: 0.385em;
  border: 1px solid;
  padding: .5em 1em;
  text-align: center;
  max-width: 42em;
  text-shadow: 1px 1px 0 rgba(255, 255, 255, 0.4);
  display: inline-block;
  /* IE 7 */
  *zoom: 1;
  *display: inline;
}
#messagepane span.success {
  color: #238c23;
  background: #dff0d8;
  border-color: #c1e2b3;
}
#messagepane span.warning {
  color: #ffb300;
  background: #fcf8e3;
  border-color: #f7ecb5;
}
#messagepane span.error {
  color: #9d261d;
  background: #f2dede;
  border-color: #e4b9b9;
}

/* =============================================================================
   Twistees
   ========================================================================== */
legend {
  display: block;
  width: 100%;
  margin: 0;
  padding: 1px 1em 0;
  font-weight: bold;
  line-height: 2em;
  text-shadow: 1px 1px 0 rgba(255, 255, 255, 0.4);
  -webkit-box-shadow: rgba(255, 255, 255, 0.25) 0 1px 0 0 inset;
  box-shadow: rgba(255, 255, 255, 0.25) 0 1px 0 0 inset;
  border-top: 1px solid #dddddd;
  border-bottom: 1px solid #c4c4c4;
  background-color: #dddddd;
  /* Konqueror */
  background-image: -khtml-gradient(linear, left top, left bottom, from(#eeeeee), to(#dddddd));
  /* Safari4+, Chrome */
  background-image: -webkit-gradient(linear, left top, left bottom, from(#eeeeee), to(#dddddd));
  /* Safari5.1+, Chrome10+ */
  background-image: -webkit-linear-gradient(#eeeeee, #dddddd);
  /* Firefox3.6 */
  background-image: -moz-linear-gradient(#eeeeee, #dddddd);
  /* IE10 */
  background-image: -ms-linear-gradient(#eeeeee, #dddddd);
  /* Opera11.10+ */
  background-image: -o-linear-gradient(#eeeeee, #dddddd);
  /* CSS3 Compliant */
  background-image: linear-gradient(#eeeeee, #dddddd);
  /* IE7-9 */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorStr='#eeeeee',EndColorStr='#dddddd');
  /* hack to remove any border-radius in IE9 so we can keep filter gradients */
  border-radius: 0 \0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  /* IE7 box-sizing workaround */
  *padding-right: 0;
  *padding-left: 0;
}

.lever {
  font-weight: bold;
  margin: 0;
  line-height: 2em;
  height: 2em;
  overflow: hidden;
  text-shadow: 1px 1px 0 rgba(255, 255, 255, 0.4);
  -webkit-box-shadow: rgba(255, 255, 255, 0.25) 0 1px 0 0 inset;
  box-shadow: rgba(255, 255, 255, 0.25) 0 1px 0 0 inset;
  border-top: 1px solid #dddddd;
  border-bottom: 1px solid #c4c4c4;
  background-color: #dddddd;
  /* Konqueror */
  background-image: -khtml-gradient(linear, left top, left bottom, from(#eeeeee), to(#dddddd));
  /* Safari4+, Chrome */
  background-image: -webkit-gradient(linear, left top, left bottom, from(#eeeeee), to(#dddddd));
  /* Safari5.1+, Chrome10+ */
  background-image: -webkit-linear-gradient(#eeeeee, #dddddd);
  /* Firefox3.6 */
  background-image: -moz-linear-gradient(#eeeeee, #dddddd);
  /* IE10 */
  background-image: -ms-linear-gradient(#eeeeee, #dddddd);
  /* Opera11.10+ */
  background-image: -o-linear-gradient(#eeeeee, #dddddd);
  /* CSS3 Compliant */
  background-image: linear-gradient(#eeeeee, #dddddd);
  /* IE7-9 */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorStr='#eeeeee',EndColorStr='#dddddd');
  /* hack to remove any border-radius in IE9 so we can keep filter gradients */
  border-radius: 0 \0;
}

.lever a {
  position: relative;
  display: block;
  color: #333333;
  padding: 0 2em 0 1em;
}
.lever a:hover {
  color: #333333;
  text-decoration: none;
}
.lever a:after {
  position: absolute;
  top: .69230769230769em;
  right: .76923076923077em;
  z-index: 10;
  width: 0;
  height: 0;
  display: inline-block;
  text-indent: -9999px;
  vertical-align: top;
  opacity: .5;
  content: "&#8594;";
  border-left: 0.308em solid #333333;
  border-right: 0;
  border-top: .30769230769231em solid transparent;
  border-bottom: .30769230769231em solid transparent;
}
.lever a:hover:after {
  opacity: 1;
}

.lever a:hover {
  text-decoration: none;
}

/* remove pophelp on levers - inconsistent UI */
.lever a.pophelp {
  display: none;
}

.lever.expanded a:after {
  top: .84615384615385em;
  right: .69230769230769em;
  content: "&#8595;";
  border-left: .30769230769231em solid transparent;
  border-right: .30769230769231em solid transparent;
  border-top: 0.308em solid #333333;
  border-bottom: 0;
}

.toggle {
  padding: 0 1em;
}

/* =============================================================================
   Forms
   ========================================================================== */
fieldset {
  position: relative;
  margin: -1em 0 1em 0;
  border: 1px solid #e3e3e3;
  padding: 1em 0 0 0;
  background: #f7f7f7;
}

fieldset > * {
  margin-right: 1em;
  margin-left: 1em;
}

fieldset > legend {
  position: relative;
  top: 1em;
  margin-right: 0;
  margin-left: 0;
}

input[type="radio"],
input[type="checkbox"] {
  margin-right: .5em;
}

#configuration_content input[type="text"],
#configuration_content input[type="password"],
#configuration_content textarea,
#configuration_content select,
#main_content textarea,
#main_content input[type="text"],
#main_content input[type="password"],
#supporting_content select,
#comment-invite,
.login-pane input[type="text"],
.login-pane input[type="password"],
.category-list div input[type="text"] {
  width: 100%;
}

.txp-control-panel input[type="text"], .txp-control-panel input[type="password"], .txp-control-panel textarea,
.edit-pane input[type="text"],
.edit-pane input[type="password"],
.edit-pane textarea {
  width: 15em;
}

#article-main .title input {
  width: 80%;
}

#content_switcher input[type="checkbox"],
#content_switcher #list input[type="submit"] {
  float: right;
}

/* =============================================================================
   Buttons
   ========================================================================== */
/* delete buttons */
input[value="×"] {
  padding: 0 .33333333333333em;
  color: #f9e0df;
  text-shadow: -1px -1px 0 rgba(0, 0, 0, 0.25);
  border-top: 1px solid #9d261d;
  border-bottom: 1px solid #721c15;
  background-color: #9d261d;
  /* Konqueror */
  background-image: -khtml-gradient(linear, left top, left bottom, from(#dc4e44), to(#9d261d));
  /* Safari4+, Chrome */
  background-image: -webkit-gradient(linear, left top, left bottom, from(#dc4e44), to(#9d261d));
  /* Safari5.1+, Chrome10+ */
  background-image: -webkit-linear-gradient(#dc4e44, #9d261d);
  /* Firefox3.6 */
  background-image: -moz-linear-gradient(#dc4e44, #9d261d);
  /* IE10 */
  background-image: -ms-linear-gradient(#dc4e44, #9d261d);
  /* Opera11.10+ */
  background-image: -o-linear-gradient(#dc4e44, #9d261d);
  /* CSS3 Compliant */
  background-image: linear-gradient(#dc4e44, #9d261d);
  /* IE7-9 */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorStr='#dc4e44',EndColorStr='#9d261d');
  /* hack to remove any border-radius in IE9 so we can keep filter gradients */
  border-radius: 0 \0;
}
input[value="×"]:hover {
  color: white;
  border-top: 1px solid #c83025;
  border-bottom: 1px solid #9d261d;
  background-color: #c83025;
  /* Konqueror */
  background-image: -khtml-gradient(linear, left top, left bottom, from(#e36f66), to(#c83025));
  /* Safari4+, Chrome */
  background-image: -webkit-gradient(linear, left top, left bottom, from(#e36f66), to(#c83025));
  /* Safari5.1+, Chrome10+ */
  background-image: -webkit-linear-gradient(#e36f66, #c83025);
  /* Firefox3.6 */
  background-image: -moz-linear-gradient(#e36f66, #c83025);
  /* IE10 */
  background-image: -ms-linear-gradient(#e36f66, #c83025);
  /* Opera11.10+ */
  background-image: -o-linear-gradient(#e36f66, #c83025);
  /* CSS3 Compliant */
  background-image: linear-gradient(#e36f66, #c83025);
  /* IE7-9 */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorStr='#e36f66',EndColorStr='#c83025');
  /* hack to remove any border-radius in IE9 so we can keep filter gradients */
  border-radius: 0 \0;
}
input[value="×"]:active {
  border-top: 1px solid #e36f66;
  border-bottom: 1px solid #db463b;
  background-color: #e36f66;
  /* Konqueror */
  background-image: -khtml-gradient(linear, left top, left bottom, from(#c83025), to(#e36f66));
  /* Safari4+, Chrome */
  background-image: -webkit-gradient(linear, left top, left bottom, from(#c83025), to(#e36f66));
  /* Safari5.1+, Chrome10+ */
  background-image: -webkit-linear-gradient(#c83025, #e36f66);
  /* Firefox3.6 */
  background-image: -moz-linear-gradient(#c83025, #e36f66);
  /* IE10 */
  background-image: -ms-linear-gradient(#c83025, #e36f66);
  /* Opera11.10+ */
  background-image: -o-linear-gradient(#c83025, #e36f66);
  /* CSS3 Compliant */
  background-image: linear-gradient(#c83025, #e36f66);
  /* IE7-9 */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorStr='#c83025',EndColorStr='#e36f66');
  /* hack to remove any border-radius in IE9 so we can keep filter gradients */
  border-radius: 0 \0;
}

form.busy input[type='submit'] {
  border: 1px solid #eee;
  border-bottom-color: #bbb;
  background-color: #dadada;
  /* Konqueror */
  background-image: -khtml-gradient(linear, left top, left bottom, from(#e6e6e6), to(#dadada));
  /* Safari4+, Chrome */
  background-image: -webkit-gradient(linear, left top, left bottom, from(#e6e6e6), to(#dadada));
  /* Safari5.1+, Chrome10+ */
  background-image: -webkit-linear-gradient(#e6e6e6, #dadada);
  /* Firefox3.6 */
  background-image: -moz-linear-gradient(#e6e6e6, #dadada);
  /* IE10 */
  background-image: -ms-linear-gradient(#e6e6e6, #dadada);
  /* Opera11.10+ */
  background-image: -o-linear-gradient(#e6e6e6, #dadada);
  /* CSS3 Compliant */
  background-image: linear-gradient(#e6e6e6, #dadada);
  /* IE7-9 */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorStr='#e6e6e6',EndColorStr='#dadada');
  /* hack to remove any border-radius in IE9 so we can keep filter gradients */
  border-radius: 0 \0;
}

form.busy span.spinner:after {
  content: "";
  display: inline-block;
  width: 16px;
  height: 16px;
  margin-left: 5px;
  background-image: url("../img/spinner.gif");
}
@media (-webkit-min-device-pixel-ratio: 2) {
  form.busy span.spinner:after {
    background-image: url("../img/retina/spinner@2x.gif") !important;
    -webkit-background-size: 16px 16px;
  }
}

/* =============================================================================
   Lists
   ========================================================================== */
.plain-list {
  list-style: none;
  padding-left: 0;
}

/* =============================================================================
   Tables
   ========================================================================== */
#list {
  width: 100% !important;
  margin-bottom: 1em;
  overflow: auto;
  /* IE7 */
  *overflow-y: scroll;
  *overflow-x: hidden;
}
#list tr.odd td {
  border: 1px solid #e3e3e3;
}
#list tr.even td {
  border: 1px solid #e3e3e3;
  background: #f7f7f7;
}
#list th, #list td {
  padding: .38461538461538em 1em;
}
#list ul {
  list-style: none;
  padding-left: 0;
  margin: 0;
}
#list .id {
  width: 6%;
}
#list .date {
  width: 14%;
}
#list .section {
  width: 12%;
}
#list .multi-edit {
  width: 2%;
}

#list thead th {
  text-shadow: 1px 1px 0 rgba(255, 255, 255, 0.4);
  background-color: #dddddd;
  /* Konqueror */
  background-image: -khtml-gradient(linear, left top, left bottom, from(#eeeeee), to(#dddddd));
  /* Safari4+, Chrome */
  background-image: -webkit-gradient(linear, left top, left bottom, from(#eeeeee), to(#dddddd));
  /* Safari5.1+, Chrome10+ */
  background-image: -webkit-linear-gradient(#eeeeee, #dddddd);
  /* Firefox3.6 */
  background-image: -moz-linear-gradient(#eeeeee, #dddddd);
  /* IE10 */
  background-image: -ms-linear-gradient(#eeeeee, #dddddd);
  /* Opera11.10+ */
  background-image: -o-linear-gradient(#eeeeee, #dddddd);
  /* CSS3 Compliant */
  background-image: linear-gradient(#eeeeee, #dddddd);
  /* IE7-9 */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorStr='#eeeeee',EndColorStr='#dddddd');
  /* hack to remove any border-radius in IE9 so we can keep filter gradients */
  border-radius: 0 \0;
  border: 1px solid #dddddd;
  border-bottom: 1px solid #c4c4c4;
}
#list thead th a {
  position: relative;
  display: block;
  color: #333333;
  margin-right: .5em;
}
#list thead th a:hover {
  color: #333333;
  text-decoration: none;
}
#list thead th a:after {
  position: absolute;
  top: .53846153846154em;
  right: -0.769em;
  z-index: 10;
  width: 0;
  height: 0;
  display: inline-block;
  text-indent: -9999px;
  vertical-align: top;
  opacity: .5;
}
#list thead th a:hover:after {
  opacity: 1;
}
#list thead th.desc a:after {
  content: "&#8595;";
  border-left: .30769230769231em solid transparent;
  border-right: .30769230769231em solid transparent;
  border-top: 0.308em solid #333333;
  border-bottom: 0;
}
#list thead th.asc a:after {
  content: "&#8593;";
  border-left: .30769230769231em solid transparent;
  border-right: .30769230769231em solid transparent;
  border-top: 0;
  border-bottom: 0.308em solid #333333;
}

#list tfoot th, #list tfoot td {
  vertical-align: middle;
}
#list tfoot .multi-edit input[type="button"] {
  margin-right: .38461538461538em;
}

#content_switcher #list tr.even {
  background: none;
}

#page-page #content_switcher,
#page-css #content_switcher {
  padding-bottom: 5px;
}

#page-page #content_switcher #list,
#page-css #content_switcher #list {
  margin: 0;
  float: none;
}

#page-page #content_switcher #list td,
#page-css #content_switcher #list td {
  position: relative;
  padding: 0 1em 5px;
}

#list tfoot #js {
  margin-right: 36px;
}

/* =============================================================================
   Layout
   ========================================================================== */
body {
  position: relative;
  padding: 4em 2em 1em;
  min-width: 70em;
  color: #333333;
  background: white;
}

.txp-container {
  max-width: 110em;
  margin: 0 auto;
}

/* Containers */
#page_container td {
  padding: 0;
}

#form_container td[style] {
  padding: 0 !important;
}

#import_container td {
  padding: 4px;
}

#page_container td {
  padding: 0;
}

#form_container td[style] {
  padding: 0 !important;
}

#import_container td {
  padding: 4px;
}

/* =============================================================================
   Header
   ========================================================================== */
#txp-head {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 10000;
  padding: 0 2em;
  height: 3em;
  min-width: 70em;
  -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
  border-top: 1px solid #fabc2b;
  border-bottom: 1px solid #eca706;
  background-color: #fabc2b;
  /* Konqueror */
  background-image: -khtml-gradient(linear, left top, left bottom, from(#ffda44), to(#fabc2b));
  /* Safari4+, Chrome */
  background-image: -webkit-gradient(linear, left top, left bottom, from(#ffda44), to(#fabc2b));
  /* Safari5.1+, Chrome10+ */
  background-image: -webkit-linear-gradient(#ffda44, #fabc2b);
  /* Firefox3.6 */
  background-image: -moz-linear-gradient(#ffda44, #fabc2b);
  /* IE10 */
  background-image: -ms-linear-gradient(#ffda44, #fabc2b);
  /* Opera11.10+ */
  background-image: -o-linear-gradient(#ffda44, #fabc2b);
  /* CSS3 Compliant */
  background-image: linear-gradient(#ffda44, #fabc2b);
  /* IE7-9 */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorStr='#ffda44',EndColorStr='#fabc2b');
  /* hack to remove any border-radius in IE9 so we can keep filter gradients */
  border-radius: 0 \0;
}
#txp-head h1 {
  float: left;
  margin: 0;
  padding-left: 11.385em;
  line-height: 3em;
  background: no-repeat left 48%;
  max-width: 25%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  background-image: url("../img/textpattern-lrg.png");
}
.svg #txp-head h1 {
  background-image: url("../img/svg/textpattern-lrg.svg");
  -webkit-background-size: 11.385em 2.308em;
  -moz-background-size: 11.385em 2.308em;
  -o-background-size: 11.385em 2.308em;
  background-size: 11.385em 2.308em;
}
#txp-head h1 a {
  margin-right: 1em;
  margin-left: 1em;
  color: #333333;
}
#txp-head h1 a:hover {
  color: #4d4d4d;
  text-decoration: none;
}

#txp-logout {
  position: absolute;
  top: -0.5em;
  right: 2em;
}

/* =============================================================================
   Navigation
   ========================================================================== */
/* Hide <select> version of navigation on non-touch devices */
/* Also happens via media-queries when screen width is < 768px regardless of touch ability */
#txp-nav-select {
  display: none;
}
.touch #txp-nav-select {
  display: inherit;
}

/* Hide <ul> version of navigation on touch devices */
.touch #txp-nav {
  display: none;
}

#txp-nav {
  float: left;
  overflow: visible;
}
#txp-nav a {
  color: #333;
}
#txp-nav a:hover {
  text-decoration: none;
}

#txp-nav ul {
  list-style: none;
  padding-left: 0;
}

.data-dropdown {
  display: block;
  float: left;
  left: 0;
  margin: 0;
}

.dropdown {
  position: relative;
  display: block;
  float: left;
  border-right: 1px solid #fabc2b;
  background-color: #fcdc7f;
}
.rgba .dropdown {
  background-color: rgba(255, 255, 255, 0.2);
}
.dropdown:first-child {
  border-left: 1px solid #fabc2b;
}
.dropdown a.dropdown-toggle {
  display: block;
  padding: 0 1em;
  line-height: 3em;
  text-decoration: none;
  color: black;
  text-shadow: 1px 1px 0 rgba(255, 255, 255, 0.4);
}
.dropdown:hover a.dropdown-toggle {
  background-color: #fcdc7f;
  background-repeat: no-repeat;
  background-position: 50% bottom;
  background-image: url("../img/indicator.gif");
}
.rgba .dropdown:hover a.dropdown-toggle {
  background-color: rgba(255, 255, 255, 0.2);
}
.svg .dropdown:hover a.dropdown-toggle {
  background-image: url("../img/svg/indicator.svg");
  -webkit-background-size: 1.231em 0.615em;
  -moz-background-size: 1.231em 0.615em;
  -o-background-size: 1.231em 0.615em;
  background-size: 1.231em 0.615em;
}

.dropdown.active a.dropdown-toggle {
  background-color: #fcdc7f;
}
.rgba .dropdown.active a.dropdown-toggle {
  background-color: rgba(255, 255, 255, 0.2);
}

.dropdown-menu {
  position: absolute;
  top: 3em;
  left: -9999px;
  z-index: 10001;
  min-width: 12em;
  border: solid 1px #d4d4d4;
  border-top: 0;
  background: #fff6d3;
  -moz-border-radius: 0 0.385em 0.385em 0.385em;
  border-radius: 0 0.385em 0.385em 0.385em;
  -webkit-box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.2);
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.2);
}
.dropdown-menu li {
  border: 0;
  -moz-border-radius: 0;
  border-radius: 0;
  background: none;
  margin-right: 0;
}
.dropdown-menu li:first-child {
  -moz-border-radius: 0 0.385em 0 0;
  border-radius: 0 0.385em 0 0;
}
.dropdown-menu li:last-child {
  -moz-border-radius: 0 0 0.385em 0.385em;
  border-radius: 0 0 0.385em 0.385em;
}
.dropdown-menu li:hover {
  background: #feefb0;
}
.dropdown-menu li.active {
  background: #fee580;
}
.dropdown-menu a {
  display: block;
  padding: .5em 1em;
}

.data-dropdown li:hover .dropdown-menu,
.data-dropdown li:focus .dropdown-menu {
  left: 0;
}

#txp-nav-select {
  margin-top: .61538461538462em;
}

/* =============================================================================
   Footer
   ========================================================================== */
.mothership {
  float: left;
}

.pagejump {
  float: right;
}

/* =============================================================================
   Miscellaneous/shared layout
   ========================================================================== */
.search-form input[type="submit"] {
  margin-left: .38461538461538em;
}

.edit-pane {
  width: 448px !important;
  margin: 0 auto;
}

.edit-pane td {
  padding: 4px 1em;
  text-align: left !important;
}

.edit-form {
  margin-bottom: 20px !important;
}

.edit-title {
  margin-bottom: 1em;
}

.nav-tertiary a {
  margin-bottom: 1em;
}

.txp-navigation {
  margin-bottom: .5em;
}

.txp-control-panel {
  text-align: center;
}
.txp-control-panel select {
  margin-bottom: .38461538461538em;
}

.pageby {
  float: left;
  margin: .61538461538462em 0 0;
}

.prev-next {
  float: right;
  margin-bottom: 0;
}

table#edit {
  width: 100%;
}

.copy-as {
  display: block;
  margin: 1em 0;
  width: 16em;
}

.copy-as input[type="submit"] {
  margin-top: .38461538461538em;
}

#page-css .copy-as input[type="submit"] {
  margin-left: -0.385em;
}

/* Hide upload form on touch based devices */
.touch .upload-form {
  display: none;
}

/* Tabs */
.tabs a {
  color: #333333;
}

.tabs .tabup a {
  background: #ffda44;
}

.tabs .tabup a:hover {
  background: #fcdd62;
}

.tabs .tabdown2 a {
  background: #c7d3d8;
}

.tabs .tabdown2 a:hover {
  background: #d2dce0;
}

/* Login page */
#login_form {
  margin: 0 auto;
  padding: .5em 0;
  width: 100%;
  max-width: 30em;
  background: #f7f7f7;
}
#login_form p {
  margin: 0;
}
#login_form tr:first-child p {
  margin: .375em 0;
  font-size: 1.23076923076923em;
  font-weight: bold;
}
#login_form td {
  padding: .38461538461538em 1em;
  text-align: left !important;
}
#login_form .noline label {
  font-weight: bold;
}
#login_form input[type="submit"] {
  margin-bottom: 1em;
}

/* Categories page */
#page-category .edit-pane td:first-child {
  width: 36%;
}

#page-category .action-create input[type="submit"] {
  margin-top: .38461538461538em;
}

.category-list {
  width: 100%;
}

.category-list td {
  padding: 0 !important;
  width: 25%;
}

.category-list div {
  margin: 0 .5em 1em;
  padding: 1em 1em 1px;
  background: #f7f7f7;
}
.category-list div select {
  margin-left: -0.385em;
}

#categories_article {
  margin-left: 0;
}

#categories_file {
  margin-right: 0;
}

.category-list .small {
  display: block;
}

/* Write page */
#article-col-1,
#article-col-2 {
  width: 25%;
}

#article-main {
  width: 50%;
}

#article-main .article-view {
  float: right;
}

#article-main .author {
  font-size: 0.846em;
  color: #888888;
}

#main_content > div:first-of-type > p:first-of-type {
  margin-top: 0;
}

#configuration_content,
#tagbuild_links {
  margin-right: 2em;
}

#supporting_content,
#content_switcher {
  margin-left: 2em;
}

#configuration_content > div,
#tagbuild_links > div {
  border: 1px solid #e3e3e3;
  border-top: 0;
  background: #f7f7f7;
  margin-bottom: 1em;
}

#configuration_content > div.empty {
  display: none;
}

#supporting_content .publish {
  margin: 1em;
}

#more_group .date .label,
#more_group .time .label {
  display: block;
}

#more_group .date input,
#more_group .time input {
  width: 2.4em;
}

#more_group .date input.year,
#more_group .time input.hour,
#more_group .date input.exp_year,
#more_group .time input.exp_hour {
  margin-left: -8px;
}

#more_group .date input.year,
#more_group .date input.exp_year {
  width: 3.5em;
}

.recent {
  list-style: decimal-leading-zero;
}
.recent li {
  margin-left: 2em;
}

/* Hide article_tabs column (as it's useless IMHO) */
#article-tabs {
  display: none;
}

/* Articles page */
.unpublished {
  color: #888888;
}

#page-list .title {
  width: 50%;
}

/* Images page */
#page-image img {
  border: solid 1px #cccccc;
  -moz-border-radius: 0.385em;
  border-radius: 0.385em;
  padding: 4px;
  background: #fff;
  -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
}

#page-image a img:hover {
  border: solid 1px #0066ff;
  -webkit-box-shadow: 0 1px 2px rgba(0, 102, 255, 0.4);
  box-shadow: 0 1px 2px rgba(0, 102, 255, 0.4);
}

#page-image .edit-pane {
  width: 448px !important;
}

#page-image img.fullsize {
  margin-bottom: 18px;
}

#page-image #width,
#page-image #height {
  width: 3.5em;
}

#page-image .edit-pane table td {
  padding: 0 5px 0 0;
}

#thumbnail_alter {
  margin-top: -5px;
}

#thumbnail_alter input[type="checkbox"] {
  margin-top: .7em;
}

#thumbnail_alter input[type="submit"] {
  margin-top: .3em;
}

#page-image .edit-pane select {
  width: 250px;
}

#page-image #caption {
  width: 412px;
}

/* Files page */
#page-file .edit-pane {
  width: 448px !important;
}

#page-file #description {
  width: 412px !important;
}

#page-file .year {
  width: 3.5em;
}

#page-file .month,
#page-file .day,
#page-file .hour,
#page-file .minute,
#page-file .second {
  width: 2.4em;
}

/* Links page */
#page-link .edit-pane td:first-child {
  width: 36%;
}

/* Comments page */
.cb_show_spam {
  margin: -1em 0 1em 1em;
}

#page-discuss #list tr.spam td {
  background: #f5e5e5;
}

/* Sections page */
#section_container #list td {
  padding: 0;
}

#section_container .section {
  border-top: 1em solid white;
}

#section_container #list .label,
#section_container #list .actions,
#section_container #list .section > td:last-child {
  background: white;
}

#section_container .section input[type="text"],
#section_container .section select {
  width: 72%;
}

#section_container #list .section td {
  padding: 10px 10px 5px;
}

#section_container #list .section table {
  width: 100%;
}

#section_container #list .section table td {
  border: 0;
  padding: 0 0 5px;
  text-align: left !important;
}

#section_container #list .section table td:first-child {
  width: 40%;
}

#section_container #list .label,
#section_container #list .actions {
  width: 25%;
}

#section_container #list .section .label {
  font-weight: bold;
  text-align: right;
}

/* Pages page */
#page-page .edit-pane {
  width: 100% !important;
}

#page-page #edit td:first-child {
  width: 25%;
}

#page-page #edit td:last-child {
  width: 25%;
}

#page_form #html {
  height: 537px;
  margin: -3px 0 1em;
}

#content_switcher p {
  text-align: left;
  padding: 1em;
  margin: 0;
}

/* Forms page */
#page-form #edit td:first-child {
  width: 25%;
}

#page-form #edit td:last-child {
  width: 25%;
}

#form_form #form {
  height: 537px;
  margin: -3px 0 1em;
}

#form_form input[type="text"] {
  width: 250px;
  margin-top: 7px;
}

#form_form select {
  margin: 7px 0;
}

#form_form input[type="submit"].smallbox {
  /* Removes preview button on froms page, will anyone miss it? */
  display: none;
}

#form_form select.list {
  margin-top: 5px;
}

#form_form p {
  float: left;
  margin-right: 1em;
}

#form_form p:last-child {
  float: none;
  clear: both;
  margin-right: 0;
}

/* Style page */
#page-css #edit td:last-child {
  width: 25%;
}

#page-css td.column {
  padding: 0 !important;
}

#style_form #css {
  height: 537px;
  margin: -3px 0 1em;
}

/* Diagnostics page */
#page-diag table td {
  padding: 0;
}

#page-diag textarea {
  width: 100% !important;
  margin-bottom: 1em;
}

/* Preferences page */
#prefs_container #list td,
#language_container #list td {
  padding: 0;
}

#prefs_container td {
  text-align: left !important;
}

#prefs_container td:first-child,
#language_container td:first-child {
  width: 44.5%;
}

#prefs_container .odd td:last-child,
#prefs_container .even td:last-child {
  text-align: right !important;
}

.pref-heading {
  margin: 0;
  padding: 4px 1em;
  display: block;
  color: #fff;
  background: #555;
}

#prefs_container input[type="text"] {
  width: 250px;
  margin-top: 0;
  margin-bottom: -4px;
}

#prefs_container select {
  width: 250px;
  margin-top: 3px;
}

#prefs_container input[type="submit"] {
  margin-top: 1em;
}

#prefs_control {
  float: right;
  margin-top: -20px;
}

#language_container .nav-tertiary a {
  margin-bottom: 0;
}

#language_container tr[style="font-weight:bold"] td {
  padding: 6px 1em !important;
  color: #fff;
  background: #555;
  font-weight: normal !important;
}

#language_container .odd td,
#language_container .even td {
  text-align: left !important;
}

#prefs_container .odd td,
#prefs_container .even td,
#language_container .odd td,
#language_container .even td {
  padding: 6px 1em !important;
}

#language_container .odd td strong,
#language_container .even td strong {
  float: right;
}

#language_container td br {
  display: none;
}

#text_uploader {
  text-align: center;
  margin-top: -12px;
}

#text_uploader p {
  display: inline;
  vertical-align: text-bottom !important;
  position: relative;
  top: -6px;
}

#textpack-install {
  width: 50%;
  height: 5em;
}

/* Users page */
#page-admin .edit-pane td:first-child {
  width: 36%;
}

#change_password {
  margin-top: -2em;
}

#change_password p {
  margin: 0;
}

#new_pass {
  width: 198px;
  margin-right: 5px;
}

/* Visitor logs page */
#page-log .host,
#page-log .page,
#page-log .refer {
  width: 28%;
}

/* Plugin page */
#plugin_install_form span {
  vertical-align: text-bottom !important;
  position: relative;
  top: -6px;
}

#plugin-install {
  width: 50%;
  height: 5em;
}

#plugin_preview {
  width: 100% !important;
}

#preview-plugin,
#preview-help {
  max-height: 316px;
  padding: 4px;
  margin-bottom: 20px;
  overflow: auto;
  width: 100%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  /* IE7 box-sizing workaround */
  *padding-right: 0;
  *padding-left: 0;
}

#plugin-code {
  width: 100%;
  height: 316px;
  overflow: auto;
  margin-bottom: 1em;
}

#plugin_container .edit-pane {
  width: 100% !important;
}

#plugin_container .edit-pane td {
  padding: 0;
}

.plugin-help {
  width: 728px !important;
  margin: 0 auto;
}

/* Import page */
#page-import #edit {
  width: 448px !important;
  margin: 0 auto;
}

#page-import #edit td {
  padding: 4px 0;
  text-align: left !important;
}

#page-import #edit td:first-child,
#page-import #edit table td:first-child {
  width: 171px;
}

#page-import #edit td:last-child,
#page-import #edit table td:last-child {
  width: 277px;
}

#page-import #edit input[type="text"],
#page-import #edit select {
  width: 250px;
}

/* Tagbuilder popup */
#tag-event {
  background: #fff;
  width: auto;
  padding: 1em;
}

#tag-event th,
#tag-event td {
  padding: .5em;
  text-align: left;
}

.tabs {
  padding-top: 20px;
}

.tabs a {
  display: block;
  padding: .9em;
}

/* Hive theme for Textpattern CMS (v2.0a1) */
/* =============================================================================
   Additional layout for screen media < 769px
   ========================================================================== */
@media only screen and (max-width: 768px) {
  /* =============================================================================
     Layout
     ========================================================================== */
  body {
    padding: 4em 1em 0;
    min-width: 294px;
  }

  /* =============================================================================
     Header
     ========================================================================== */
  #txp-head {
    padding: 0 1em;
    min-width: 294px;
  }
  #txp-head h1 {
    max-width: 50%;
    padding-left: 1.846em;
    background-image: url("../img/textpattern-sml.png");
  }
  .svg #txp-head h1 {
    background-image: url("../img/svg/textpattern-sml.svg");
    -webkit-background-size: 1.846em 1.846em;
    -moz-background-size: 1.846em 1.846em;
    -o-background-size: 1.846em 1.846em;
    background-size: 1.846em 1.846em;
  }

  #txp-logout {
    right: 1em;
  }

  /* =============================================================================
     Navigation
     ========================================================================== */
  /* Show <select> version of navigation on small screen widths */
  #txp-nav-select {
    display: inherit;
  }

  /* Hide <ul> version of navigation on small screen widths */
  #txp-nav {
    display: none;
  }

  /* Miscellaneous/shared layout stuff */
  .edit-pane {
    width: 280px !important;
  }

  /* Categories page */
  .category-list td {
    float: left;
    width: 100%;
  }

  .category-list div {
    margin: 0 0 1em 0;
  }

  /* Write page */
  #page-article #edit th,
  #page-article #edit td,
  #page-article #edit tr {
    display: block;
  }

  #article-col-1,
  #article-col-2,
  #article-main {
    float: left;
    width: 100%;
  }

  #configuration_content,
  #tagbuild_links,
  #supporting_content,
  #content_switcher {
    margin: 0;
  }

  /* Turn off features to optimise small screen size */
  #textile_group,
  #recent_group,
  #page-article .action-create,
  #page-article .article-nav {
    display: none;
  }

  /* Hide table cells to optimise screen estate */
  #page-list #list .date,
  #page-list #list .section,
  #page-list #list .category,
  #page-list #list .author,
  #page-list #list .status,
  #page-list #list .comments,
  #page-list #list .multi-edit,
  #page-list #list tfoot {
    display: none !important;
  }

  /* Images page */
  /* Hide table cells to optimise screen estate */
  #page-image #list .actions,
  #page-image #list .date,
  #page-image #list .name,
  #page-image #list .tag-build,
  #page-image #list .category,
  #page-image #list .multi-edit,
  #page-image #list tfoot {
    display: none !important;
  }

  /* Files page */
  /* Hide table cells to optimise screen estate */
  #page-file #list .actions,
  #page-file #list .title,
  #page-file #list .category,
  #page-file #list .tag-build,
  #page-file #list .status,
  #page-file #list .condition,
  #page-file #list .downloads,
  #page-file #list .multi-edit,
  #page-file #list tfoot {
    display: none !important;
  }

  /* Links page */
  /* Hide table cells to optimise screen estate */
  #page-link #list .actions,
  #page-link #list .category,
  #page-link #list .date,
  #page-link #list .author,
  #page-link #list .multi-edit,
  #page-link #list tfoot {
    display: none !important;
  }

  /* Comments page */
  .cb_show_spam {
    margin-top: -0.5em;
  }

  /* Hide table cells to optimise screen estate */
  #page-discuss #list .name,
  #page-discuss #list .date,
  #page-discuss #list .discuss_detail,
  #page-discuss #list .parent,
  #page-discuss #list .multi-edit,
  #page-discuss #list tfoot {
    display: none !important;
  }

  #page-discuss table.edit-pane tr:last-child,
  #page-discuss table.edit-pane tr:nth-last-child(2) td:first-child,
  #page-discuss table#edit-discuss tr:nth-child(9) {
    display: none !important;
  }
}
/* =============================================================================
   Additional layout for screen media < 560px
   ========================================================================== */
@media only screen and (max-width: 559px) {
  body {
    padding-top: 7em;
  }

  #page-login,
  #page-logout {
    padding-top: 4em;
  }

  /* Header not fixed on small devices - takes up valuable screen estate */
  #txp-head {
    position: absolute;
  }
  #txp-head h1 {
    max-width: 66%;
  }

  /* show select version of navigation for smaller screens (and hide list version) */
  #txp-nav-select {
    position: absolute;
    top: 2.46153846153846em;
    right: 0;
    left: 0;
    z-index: 10010;
    border-top: 1px solid #fffbec;
    padding: .53846153846154em 1em;
    background: #fff6d3;
    -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
  }
}
