@import url("reset.css");
@import url("custom.css");
/* Hive theme for Textpattern CMS (v2.0a3) */
/* see readme for instructions on how to use the 'custom.css' file above */
/* =============================================================================
   Web fonts
   ========================================================================== */
@font-face {
  font-family: cousine;
  src: url("../fonts/Cousine-Regular.eot?#iefix") format("embedded-opentype"), url("../fonts/Cousine-Regular.woff") format("woff"), url("../fonts/Cousine-Regular.ttf") format("truetype"), url("../fonts/Cousine-Regular.svg#Cousine-Regular") format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: cousine;
  src: url("../fonts/Cousine-Italic.eot?#iefix") format("embedded-opentype"), url("../fonts/Cousine-Italic.woff") format("woff"), url("../fonts/Cousine-Italic.ttf") format("truetype"), url("../fonts/Cousine-Italic.svg#Cousine-Italic") format("svg");
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: cousine;
  src: url("../fonts/Cousine-Bold.eot?#iefix") format("embedded-opentype"), url("../fonts/Cousine-Bold.woff") format("woff"), url("../fonts/Cousine-Bold.ttf") format("truetype"), url("../fonts/Cousine-Bold.svg#Cousine-Bold") format("svg");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: cousine;
  src: url("../fonts/Cousine-BoldItalic.eot?#iefix") format("embedded-opentype"), url("../fonts/Cousine-BoldItalic.woff") format("woff"), url("../fonts/Cousine-BoldItalic.ttf") format("truetype"), url("../fonts/Cousine-BoldItalic.svg#Cousine-BoldItalic") format("svg");
  font-weight: bold;
  font-style: italic;
}

/* =============================================================================
   Clearfix
   ========================================================================== */
.clearfix, #txp-foot, .txp-navigation {
  *zoom: 1;
}
.clearfix:before, #txp-foot:before, .txp-navigation:before, .clearfix:after, #txp-foot:after, .txp-navigation:after {
  content: "";
  display: table;
}
.clearfix:after, #txp-foot:after, .txp-navigation:after {
  clear: both;
}

/* =============================================================================
   Links
   ========================================================================== */
a {
  -webkit-tap-highlight-color: rgba(0, 102, 255, 0.5);
  color: #114eb1;
  text-decoration: none;
}
a:hover {
  color: #0066ff;
  text-decoration: underline;
}

/* =============================================================================
   Typography
   ========================================================================== */
h1 {
  font-size: 2em;
  margin: 0 0 .5em;
}

h2 {
  font-size: 1.23076923076923em;
  margin: 0 0 .8125em;
}
h2 .pophelp {
  font-size: .8125em;
}

h3,
h4,
h5,
h6 {
  font-size: 1em;
  margin: 0 0 1em;
}

small,
#txp-foot {
  font-size: 0.846em;
}

var {
  border: 1px solid #ffeca0;
  padding: 0 .23076923076923em;
  -moz-border-radius: 0.231em;
  border-radius: 0.231em;
  background: #fff6d3;
}

pre,
code,
kbd,
samp,
.code,
#diagnostics-detail {
  font-family: Cousine, Menlo, Consolas, "Lucida Console", "Bitstream Vera Sans Mono", "DejaVu Sans Mono", monospace;
}

code,
kbd,
samp {
  border: 1px solid #e3e3e3;
  padding: 0 .23076923076923em;
  -moz-border-radius: 0.231em;
  border-radius: 0.231em;
  background: #f7f7f7;
}

pre {
  overflow-x: auto;
  border: 1px solid #e3e3e3;
  padding: 1em;
  -moz-border-radius: 0.385em;
  border-radius: 0.385em;
  background: #f7f7f7;
}

pre code,
.code code {
  border: 0;
  padding: 0;
  background: none;
}

code.body,
code.excerpt {
  border: 0;
  padding: 0;
  background: none;
}

hr {
  margin: 1.5em 0;
  border-color: #cccccc;
  border-style: solid;
  width: 100% !important;
}

.pophelp {
  padding: 0 .23076923076923em;
  font-weight: normal;
  background: #ddd;
  -moz-border-radius: 0.538em;
  border-radius: 0.538em;
}

/* =============================================================================
   Messages
   ========================================================================== */
.not-ok,
#plugin_form .modified,
.highlight {
  color: #9d261d;
}

.highlight a {
  color: #9d261d;
}
.highlight a:hover {
  color: #c83025;
}

/* alert boxes */
#messagepane {
  margin: 1em auto;
  text-align: center;
}
#messagepane span {
  position: relative;
  display: -moz-inline-box;
  -moz-box-orient: vertical;
  display: inline-block;
  *display: inline;
  *zoom: 1;
  -moz-border-radius: 0.385em;
  border-radius: 0.385em;
  border: 1px solid;
  padding: .53846153846154em 2.84615384615385em .53846153846154em 1em;
  max-width: 40em;
  text-shadow: 1px 1px 0 rgba(255, 255, 255, 0.4);
}
#messagepane span.success {
  color: #238c23;
  background: #dff0d8;
  border-color: #c1e2b3;
}
#messagepane span.warning {
  color: #cb8f02;
  background: #fff6d3;
  border-color: #ffeca0;
}
#messagepane span.error {
  color: #9d261d;
  background: #f2dede;
  border-color: #e4b9b9;
}

/* close icon */
.close {
  position: absolute;
  right: .72222222222222em;
  top: 50%;
  margin-top: -0.667em;
  text-decoration: none;
  color: rgba(51, 51, 51, 0.4);
  font-size: 1.38461538461538em;
  font-weight: bold;
  text-shadow: 1px 1px 0 rgba(255, 255, 255, 0.25);
}
.close:hover {
  color: #333333;
  text-decoration: none;
  color: rgba(51, 51, 51, 0.6);
  cursor: pointer;
}

/* =============================================================================
   Twistees
   ========================================================================== */
legend {
  display: block;
  width: 100%;
  margin: 0;
  padding: 1px 1em 0;
  font-weight: bold;
  line-height: 2em;
  text-shadow: 1px 1px 0 rgba(255, 255, 255, 0.4);
  -webkit-box-shadow: rgba(255, 255, 255, 0.25) 0 1px 0 0 inset;
  box-shadow: rgba(255, 255, 255, 0.25) 0 1px 0 0 inset;
  border-top: 1px solid #dddddd;
  border-bottom: 1px solid #c4c4c4;
  background-color: #eeeeee;
  /* Konqueror */
  background-image: -khtml-gradient(linear, left top, left bottom, from(#eeeeee), to(#dddddd));
  /* Safari4+, Chrome */
  background-image: -webkit-gradient(linear, left top, left bottom, from(#eeeeee), to(#dddddd));
  /* Safari5.1+, Chrome10+ */
  background-image: -webkit-linear-gradient(#eeeeee, #dddddd);
  /* Firefox3.6 */
  background-image: -moz-linear-gradient(#eeeeee, #dddddd);
  /* IE10 */
  background-image: -ms-linear-gradient(#eeeeee, #dddddd);
  /* Opera11.10+ */
  background-image: -o-linear-gradient(#eeeeee, #dddddd);
  /* CSS3 Compliant */
  background-image: linear-gradient(#eeeeee, #dddddd);
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  /* IE7 box-sizing workaround */
  *padding-right: 0;
  *padding-left: 0;
}

.lever {
  font-weight: bold;
  margin: 0;
  line-height: 2em;
  height: 2em;
  overflow: hidden;
  text-shadow: 1px 1px 0 rgba(255, 255, 255, 0.4);
  -webkit-box-shadow: rgba(255, 255, 255, 0.25) 0 1px 0 0 inset;
  box-shadow: rgba(255, 255, 255, 0.25) 0 1px 0 0 inset;
  border-top: 1px solid #dddddd;
  border-bottom: 1px solid #c4c4c4;
  background-color: #eeeeee;
  /* Konqueror */
  background-image: -khtml-gradient(linear, left top, left bottom, from(#eeeeee), to(#dddddd));
  /* Safari4+, Chrome */
  background-image: -webkit-gradient(linear, left top, left bottom, from(#eeeeee), to(#dddddd));
  /* Safari5.1+, Chrome10+ */
  background-image: -webkit-linear-gradient(#eeeeee, #dddddd);
  /* Firefox3.6 */
  background-image: -moz-linear-gradient(#eeeeee, #dddddd);
  /* IE10 */
  background-image: -ms-linear-gradient(#eeeeee, #dddddd);
  /* Opera11.10+ */
  background-image: -o-linear-gradient(#eeeeee, #dddddd);
  /* CSS3 Compliant */
  background-image: linear-gradient(#eeeeee, #dddddd);
}

.lever a {
  position: relative;
  display: block;
  color: #333333;
  padding: 0 2em 0 1em;
}
.lever a:hover {
  color: #333333;
  text-decoration: none;
}
.lever a:after {
  position: absolute;
  content: "&#8594;";
  top: .69230769230769em;
  right: .76923076923077em;
  z-index: 10;
  width: 0;
  height: 0;
  display: -moz-inline-box;
  -moz-box-orient: vertical;
  display: inline-block;
  *display: inline;
  *zoom: 1;
  vertical-align: top;
  opacity: .5;
  border-left: 0.308em solid #333333;
  border-right: 0;
  border-top: .30769230769231em solid transparent;
  border-bottom: .30769230769231em solid transparent;
  text-indent: 110%;
  white-space: nowrap;
  overflow: hidden;
}
.lever a:hover:after {
  opacity: 1;
}

.lever a:hover {
  text-decoration: none;
}

/* remove pophelp on levers - inconsistent UI */
.lever a.pophelp {
  display: none;
}

.lever.expanded a:after {
  content: "&#8595;";
  top: .84615384615385em;
  right: .69230769230769em;
  border-left: .30769230769231em solid transparent;
  border-right: .30769230769231em solid transparent;
  border-top: 0.308em solid #333333;
  border-bottom: 0;
}

.toggle {
  padding: 0 1em;
}

/* =============================================================================
   Forms
   ========================================================================== */
fieldset {
  position: relative;
  margin: -1em 0 1em 0;
  border: 1px solid #e3e3e3;
  padding: 1em 0 0 0;
  background: #f7f7f7;
}

fieldset > * {
  margin-right: 1em;
  margin-left: 1em;
}

fieldset > legend {
  position: relative;
  top: 1em;
  margin-right: 0;
  margin-left: 0;
}

input[type="radio"],
input[type="checkbox"] {
  margin-right: .5em;
}

input[type="text"],
input[type="password"] {
  width: 100%;
  max-width: 23.2307692307692em;
}

.search-form input[type="text"] {
  max-width: 16.9230769230769em;
}

#article-main .title input {
  width: 75%;
  max-width: 75%;
}

#content_switcher input[type="checkbox"],
#content_switcher #list input[type="submit"] {
  float: right;
}

/* =============================================================================
   Specific buttons
   ========================================================================== */
/* primary buttons */
input[type="submit"].publish {
  font-weight: bold;
  border: 1px solid #f2ab05;
  border-bottom-color: #c08804;
  padding: .66666666666667em .75em;
  background-color: #ffda44;
  /* Konqueror */
  background-image: -khtml-gradient(linear, left top, left bottom, from(#ffda44), to(#f2ab05));
  /* Safari4+, Chrome */
  background-image: -webkit-gradient(linear, left top, left bottom, from(#ffda44), to(#f2ab05));
  /* Safari5.1+, Chrome10+ */
  background-image: -webkit-linear-gradient(#ffda44, #f2ab05);
  /* Firefox3.6 */
  background-image: -moz-linear-gradient(#ffda44, #f2ab05);
  /* IE10 */
  background-image: -ms-linear-gradient(#ffda44, #f2ab05);
  /* Opera11.10+ */
  background-image: -o-linear-gradient(#ffda44, #f2ab05);
  /* CSS3 Compliant */
  background-image: linear-gradient(#ffda44, #f2ab05);
}
input[type="submit"].publish:hover {
  background-color: #ffe477;
  /* Konqueror */
  background-image: -khtml-gradient(linear, left top, left bottom, from(#ffe477), to(#fbbe2f));
  /* Safari4+, Chrome */
  background-image: -webkit-gradient(linear, left top, left bottom, from(#ffe477), to(#fbbe2f));
  /* Safari5.1+, Chrome10+ */
  background-image: -webkit-linear-gradient(#ffe477, #fbbe2f);
  /* Firefox3.6 */
  background-image: -moz-linear-gradient(#ffe477, #fbbe2f);
  /* IE10 */
  background-image: -ms-linear-gradient(#ffe477, #fbbe2f);
  /* Opera11.10+ */
  background-image: -o-linear-gradient(#ffe477, #fbbe2f);
  /* CSS3 Compliant */
  background-image: linear-gradient(#ffe477, #fbbe2f);
}
input[type="submit"].publish:active {
  background-color: #fbbe2f;
  /* Konqueror */
  background-image: -khtml-gradient(linear, left top, left bottom, from(#fbbe2f), to(#ffe477));
  /* Safari4+, Chrome */
  background-image: -webkit-gradient(linear, left top, left bottom, from(#fbbe2f), to(#ffe477));
  /* Safari5.1+, Chrome10+ */
  background-image: -webkit-linear-gradient(#fbbe2f, #ffe477);
  /* Firefox3.6 */
  background-image: -moz-linear-gradient(#fbbe2f, #ffe477);
  /* IE10 */
  background-image: -ms-linear-gradient(#fbbe2f, #ffe477);
  /* Opera11.10+ */
  background-image: -o-linear-gradient(#fbbe2f, #ffe477);
  /* CSS3 Compliant */
  background-image: linear-gradient(#fbbe2f, #ffe477);
}

/* delete buttons */
input[value="×"] {
  padding: 0 .33333333333333em;
  color: #f9e0df;
  text-shadow: -1px -1px 0 rgba(0, 0, 0, 0.25);
  border-top: 1px solid #9d261d;
  border-bottom: 1px solid #721c15;
  background-color: #dc4e44;
  /* Konqueror */
  background-image: -khtml-gradient(linear, left top, left bottom, from(#dc4e44), to(#9d261d));
  /* Safari4+, Chrome */
  background-image: -webkit-gradient(linear, left top, left bottom, from(#dc4e44), to(#9d261d));
  /* Safari5.1+, Chrome10+ */
  background-image: -webkit-linear-gradient(#dc4e44, #9d261d);
  /* Firefox3.6 */
  background-image: -moz-linear-gradient(#dc4e44, #9d261d);
  /* IE10 */
  background-image: -ms-linear-gradient(#dc4e44, #9d261d);
  /* Opera11.10+ */
  background-image: -o-linear-gradient(#dc4e44, #9d261d);
  /* CSS3 Compliant */
  background-image: linear-gradient(#dc4e44, #9d261d);
}
input[value="×"]:hover {
  color: white;
  border-top: 1px solid #c83025;
  border-bottom: 1px solid #9d261d;
  background-color: #e36f66;
  /* Konqueror */
  background-image: -khtml-gradient(linear, left top, left bottom, from(#e36f66), to(#c83025));
  /* Safari4+, Chrome */
  background-image: -webkit-gradient(linear, left top, left bottom, from(#e36f66), to(#c83025));
  /* Safari5.1+, Chrome10+ */
  background-image: -webkit-linear-gradient(#e36f66, #c83025);
  /* Firefox3.6 */
  background-image: -moz-linear-gradient(#e36f66, #c83025);
  /* IE10 */
  background-image: -ms-linear-gradient(#e36f66, #c83025);
  /* Opera11.10+ */
  background-image: -o-linear-gradient(#e36f66, #c83025);
  /* CSS3 Compliant */
  background-image: linear-gradient(#e36f66, #c83025);
}
input[value="×"]:active {
  border-top: 1px solid #e36f66;
  border-bottom: 1px solid #db463b;
  background-color: #c83025;
  /* Konqueror */
  background-image: -khtml-gradient(linear, left top, left bottom, from(#c83025), to(#e36f66));
  /* Safari4+, Chrome */
  background-image: -webkit-gradient(linear, left top, left bottom, from(#c83025), to(#e36f66));
  /* Safari5.1+, Chrome10+ */
  background-image: -webkit-linear-gradient(#c83025, #e36f66);
  /* Firefox3.6 */
  background-image: -moz-linear-gradient(#c83025, #e36f66);
  /* IE10 */
  background-image: -ms-linear-gradient(#c83025, #e36f66);
  /* Opera11.10+ */
  background-image: -o-linear-gradient(#c83025, #e36f66);
  /* CSS3 Compliant */
  background-image: linear-gradient(#c83025, #e36f66);
}

/* busy buttons */
form.busy input[type='submit'] {
  border: 1px solid #e3e3e3;
  background-color: #eee;
  background-image: none;
  -webkit-box-shadow: none;
  box-shadow: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -moz-user-select: -moz-none;
  user-select: none;
  color: #888888;
  cursor: default;
}
form.busy input[type='submit']:hover, form.busy input[type='submit']:active {
  background-color: #eee;
  background-image: none;
}
form.busy span.spinner:after {
  content: "";
  position: relative;
  top: .61538461538462em;
  display: -moz-inline-box;
  -moz-box-orient: vertical;
  display: inline-block;
  *display: inline;
  *zoom: 1;
  width: 24px;
  height: 24px;
  margin-left: .5em;
  background-image: url("../img/spinner.gif");
}
@media (-webkit-min-device-pixel-ratio: 2) {
  form.busy span.spinner:after {
    background-image: url("../img/retina/spinner@2x.gif") !important;
    -webkit-background-size: 24px 24px;
  }
}

/* =============================================================================
   Lists
   ========================================================================== */
.plain-list {
  list-style: none;
  padding-left: 0;
}

/* =============================================================================
   Tables
   ========================================================================== */
#list {
  width: 100%;
  margin-bottom: 1em;
  overflow: auto;
  /* IE7 */
  *overflow-y: scroll;
  *overflow-x: hidden;
}
#list thead tr, #list tbody tr {
  border: 1px solid #dddddd;
}
#list tr.even td {
  background: #f7f7f7;
}
#list th, #list td {
  padding: .38461538461538em 1em;
}
#list ul {
  list-style: none;
  padding-left: 0;
  margin: 0;
}
#list .id, #list .ip {
  width: 6%;
}
#list .date, #list .name, #list .parent {
  width: 14%;
}
#list .section {
  width: 12%;
}
#list thead .multi-edit, #list tbody .multi-edit {
  width: 2%;
}
#list tbody td:last-child {
  border-right: 1px solid #dddddd;
}

#list thead th {
  text-shadow: 1px 1px 0 rgba(255, 255, 255, 0.4);
  background-color: #eeeeee;
  /* Konqueror */
  background-image: -khtml-gradient(linear, left top, left bottom, from(#eeeeee), to(#dddddd));
  /* Safari4+, Chrome */
  background-image: -webkit-gradient(linear, left top, left bottom, from(#eeeeee), to(#dddddd));
  /* Safari5.1+, Chrome10+ */
  background-image: -webkit-linear-gradient(#eeeeee, #dddddd);
  /* Firefox3.6 */
  background-image: -moz-linear-gradient(#eeeeee, #dddddd);
  /* IE10 */
  background-image: -ms-linear-gradient(#eeeeee, #dddddd);
  /* Opera11.10+ */
  background-image: -o-linear-gradient(#eeeeee, #dddddd);
  /* CSS3 Compliant */
  background-image: linear-gradient(#eeeeee, #dddddd);
  border-right: 1px solid #d0d0d0;
  border-bottom: 1px solid #c4c4c4;
}
#list thead th:last-child {
  border-right: 1px solid #dddddd;
}
#list thead th a {
  position: relative;
  display: block;
  color: #333333;
  margin-right: .5em;
}
#list thead th a:hover {
  color: #333333;
  text-decoration: none;
}
#list thead th a:after {
  position: absolute;
  top: .53846153846154em;
  right: -0.769em;
  z-index: 10;
  width: 0;
  height: 0;
  display: -moz-inline-box;
  -moz-box-orient: vertical;
  display: inline-block;
  *display: inline;
  *zoom: 1;
  vertical-align: top;
  opacity: .5;
  text-indent: 110%;
  white-space: nowrap;
  overflow: hidden;
}
#list thead th a:hover:after {
  opacity: 1;
}
#list thead th.desc a:after {
  content: "&#8595;";
  border-left: .30769230769231em solid transparent;
  border-right: .30769230769231em solid transparent;
  border-top: 0.308em solid #333333;
  border-bottom: 0;
}
#list thead th.asc a:after {
  content: "&#8593;";
  border-left: .30769230769231em solid transparent;
  border-right: .30769230769231em solid transparent;
  border-top: 0;
  border-bottom: 0.308em solid #333333;
}

#list tfoot th, #list tfoot td {
  vertical-align: middle;
}
#list tfoot .multi-edit {
  text-align: right;
}
#list tfoot .multi-edit input[type="button"] {
  margin-right: .38461538461538em;
}

/* =============================================================================
   Container
   ========================================================================== */
body {
  position: relative;
  padding: 4em 2em 1em;
  min-width: 71.3846153846154em;
  color: #333333;
  background: white;
}

.txp-container {
  max-width: 110em;
  margin: 0 auto;
}

/* =============================================================================
   Header
   ========================================================================== */
#txp-head {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 10000;
  padding: 0 2em;
  height: 3em;
  min-width: 71.3846153846154em;
  -webkit-box-shadow: 0 0.077em 0.154em rgba(0, 0, 0, 0.2);
  box-shadow: 0 0.077em 0.154em rgba(0, 0, 0, 0.2);
  border-top: 1px solid #fabc2b;
  border-bottom: 1px solid #eca706;
  background-color: #ffda44;
  /* Konqueror */
  background-image: -khtml-gradient(linear, left top, left bottom, from(#ffda44), to(#fabc2b));
  /* Safari4+, Chrome */
  background-image: -webkit-gradient(linear, left top, left bottom, from(#ffda44), to(#fabc2b));
  /* Safari5.1+, Chrome10+ */
  background-image: -webkit-linear-gradient(#ffda44, #fabc2b);
  /* Firefox3.6 */
  background-image: -moz-linear-gradient(#ffda44, #fabc2b);
  /* IE10 */
  background-image: -ms-linear-gradient(#ffda44, #fabc2b);
  /* Opera11.10+ */
  background-image: -o-linear-gradient(#ffda44, #fabc2b);
  /* CSS3 Compliant */
  background-image: linear-gradient(#ffda44, #fabc2b);
}
#txp-head h1 {
  float: left;
  margin: 0;
  padding-left: 11.385em;
  font-size: 1em;
  line-height: 3em;
  background: no-repeat left 48%;
  max-width: 25%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  background-repeat: no-repeat;
  background-position: 0 50%;
  background-image: url("../img/textpattern-lrg.png");
}
.svg #txp-head h1 {
  background-image: url("../img/svg/textpattern-lrg.svg");
  -webkit-background-size: 11.385em 2.308em;
  -moz-background-size: 11.385em 2.308em;
  -o-background-size: 11.385em 2.308em;
  background-size: 11.385em 2.308em;
}
#txp-head h1 a {
  margin-right: 1em;
  margin-left: 1em;
  color: #333333;
}
#txp-head h1 a:hover {
  color: #4d4d4d;
  text-decoration: none;
}

#txp-logout {
  position: absolute;
  z-index: 10010;
  top: -0.5em;
  right: 2em;
}

/* =============================================================================
   Navigation
   ========================================================================== */
/* hide <select> version of navigation on non-touch devices
    also happens via media-queries when screen width is < 768px regardless of touch ability */
#txp-nav-select {
  display: none;
}
.touch #txp-nav-select {
  display: inherit;
}

/* Hide <ul> version of navigation on touch devices */
.touch #txp-nav {
  display: none;
}

#txp-nav {
  float: left;
}
#txp-nav a {
  color: #333;
}
#txp-nav a:hover {
  text-decoration: none;
}

#txp-nav ul {
  list-style: none;
  padding-left: 0;
}

.data-dropdown {
  display: block;
  float: left;
  margin: 0;
}

.dropdown {
  position: relative;
  display: block;
  float: left;
  border-right: 1px solid #fabc2b;
  background: #fcdc7f;
}
.rgba .dropdown {
  background: rgba(255, 255, 255, 0.2);
}
.dropdown:first-child {
  border-left: 1px solid #fabc2b;
}
.dropdown a.dropdown-toggle {
  display: block;
  padding: 0 1em;
  line-height: 3em;
  text-decoration: none;
  color: black;
  text-shadow: 1px 1px 0 rgba(255, 255, 255, 0.4);
}
.dropdown:hover a.dropdown-toggle {
  background: #fcdc7f;
}
.rgba .dropdown:hover a.dropdown-toggle {
  background: rgba(255, 255, 255, 0.2);
}

.dropdown.active a.dropdown-toggle {
  background: #fcdc7f;
}
.rgba .dropdown.active a.dropdown-toggle {
  background: rgba(255, 255, 255, 0.2);
}

.dropdown-menu {
  position: absolute;
  top: 3em;
  left: -9999px;
  z-index: 20000;
  min-width: 12em;
  border: solid 1px #d4d4d4;
  border-top: 0;
  background: #fff6d3;
  -moz-border-radius: 0 0.385em 0.385em 0.385em;
  border-radius: 0 0.385em 0.385em 0.385em;
  -webkit-box-shadow: 0.154em 0.154em 0.154em rgba(0, 0, 0, 0.2);
  box-shadow: 0.154em 0.154em 0.154em rgba(0, 0, 0, 0.2);
}
.dropdown-menu li {
  border: 0;
  -moz-border-radius: 0;
  border-radius: 0;
  background: none;
  margin-right: 0;
}
.dropdown-menu li:first-child {
  -moz-border-radius: 0 0.385em 0 0;
  border-radius: 0 0.385em 0 0;
}
.dropdown-menu li:last-child {
  -moz-border-radius: 0 0 0.385em 0.385em;
  border-radius: 0 0 0.385em 0.385em;
}
.dropdown-menu li:hover {
  background: #feefb0;
}
.dropdown-menu li.active {
  background: #fee580;
}
.dropdown-menu a {
  display: block;
  padding: .5em 1em;
}
.dropdown-menu:before {
  position: absolute;
  content: "";
  top: -0.615em;
  left: 1em;
  width: 1.23076923076923em;
  height: .61538461538462em;
  background-image: url("../img/indicator.gif");
}
.svg .dropdown-menu:before {
  background-image: url("../img/svg/indicator.svg");
  -webkit-background-size: 1.231em 0.615em;
  -moz-background-size: 1.231em 0.615em;
  -o-background-size: 1.231em 0.615em;
  background-size: 1.231em 0.615em;
}

.data-dropdown li:hover .dropdown-menu,
.data-dropdown li:focus .dropdown-menu {
  left: 0;
}

#txp-nav-select {
  margin-top: .61538461538462em;
}

/* =============================================================================
   Footer
   ========================================================================== */
.mothership {
  float: left;
}

.pagejump {
  float: right;
}

/* =============================================================================
   Miscellaneous/shared layout
   ========================================================================== */
table#edit {
  width: 100%;
}

.search-form input[type="submit"] {
  margin-left: .38461538461538em;
}

table#edit.edit-pane,
table#list.edit-pane {
  margin-bottom: 1em;
  border-top: 0.5em solid #f7f7f7;
  border-bottom: 0.5em solid #f7f7f7;
  width: 40em;
  background: #f7f7f7;
}
table#edit.edit-pane h2,
table#list.edit-pane h2 {
  margin: 0;
}
table#edit.edit-pane td,
table#list.edit-pane td {
  padding: .5em 1em;
}
table#edit.edit-pane td.cell-label,
table#list.edit-pane td.cell-label {
  width: 37%;
}

.txp-control-panel {
  text-align: center;
  margin-bottom: 1em;
}
.txp-control-panel select {
  margin-bottom: .38461538461538em;
}

/* list navigators on list pages */
.txp-navigation {
  margin-bottom: .5em;
}
.txp-navigation .pageby {
  float: left;
  margin: .61538461538462em 0 0;
}
.txp-navigation .prev-next {
  float: right;
  margin-bottom: 0;
}

/* hide upload forms on touch based devices */
.touch .upload-form {
  display: none;
}

/* tabs */
.tabs {
  padding-top: 1em;
}
.tabs a {
  display: block;
  padding: 1em;
  color: #333333;
}
.tabs .tabup a {
  background: #ffda44;
}
.tabs .tabup a:hover {
  background: #fcdd62;
}
.tabs .tabdown2 a {
  background: #c7d3d8;
}
.tabs .tabdown2 a:hover {
  background: #d2dce0;
}

/* tagbuilder popup */
#tag-event {
  background: #fff;
  width: auto;
  padding: 1em;
}
#tag-event th, #tag-event td {
  padding: .5em;
}

.restricted-area {
  font-size: 2em;
  text-align: center;
}

/* =============================================================================
   Login page
   ========================================================================== */
#login_form {
  margin: 0 auto;
  padding: .5em 0;
  width: 100%;
  max-width: 33.5384615384615em;
  background: #f7f7f7;
}
#login_form p {
  margin: 0;
}
#login_form tr:first-child p {
  margin: .375em 0;
  font-size: 1.23076923076923em;
  font-weight: bold;
}
#login_form td {
  padding: .38461538461538em 1em;
}
#login_form .cell-label {
  font-weight: bold;
}
#login_form input[type="submit"] {
  margin-bottom: 1em;
}

/* =============================================================================
   Content -> Categories page
   ========================================================================== */
#page-category .action-create input[type="submit"] {
  margin-top: .38461538461538em;
}

.category-list {
  width: 100%;
}

.category-list td {
  width: 25%;
}

.category-list div {
  margin: 0 .5em 1em;
  padding: 1em 1em 1px;
  background: #f7f7f7;
}
.category-list div select {
  margin-left: -0.385em;
}

#categories_article {
  margin-left: 0;
}

#categories_file {
  margin-right: 0;
}

.category-list .small {
  display: block;
}

/* =============================================================================
   Content -> Write page
   ========================================================================== */
#article-col-1,
#article-col-2 {
  width: 24%;
}

#article-tabs {
  width: 1.69230769230769em;
  padding-left: 1em;
}

#view_modes ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
#view_modes .text {
  background-image: url("../img/view-text.png");
}
.svg #view_modes .text {
  background-image: url("../img/svg/view-text.svg");
  -webkit-background-size: 1.692em 1.692em;
  -moz-background-size: 1.692em 1.692em;
  -o-background-size: 1.692em 1.692em;
  background-size: 1.692em 1.692em;
}
#view_modes .html {
  background-image: url("../img/view-html.png");
}
.svg #view_modes .html {
  background-image: url("../img/svg/view-html.svg");
  -webkit-background-size: 1.692em 1.692em;
  -moz-background-size: 1.692em 1.692em;
  -o-background-size: 1.692em 1.692em;
  background-size: 1.692em 1.692em;
}
#view_modes .preview {
  background-image: url("../img/view-preview.png");
}
.svg #view_modes .preview {
  background-image: url("../img/svg/view-preview.svg");
  -webkit-background-size: 1.692em 1.692em;
  -moz-background-size: 1.692em 1.692em;
  -o-background-size: 1.692em 1.692em;
  background-size: 1.692em 1.692em;
}

.view-mode {
  margin-bottom: 1em;
  width: 1.69230769230769em;
  height: 1.69230769230769em;
  text-indent: 110%;
  white-space: nowrap;
  overflow: hidden;
  border: 1px solid #e3e3e3;
  -moz-border-radius: 0.385em;
  border-radius: 0.385em;
  background-color: #f7f7f7;
  background-repeat: no-repeat;
  background-position: 50% 50%;
}
.view-mode a {
  display: block;
  width: 1.69230769230769em;
  height: 1.69230769230769em;
}
.view-mode:hover {
  border-color: #cccccc;
}

#tab-textup,
#tab-htmlup,
#tab-previewup {
  border-color: #cccccc;
  background-color: #fff6d3;
}

.xhtml .excerpt {
  margin-bottom: 1em;
}

#article-main #body {
  height: 34em;
}

#article-main .author {
  font-size: 0.846em;
  color: #888888;
}

#main_content > div:first-of-type > p:first-of-type {
  margin-top: 0;
}

#configuration_content,
#tagbuild_links {
  margin-right: 1em;
}
#configuration_content > div,
#tagbuild_links > div {
  border: 1px solid #e3e3e3;
  border-top: 0;
  background: #f7f7f7;
  margin-bottom: 1em;
}

#supporting_content,
#content_switcher {
  margin-left: 1em;
}
#supporting_content > div,
#content_switcher > div {
  margin-bottom: 1em;
}
#supporting_content .action-create,
#content_switcher .action-create {
  margin-top: 0;
}

#configuration_content > div.empty {
  display: none;
}

#more_group .date .label,
#more_group .time .label {
  display: block;
}

#more_group .date input,
#more_group .time input {
  width: 2.4em;
}

#more_group .date input.year,
#more_group .time input.hour,
#more_group .date input.exp_year,
#more_group .time input.exp_hour {
  margin-left: -8px;
}

#more_group .date input.year,
#more_group .date input.exp_year {
  width: 3.5em;
}

.recent {
  list-style: decimal-leading-zero;
}
.recent li {
  margin-left: 2em;
}

/* =============================================================================
   Content -> Articles page
   ========================================================================== */
.unpublished {
  color: #888888;
}

#page-list .title {
  width: 50%;
}

/* =============================================================================
   Content -> Images page
   ========================================================================== */
/* hide upload forms on touch based devices */
.touch .image-replace,
.touch .thumbnail-upload {
  display: none;
}

#page-image img {
  border: solid 1px #cccccc;
  -moz-border-radius: 0.385em;
  border-radius: 0.385em;
  padding: 4px;
  background: #fff;
  -webkit-box-shadow: 0 0.077em 0.154em rgba(0, 0, 0, 0.2);
  box-shadow: 0 0.077em 0.154em rgba(0, 0, 0, 0.2);
}

#page-image a img:hover {
  border: solid 1px #0066ff;
  -webkit-box-shadow: 0 0.077em 0.154em rgba(0, 102, 255, 0.4);
  box-shadow: 0 0.077em 0.154em rgba(0, 102, 255, 0.4);
}

/* fix for inconsistent structure */
#page-image table#list.edit-pane {
  border-bottom: 0;
}
#page-image table#list.edit-pane tr:last-child td {
  padding-bottom: 0;
}

table#list.edit-pane #image-thumbnail {
  margin-right: auto;
  margin-bottom: 1em;
}
table#list.edit-pane #image-thumbnail td {
  padding: 0;
}

.thumbwrapper img {
  margin-right: .5em;
}

.thumbnail-alter p {
  margin: 0;
}

table#list.edit-pane #thumbnail_alter td {
  padding: 0 .5em 0 0;
  width: auto;
  vertical-align: middle;
}

#page-image #width,
#page-image #height {
  width: 3.38461538461538em;
}

/* fix for inconsistent structure */
#page-image .name label {
  width: 13.6em;
  display: -moz-inline-box;
  -moz-box-orient: vertical;
  display: inline-block;
  *display: inline;
  *zoom: 1;
}
#page-image #image-name {
  width: 13.6em;
}

#page-image #caption {
  max-width: 520px;
}

/* =============================================================================
   Content -> Files page
   ========================================================================== */
#page-file .year {
  width: 3.38461538461538em;
}

#page-file .month,
#page-file .day,
#page-file .hour,
#page-file .minute,
#page-file .second {
  width: 2.46153846153846em;
}

/* =============================================================================
   Content -> Links page
   ========================================================================== */
/* =============================================================================
   Content -> Comments page
   ========================================================================== */
#list_banned_ips {
  text-align: center;
}

.cb_show_spam {
  margin: -1em 0 1em 1em;
}

#page-discuss #list tr.spam td {
  background: #f5e5e5;
}

#discuss_ban_container #list .name {
  width: 28%;
}
#discuss_ban_container #list .id {
  width: 14%;
}

/* =============================================================================
   Presentation -> Sections page
   ========================================================================== */
#page-section h2 {
  text-align: center;
}

#page-section .txp-control-panel {
  margin-bottom: .38461538461538em;
}

#page-section #list {
  width: auto;
}
#page-section #list .section {
  border-top: 1em solid white;
}
#page-section #list tr {
  border: 0;
}
#page-section #list td {
  padding: 0;
}
#page-section #list td:last-child {
  border: 0;
}
#page-section #list .label {
  padding-right: 1em;
  width: 20%;
  font-weight: bold;
  text-align: right;
}
#page-section #list .actions {
  padding-left: 1em;
  width: 20%;
}
#page-section #list .main {
  width: 41em;
}
#page-section #list tr.odd td, #page-section #list tr.even td {
  border: 0;
  background: white;
}

#page-section #list .section table {
  border-top: 0.5em solid #f7f7f7;
  border-bottom: 0.5em solid #f7f7f7;
  width: 100%;
}
#page-section #list .section table td {
  padding: .38461538461538em 1em;
  background: #f7f7f7 !important;
}
#page-section #list .section table .cell-label {
  width: 36%;
}

/* =============================================================================
   Presentation -> Pages, Forms, Styles pages shared
   ========================================================================== */
#page-page #edit td.column:first-child, #page-page #edit td.column:last-child,
#page-form #edit td.column:first-child,
#page-form #edit td.column:last-child {
  width: 25%;
}

#page-css #edit td.column:last-child {
  width: 25%;
}

.edit-title {
  margin: .30769230769231em 0 1em;
}

#page-page textarea.code,
#page-form textarea.code,
#page-css textarea.code {
  height: 34em;
}

#page-page textarea.code,
#page-css textarea.code {
  margin-bottom: 1em;
}

.copy-as {
  display: block;
  margin: 1em 0;
  width: 16em;
}

.copy-as input[type="submit"] {
  margin-top: .38461538461538em;
}

/* fix inconsistent button alignment on Styles page */
#page-css .copy-as input[type="submit"] {
  margin-left: -0.385em;
}

/* =============================================================================
   Admin -> Diagnostics page
   ========================================================================== */
#page-diag table#list td {
  padding: 0;
}

#page-diag textarea {
  height: 21em;
  margin-bottom: 1em;
}

/* =============================================================================
   Admin -> Preferences page
   ========================================================================== */
#page-prefs h3 {
  margin-top: 1em;
}

#prefs_container .publish {
  margin-top: 1em;
}

#page-prefs table#list td, #page-prefs table#list th {
  padding: 0;
  white-space: normal !important;
}
#page-prefs table#list th {
  padding: 1em 0;
}
#page-prefs table#list tr.odd td, #page-prefs table#list tr.even td {
  padding: .38461538461538em 1em;
  height: 1.84615384615385em;
  vertical-align: middle;
}
#page-prefs table#list br {
  display: none;
}

.list-item .modified {
  color: #888888;
}

td:nth-child(2).pref-value {
  width: 50%;
}

td:nth-child(2).install-item {
  width: 50%;
  color: #888888;
}
td:nth-child(2).install-item strong {
  margin-right: .35em;
}

#prefs_control {
  max-width: 110em;
  margin: 0 auto;
}
#prefs_control form {
  text-align: left !important;
}

/* fixes for poor HTML structure on Prefrences pages */
#language_control {
  margin-top: 1em;
  text-align: left !important;
}

.lang-msg {
  margin: 1em auto !important;
  max-width: 110em;
}

/* =============================================================================
   Admin -> Users page
   ========================================================================== */
#change_password,
#change_email {
  margin: 2em auto 1em;
  padding: 1em 1em 1px;
  width: 38em;
  text-align: left;
  background: #f7f7f7;
}
#change_password label,
#change_email label {
  display: block;
  float: left;
  width: 36%;
  margin: .23076923076923em 0 1.23076923076923em;
}
#change_password #new_pass, #change_password #new_email,
#change_email #new_pass,
#change_email #new_email {
  float: right;
  margin-bottom: 1em;
}
#change_password input[type="submit"],
#change_email input[type="submit"] {
  clear: both;
}

#change_password input[type="checkbox"] {
  float: left;
  margin-top: .61538461538462em;
}
#change_password label[for="mail_password"] {
  width: 90%;
}

/* =============================================================================
   Admin -> Visitor Logs page
   ========================================================================== */
#page-log .host,
#page-log .page,
#page-log .refer {
  width: 28%;
}

/* =============================================================================
   Admin -> Plugins page
   ========================================================================== */
#plugin-install {
  width: 50%;
}

#plugin_install_form {
  text-align: center;
}

#plugin-code {
  height: 23em;
}

div.code {
  margin-bottom: 1em;
  border: 1px solid #cccccc;
  padding: .15384615384615em .38461538461538em;
  height: 21em;
  overflow: auto;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  /* IE7 box-sizing workaround */
  *padding-right: 0;
  *padding-left: 0;
}

/* =============================================================================
   Admin -> Import page
   ========================================================================== */
#page-import #edit {
  width: 40em;
  margin-bottom: 1em;
  border-top: 0.5em solid #f7f7f7;
  border-bottom: 0.5em solid #f7f7f7;
  background: #f7f7f7;
}
#page-import #edit td {
  padding: .5em 1em;
}
#page-import #edit td.cell-label {
  width: 37%;
}
#page-import #edit #databased {
  margin-left: -1em;
  margin-right: -1em;
}

/* Hive theme for Textpattern CMS (v2.0a3) */
/* =============================================================================
   Additional layout for screen media < 769px
   ========================================================================== */
@media only screen and (max-width: 768px) {
  /* =============================================================================
     Layout
     ========================================================================== */
  body {
    padding: 4em 1em 0;
    min-width: 294px;
  }

  /* =============================================================================
     Header
     ========================================================================== */
  #txp-head {
    padding: 0 1em;
    min-width: 294px;
  }
  #txp-head h1 {
    max-width: 50%;
    padding-left: 1.846em;
    background-image: url("../img/textpattern-sml.png");
  }
  .svg #txp-head h1 {
    background-image: url("../img/svg/textpattern-sml.svg");
    -webkit-background-size: 1.846em 1.846em;
    -moz-background-size: 1.846em 1.846em;
    -o-background-size: 1.846em 1.846em;
    background-size: 1.846em 1.846em;
  }

  #txp-logout {
    right: 1em;
  }

  /* =============================================================================
     Navigation
     ========================================================================== */
  /* Show <select> version of navigation on small screen widths */
  #txp-nav-select {
    display: inherit;
  }

  /* Hide <ul> version of navigation on small screen widths */
  #txp-nav {
    display: none;
  }

  /* Categories page */
  .category-list th,
  .category-list td,
  .category-list tr {
    display: block;
    margin: 0 auto;
    max-width: 40em;
  }
  .category-list td {
    width: 100%;
  }
  .category-list div {
    margin: 0 0 1em 0;
  }

  /* Write page */
  #page-article #edit th,
  #page-article #edit td,
  #page-article #edit tr {
    display: block;
  }

  #article-col-1,
  #article-col-2,
  #article-main {
    width: 100%;
  }

  #configuration_content,
  #tagbuild_links,
  #supporting_content,
  #content_switcher {
    margin: 0;
  }

  /* Turn off features to optimise small screen size */
  #textile_group,
  #recent_group,
  #page-article .action-create,
  #page-article .article-nav {
    display: none;
  }

  /* Hide table cells to optimise screen estate */
  #page-list #list .date,
  #page-list #list .section,
  #page-list #list .category,
  #page-list #list .author,
  #page-list #list .status,
  #page-list #list .comments,
  #page-list #list .multi-edit,
  #page-list #list tfoot {
    display: none !important;
  }

  /* Images page */
  /* Hide table cells to optimise screen estate */
  #page-image #list .actions,
  #page-image #list .date,
  #page-image #list .name,
  #page-image #list .tag-build,
  #page-image #list .category,
  #page-image #list .multi-edit,
  #page-image #list tfoot {
    display: none !important;
  }
  #page-image #list #image_details_form .name,
  #page-image #list #image_details_form .category {
    display: block !important;
  }

  /* Files page */
  /* Hide table cells to optimise screen estate */
  #page-file #list .actions,
  #page-file #list .title,
  #page-file #list .category,
  #page-file #list .tag-build,
  #page-file #list .status,
  #page-file #list .condition,
  #page-file #list .downloads,
  #page-file #list .multi-edit,
  #page-file #list tfoot {
    display: none !important;
  }

  /* Links page */
  /* Hide table cells to optimise screen estate */
  #page-link #list .actions,
  #page-link #list .category,
  #page-link #list .date,
  #page-link #list .author,
  #page-link #list .multi-edit,
  #page-link #list tfoot {
    display: none !important;
  }

  /* Comments page */
  .cb_show_spam {
    margin-top: -0.5em;
  }

  /* Hide table cells to optimise screen estate */
  #page-discuss #list .date,
  #page-discuss #list .discuss_detail,
  #page-discuss #list .parent,
  #page-discuss #list .multi-edit,
  #page-discuss #list tfoot {
    display: none !important;
  }

  /* Pages and Forms pages */
  #page-page #edit td.column:first-child,
  #page-form #edit td.column:first-child {
    display: none;
  }

  /* Users page */
  /* Hide table cells to optimise screen estate */
  #page-admin #list .real-name,
  #page-admin #list .privs,
  #page-admin #list .last-login,
  #page-admin #list .multi-edit,
  #page-admin #list tfoot {
    display: none !important;
  }

  /* Visitor logs page */
  /* Hide table cells to optimise screen estate */
  #page-log #list .log_detail,
  #page-log #list .host,
  #page-log #list .refer,
  #page-log #list .multi-edit,
  #page-log #list tfoot {
    display: none !important;
  }

  /* Plugins page */
  /* Hide table cells to optimise screen estate */
  #page-plugin #list .author,
  #page-plugin #list .modified,
  #page-plugin #list .description,
  #page-plugin #list .load-order,
  #page-plugin #list .manage,
  #page-plugin #list .multi-edit,
  #page-plugin #list tfoot {
    display: none !important;
  }
}
/* =============================================================================
   Additional layout for screen media < 572px
   ========================================================================== */
@media only screen and (max-width: 571px) {
  body {
    padding-top: 7em;
  }

  #page-login,
  #page-logout {
    padding-top: 4em;
  }

  /* Header not fixed on small devices - takes up valuable screen estate */
  #txp-head h1 {
    max-width: 66%;
  }

  /* show select version of navigation for smaller screens (and hide list version) */
  #txp-nav-select {
    position: absolute;
    top: 2.46153846153846em;
    right: 0;
    left: 0;
    z-index: 10010;
    border-top: 1px solid #fffbed;
    padding: .53846153846154em 1em;
    background: #fff6d3;
    -webkit-box-shadow: 0 0.077em 0.154em rgba(0, 0, 0, 0.2);
    box-shadow: 0 0.077em 0.154em rgba(0, 0, 0, 0.2);
  }

  .plugin-help {
    width: 100%;
  }

  table#edit.edit-pane,
  table#list.edit-pane {
    width: 100%;
    border-top-width: 1em;
    border-bottom: 0;
  }
  table#edit.edit-pane td,
  table#list.edit-pane td {
    display: block;
    padding: 0 1em;
  }
  table#edit.edit-pane td.cell-label,
  table#list.edit-pane td.cell-label {
    width: auto;
  }
  table#edit.edit-pane td:last-child,
  table#list.edit-pane td:last-child {
    padding-bottom: 1em;
  }
}
