@import url("reset.css");
/* Hive theme for Textpattern CMS (v4.5alpha) */
/* Clearfix
========================================================================== */
.clearfix, .txp-foot, .txp-navigation {
  *zoom: 1;
}
.clearfix:before, .txp-foot:before, .txp-navigation:before, .clearfix:after, .txp-foot:after, .txp-navigation:after {
  content: "";
  display: table;
}
.clearfix:after, .txp-foot:after, .txp-navigation:after {
  clear: both;
}

/* Links
========================================================================== */
a {
  -webkit-tap-highlight-color: rgba(0, 102, 255, 0.5);
  color: #114eb1;
  text-decoration: none;
}
a:hover {
  color: #0066ff;
  text-decoration: underline;
}

/* Typography
========================================================================== */
h1 {
  font-size: 2.30769230769231em;
  line-height: 1.3;
  margin: 0 0 .43333333333333em;
}

h2 {
  font-size: 1.38461538461538em;
  margin: 0 0 .72222222222222em;
}
h2 .pophelp {
  font-size: .72222222222222em;
}

h3 {
  font-size: 1.15384615384615em;
  margin: 0 0 .86666666666667em;
}

h4,
h5,
h6 {
  font-size: 1em;
  margin: 0 0 1em;
}

small,
.txp-foot {
  font-size: 0.846em;
}

dfn,
q,
var {
  font-style: italic;
  background: #fff6d3;
}

var {
  padding: 0 .23076923076923em;
  -moz-border-radius: 0.231em;
  border-radius: 0.231em;
  font-weight: bold;
}

pre,
code,
kbd,
samp,
.code,
#diagnostics-detail {
  font-family: Menlo, Consolas, "Liberation Mono", monospace;
}

code,
kbd,
samp {
  border: 1px solid #e3e3e3;
  padding: 0 .23076923076923em;
  -moz-border-radius: 0.231em;
  border-radius: 0.231em;
  background: #f7f7f7;
}

pre {
  overflow-x: auto;
  border: 1px solid #e3e3e3;
  padding: 1em;
  -moz-border-radius: 0.385em;
  border-radius: 0.385em;
  background: #f7f7f7;
  tab-size: 4;
  /* IE7 */
  *overflow-y: hidden;
}

pre code,
.code code {
  border: 0;
  padding: 0;
  background: none;
}

code.body,
code.excerpt {
  border: 0;
  padding: 0;
  background: none;
}

hr {
  margin: 1.5em 0;
  border-color: #cccccc;
  border-style: solid;
  width: 100% !important;
}

.pophelp,
.pophelpsubtle {
  padding: 0 .23076923076923em;
  font-weight: normal;
  background: #e5e5e5;
  -moz-border-radius: 0.538em;
  border-radius: 0.538em;
}

/* Images
========================================================================== */
.content-image {
  border: solid 1px #cccccc;
  -moz-border-radius: 0.385em;
  border-radius: 0.385em;
  padding: 4px;
  background: #fff;
  -webkit-box-shadow: 0 0 0.462em rgba(0, 0, 0, 0.2);
  box-shadow: 0 0 0.462em rgba(0, 0, 0, 0.2);
}

a:hover .content-image {
  border: solid 1px #0066ff;
  -webkit-box-shadow: 0 0 0.462em rgba(0, 102, 255, 0.4);
  box-shadow: 0 0 0.462em rgba(0, 102, 255, 0.4);
}

/* image alignments */
.align-left {
  float: left;
  margin: 1em 1em 1em 0;
}

.align-right {
  float: right;
  margin: 1em 0 1em 1em;
}

.align-center {
  display: block;
  margin: 1em auto;
}

/* Messages
========================================================================== */
.not-ok,
#plugin_form .modified,
.highlight {
  color: #9d261d;
}

.highlight a {
  color: #9d261d;
}
.highlight a:hover {
  color: #c83025;
}

/* label colours */
.success,
.warning,
.error,
.information {
  padding: 0 .23076923076923em;
  -moz-border-radius: 0.231em;
  border-radius: 0.231em;
}

.success {
  color: #238c23;
  background: #dff0d8;
}

.warning {
  color: #cb8f02;
  background: #fff6d3;
}

.error {
  color: #9d261d;
  background: #f2dede;
}

.information {
  color: #3a87ad;
  background: #e7f6fc;
}

#warning {
  border: 1px solid #ffe16d;
  padding: .53846153846154em 2.84615384615385em;
  line-height: 1.38461538461538;
  text-align: center;
  color: #cb8f02;
  background: #fff6d3;
}

/* alert boxes */
#messagepane {
  position: fixed;
  bottom: 0;
  right: 0;
  left: 0;
  text-align: center;
}

span#message {
  position: relative;
  z-index: 20000;
  display: -moz-inline-box;
  -moz-box-orient: vertical;
  display: inline-block;
  *display: inline;
  *zoom: 1;
  -moz-border-radius: 0.385em 0.385em 0 0;
  border-radius: 0.385em 0.385em 0 0;
  margin: 0 auto;
  border: 1px solid;
  border-bottom: 0;
  padding: .53846153846154em 2.84615384615385em .53846153846154em 1em;
  max-width: 40em;
  text-shadow: 1px 1px 0 rgba(255, 255, 255, 0.4);
  -webkit-box-shadow: 0 0 0.462em rgba(0, 0, 0, 0.2);
  box-shadow: 0 0 0.462em rgba(0, 0, 0, 0.2);
}
span#message.success {
  border-color: #a3d48e;
}
span#message.warning {
  border-color: #ffe16d;
}
span#message.error {
  border-color: #e1b2b2;
}

/* close icon */
.close {
  position: absolute;
  top: .27777777777778em;
  right: .72222222222222em;
  text-decoration: none;
  color: rgba(51, 51, 51, 0.4);
  font-size: 1.38461538461538em;
  font-weight: bold;
  text-shadow: 1px 1px 0 rgba(255, 255, 255, 0.25);
}
.close:hover {
  color: #333333;
  text-decoration: none;
  color: rgba(51, 51, 51, 0.6);
  cursor: pointer;
}

/* flash the alert */
@-webkit-keyframes messageflash {
  0% {
    opacity: 0;
  }

  50%, 100% {
    opacity: 1;
  }

  75% {
    opacity: .5;
  }
}

@-moz-keyframes messageflash {
  0% {
    opacity: 0;
  }

  50%, 100% {
    opacity: 1;
  }

  75% {
    opacity: .5;
  }
}

@-ms-keyframes messageflash {
  0% {
    opacity: 0;
  }

  50%, 100% {
    opacity: 1;
  }

  75% {
    opacity: .5;
  }
}

@-o-keyframes messageflash {
  0% {
    opacity: 0;
  }

  50%, 100% {
    opacity: 1;
  }

  75% {
    opacity: .5;
  }
}

@keyframes messageflash {
  0% {
    opacity: 0;
  }

  50%, 100% {
    opacity: 1;
  }

  75% {
    opacity: .5;
  }
}

.messageflash {
  -webkit-animation: messageflash 1s;
  -moz-animation: messageflash 1s;
  -ms-animation: messageflash 1s;
  -o-animation: messageflash 1s;
  animation: messageflash 1s;
}

/* Twistees
========================================================================== */
h3.lever {
  font-size: 1em;
  font-weight: bold;
  line-height: 2em;
  margin: 0;
  height: 2em;
  text-shadow: 1px 1px 0 rgba(255, 255, 255, 0.4);
  -webkit-box-shadow: inset 0 1px 0 0 rgba(255, 255, 255, 0.25);
  box-shadow: inset 0 1px 0 0 rgba(255, 255, 255, 0.25);
  border-top: 1px solid #dddddd;
  border-bottom: 1px solid #bebebe;
  background-color: #eeeeee;
  /* Konqueror */
  background-image: -khtml-gradient(linear, left top, left bottom, from(#eeeeee), to(#dddddd));
  /* Safari4+, Chrome */
  background-image: -webkit-gradient(linear, left top, left bottom, from(#eeeeee), to(#dddddd));
  /* Safari5.1+, Chrome10+ */
  background-image: -webkit-linear-gradient(#eeeeee, #dddddd);
  /* Firefox3.6 */
  background-image: -moz-linear-gradient(#eeeeee, #dddddd);
  /* IE10 */
  background-image: -ms-linear-gradient(#eeeeee, #dddddd);
  /* Opera11.10+ */
  background-image: -o-linear-gradient(#eeeeee, #dddddd);
  /* CSS3 Compliant */
  background-image: linear-gradient(#eeeeee, #dddddd);
}
h3.lever a {
  position: relative;
  display: block;
  color: #333333;
  padding: 0 2em 0 1em;
}
h3.lever a:hover {
  color: #333333;
  text-decoration: none;
}
h3.lever a:after {
  position: absolute;
  content: "&#8594;";
  top: .69230769230769em;
  right: .76923076923077em;
  z-index: 10;
  width: 0;
  height: 0;
  display: -moz-inline-box;
  -moz-box-orient: vertical;
  display: inline-block;
  *display: inline;
  *zoom: 1;
  vertical-align: top;
  opacity: .5;
  border-left: 0.308em solid #333333;
  border-right: 0;
  border-top: .30769230769231em solid transparent;
  border-bottom: .30769230769231em solid transparent;
  text-indent: 110%;
  white-space: nowrap;
  overflow: hidden;
}
h3.lever a:hover:after {
  opacity: 1;
}

h3.lever.expanded a:after {
  content: "&#8595;";
  top: .84615384615385em;
  right: .69230769230769em;
  border-left: .30769230769231em solid transparent;
  border-right: .30769230769231em solid transparent;
  border-top: 0.308em solid #333333;
  border-bottom: 0;
}

.toggle {
  padding: 0 1em;
}

/* Forms
========================================================================== */
fieldset {
  position: relative;
  margin: 0 0 1em 0;
  border: 1px solid #e3e3e3;
  border-top: 0;
  padding: 2.07692307692308em 0 0 0;
  background: #f7f7f7;
  /* corrects padding inconsistency in IE7 */
  *padding-top: 3em;
}

fieldset > * {
  margin-right: 1em;
  margin-left: 1em;
}

.toggle fieldset {
  margin-top: 1em;
}

legend {
  position: absolute;
  top: 0;
  margin: 0;
  padding: 0 1em;
  width: 100%;
  font-weight: bold;
  line-height: 2em;
  text-shadow: 1px 1px 0 rgba(255, 255, 255, 0.4);
  -webkit-box-shadow: inset 0 1px 0 0 rgba(255, 255, 255, 0.25);
  box-shadow: inset 0 1px 0 0 rgba(255, 255, 255, 0.25);
  border-top: 1px solid #dddddd;
  border-bottom: 1px solid #bebebe;
  background-color: #eeeeee;
  /* Konqueror */
  background-image: -khtml-gradient(linear, left top, left bottom, from(#eeeeee), to(#dddddd));
  /* Safari4+, Chrome */
  background-image: -webkit-gradient(linear, left top, left bottom, from(#eeeeee), to(#dddddd));
  /* Safari5.1+, Chrome10+ */
  background-image: -webkit-linear-gradient(#eeeeee, #dddddd);
  /* Firefox3.6 */
  background-image: -moz-linear-gradient(#eeeeee, #dddddd);
  /* IE10 */
  background-image: -ms-linear-gradient(#eeeeee, #dddddd);
  /* Opera11.10+ */
  background-image: -o-linear-gradient(#eeeeee, #dddddd);
  /* CSS3 Compliant */
  background-image: linear-gradient(#eeeeee, #dddddd);
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  /* corrects alignment displayed oddly in IE7 */
  *margin-right: 7px;
  *margin-left: -7px;
  *right: 0;
  *left: 0;
  *width: auto;
}

input[type="radio"],
input[type="checkbox"] {
  margin-right: .5em;
}

input[type="text"],
input[type="password"] {
  width: 100%;
  max-width: 23.2307692307692em;
}

.search-form input[type="text"] {
  max-width: 16.9230769230769em;
}

input.year, input.exp_year {
  width: 3.30769230769231em;
}
input.month, input.exp_month, input.day, input.exp_day, input.hour, input.exp_hour, input.minute, input.exp_minute, input.second, input.exp_second {
  width: 2.30769230769231em;
}

/* additional input field widths */
input.input-medium {
  width: 50%;
  max-width: 11.6153846153846em;
}

input.input-small {
  width: 25%;
  max-width: 5.76923076923077em;
}

/* Specific buttons
========================================================================== */
/* primary buttons */
input[type="submit"].publish,
button.publish {
  font-weight: bold;
  border: 1px solid #f2ab05;
  border-bottom-color: #c08804;
  padding: .66666666666667em .75em;
  background-color: #ffda44;
  /* Konqueror */
  background-image: -khtml-gradient(linear, left top, left bottom, from(#ffda44), to(#f2ab05));
  /* Safari4+, Chrome */
  background-image: -webkit-gradient(linear, left top, left bottom, from(#ffda44), to(#f2ab05));
  /* Safari5.1+, Chrome10+ */
  background-image: -webkit-linear-gradient(#ffda44, #f2ab05);
  /* Firefox3.6 */
  background-image: -moz-linear-gradient(#ffda44, #f2ab05);
  /* IE10 */
  background-image: -ms-linear-gradient(#ffda44, #f2ab05);
  /* Opera11.10+ */
  background-image: -o-linear-gradient(#ffda44, #f2ab05);
  /* CSS3 Compliant */
  background-image: linear-gradient(#ffda44, #f2ab05);
}
input[type="submit"].publish:hover,
button.publish:hover {
  background-color: #ffe477;
  /* Konqueror */
  background-image: -khtml-gradient(linear, left top, left bottom, from(#ffe477), to(#fbbe2f));
  /* Safari4+, Chrome */
  background-image: -webkit-gradient(linear, left top, left bottom, from(#ffe477), to(#fbbe2f));
  /* Safari5.1+, Chrome10+ */
  background-image: -webkit-linear-gradient(#ffe477, #fbbe2f);
  /* Firefox3.6 */
  background-image: -moz-linear-gradient(#ffe477, #fbbe2f);
  /* IE10 */
  background-image: -ms-linear-gradient(#ffe477, #fbbe2f);
  /* Opera11.10+ */
  background-image: -o-linear-gradient(#ffe477, #fbbe2f);
  /* CSS3 Compliant */
  background-image: linear-gradient(#ffe477, #fbbe2f);
}
input[type="submit"].publish:active,
button.publish:active {
  background-color: #fbbe2f;
  /* Konqueror */
  background-image: -khtml-gradient(linear, left top, left bottom, from(#fbbe2f), to(#ffe477));
  /* Safari4+, Chrome */
  background-image: -webkit-gradient(linear, left top, left bottom, from(#fbbe2f), to(#ffe477));
  /* Safari5.1+, Chrome10+ */
  background-image: -webkit-linear-gradient(#fbbe2f, #ffe477);
  /* Firefox3.6 */
  background-image: -moz-linear-gradient(#fbbe2f, #ffe477);
  /* IE10 */
  background-image: -ms-linear-gradient(#fbbe2f, #ffe477);
  /* Opera11.10+ */
  background-image: -o-linear-gradient(#fbbe2f, #ffe477);
  /* CSS3 Compliant */
  background-image: linear-gradient(#fbbe2f, #ffe477);
}

/* delete buttons */
input[type="submit"].destroy,
button.destroy {
  padding: 0 .33333333333333em;
  color: #f9e0df;
  text-shadow: -1px -1px 0 rgba(0, 0, 0, 0.25);
  border-top: 1px solid #9d261d;
  border-bottom: 1px solid #691913;
  background-color: #dc4e44;
  /* Konqueror */
  background-image: -khtml-gradient(linear, left top, left bottom, from(#dc4e44), to(#9d261d));
  /* Safari4+, Chrome */
  background-image: -webkit-gradient(linear, left top, left bottom, from(#dc4e44), to(#9d261d));
  /* Safari5.1+, Chrome10+ */
  background-image: -webkit-linear-gradient(#dc4e44, #9d261d);
  /* Firefox3.6 */
  background-image: -moz-linear-gradient(#dc4e44, #9d261d);
  /* IE10 */
  background-image: -ms-linear-gradient(#dc4e44, #9d261d);
  /* Opera11.10+ */
  background-image: -o-linear-gradient(#dc4e44, #9d261d);
  /* CSS3 Compliant */
  background-image: linear-gradient(#dc4e44, #9d261d);
}
input[type="submit"].destroy:hover,
button.destroy:hover {
  color: white;
  border-top: 1px solid #c83025;
  border-bottom: 1px solid #94241b;
  background-color: #e36f66;
  /* Konqueror */
  background-image: -khtml-gradient(linear, left top, left bottom, from(#e36f66), to(#c83025));
  /* Safari4+, Chrome */
  background-image: -webkit-gradient(linear, left top, left bottom, from(#e36f66), to(#c83025));
  /* Safari5.1+, Chrome10+ */
  background-image: -webkit-linear-gradient(#e36f66, #c83025);
  /* Firefox3.6 */
  background-image: -moz-linear-gradient(#e36f66, #c83025);
  /* IE10 */
  background-image: -ms-linear-gradient(#e36f66, #c83025);
  /* Opera11.10+ */
  background-image: -o-linear-gradient(#e36f66, #c83025);
  /* CSS3 Compliant */
  background-image: linear-gradient(#e36f66, #c83025);
}
input[type="submit"].destroy:active,
button.destroy:active {
  border-top: 1px solid #e36f66;
  border-bottom: 1px solid #d93e32;
  background-color: #c83025;
  /* Konqueror */
  background-image: -khtml-gradient(linear, left top, left bottom, from(#c83025), to(#e36f66));
  /* Safari4+, Chrome */
  background-image: -webkit-gradient(linear, left top, left bottom, from(#c83025), to(#e36f66));
  /* Safari5.1+, Chrome10+ */
  background-image: -webkit-linear-gradient(#c83025, #e36f66);
  /* Firefox3.6 */
  background-image: -moz-linear-gradient(#c83025, #e36f66);
  /* IE10 */
  background-image: -ms-linear-gradient(#c83025, #e36f66);
  /* Opera11.10+ */
  background-image: -o-linear-gradient(#c83025, #e36f66);
  /* CSS3 Compliant */
  background-image: linear-gradient(#c83025, #e36f66);
}

/* button sets */
.article-nav a, .article-nav .navlink-disabled,
.nav-tertiary a,
.nav-tertiary .navlink-disabled,
.prev-next a,
.prev-next .navlink-disabled {
  -moz-border-radius: 0;
  border-radius: 0;
}
.article-nav p > :first-child,
.nav-tertiary p > :first-child,
.prev-next p > :first-child {
  -moz-border-radius-topleft: 0.385em;
  border-top-left-radius: 0.385em;
  -moz-border-radius-bottomleft: 0.385em;
  border-bottom-left-radius: 0.385em;
}
.article-nav p > :last-child,
.nav-tertiary p > :last-child,
.prev-next p > :last-child {
  -moz-border-radius-topright: 0.385em;
  border-top-right-radius: 0.385em;
  -moz-border-radius-bottomright: 0.385em;
  border-bottom-right-radius: 0.385em;
}

/* Lists
========================================================================== */
.plain-list {
  list-style: none;
  padding-left: 0;
}

/* Tables
========================================================================== */
#list {
  width: 100%;
}
#list tr.odd, #list tr.even {
  border: 1px solid #dddddd;
}
#list tr.odd td:last-child, #list tr.even td:last-child {
  border-right: 1px solid #dddddd;
}
#list tr.even td {
  background: #f7f7f7;
}
#list th, #list td {
  padding: .38461538461538em 1em;
}
#list ul {
  list-style: none;
  padding-left: 0;
  margin: 0;
}
#list .id, #list .ip {
  width: 6%;
}
#list .date, #list .name, #list .parent {
  width: 14%;
}
#list .section {
  width: 12%;
}
#list thead .multi-edit, #list tbody .multi-edit {
  width: 2%;
}
#list thead th {
  text-shadow: 1px 1px 0 rgba(255, 255, 255, 0.4);
  background-color: #eeeeee;
  /* Konqueror */
  background-image: -khtml-gradient(linear, left top, left bottom, from(#eeeeee), to(#dddddd));
  /* Safari4+, Chrome */
  background-image: -webkit-gradient(linear, left top, left bottom, from(#eeeeee), to(#dddddd));
  /* Safari5.1+, Chrome10+ */
  background-image: -webkit-linear-gradient(#eeeeee, #dddddd);
  /* Firefox3.6 */
  background-image: -moz-linear-gradient(#eeeeee, #dddddd);
  /* IE10 */
  background-image: -ms-linear-gradient(#eeeeee, #dddddd);
  /* Opera11.10+ */
  background-image: -o-linear-gradient(#eeeeee, #dddddd);
  /* CSS3 Compliant */
  background-image: linear-gradient(#eeeeee, #dddddd);
  border-top: 1px solid #dddddd;
  border-right: 1px solid #d0d0d0;
  border-bottom: 1px solid #c4c4c4;
}
#list thead th:first-child {
  border-left: 1px solid #dddddd;
}
#list thead th:last-child {
  border-right: 1px solid #dddddd;
}
#list thead th a {
  position: relative;
  display: block;
  color: #333333;
  margin-right: .5em;
}
#list thead th a:hover {
  color: #333333;
  text-decoration: none;
}
#list thead th a:after {
  position: absolute;
  top: .53846153846154em;
  right: -0.769em;
  z-index: 10;
  width: 0;
  height: 0;
  display: -moz-inline-box;
  -moz-box-orient: vertical;
  display: inline-block;
  *display: inline;
  *zoom: 1;
  vertical-align: top;
  opacity: .5;
  text-indent: 110%;
  white-space: nowrap;
  overflow: hidden;
}
#list thead th a:hover:after {
  opacity: 1;
}
#list thead th.desc a:after {
  content: "&#8595;";
  border-left: .30769230769231em solid transparent;
  border-right: .30769230769231em solid transparent;
  border-top: 0.308em solid #333333;
  border-bottom: 0;
}
#list thead th.asc a:after {
  content: "&#8593;";
  border-left: .30769230769231em solid transparent;
  border-right: .30769230769231em solid transparent;
  border-top: 0;
  border-bottom: 0.308em solid #333333;
}
#list tfoot th, #list tfoot td {
  vertical-align: middle;
}
#list tfoot .multi-edit {
  text-align: right;
}

/* Allow overflow scroll on tables */
.txp-listtables {
  overflow-x: auto;
  margin-bottom: 1em;
  /* IE7 */
  *overflow-y: hidden;
}

/* Container
========================================================================== */
body {
  position: relative;
  padding: 5em 2em 0;
  min-width: 71.3846153846154em;
  color: #333333;
  background: white;
}

.txp-body {
  position: relative;
  z-index: 1;
  max-width: 110em;
  margin: 0 auto;
}

/* Header
========================================================================== */
.txp-head {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 10000;
  padding: 0 2em;
  height: 3em;
  min-width: 71.3846153846154em;
  -webkit-box-shadow: 0 0.154em 0.231em rgba(0, 0, 0, 0.15);
  box-shadow: 0 0.154em 0.231em rgba(0, 0, 0, 0.15);
  border-top: 1px solid #fabc2b;
  border-bottom: 1px solid #e2a005;
  background-color: #ffda44;
  /* Konqueror */
  background-image: -khtml-gradient(linear, left top, left bottom, from(#ffda44), to(#fabc2b));
  /* Safari4+, Chrome */
  background-image: -webkit-gradient(linear, left top, left bottom, from(#ffda44), to(#fabc2b));
  /* Safari5.1+, Chrome10+ */
  background-image: -webkit-linear-gradient(#ffda44, #fabc2b);
  /* Firefox3.6 */
  background-image: -moz-linear-gradient(#ffda44, #fabc2b);
  /* IE10 */
  background-image: -ms-linear-gradient(#ffda44, #fabc2b);
  /* Opera11.10+ */
  background-image: -o-linear-gradient(#ffda44, #fabc2b);
  /* CSS3 Compliant */
  background-image: linear-gradient(#ffda44, #fabc2b);
}
.txp-head h1 {
  float: left;
  margin: 0;
  padding-left: 11.385em;
  font-size: 1em;
  line-height: 3em;
  background: no-repeat left 48%;
  max-width: 25%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  background-repeat: no-repeat;
  background-position: 0 46%;
  background-image: url("../img/textpattern-lrg.png");
}
.svg .txp-head h1 {
  background-image: url("../img/svg/textpattern-lrg.svg");
  -webkit-background-size: 11.385em 2.308em;
  -moz-background-size: 11.385em 2.308em;
  -o-background-size: 11.385em 2.308em;
  background-size: 11.385em 2.308em;
}
.txp-head h1 a {
  margin-right: 1em;
  margin-left: 1em;
  color: #333333;
}
.txp-head h1 a:hover {
  color: #4d4d4d;
  text-decoration: none;
}

.txp-logout {
  position: absolute;
  z-index: 10010;
  top: -0.5em;
  right: 2em;
}

/* Navigation
========================================================================== */
/* hide <select> version of navigation on non-touch devices
   also happens via media-queries when screen width is < 768px regardless of touch ability */
.txp-nav-select {
  display: none;
}
.touch .txp-nav-select {
  display: inherit;
}

/* Hide <ul> version of navigation on touch devices */
.touch .txp-nav {
  display: none;
}

.txp-nav {
  float: left;
}
.txp-nav a {
  color: #333;
}
.txp-nav a:hover {
  text-decoration: none;
}
.txp-nav ul {
  list-style: none;
  padding-left: 0;
}

.data-dropdown {
  display: block;
  float: left;
  margin: 0;
}

.dropdown {
  position: relative;
  display: block;
  float: left;
  border-right: 1px solid #fabc2b;
  background: #fcdc7f;
}
.rgba .dropdown {
  background: rgba(255, 255, 255, 0.2);
}
.dropdown:first-child {
  border-left: 1px solid #fabc2b;
}
.dropdown a.dropdown-toggle {
  display: block;
  padding: 0 1em;
  line-height: 3em;
  text-decoration: none;
  color: black;
  text-shadow: 1px 1px 0 rgba(255, 255, 255, 0.4);
}
.dropdown:hover a.dropdown-toggle {
  background: #fcdc7f;
}
.rgba .dropdown:hover a.dropdown-toggle {
  background: rgba(255, 255, 255, 0.2);
}

.dropdown.active a.dropdown-toggle {
  background: #fcdc7f;
}
.rgba .dropdown.active a.dropdown-toggle {
  background: rgba(255, 255, 255, 0.2);
}

.dropdown-menu {
  position: absolute;
  top: 3em;
  left: -9999px;
  z-index: 20000;
  min-width: 12em;
  border: solid 1px #d4d4d4;
  border-top: 0;
  background: #fff6d3;
  -moz-border-radius: 0 0.385em 0.385em 0.385em;
  border-radius: 0 0.385em 0.385em 0.385em;
  -webkit-box-shadow: 0 0 0.462em rgba(0, 0, 0, 0.2);
  box-shadow: 0 0 0.462em rgba(0, 0, 0, 0.2);
}
.dropdown-menu li {
  border: 0;
  -moz-border-radius: 0;
  border-radius: 0;
  background: none;
  margin-right: 0;
}
.dropdown-menu li:first-child {
  -moz-border-radius: 0 0.385em 0 0;
  border-radius: 0 0.385em 0 0;
}
.dropdown-menu li:last-child {
  -moz-border-radius: 0 0 0.385em 0.385em;
  border-radius: 0 0 0.385em 0.385em;
}
.dropdown-menu li:hover {
  background: #feefb0;
}
.dropdown-menu li.active {
  background: #fee580;
}
.dropdown-menu a {
  display: block;
  padding: .5em 1em;
}
.dropdown-menu:before {
  position: absolute;
  content: "";
  top: -0.615em;
  left: 1em;
  width: 1.23076923076923em;
  height: .61538461538462em;
  background-image: url("../img/indicator.gif");
}
.svg .dropdown-menu:before {
  background-image: url("../img/svg/indicator.svg");
  -webkit-background-size: 1.231em 0.615em;
  -moz-background-size: 1.231em 0.615em;
  -o-background-size: 1.231em 0.615em;
  background-size: 1.231em 0.615em;
}

.data-dropdown li:hover .dropdown-menu,
.data-dropdown li:focus .dropdown-menu {
  left: 0;
}

.txp-nav-select {
  margin-top: .61538461538462em;
}

/* Footer
========================================================================== */
.txp-foot {
  position: relative;
  z-index: 1;
}

.mothership {
  float: left;
}

.pagejump {
  float: right;
}

/* Miscellaneous/shared layout
========================================================================== */
.empty {
  display: none;
}

table#edit {
  width: 100%;
}

table#edit.edit-pane {
  margin-bottom: 1em;
  border-top: 0.5em solid #f7f7f7;
  border-bottom: 0.5em solid #f7f7f7;
  width: 40em;
  background: #f7f7f7;
}
table#edit.edit-pane h2 {
  margin: 0;
}
table#edit.edit-pane td {
  padding: .5em 1em;
}
table#edit.edit-pane td.cell-label {
  width: 37%;
}

.txp-control-panel {
  text-align: center;
  line-height: 2.53846153846154;
}
.txp-control-panel p {
  margin-top: 0;
}

.restricted-area {
  font-size: 2em;
  text-align: center;
}

/* list navigators on list pages */
.txp-navigation .pageby {
  margin: 1em 0;
  float: left;
}
.txp-navigation .prev-next {
  margin: 1em 0;
  float: right;
}

/* AJAX spinner */
span.spinner {
  display: -moz-inline-box;
  -moz-box-orient: vertical;
  display: inline-block;
  *display: inline;
  *zoom: 1;
  width: 15px;
  height: 15px;
  margin-left: .5em;
  background-image: url("../img/spinner.gif");
}
@media (-webkit-min-device-pixel-ratio: 2) {
  span.spinner {
    background-image: url("../img/retina/spinner@2x.gif") !important;
    -webkit-background-size: 15px 15px;
  }
}

/* tabs */
.tabs {
  padding-top: 1em;
}
.tabs a {
  display: block;
  padding: 1em;
  color: #333333;
}
.tabs .tabup a {
  background: #ffda44;
}
.tabs .tabup a:hover {
  background: #fcdd62;
}
.tabs .tabdown2 a {
  background: #c7d3d8;
}
.tabs .tabdown2 a:hover {
  background: #d2dce0;
}

/* tagbuilder popup */
#tag-event {
  padding: 2.5em .5em 1em;
}
#tag-event h3 {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 10000;
  padding: .5em 1em;
  -webkit-box-shadow: 0 0.154em 0.231em rgba(0, 0, 0, 0.15);
  box-shadow: 0 0.154em 0.231em rgba(0, 0, 0, 0.15);
  border-top: 1px solid #fabc2b;
  border-bottom: 1px solid #e2a005;
  background-color: #ffda44;
  /* Konqueror */
  background-image: -khtml-gradient(linear, left top, left bottom, from(#ffda44), to(#fabc2b));
  /* Safari4+, Chrome */
  background-image: -webkit-gradient(linear, left top, left bottom, from(#ffda44), to(#fabc2b));
  /* Safari5.1+, Chrome10+ */
  background-image: -webkit-linear-gradient(#ffda44, #fabc2b);
  /* Firefox3.6 */
  background-image: -moz-linear-gradient(#ffda44, #fabc2b);
  /* IE10 */
  background-image: -ms-linear-gradient(#ffda44, #fabc2b);
  /* Opera11.10+ */
  background-image: -o-linear-gradient(#ffda44, #fabc2b);
  /* CSS3 Compliant */
  background-image: linear-gradient(#ffda44, #fabc2b);
}
#tag-event th, #tag-event td {
  padding: .5em;
  width: 50%;
}
#tag-event p {
  margin: .5em;
}

#tagbuilder-output textarea {
  height: 7em;
}

/* Login page
========================================================================== */
#login_form {
  margin: 0 auto;
  padding: .5em 0;
  width: 100%;
  max-width: 33.5384615384615em;
  background: #f7f7f7;
}
#login_form p {
  margin: 0;
}
#login_form tr:first-child p {
  margin: .375em 0;
  font-size: 1.23076923076923em;
  font-weight: bold;
}
#login_form td {
  padding: .38461538461538em 1em;
}
#login_form .cell-label {
  font-weight: bold;
}
#login_form input[type="submit"] {
  margin-bottom: 1em;
}

/* Content -> Categories page
========================================================================== */
#page-category .action-create input[type="submit"],
.parent {
  margin-top: .38461538461538em;
}

.category-list {
  width: 100%;
}
.category-list td {
  width: 25%;
}

.categories > div {
  margin: 0 .5em 1em;
  padding: 1em 1em 1px;
  background: #f7f7f7;
}

#categories_article {
  margin-left: 0;
}

#categories_file {
  margin-right: 0;
}

.category-list .small {
  display: block;
}

/* Content -> Write page
========================================================================== */
#article-col-1,
#article-col-2 {
  width: 24%;
}

#article-tabs {
  width: 1.69230769230769em;
  padding-left: 1em;
}

#view_modes ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
#view_modes .text {
  background-image: url("../img/view-text.png");
  background-position: 0 0;
}
.svg #view_modes .text {
  background-image: url("../img/svg/view-text.svg");
  -webkit-background-size: 1.692em 1.692em;
  -moz-background-size: 1.692em 1.692em;
  -o-background-size: 1.692em 1.692em;
  background-size: 1.692em 1.692em;
}
#view_modes .html {
  background-image: url("../img/view-html.png");
  background-position: 0 0;
}
.svg #view_modes .html {
  background-image: url("../img/svg/view-html.svg");
  -webkit-background-size: 1.692em 1.692em;
  -moz-background-size: 1.692em 1.692em;
  -o-background-size: 1.692em 1.692em;
  background-size: 1.692em 1.692em;
}
#view_modes .preview {
  background-image: url("../img/view-preview.png");
  background-position: 0 0;
}
.svg #view_modes .preview {
  background-image: url("../img/svg/view-preview.svg");
  -webkit-background-size: 1.692em 1.692em;
  -moz-background-size: 1.692em 1.692em;
  -o-background-size: 1.692em 1.692em;
  background-size: 1.692em 1.692em;
}

.view-mode {
  margin-bottom: 1em;
  width: 1.69230769230769em;
  height: 1.69230769230769em;
  text-indent: 110%;
  white-space: nowrap;
  overflow: hidden;
  border: 1px solid #e3e3e3;
  -moz-border-radius: 0.385em;
  border-radius: 0.385em;
  background-color: #f7f7f7;
  background-repeat: no-repeat;
  background-position: 50% 50%;
}
.view-mode a {
  display: block;
  width: 1.69230769230769em;
  height: 1.69230769230769em;
}
.view-mode:hover {
  border-color: #cccccc;
}

#tab-textup,
#tab-htmlup,
#tab-previewup {
  border-color: #cccccc;
  background-color: #fff6d3;
}

.html .excerpt {
  margin-bottom: 1em;
}

#article-main .title input {
  width: 75%;
  max-width: 75%;
}
#article-main #body {
  height: 34.4615384615385em;
}
#article-main .author {
  font-size: 0.846em;
  color: #999999;
}

#main_content > div:first-of-type > p:first-of-type {
  margin-top: 0;
}

#configuration_content,
#tagbuild_links {
  margin-right: 1em;
}

#configuration_content > div,
#tagbuild_links > div,
.summary-details {
  border: 1px solid #e3e3e3;
  border-top: 0;
  background: #f7f7f7;
  margin-bottom: 1em;
}

#supporting_content,
#content_switcher {
  margin-left: 1em;
}
#supporting_content > div,
#content_switcher > div {
  margin-bottom: 1em;
}
#supporting_content .action-create,
#content_switcher .action-create {
  margin-top: 0;
}

#supporting_content > div {
  border: 1px solid #e3e3e3;
  border-top: 0;
  background: #f7f7f7;
}

#dates .date .label, #dates .time .label {
  display: block;
}
#dates .date input.year, #dates .time input.hour, #dates .date input.exp_year, #dates .time input.exp_hour {
  margin-left: -0.615em;
}

.recent {
  list-style: decimal-leading-zero;
}
.recent li {
  margin-left: 2em;
}

#keywords {
  height: 4.38461538461538em;
}

/* Content -> Articles page
========================================================================== */
.unpublished {
  color: #999999;
}

#page-list .title {
  width: 50%;
}

/* Content -> Images page
========================================================================== */
/* fix for inconsistent structure */
#page-image table#edit.edit-pane {
  border-top: 1em solid #F7F7F7;
  border-bottom: 0;
}
#page-image table#edit.edit-pane td {
  padding: 0 1em;
}

table#edit.edit-pane #image-thumbnail {
  margin-right: auto;
  margin-bottom: 1em;
}
table#edit.edit-pane #image-thumbnail td {
  padding: 0;
}

.thumbwrapper img {
  margin-right: .5em;
}

.thumbnail-alter p {
  margin: 0;
}

table#edit.edit-pane #thumbnail_alter td {
  padding: 0 .5em 0 0;
  width: auto;
  vertical-align: middle;
}

#page-image #width,
#page-image #height {
  width: 3.38461538461538em;
}

/* fix for inconsistent structure */
#page-image .name label {
  width: 13.6em;
  display: -moz-inline-box;
  -moz-box-orient: vertical;
  display: inline-block;
  *display: inline;
  *zoom: 1;
}
#page-image #image-name {
  width: 13.6em;
}

#page-image #caption {
  max-width: 520px;
}

/* Content -> Files page
========================================================================== */
/* fix for inconsistent structure */
#page-file table#edit.edit-pane {
  border: 0;
}
#page-file table#edit.edit-pane td {
  padding: 0 1em;
}

/* Content -> Comments page
========================================================================== */
.cb_show_spam {
  margin: -1em 0 1em 1em;
}

#page-discuss #list tr.spam td {
  background: #f5e5e5;
}

#page-discuss #list tr.moderate td {
  background: #fff8dd;
}

#page-discuss .actions {
  width: 20%;
}

/* Presentation -> Sections page
========================================================================== */
#page-section h2 {
  text-align: center;
}

#page-section .txp-control-panel {
  margin-bottom: .38461538461538em;
}

#page-section #list {
  width: auto;
}
#page-section #list .section {
  border-top: 1em solid white;
}
#page-section #list tr {
  border: 0;
}
#page-section #list td {
  padding: 0;
}
#page-section #list td:last-child {
  border: 0;
}
#page-section #list .label {
  padding-right: 1em;
  width: 20%;
  font-weight: bold;
  text-align: right;
}
#page-section #list .actions {
  padding-left: 1em;
  width: 20%;
}
#page-section #list .main {
  width: 41em;
}
#page-section #list tr.odd td, #page-section #list tr.even td {
  border: 0;
  background: white;
}
#page-section #list .section table {
  border-top: 0.5em solid #f7f7f7;
  border-bottom: 0.5em solid #f7f7f7;
  width: 100%;
}
#page-section #list .section table td {
  padding: .38461538461538em 1em;
  background: #f7f7f7 !important;
}
#page-section #list .section table .cell-label {
  width: 36%;
}

/* Presentation -> Pages, Forms, Styles pages shared
========================================================================== */
#page-page #edit td.column:first-child, #page-page #edit td.column:last-child,
#page-form #edit td.column:first-child,
#page-form #edit td.column:last-child {
  width: 25%;
}

#page-css #edit td.column:last-child {
  width: 25%;
}

.edit-title {
  margin: .30769230769231em 0 1em;
}

#page-page textarea.code,
#page-form textarea.code,
#page-css textarea.code {
  height: 34.4615384615385em;
}

#page-page textarea.code,
#page-css textarea.code {
  margin-bottom: 1em;
}

.copy-as {
  display: block;
  margin: 1em 0;
  width: 100%;
  max-width: 23.2307692307692em;
}

.copy-as input[type="submit"] {
  margin-top: .38461538461538em;
}

#content_switcher input[type="checkbox"],
#content_switcher #list input[type="submit"] {
  float: right;
}

.form-list-group {
  margin-bottom: 1em;
  border-bottom: 1px solid #dddddd;
}

.form-list .plain-list {
  margin: 0 -1em;
  border-right: 1px solid #dddddd;
  border-left: 1px solid #dddddd;
}
.form-list .plain-list li {
  border-top: 1px solid #dddddd;
  padding: .38461538461538em .5em .38461538461538em 1em;
}
.form-list .plain-list li.even {
  background: #f7f7f7;
}
.form-list .plain-list li:first-child {
  border-top: 0;
}

/* Admin -> Diagnostics page
========================================================================== */
#page-diag textarea {
  height: 17.4615384615385em;
  margin-bottom: 1em;
}

/* Admin -> Preferences page
========================================================================== */
#page-prefs h3 {
  margin-top: 1em;
}

#page-prefs table#list tr.odd td, #page-prefs table#list tr.even td {
  height: 1.84615384615385em;
  vertical-align: middle;
}
#page-prefs table#list .modified {
  color: #999999;
  margin-left: .6em;
}

#language_control {
  text-align: left;
}

#textpack-install {
  width: 50%;
}

/* Admin -> Users page
========================================================================== */
#page-admin .txp-control-panel {
  line-height: 1.385;
}

#change_password,
#change_email {
  margin: 2em auto 1em;
  padding: 1em 1em 1px;
  width: 38em;
  text-align: left;
  background: #f7f7f7;
}
#change_password label,
#change_email label {
  display: block;
  float: left;
  width: 36%;
  margin: .23076923076923em 0 1.23076923076923em;
}
#change_password #new_pass, #change_password #new_email,
#change_email #new_pass,
#change_email #new_email {
  float: right;
  margin-bottom: 1em;
}
#change_password input[type="submit"],
#change_email input[type="submit"] {
  clear: both;
}

#change_password input[type="checkbox"] {
  float: left;
}
#change_password label[for="mail_password"] {
  margin: 0 0 1em;
  width: 90%;
}

/* Admin -> Visitor Logs page
========================================================================== */
#page-log .host,
#page-log .page,
#page-log .refer {
  width: 28%;
}

/* Admin -> Plugins page
========================================================================== */
#plugin-install {
  width: 50%;
}

#plugin_install_form {
  text-align: center;
}

#plugin-code {
  height: 23em;
}

div.code {
  margin-bottom: 1em;
  border: 1px solid #cccccc;
  padding: .15384615384615em .38461538461538em;
  height: 21em;
  overflow: auto;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  /* IE7 box-sizing workaround */
  *padding-right: 0;
  *padding-left: 0;
}

div.plugin-help {
  margin: 0 auto;
  max-width: 56em;
}

/* Admin -> Import page
========================================================================== */
#page-import #edit {
  width: 40em;
  margin-bottom: 1em;
  border-top: 0.5em solid #f7f7f7;
  border-bottom: 0.5em solid #f7f7f7;
  background: #f7f7f7;
}
#page-import #edit td {
  padding: .5em 1em;
}
#page-import #edit td.cell-label {
  width: 37%;
}
#page-import #edit #databased {
  margin-left: -1em;
  margin-right: -1em;
}

/* Hive theme for Textpattern CMS (v4.5alpha) */
/* ADDITIONAL LAYOUT FOR DEVICES < 769px
========================================================================== */
@media only screen and (max-width: 768px) {
  /* Layout (< 769px)
  ========================================================================== */
  body {
    padding: 4em 1em 0;
    min-width: 294px;
  }

  /* Header (< 769px)
  ========================================================================== */
  .txp-head {
    padding: 0 1em;
    min-width: 294px;
  }
  .txp-head h1 {
    max-width: 50%;
    padding-left: 1.846em;
    background-image: url("../img/textpattern-sml.png");
  }
  .svg .txp-head h1 {
    background-image: url("../img/svg/textpattern-sml.svg");
    -webkit-background-size: 1.846em 1.846em;
    -moz-background-size: 1.846em 1.846em;
    -o-background-size: 1.846em 1.846em;
    background-size: 1.846em 1.846em;
  }

  .txp-logout {
    right: 1em;
  }

  /* Navigation (< 769px)
  ========================================================================== */
  /* show <select> version of navigation on small screen widths */
  .txp-nav-select {
    display: inherit;
  }

  /* hide <ul> version of navigation on small screen widths */
  .txp-nav {
    display: none;
  }

  /* Content -> Categories page (< 769px)
  ========================================================================== */
  .category-list th,
  .category-list td,
  .category-list tr {
    display: block;
    margin: 0 auto;
    max-width: 40em;
  }
  .category-list td {
    width: 100%;
  }

  .categories > div {
    margin: 0 0 1em 0;
  }

  /* Content -> Write page (< 769px)
  ========================================================================== */
  #page-article #edit th,
  #page-article #edit td,
  #page-article #edit tr {
    display: block;
  }

  #article-col-1,
  #article-col-2,
  #article-main,
  #article-tabs {
    width: 100%;
    margin: 0 auto;
    max-width: 40em;
  }

  #article-col-2 {
    clear: left;
  }

  #article-tabs {
    padding: 0 0 1em 0;
    height: 1.84615384615385em;
  }

  .view-mode {
    float: left;
    margin-right: 1em;
    margin-bottom: 0;
  }

  #configuration_content,
  #tagbuild_links,
  #supporting_content {
    margin: 0;
  }

  /* turn off features to optimise small screen size */
  #textile_group,
  #recent_group {
    display: none;
  }

  /* Content -> Images page (< 769px)
  ========================================================================== */
  /* hide table cells to optimise screen estate */
  #image_details_form .name,
  #image_details_form .category {
    display: block !important;
  }

  /* Content -> Comments page (< 769px)
  ========================================================================== */
  .cb_show_spam {
    margin-top: 0;
  }

  /* Presentation -> Sections page (< 769px)
  ========================================================================== */
  /* Presentation -> Pages, Forms, Styles pages shared (< 769px)
  ========================================================================== */
  #content_switcher {
    margin: 0;
  }

  #page-page #edit td.column:first-child,
  #page-form #edit td.column:first-child {
    display: none;
  }

  #page-page h2,
  #page-form h2,
  #page-css h2 {
    margin-top: 1.625em;
  }
  #page-page > tr, #page-page #edit td.column,
  #page-form > tr,
  #page-form #edit td.column,
  #page-css > tr,
  #page-css #edit td.column {
    display: block;
    margin: 0 auto;
    width: 100%;
    max-width: 40em;
  }
  #page-page #edit td.column:last-child,
  #page-form #edit td.column:last-child,
  #page-css #edit td.column:last-child {
    width: 100%;
  }
}
/* ADDITIONAL LAYOUT FOR DEVICES < 546px
========================================================================== */
@media only screen and (max-width: 545px) {
  body {
    padding-top: 7.23076923076923em;
  }

  #page-login,
  #page-logout {
    padding-top: 4em;
  }

  .txp-head {
    position: absolute;
  }
  .txp-head h1 {
    max-width: 66%;
  }

  /* show select version of navigation for smaller screens (and hide list version) */
  .txp-nav-select {
    position: absolute;
    top: 2.46153846153846em;
    right: 0;
    left: 0;
    z-index: 10010;
    border-top: 1px solid #fffbed;
    padding: .53846153846154em 1em;
    background: #fff6d3;
    -webkit-box-shadow: 0 0.154em 0.231em rgba(0, 0, 0, 0.15);
    box-shadow: 0 0.154em 0.231em rgba(0, 0, 0, 0.15);
  }

  table#edit.edit-pane {
    width: 100%;
    border-top-width: 1em;
    border-bottom: 0;
  }
  table#edit.edit-pane > tbody > tr > td {
    display: block;
    padding: 0 1em;
  }
  table#edit.edit-pane > tbody > tr > td.cell-label {
    width: auto;
  }
  table#edit.edit-pane > tbody > tr > td:last-child {
    padding-bottom: 1em;
  }

  #article-main #body {
    height: 17.4615384615385em;
  }

  #excerpt {
    height: 4.38461538461538em;
  }

  #page-page textarea.code,
  #page-form textarea.code,
  #page-css textarea.code {
    height: 17.4615384615385em;
  }

  /* remove float from txp-navigation elements */
  .txp-navigation {
    text-align: center;
  }
  .txp-navigation .pageby {
    float: none;
  }
  .txp-navigation .prev-next {
    float: none;
  }

  /* add some margin above upload submit in case it wraps */
  .upload-form input[type="submit"],
  #image-replace input[type="submit"],
  #thumbnail-upload input[type="submit"] {
    margin-top: 1em;
  }

  div.plugin-help {
    width: 100%;
  }
}
