//
// note: this file is for use with Sass- http://sass-lang.com,
// don't use it as your live site stylesheet!
//


/* Messages
   ========================================================================== */

/* label colours */

.success,
.warning,
.error,
.information {
	padding: 0 .23076923076923em;
	@include border-radius(.23076923076923em); // 3px / 13px
}

.success {
	color: $success-text;
	background: $success-background;
}

.warning {
	color: $warning-text;
	background: $warning-background;
}

.error {
	color: $error-text;
	background: $error-background;
}

.information {
	color: $info-text;
	background: $info-background;
}

.highlight {
	background: $color-highlight-box;
}

.alert-block {
	border: 1px solid;
	padding: .53846153846154em 2.84615384615385em;
	line-height: 1.38461538461538;
	text-align: center;

	&.success {
		border-color: $success-border;
	}

	&.warning {
		border-color: $warning-border;
	}

	&.error {
		border-color: $error-border;
	}

	&.information {
		border-color: $info-border;
	}
}

/* alert boxes */

#messagepane {
	position: fixed;
	bottom: 0;
	z-index: 20000;
	text-align: center;

	> span {
		display: inline-block;
		@include border-radius($border-radius $border-radius 0 0);
		margin: 0 auto;
		padding: .53846153846154em 2.84615384615385em .53846153846154em 1em;
		max-width: ($standard-column - 3.84615384615385em);
		color: #fff;
		@include box-shadow;
	
		&.success {
			background: $success-text;
		}
	
		&.warning {
			background: $warning-text;
		}
	
		&.error {
			background: $error-text;
		}
	}
}

/* close icon */

.close {
	position: absolute;
	top: .27777777777778em; // 5px / 18px
	right: .72222222222222em;
	text-decoration: none;
	color: #ccc;
	font-size: 1.38461538461538em; // 18px / 13px
	font-weight: bold;

	.rgba & {
		color: transparentize(#fff, .4);
	}

	&:hover {
		color: $color-text;
		text-decoration: none;
		color: #fff;
		cursor: pointer;

		.rgba & {
			color: transparentize(#fff, .2);
		}
	}
}

/* flash the alert */

@-webkit-keyframes messageflash {
	0% {opacity: 0;}	
	50%, 100% {opacity: 1;}	
	75% {opacity: .5;}
}

@-moz-keyframes messageflash {
	0% {opacity: 0;}	
	50%, 100% {opacity: 1;}	
	75% {opacity: .5;}
}

@-ms-keyframes messageflash {
	0% {opacity: 0;}	
	50%, 100% {opacity: 1;}	
	75% {opacity: .5;}
}

@-o-keyframes messageflash {
	0% {opacity: 0;}	
	50%, 100% {opacity: 1;}	
	75% {opacity: .5;}
}

@keyframes messageflash {
	0% {opacity: 0;}	
	50%, 100% {opacity: 1;}	
	75% {opacity: .5;}
}

.messageflash {
	-webkit-animation: messageflash 1s;
	   -moz-animation: messageflash 1s;
		 -o-animation: messageflash 1s;
			animation: messageflash 1s;
}
