//
// note: this file is for use with Sass- http://sass-lang.com,
// don't use it as your live site stylesheet!
//


/* Embedded content
   ========================================================================== */

img {
	/* removes border when inside `a` element in IE8-9 */
	border: 0;

	&.align-left {
		float: left;
		margin: 1em 1em 1em 0;
	}

	&.align-right {
		float: right;
		margin: 1em 0 1em 1em;
	}
	&.align-center {
		display: block;
		margin: 1em auto;
	}
}

/* addresses margin not present in IE 8-9 and Safari 5 */
figure {
	margin: 0;
}

/* corrects overflow displayed oddly in IE9 */
svg:not(:root) {
	overflow: hidden;
}

.content-image {
	border: solid 1px $color-border;
	@include border-radius($border-radius);
	padding: 4px;
	background: #fff;
	@include box-shadow;

	a:hover & {
		border: solid 1px $color-link-hover;
		@include box-shadow(0 0 .46153846153846em rgba($color-link-hover, .4));
	}
}
