//
// note: this file is for use with Sass- http://sass-lang.com,
// don't use it as your live site stylesheet!
//


/* Forms
   ========================================================================== */

/* define consistent fieldset margin, border and padding */
fieldset {
	margin: 1em 0;
	border: 1px solid $color-border;
	padding: 1px 1em;
}

/* remove padding so people aren't caught out if they zero out fieldsets */
legend {
	border: 0;
	padding: 0;
}

/* colour placeholder text (WebKit and Mozilla only, so far) */
input::-webkit-input-placeholder,
textarea::-webkit-input-placeholder {
	color: $color-text-footnote;
}
input:-moz-placeholder,
textarea:-moz-placeholder {
	color: $color-text-footnote;
}

/* better focus glows, if box-shadow is supported */
.boxshadow {
	input[type="color"],
	input[type="date"],
	input[type="datetime"],
	input[type="datetime-local"],
	input[type="email"],
	input[type="month"],
	input[type="number"],
	input[type="password"],
	input[type="search"],
	input[type="tel"],
	input[type="text"],
	input[type="time"],
	input[type="url"],
	input[type="week"],
	select,
	textarea {
		&:focus {
			outline: 0;
			border-color: $color-link-hover;
			@include box-shadow(0 0 7px $color-link-hover);
			/* Opera */
			z-index: 1;
		}
	}

	button,
	input[type="button"],
	input[type="reset"],
	input[type="submit"],
	.txp-logout a,
	.action-create a,
	.navlink,
	.navlink-active,
	.txp-buttons a {
		&:focus {
			outline: 0;
			border-color: $color-link-hover;
			@include box-shadow-multi(inset 0 1px 0 0 rgba(#fff, .25), 0 0 7px $color-link-hover);
			/* Opera */
			z-index: 1;
		}
	}
}

input[type="color"],
input[type="date"],
input[type="datetime"],
input[type="datetime-local"],
input[type="email"],
input[type="month"],
input[type="number"],
input[type="password"],
input[type="search"],
input[type="tel"],
input[type="text"],
input[type="time"],
input[type="url"],
input[type="week"],
select,
textarea {
	-webkit-appearance: none; // remove iOS Safari default styling
	@include background-clip;
	@include box-sizing;
	max-width: 100%;
	//height: 2em; // 26px / 13px
	font-family: $font-body;
	font-size: 1em;
	line-height: $baseline; // 18px / 13px
	vertical-align: middle;
	color: $color-text;
	background-color: $color-background;
	margin: 0;
	border: 1px solid $color-border;
	@include border-radius(0);
	padding: .25em;
}

textarea {
	min-height: 4.38461em; // 57px / 13px
	resize: vertical;
	width: 100%;
	/* removes default vertical scrollbar in IE8-9 */
	overflow: auto;
}

textarea,
select[size],
select[multiple] {
	height: auto;
}

/* TODO: check we actually need this */
select[size="0"],
select[size="1"] {
	height: 2em; // 26px / 13px
}

/* addresses select alignment in Safari/Chrome */
@media (-webkit-min-device-pixel-ratio: 0) {

	select[size],
	select[multiple],
	select[multiple][size] {
		background-image: none;
		padding-right: .25em;
	}

	select,
	select[size="0"],
	select[size="1"] {
		background: $color-background url("data:image/svg+xml,<svg version='1.1' baseProfile='full' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' x='0px' y='0px' width='13px' height='4px' viewBox='0 0 13 4' enable-background='new 0 0 13 4' xml:space='preserve'><polygon fill='#333333' points='3.5,4 0,0 7,0'/></svg>") no-repeat right center;
		padding-right: 2em;
		-webkit-background-size: 1em .30769em;
	            background-size: 1em .30769em;
	}

}

optgroup {
	font-family: $font-body; // font family repeated, for Firefox
	font-style: normal;
	font-weight: normal;
	color: $color-text;

	&::-moz-focus-inner { // kill phantom spacing and dotted border that appears in Firefox
		border: 0;
		padding: 0;
	}
}

/* addresses box sizing set to `content-box` and excess padding in IE8-9 */
input[type="checkbox"],
input[type="radio"] {
	padding: 0;
	box-sizing: border-box;
}

/* make sure disable elements really are disabled */
button[disabled],
html input[disabled], // `html` is a workaround for Android 4 bug
input[type="button"][disabled],
input[type="reset"][disabled],
input[type="submit"][disabled],
select[disabled],
select[disabled] option,
select[disabled] optgroup,
textarea[disabled],
.navlink-disabled {
	opacity: 1; // overrides iOS opacity setting
	border-color: $color-gradient-to !important;
	background: #eee !important;
	text-shadow: none !important;
	@include box-shadow(none !important);
	 -khtml-user-select: none;
	-webkit-user-select: none;
	   -moz-user-select: -moz-none;
			user-select: none;
	color: $color-text-footnote !important;
	cursor: default;
}

/* additional input field widths */

input[size="32"] {
	width: 100%;
	max-width: 28em; // 364px / 13px
}

input.input-large {
	width: 100%;
}

input.input-medium {
	width: 50%;
	max-width: 14.4em; // 182px / 13px
}

input.input-small {
	width: 25%;
	max-width: 7.6em; // 91px / 13px
}

input.input-xsmall {
	width: 16%;
	width: 4.2em; // 55px / 13px
}

input {
	&.year,
	&.exp_year {
		text-align: center;
		width: 4.2em; // 55px / 13px
	}

	&.month,
	&.exp_month,
	&.day,
	&.exp_day,
	&.hour,
	&.exp_hour,
	&.minute,
	&.exp_minute,
	&.second,
	&.exp_second {
		text-align: center;
		width: 2.46153em; // 32px / 13px
	}
}
