//
// note: this file is for use with Sass- http://sass-lang.com,
// don't use it as your live site stylesheet!
//


/* Layout grids
   ========================================================================== */

/* layout grid container - must only contain `.grid` or `.grid__cell` components as children */
.txp-layout-grid {
	display: block;
	padding: 0;
	margin: 0 -.5em;
	/* ensure consistent default alignment */
	text-align: left;
	/* remove inter-unit whitespace for all non-monospace font-families */
	letter-spacing: -.31em;
	word-spacing: -.43em;
	/* protect against WebKit bug with optimizelegibility */
	text-rendering: optimizespeed;
}

.txp-layout-grid > div {
	@include box-sizing;
	padding: 0 .5em;
	/* reset text defaults */
	letter-spacing: normal;
	word-spacing: normal;
	text-rendering: auto;
}

/* layout grid cells - no explicit width by default, apply `.txp-layout-x-y` classes below */
.txp-layout-cell {
	display: inline-block;
	margin: 0;
	width: 100%;
	/* controls vertical positioning of units */
	vertical-align: top;
	/* keeps unit content correctly aligned */
	text-align: left;
}

/* proportional layout cells */
.txp-layout-1-4 {
	width: 25%;
}
.txp-layout-2-4 {
	width: 50%;
}
.txp-layout-3-4 {
	width: 75%;
}

/* text columns (fixed proportion cell) */
.text-column, // deprecated @ 4.6
.txp-layout-textbox {
	margin: 0 auto;
	max-width: $text-column;
}


/* Inline grids
   ========================================================================== */

.txp-grid {
	text-align: center;
	margin-bottom: .69230769230769em; // 9px / 13px
}

.txp-grid-cell {
	@include box-sizing;
	display: inline-block;
	text-align: left;
	max-width: 22.6153846153846em; // 294px / 13px
	vertical-align: top;
	margin: 0 .15384615384615em .30769230769231em; // 2px / 13px and 4px / 13px
	border: 1px solid $color-border;
	padding: 0 1em;
}
