//
// note: this file is for use with Sass- http://sass-lang.com,
// don't use it as your live site stylesheet!
//


/* Links
   ========================================================================== */

a {
	-webkit-tap-highlight-color: rgba($color-link-hover, .5);
	color: $color-link;
	text-decoration: none;

	&:focus {
		outline: thin dotted $color-link-hover;
	}

	&:hover,
	&:active {
		outline: 0;
	}

	&:hover {
		color: $color-link-hover;
		text-decoration: underline;
	}

	&.busy {
		visibility: hidden;
	}
}
