//
// note: this file is for use with Sass- http://sass-lang.com,
// don't use it as your live site stylesheet!
//


/* Links
   ========================================================================== */

a {
	color: $color-link;
	text-decoration: none;

	&:focus {
		outline: thin dotted $color-link-hover;
	}

	&:hover {
		color: $color-link-hover;
		text-decoration: underline;
	}

	&:hover,
	&:active {
		outline: 0;
	}

	&.busy {
		visibility: hidden;
	}
}

.pophelp,
.pophelpsubtle {
	border: 1px solid #fff;
	padding: 0 .25em;
	font-weight: normal;
	background: #e5e5e5;
	@include border-radius(50%);
}

.txp-list thead th a.pophelp {
	display: inline;
	color: $color-link;

	&:hover {
		color: $color-link-hover;
		text-decoration: underline;
	}
}
