//
// note: this file is for use with Sass- http://sass-lang.com,
// don't use it as your live site stylesheet!
//


/* Lists
   ========================================================================== */

/* addresses padding set differently */
menu,
ol,
ul {
	padding: 0 0 0 2em;
}

/* remove margins from nested lists */
ul ul,
ol ol,
dl dl {
	margin: 0;
}

dd {
	margin: 0 0 0 2em;
}

dt {
	font-style: bold;
}

.plain-list {
	list-style: none;
	padding-left: 0;
}

.switcher-list {
	list-style: none;
	margin: 0 -1em;
	padding-left: 0;

	li {
		position: relative;
		border-top: 1px solid $color-gradient-to;
		padding: .38461em 3em .38461em 1em;
		white-space: nowrap;
		overflow: hidden;
		text-overflow: ellipsis;

		&:nth-child(odd) {
			background: $color-background;
		}

		&:first-child {
			border-top: 0;
		}

		&.active {
			background: lighten($color-link, 55%);
		}
	}
}

.switcher-action,
.switcher-list .destroy {
	position: absolute;
	z-index: 2;
	right: 1em;
}

.switcher-action {
	top: .38461em;
}

.switcher-list .destroy {
	top: .46153em;
}
