//
// note: this file is for use with Sass- http://sass-lang.com,
// don't use it as your live site stylesheet!
//


// clearfix - http://nicolasgallagher.com/micro-clearfix-hack/

@mixin clearfix {
	&:before, &:after {
		content: "";
		display: table;
	}
	&:after {
		clear: both;
	}
	*zoom: 1;
}

// SVG images with fallback for older browsers (via Modernizr)
		
@mixin svg-graphic($imgfilename, $imgtype, $imgwidth, $imgheight) {
	background-image: url('../img/' + $imgfilename + '.' + $imgtype);
	.svg & {
		background-image: url('../img/svg/' + $imgfilename + '.svg');
		-webkit-background-size: $imgwidth $imgheight;
		   -moz-background-size: $imgwidth $imgheight;
		     -o-background-size: $imgwidth $imgheight;
		        background-size: $imgwidth $imgheight;
	}
}

// higher resolution images for high resolution displays
		
@mixin hires-graphic($hdfile, $hdtype, $hdwidth, $hdheight) {
	$filename: $hdfile + '.' + $hdtype;
	$hdfilename: $hdfile + '@2x.' + $hdtype;
	background-image: url('../img/' + $filename);
	@media only screen and (-webkit-min-device-pixel-ratio: 1.5), only screen and (min-resolution: 144dpi) {
		background-image: url('../img/hidpi/' + $hdfilename) !important;
		-webkit-background-size: $hdwidth $hdheight;
		        background-size: $hdwidth $hdheight;
	}
}

// rounded corners all

@mixin border-radius($border-radius) {
	-moz-border-radius: $border-radius; // Firefox3.6, Camino2.1
	     border-radius: $border-radius;
}

// rounded corners top only

@mixin border-top-radius($border-radius) {
	@include border-top-left-radius($border-radius);
	@include border-top-right-radius($border-radius);
}

// rounded corners right only

@mixin border-right-radius($border-radius) {
	@include border-top-right-radius($border-radius);
	@include border-bottom-right-radius($border-radius);
}

// rounded corners bottom only

@mixin border-bottom-radius($border-radius) {
	@include border-bottom-right-radius($border-radius);
	@include border-bottom-left-radius($border-radius);
}

// rounded corners left only

@mixin border-left-radius($border-radius) {
	@include border-top-left-radius($border-radius);
	@include border-bottom-left-radius($border-radius);
}

// rounded corners top left only

@mixin border-top-left-radius($border-radius) {
	-moz-border-radius-topleft: $border-radius;
	border-top-left-radius: $border-radius;
}

// rounded corners top right only

@mixin border-top-right-radius($border-radius) {
	-moz-border-radius-topright: $border-radius;
	border-top-right-radius: $border-radius;
}

// rounded corners bottom right only

@mixin border-bottom-right-radius($border-radius) {
	-moz-border-radius-bottomright: $border-radius;
	border-bottom-right-radius: $border-radius;
}

// rounded corners bottom left only

@mixin border-bottom-left-radius($border-radius) {
	-moz-border-radius-bottomleft: $border-radius;
	border-bottom-left-radius: $border-radius;
}

// drop shadows

@mixin box-shadow($shadow: 0 0 .46153846153846em rgba(#000, .2)) {
	-webkit-box-shadow: $shadow;
	        box-shadow: $shadow;
}

@mixin box-shadow-multi($shadows...) {
	-webkit-box-shadow: $shadows;
	        box-shadow: $shadows;
}

// text shadows

@mixin text-shadow-light {
	text-shadow: 1px 1px 0 rgba(255, 255, 255, .4);
}
@mixin text-shadow-dark {
	text-shadow: -1px -1px 0 rgba(0, 0, 0, .25);
}

// import font face

@mixin font-face($fontfamily, $fontfile, $fontweight, $fontstyle) {
	$prefix: "../fonts/" + $fontfile;
	@font-face {
	font-family: $fontfamily;
	src: url($prefix + ".eot?#iefix")  format("embedded-opentype"),
		 url($prefix + ".woff") format("woff"),
		 url($prefix + ".ttf")  format("truetype"),
		 url($prefix + ".svg#" + $fontfile)  format("svg");
	font-weight: $fontweight;
	font-style: $fontstyle;
	}
}

// standard gradients

@mixin gradient($color-gradient-from, $color-gradient-to) {
	background: {
		color: $color-gradient-from;
		/* Konqueror */
		image:  -khtml-gradient(linear, left top, left bottom, from($color-gradient-from), to($color-gradient-to));
		/* Safari4+, Chrome */
		image: -webkit-gradient(linear, left top, left bottom, from($color-gradient-from), to($color-gradient-to));
		/* Safari5.1+, Chrome10+ */
		image: -webkit-linear-gradient($color-gradient-from, $color-gradient-to);
		/* Firefox3.6 */
		image:    -moz-linear-gradient($color-gradient-from, $color-gradient-to);
		/* Opera11.10+ */
		image:      -o-linear-gradient($color-gradient-from, $color-gradient-to);
		/* CSS3 Compliant */
		image:         linear-gradient($color-gradient-from, $color-gradient-to);
	}
}

// extra styling to gradients for buttons and alerts

@mixin gradient-bar($color-gradient-from, $color-gradient-to) {
	border-top: 1px solid $color-gradient-to;
	border-bottom: 1px solid darken($color-gradient-to, 12%);
	@include gradient($color-gradient-from, $color-gradient-to);
}

// css transitions

@mixin transition($transition) {
	-webkit-transition: $transition;
	   -moz-transition: $transition;
	     -o-transition: $transition;
	        transition: $transition;
}

// box sizing

@mixin box-sizing($box-sizing: border-box) {
	-webkit-box-sizing: $box-sizing;
	   -moz-box-sizing: $box-sizing;
	        box-sizing: $box-sizing;
}

// background clip

@mixin background-clip {
	-webkit-background-clip: padding;
	 -khtml-background-clip: padding-box;
	   -moz-background-clip: padding;
	        background-clip: padding-box;
}

// alternative to the text-indent:-9999px method

@mixin hide-text {
	text-indent: 110%;
	white-space: nowrap;
	overflow: hidden;
}
