//
// note: this file is for use with Sass and Compass - http://sass-lang.com, http://compass-style.org
// don't use it as your live site stylesheet!
//


// import all Compass core mixins

@import "compass";

// import additional Compass extensions

@import "singularitygs";



// for developent only: display CSS media query information
// http://johanbrook.com/design/css/debugging-css-media-queries/
// example: @include debugmessage("Mobile landscape media query fired");

@mixin debugmessage($message, $color: rgba(255, 255, 0, 0.75)) {
	&:before {
		content: $message;
		font-weight: bold;
		display: block;
		text-align: center;
		background: #{$color};
		position: absolute;
		right: 0;
		left: 0;
		top: 0;
		z-index: 9999;
	}
}

// SVG images with fallback for older browsers (via Modernizr)
		
@mixin svg-graphic($imgfilename, $imgtype, $imgwidth, $imgheight) {
	.no-svg & {
		background-image: url('../img/' + $imgfilename + '.' + $imgtype);
	}
	.svg & {
		background-image: url('../img/' + $imgfilename + '.svg');
		-webkit-background-size: $imgwidth $imgheight;
		   -moz-background-size: $imgwidth $imgheight;
		     -o-background-size: $imgwidth $imgheight;
		        background-size: $imgwidth $imgheight;
	}
}

// text shadows

@mixin text-shadow-light {
    @include single-text-shadow(rgba(#fff, .4), 1px, 1px, 0);
}
@mixin text-shadow-dark {
    @include single-text-shadow(rgba(#000, .1), -1px, -1px, 0);
}

// standard gradients

@mixin gradient($color-gradient-from, $color-gradient-to) {
	background: {
		color: $color-gradient-from;
		/* Safari5.1+, Chrome10+ */
		image: -webkit-linear-gradient($color-gradient-from, $color-gradient-to);
		/* Firefox3.6 */
		image:    -moz-linear-gradient($color-gradient-from, $color-gradient-to);
		/* Opera11.10+ */
		image:      -o-linear-gradient($color-gradient-from, $color-gradient-to);
		/* CSS3 Compliant */
		image:         linear-gradient($color-gradient-from, $color-gradient-to);
	}
}

// extra styling to gradients for buttons and alerts

@mixin gradient-bar($color-gradient-from, $color-gradient-to) {
	border-top: 1px solid $color-gradient-to;
	border-bottom: 1px solid darken($color-gradient-to, 12%);
	@include gradient($color-gradient-from, $color-gradient-to);
}

// css transitions

@mixin transition($transition) {
	-webkit-transition: $transition;
	   -moz-transition: $transition;
	     -o-transition: $transition;
	        transition: $transition;
}
