//
// note: this file is for use with Sass- http://sass-lang.com,
// don't use it as your live site stylesheet!
//


/* ==========================================================================
   Additional layout for devices < 769px
   ========================================================================== */


@media only screen and (max-width: 768px) { // may be changed to 'device-max-width' in final build


/* Layout (< 769px)
   ========================================================================== */

body {
	padding: 4em 1em 0;
	min-width: 294px;
}

body#page-setup {
	padding: 0 1em 0;
}


/* Header (< 769px)
   ========================================================================== */

.txp-header {
	padding: 0 1em;
	min-width: 294px;

	h1 {
		max-width: 50%;
		padding-left: $logo-small-width;
		@include svg-graphic($logo-small-filename, $logo-small-filetype, $logo-small-width, $logo-small-height);
	}
}

.txp-logout {
	right: 1em;
}


/* Navigation (< 769px)
   ========================================================================== */

/* show <select> version of navigation on small screen widths */
.txp-nav-select {
	display: inherit;
}

/* hide <ul> version of navigation on small screen widths */
.txp-nav {
	display: none;
}


/* Typography
   ========================================================================== */

.text-section {
	padding-top: 4em;
	background-position: 0 1.69230769230769em;
}


/* Content -> Categories page (< 769px)
   ========================================================================== */

.category-list {
	th,
	td,
	tr {
		display: block;
		margin: 0 auto;
		max-width: $standard-column;
	}

	td {
		width: 100%;
	}
}

.categories > div {
	margin: 0 0 1em 0;
}


/* Content -> Write page (< 769px)
   ========================================================================== */

#page-article .txp-columntable {
	th,
	td,
	tr {
		display: block;
	}
}

#article-col-1,
#article-col-2,
#article-main,
#article-tabs {
	width: 100%;
	margin: 0 auto;
	max-width: $standard-column;
}

#article-col-2 {
	clear: left;
}

#article-tabs {
	padding: 0 0 1em 0;
	height: 1.84615384615385em; // 24px / 13px
}

.view-mode {
	float: left;
	margin-right: .75em;
	margin-bottom: 0;
}

#configuration_content,
#tagbuild_links,
#supporting_content {
	margin: 0;
}

/* turn off features to optimise small screen size */
#textile_group,
#recent_group {
	display: none;
}


/* Presentation -> Pages, Forms, Styles pages shared (< 769px)
   ========================================================================== */

#content_switcher {
	margin: 0;
}

#page-page,
#page-form {
	.txp-columntable td.column:first-child {
		display: none;
	}
}

#page-page,
#page-form,
#page-css,
#page-section {
	h2 {
		margin-top: 1.625em;
	}

	> tr,
	.txp-columntable td.column {
		display: block;
		margin: 0 auto;
		width: 100%;
		max-width: $standard-column;
	}

	.txp-columntable td.column:last-child {
		width: 100%;
	}
}

}



/* ==========================================================================
   Additional layout for devices < 546px
   ========================================================================== */


@media only screen and (max-width: 545px) { // may be changed to 'device-max-width' in final build

body {
	padding-top: 7.23076923076923em; // 94px / 13px
}

#page-login,
#page-logout {
	padding-top: 4em;
}

.txp-header {
	position: absolute;

	h1 {
		max-width: 66%;
	}
}

/* show select version of navigation for smaller screens (and hide list version) */
.txp-nav-select {
	position: absolute;
	top: 2.46153846153846em;
	right: 0;
	left: 0;
	z-index: 10010;
	border-top: 1px solid lighten($color-highlight-box, 5%);
	padding: .53846153846154em 1em;
	background: $color-highlight-box;
	@include box-shadow(0 .15384615384615em .23076923076923em rgba(#000, .15));
}

.txp-edit,
.txp-login,
.txp-setup {
	width: inherit;
}

.edit-label,
.edit-value,
.login-label,
.login-value {
	float: none;
	width: 100%;
}

.edit-value,
.login-value {
	input,
	select {
		margin-top: 0;
		margin-bottom: 0;
	}
}

#article-main #body {
	height: 17.4615384615385em; // 227px / 13px
}

#excerpt {
	height: 4.38461538461538em; // 57px / 13px
}

#page-page,
#page-form,
#page-css {
	textarea.code {
		height: 17.4615384615385em; // 227px / 13px
	}
}

/* remove float from txp-navigation elements */
.txp-navigation {
	text-align: center;

	.pageby {
		float: none;
	}

	.prev-next {
		float: none;
	}
}

div.plugin-help,
div.text-column {
	width: 100%;
}

.progress-meter {
	ol {
		display: block;
		margin-bottom: 1em;
	}

	li {
		float: none;
		display: block;
		margin: 0;

		&:after {
			display: none;
		}
	}
}

}
