//
// note: this file is for use with Sass- http://sass-lang.com,
// don't use it as your live site stylesheet!
//


/* Twisties
   ========================================================================== */

h3.lever,
.summary-details > h3 {
	position: relative;
	font-size: 1em; // 13px
	font-weight: bold;
	line-height: 2em; // 26px / 13px
	margin: 0;
	padding: 0 2em 0 1em;
	height: 2em; // 26px / 13px
	@include text-shadow-light;
	@include box-shadow(inset 0 1px 0 0 rgba(#fff, .25));
	@include gradient-bar($color-gradient-from, $color-gradient-to)
}

h3.lever a {
	display: block;
	color: $color-text;
	
	&:hover {
		color: $color-text;
		text-decoration: none;
	}

	&:after {
		position: absolute;
		content: "&#8594;";
		top: .69230769230769em;
		right: .76923076923077em;
		z-index: 10;
		width: 0;
		height: 0;
		display: inline-block;
		vertical-align: top;
		opacity: .5;
		border-left: .30769230769231em solid $color-text;
		border-right: 0;
		border-top: .30769230769231em solid transparent;
		border-bottom: .30769230769231em solid transparent;
		@include hide-text;
	}

	&:hover:after {
		opacity: 1;
	}
}

h3.lever.expanded a:after {
	content: "&#8595;";
	top: .84615384615385em;
	right: .69230769230769em;
	border-left: .30769230769231em solid transparent;
	border-right: .30769230769231em solid transparent;
	border-top: .30769230769231em solid $color-text;
	border-bottom: 0;
}

.toggle,
.summary-details > div {
	padding: 0 1em;
}
