//
// note: this file is for use with Sass- http://sass-lang.com,
// don't use it as your live site stylesheet!
//


/* Typography
   ========================================================================== */

body {
	font-family: $font-body;
	font-size: $basefont;
	line-height: $baseline;
}

h1 {
	font-size: 2em; // 26px / 13px
	line-height: 1.23076923076923; // 32px / 26px
	margin: 0 0 .5em; // 13px / 26px

	.pophelp {
		font-size: .5em; // 13px / 26px
	}
}

h2 {
	font-size: 1.38461538461538em; // 18px / 13px
	margin: 0 0 .72222222222222em; // 13px / 18px

	.pophelp {
		font-size: .72222222222222em; // 13px / 18px
	}
}

h3 {
	font-size: 1.15384615384615em; // 15px / 13px
	margin: 0 0 .86666666666667em; // 13px / 15px

	.txp-grid-cell & {
		margin-top: .86666666666667em;
	}
}

h4,
h5,
h6 {
	font-size: 1em; // 13px
	margin: 0 0 1em;
}

/* addresses style set to 'bolder' in Firefox3-4, Safari4-5, Chrome */
b,
strong {
	font-weight: bold;
}

blockquote {
	margin: 1em 2em;
}

dfn,
q,
var {
	font-style: italic;
	background: $color-highlight-box;
}

/* addresses styling not present in Safari5, Chrome */
dfn {
	font-style: italic;
}

/* addresses CSS quotes not supported in IE7, addresses quote property not supported in Safari4 */
q {
	quotes: none;

	&:before,
	&:after {
		content: "";
		content: none;
	}
}

var {
	padding: 0 .23076923076923em;
	@include border-radius(.23076923076923em); // 3px / 13px
	font-weight: bold;
}

/* addresses styling not present in IE8-9, Safari5, Chrome */
abbr[title],
dfn[title] {
	border-bottom: 1px dotted;
	cursor: help;
}

/* corrects font family set oddly in Safari4-5, Chrome - en.wikipedia.org/wiki/User:Davidgothberg/Test59 */
pre,
code,
kbd,
samp {
	font-family: monospace, monospace;
	font-size: 1em;
}

pre,
code,
kbd,
samp,
.code,
#diagnostics-detail {
	font-family: $font-mono;
}

code,
kbd,
samp {
	border: 1px solid lighten($color-border, 9%);
	padding: 0 .23076923076923em;
	@include border-radius(.23076923076923em); // 3px / 13px
	background: $color-background-box;
}

pre {
	overflow-x: auto;
	border: 1px solid lighten($color-border, 9%);
	padding: 1em;
	@include border-radius($border-radius);
	background: $color-background-box;
	tab-size: 4; // set tab size to 4 spaces
}

pre code,
.code code,
code.body,
code.excerpt {
	border: 0;
	padding: 0;
	background: transparent;
}

/* prevents sub and sup affecting line-height in all browsers */
sub,
sup {
	font-size: $smallfont;
	line-height: 0;
	position: relative;
	vertical-align: baseline;
}
sup {
	top: -.5em;
}
sub {
	bottom: -.25em;
}

small,
.txp-footer {
	font-size: $smallfont;
}

hr {
	margin: 1.5em 0;
	border-color: $color-border;
	border-style: solid;
}

.pophelp,
.pophelpsubtle {
	border: 1px solid #fff;
	padding: 0 .23076923076923em;
	font-weight: normal;
	background: #e5e5e5;
	@include border-radius(.53846153846154em);
}

.txp-list thead th a.pophelp {
	display: inline;
	color: $color-link;

	&:hover {
		color: $color-link-hover;
		text-decoration: underline;
	}
}
