//
// note: this file is for use with Sass- http://sass-lang.com,
// don't use it as your live site stylesheet!
//


/* Typography
   ========================================================================== */

body {
	font-family: $font-body;
	font-size: $basefont;
	line-height: $baseline;
}

h1 {
	font-size: 2em; // 26px / 13px
	line-height: 1.23076923076923; // 32px / 26px
	margin: 0 0 .5em; // 13px / 26px

	.pophelp {
		font-size: .5em; // 13px / 26px
	}
}

h2 {
	font-size: 1.38461538461538em; // 18px / 13px
	margin: 0 0 .72222222222222em; // 13px / 18px

	.pophelp {
		font-size: .72222222222222em; // 13px / 18px
	}
}

h3 {
	font-size: 1.15384615384615em; // 15px / 13px
	margin: 0 0 .86666666666667em; // 13px / 15px

	.txp-grid-cell & {
		margin-top: .86666666666667em;
	}
}

h4,
h5,
h6 {
	font-size: 1em; // 13px
	margin: 0 0 1em;
}

/* addresses style set to `bolder` in Firefox4+, Safari5, and Chrome */
b,
strong {
	font-weight: bold;
}

address {
	margin: 1em 0;
}

blockquote {
	margin: 1em 2em;
}

/* sets consistent quote types */
q {
	quotes: "\201C" "\201D" "\2018" "\2019";
}

/* addresses styling not present in Safari5 and Chrome */
dfn {
	font-style: italic;
}

/* addresses styling not present in IE8-9, Safari5, Chrome */
abbr[title],
dfn[title] {
	border-bottom: 1px dotted;
	cursor: help;
}

mark,
var {
	padding: 0 .23076923076923em; // 3px / 13px
	@include border-radius(.23076923076923em); // 3px / 13px
	color: $color-text;
	background: $color-highlight-box;
}

/* corrects font size set oddly in Safari5 and Chrome */
pre,
code,
kbd,
samp {
	font-size: 1em;
}

pre,
code,
kbd,
samp,
.code,
#diagnostics-detail {
	font-family: $font-mono;
}

code,
kbd,
samp {
	border: 1px solid lighten($color-border, 9%);
	padding: 0 .23076923076923em;
	@include border-radius(.23076923076923em); // 3px / 13px
	background: $color-background-box;
}

pre {
	overflow-x: auto;
	border: 1px solid lighten($color-border, 9%);
	padding: 1em;
	@include border-radius($border-radius);
	background: $color-background-box;
	tab-size: 4; // set tab size to 4 spaces
}

pre code,
.code code,
code.body,
code.excerpt {
	border: 0;
	padding: 0;
	background: none;
}

/* prevents sub and sup affecting line height in all browsers */
sub,
sup {
	font-size: $smallfont;
	line-height: 0;
	position: relative;
	vertical-align: baseline;
}
sup {
	top: -.5em;
}
sub {
	bottom: -.25em;
}

small,
figcaption,
.txp-footer {
	font-size: $smallfont;
}

hr {
	margin: 1.5em 0;
	border-color: $color-border;
	border-style: solid;
}
