//
// note: this file is for use with Sass- http://sass-lang.com,
// don't use it as your live site stylesheet!
//


// import Sass partials
@import "variables", "mixins";


/* Google Code Prettify
   ========================================================================== */

/* markup colouring */
.atn,
.dec,
.typ,
.var {
	color: teal;
}
.atv,
.str {
	color: #d14;
}
.clo,
.opn,
.pun {
	color: #93a1a1;
}
.com {
	color: #93a1a1;
}

.fun {
	color: #dc322f;
}
.kwd {
	color: #1e347b;
}
.lit {
	color: #195f91;
}
.pln {
	color: #48484c;
}
.tag {
	color: #1e347b;
}

/* Google Code Prettify - line number colouring */
.linenums {
	padding-left: 2em;

	ol {
		margin: 0;
		@include box-shadow(
			$shadow-1: inset #f6f6f6 1.85714em 0px 0px,
			$shadow-2: inset #e3e3e3 1.92857em 0px 0px
		);
	}

	li {
		padding-left: 1em;
		color: darken($color-border, 8%);
	}
}
