// note: this file is for use with Sass - http://sass-lang.com, don't use it as your live site stylesheet!

// import Sass partials
@import "variables", "mixins";


/* Light tint backgrounds */

#configuration_content .plain-list,
#tagbuild_links .plain-list,
#content_switcher,
#section_container .section {
    background: $color-background-box;
}


/* Tabs */

.tabs a {
    color: $color-text;
}

.tabs .tabup a {
    background:#ffda44;
}

.tabs .tabup a:hover {
    background:#fcdd62;
}

.tabs .tabdown2 a {
    background:#c7d3d8;
}

.tabs .tabdown2 a:hover {
    background:#d2dce0;
}


/* rss_admin_db_manager */

#page-rss_db_man #list tr[style="background-color: #eee;"],
#page-rss_db_bk #list tr[style="background-color: #eee;"] {
    background: $color-background-box !important;
}
