// note: this file is for use with Sass - http://sass-lang.com, don't use it as your live site stylesheet!

// import Sass partials
@import "variables", "mixins";



/* ------------------- DEFAULT COLORSCHEME ------------------- */


/* General */

#article-main .author {
    color: $color-text-footnote;
}


/* Light tint backgrounds */

#configuration_content .plain-list,
#tagbuild_links .plain-list,
#page-login .login-pane,
#page-logout .login-pane,
.category-list div,
#list .even,
#tagbuild_links,
#content_switcher,
#supporting_content p,
#section_container .section,
#page-arc_admin_twitter #list tr:nth-of-type(2n),
#page-bot_privs_tab #list tr:nth-of-type(2n) {
    background: #f7f7f7;
}


/* Tables */

#list tfoot {
    border-top:1px solid #f7f7f7;
}

#list th a:hover {
    color:#ffc010;
}

#list thead .desc {
    background: #555 url("../img/twisty-arrow-list.gif") no-repeat right -31px;
}

#list thead .asc {
    background: #555 url("../img/twisty-arrow-list.gif") no-repeat right -4px;
}

#list .odd {
    background: #fff;
}


/* Sections page */

#section_container .section {
    border-top:2px solid #fff;
}

#section_container #list .label,
#section_container #list .actions,
#section_container #list .section > td:last-child {
    background:#fff;
}


/* Forms page */

.lever a.pophelp {
    background:#e5eaec;
	background:-webkit-gradient(linear,left top,left bottom,from(#e5eaec),to(#cad1d4)); /* Safari 4+, Chrome */
	background:-webkit-linear-gradient(top,#e5eaec,#cad1d4); /* Safari 5.1+, Chrome 10+ */
	background:   -moz-linear-gradient(top,#e5eaec,#cad1d4); /* Firefox 3.6 */
	background:    -ms-linear-gradient(top,#e5eaec,#cad1d4); /* IE10 */
	background:     -o-linear-gradient(top,#e5eaec,#cad1d4); /* Opera 11.10+ */
	background:        linear-gradient(top,#e5eaec,#cad1d4);
		filter:progid:DXImageTransform.Microsoft.gradient(startColorStr='#e5eaec',EndColorStr='#cad1d4'); /* IE7-IE9 */
}


/* Pages page */

#tagbuild_links h2,
#content_switcher h2 {
    color:#fff;
    background:#555;
}


/* Tabs */

.tabs a {
    color: $color-text;
}

.tabs .tabup a {
    background:#ffda44;
}

.tabs .tabup a:hover {
    background:#fcdd62;
}

.tabs .tabdown2 a {
    background:#c7d3d8;
}

.tabs .tabdown2 a:hover {
    background:#d2dce0;
}


/* rss_admin_db_manager */

#page-rss_db_man #list tr[style="background-color: #eee;"],
#page-rss_db_bk #list tr[style="background-color: #eee;"] {
    background:#f7f7f7 !important;
}
