// note: this file is for use with Sass - http://sass-lang.com, don't use it as your live site stylesheet!

// import Sass partials
@import "variables", "mixins";




/* PROPOSED ADDITIONS TO THE TEXTAPTTERN CORE CLASSES (prefixed with 'expermental-' for now) */


/* Sections */

.experimental-text-section {
    padding-top: 5em;
    background: url("../img/separator.gif") repeat-x 0 2.15384615384615em; // 28px / 13px
}

@media only screen and (max-width: 768px) { // may be changed to 'device-max-width' in final build

.experimental-text-section {
    padding-top: 4em;
    background-position: 0 1.69230769230769em;
}

}


/* Image alignments */

.experimental-align-left {
    float: left;
    margin: 1em 1em 1em 0;
}

.experimental-align-right {
    float: right;
    margin: 1em 0 1em 1em;
}

.experimental-align-center {
    display: block;
    margin: 1em auto;
}


/* Input field widths */

input.experimental-input-medium {
    width: 50%;
    max-width: 11.6153846153846em; // 151px / 13px
}

input.experimental-input-small {
    width: 25%;
    max-width: 5.76923076923077em; // 75px / 13px
}


/* icons */

.icon {
    @include inline-block;
    width: 1.69230769230769em; // 22px / 13px
    height: 1.69230769230769em; // 22px / 13px
    @include hide-text;
    margin: 0 .5em .5em 0;
    border: 1px solid lighten($color-border, 9%);
    @include border-radius;
    background: {
        color: $color-background-box;
        repeat: no-repeat;
    }
    @include svg-graphic(icon-sprite, png, 27.0769230769231em, 3.38461538461538em); // 352px / 13px, 44px / 13px
    &:hover {
        border-color: $color-border;
    }
}

.icon-write     { background-position: 0 0; }
.icon-code      { background-position: -1.69230769230769em 0; }
.icon-view      { background-position: -3.38461538461538em 0; }
.icon-mail      { background-position: -5.07692307692308em 0; }
.icon-plus      { background-position: -6.76923076923077em 0; }
.icon-minus     { background-position: -8.46153846153846em 0; }
.icon-close     { background-position: -10.1538461538461em 0; }
.icon-ban       { background-position: -11.8461538461539em 0; }
.icon-warn      { background-position: -13.5384615384615em 0; }
.icon-search    { background-position: -15.2307692307692em 0; }
.icon-yes       { background-position: -16.9230769230769em 0; }
.icon-no        { background-position: -18.6153846153846em 0; }
.icon-time      { background-position: -20.3076923076923em 0; }
.icon-cog       { background-position: -22em 0; }
.icon-repeat    { background-position: -23.6923076923077em 0; }
.icon-off       { background-position: -25.3846153846154em 0; }

.icon-arrow-n   { background-position: 0 -1.69230769230769em; }
.icon-arrow-e   { background-position: -1.69230769230769em -1.69230769230769em; }
.icon-arrow-s   { background-position: -3.38461538461538em -1.69230769230769em; }
.icon-arrow-w   { background-position: -5.07692307692308em -1.69230769230769em; }
.icon-star      { background-position: -6.76923076923077em -1.69230769230769em; }
.icon-refresh   { background-position: -8.46153846153846em -1.69230769230769em; }
.icon-list      { background-position: -10.1538461538461em -1.69230769230769em; }
.icon-grid      { background-position: -11.8461538461539em -1.69230769230769em; }
.icon-image     { background-position: -13.5384615384615em -1.69230769230769em; }
.icon-user      { background-position: -15.2307692307692em -1.69230769230769em; }
.icon-target    { background-position: -16.9230769230769em -1.69230769230769em; }
.icon-comment   { background-position: -18.6153846153846em -1.69230769230769em; }
.icon-trash     { background-position: -20.3076923076923em -1.69230769230769em; }
.icon-favourite { background-position: -22em -1.69230769230769em; }
.icon-folder    { background-position: -23.6923076923077em -1.69230769230769em; }
.icon-file      { background-position: -25.3846153846154em -1.69230769230769em; }
