// note: this file is for use with Sass - http://sass-lang.com, don't use it as your live site stylesheet!

// import Sass partials
@import "variables", "mixins";




/* PROPOSED ADDITIONS TO THE TEXTAPTTERN CORE CLASSES (prefixed with 'expermental-' for now) */


/* Sections */

.experimental-text-section {
	padding-top: 5em;
	background: url("../img/separator.gif") repeat-x 0 2.15384615384615em; // 28px / 13px
}

@media only screen and (max-width: 768px) { // may be changed to 'device-max-width' in final build

.experimental-text-section {
	padding-top: 4em;
	background-position: 0 1.69230769230769em;
}

}


/* icons */

a.icon {
	@include inline-block;
	width: 22px; // 22px / 13px
	height: 22px; // 22px / 13px
	margin: 0 .5em .5em 0;
	border: 1px solid lighten($color-border, 9%);
	@include border-radius;
	background-color: $color-background-box;
	&:hover {
		border-color: $color-border;
	}
	b {
		display: block;
		width: 22px; // 22px / 13px
		height: 22px; // 22px / 13px
		@include hide-text;
		@include svg-graphic(icon-sprite, png, 352px, 88px); // 352px / 13px, 88px / 13px
	}
}

button.icon {
	padding-left: 30px; // 32px / 13px
	b {
		position: absolute;
		top: 0;
		left: 6px; // 6px / 13px
		z-index: 2;
		width: 22px; // 22px / 13px
		height: 22px; // 22px / 13px
		@include hide-text;
		@include svg-graphic(icon-sprite, png, 352px, 88px); // 352px / 13px, 88px / 13px
	}
}

button.publish.icon b {
	top: 4px; // 4px / 13px
}

.icon-write		{ background-position: 0 0; }
.icon-code		{ background-position: -22px 0; }
.icon-view		{ background-position: -44px 0; }
.icon-mail		{ background-position: -66px 0; }
.icon-plus		{ background-position: -88px 0; }
.icon-minus		{ background-position: -110px 0; }
.icon-close		{ background-position: -132px 0; }
.icon-ban		{ background-position: -154px 0; }
.icon-warn		{ background-position: -176px 0; }
.icon-search	{ background-position: -198px 0; }
.icon-yes		{ background-position: -220px 0; }
.icon-no		{ background-position: -242px 0; }
.icon-time		{ background-position: -264px 0; }
.icon-cog		{ background-position: -286px 0; }
.icon-repeat	{ background-position: -308px 0; }
.icon-off		{ background-position: -330px 0; }

.icon-arrow-n	{ background-position: 0 -22px }
.icon-arrow-e	{ background-position: -22px -22px; }
.icon-arrow-s	{ background-position: -44px -22px; }
.icon-arrow-w	{ background-position: -66px -22px; }
.icon-star		{ background-position: -88px -22px; }
.icon-refresh	{ background-position: -110px -22px; }
.icon-list		{ background-position: -132px -22px; }
.icon-grid		{ background-position: -154px -22px; }
.icon-image		{ background-position: -176px -22px; }
.icon-user		{ background-position: -198px -22px; }
.icon-target	{ background-position: -220px -22px; }
.icon-comment	{ background-position: -242px -22px; }
.icon-trash		{ background-position: -264px -22px; }
.icon-favourite	{ background-position: -286px -22px; }
.icon-folder	{ background-position: -308px -22px; }
.icon-file		{ background-position: -330px -22px; }

.icon-attach	{ background-position: 0 -44px; }
