// note: this file is for use with Sass - http://sass-lang.com, don't use it as your live site stylesheet!

// import Sass partials
@import "variables", "mixins";




/* Proposed improvements to the Textpattern core classes (prefixed with 'expermental-' for now) */


.experimental-align-left {
    float: left;
    margin: 1em 1em 1em 0;
}

.experimental-align-right {
    float: right;
    margin: 1em 0 1em 1em;
}

.experimental-align-center {
    display: block;
    margin: 1em auto;
}

input.experimental-input-medium {
    width: 50%;
    max-width: 11.6153846153846em; // 151px / 13px
}

input.experimental-input-small {
    width: 25%;
    max-width: 5.76923076923077em; // 75px / 13px
}
