//
// note: this file is for use with Sass- http://sass-lang.com,
// don't use it as your live site stylesheet!
//


// import Sass partials
@import "variables", "mixins";


/* combined and abridged version of Normalize and Formalize
   Normalize original authors: Nicolas Gallagher and Jonathan Neal - http://necolas.github.com/normalize.css/
   Formalize original author: Nathan Smith - http://formalize.me/ */


/* Base
   ========================================================================== */

/* 1. corrects text resizing oddly in IE7 when body font-size is set using em units
   2. prevents iOS text size adjust after orientation change, without disabling user zoom
      www.456bereastreet.com/archive/201012/controlling_text_size_in_safari_for_ios_without_disabling_user_zoom/ */
html {
	/* 1 */
	font-size: 100%;
	font-family: $font-body;
	/* 2 */
	-webkit-text-size-adjust: 100%;
		-ms-text-size-adjust: 100%;
}

/* addresses margins handled incorrectly in IE7 */
body {
	margin: 0;
	font-size: $basefont;
	line-height: $baseline;
}


/* Links
   ========================================================================== */

a {
	&:focus {
		outline: thin dotted $color-link-hover;
	}

	&:hover,
	&:active {
		outline: 0;
	}
}


/* Typography
   ========================================================================== */

/* addresses margins set differently in IE7 */
p,
pre {
	margin: 1em 0;
}

/* addresses styling not present in IE7-9, Safari5, Chrome */
abbr[title],
dfn[title] {
	border-bottom: 1px dotted;
	cursor: help;
}

/* addresses style set to 'bolder' in Firefox3-4, Safari4-5, Chrome */
b,
strong {
	font-weight: bold;
}

blockquote {
	margin: 1em 2em;
}

/* addresses CSS quotes not supported in IE7, addresses quote property not supported in Safari4 */
q {
	quotes: none;

	&:before,
	&:after {
		content: "";
		content: none;
	}
}

/* addresses styling not present in Safari5, Chrome */
dfn {
	font-style: italic;
}

/* corrects font family set oddly in Safari4-5, Chrome - en.wikipedia.org/wiki/User:Davidgothberg/Test59 */
pre,
code,
kbd,
samp {
	font-family: monospace, monospace;
	font-size: 1em;
}

/* prevents sub and sup affecting line-height in all browsers - gist.github.com/413930 */
sub,
sup {
	font-size: $smallfont;
	line-height: 0;
	position: relative;
	vertical-align: baseline;
}
sup {
	top: -.5em;
}
sub {
	bottom: -.25em;
}


/* Lists
   ========================================================================== */

/* addresses margins set differently in IE7 */
dl,
ol,
ul {
	margin: 1em 0;
}
dd {
	margin: 0 0 0 2em;
}

/* remove margins from nested lists */
dl dl,
ul ul,
ol ol {
	margin: 0;
}

/* addresses paddings set differently in IE7 */
ol,
ul {
	padding: 0 0 0 2em;
}

dt {
	font-weight: bold;
}


/* Embedded content
   ========================================================================== */

/* 1. removes border when inside 'a' element in IE7-9, Firefox3
   2. improves image quality when scaled in IE7 */
img {
	/* 1 */
	border: 0;
	/* 2 */
	-ms-interpolation-mode: bicubic;
}

/* corrects overflow displayed oddly in IE9 */
svg:not(:root) {
	overflow: hidden;
}


/* Tables
   ========================================================================== */

/* remove most spacing between table cells */
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* make table cells align top and left by default, remove any cellpadding */
th,
td {
	vertical-align: top;
	text-align: left;
	padding: 0;
}


/* Forms
   ========================================================================== */

/* corrects margin displayed oddly in IE7 */
form {
	margin: 0;
}

/* 1. corrects color not being inherited in IE7-9
   2. corrects text not wrapping in FF3 
   3. corrects alignment displayed oddly in IE7 */
legend {
	/* 1 */
	border: 0;
	padding: 0;
	/* 2 */
	white-space: normal;
	/* 3 */
	*margin-right: 7px;
	*margin-left: -7px;
}

/* added via JS to <textarea> and class="input_full" (applies only to IE7, other browsers don't need it) */
.input_full_wrap {
	display: block;
}

button,
input[type="reset"],
input[type="submit"],
input[type="button"],
.txp-logout a,
.action-create a,
.navlink,
.navlink-active,
.txp-buttons a {
	-webkit-appearance: none;
	@include border-radius;
	@include background-clip;
	cursor: pointer;
	color: $color-text;
	font-family: $font-body;
	font-size: .92307692307692em;  // 12px / 13px
	line-height: 1.33333333333333em; // 16px / 12px
	text-decoration: none;
	outline: 0;
	margin: 0;
	padding: .25em .75em; // 3px / 12px + 9px / 12px
	@include box-shadow(inset 0 1px 0 0 rgba(#fff, .25));
	@include text-shadow-light;
	width: auto;
	border: 1px solid #bbb;
	border-bottom-color: darken(#bbb, 10%);
	@include gradient(#eee, #bbb);
	@include inline-block;
	/* IE7 vertical alignment fix */
	*padding-top: 2px;
	*padding-bottom: 0;
	*overflow: visible;

	&:hover {
		color: $color-text;
		text-decoration: none;
		@include gradient(lighten(#eee, 4%), lighten(#bbb, 4%));
	}

	&:active {
		@include gradient(lighten(#bbb, 4%), lighten(#eee, 4%));
	}
}

input[type="reset"],
input[type="submit"],
input[type="button"] {
	height: 2em;
}

.navlink-disabled {
	@include border-radius;
	font-size: .92307692307692em;  // 12px / 13px
	line-height: 1.33333333333333em; // 16px / 12px
	border: 1px solid;
	padding: .30769230769231em .75em;
	@include inline-block;
}

.nav-tertiary .navlink-active {
	@include gradient(lighten(#bbb, 4%), lighten(#eee, 4%));
}

/* IE7 button fixes */
button {
	*padding-top: 1px;
	*padding-bottom: 1px;
}

textarea,
select,
input[type="password"],
input[type="text"] {
	-webkit-appearance: none;
	@include border-radius(0);
	@include background-clip;
	font-family: $font-body;
	font-size: 1em;
	line-height: 1.46153846153846; // 19px / 13px
	color: $color-text;
	background-color: $color-background;
	margin: 0;
	border: 1px solid $color-border;
	padding: .15384615384615em .38461538461538em;
	outline: 0;
	height: 1.84615384615385em; // 24px / 13px
	max-width: 100%;
	@include box-sizing;
	/* IE7 box-sizing workaround */
	*padding-right: 0;
	*padding-left: 0;
	/* IE7 vertical alignment fix */
	*padding-top: 1px;
	*padding-bottom: 4px;
	*height: auto;
}

button:focus,
input:focus,
select:focus,
textarea:focus,
.txp-logout a:focus {
	@include box-shadow(0 0 7px $color-link-hover);
	/* Opera */
	z-index: 1;
}

input[type="file"],
input[type="radio"],
input[type="checkbox"] {
	&:focus,
	&:active {
		@include box-shadow(none);
	}
}

button[disabled],
input[disabled],
select[disabled],
select[disabled] option,
select[disabled] optgroup,
textarea[disabled],
.navlink-disabled {
	opacity: 1;
	border-color: $color-gradient-to !important;
	background-color: #eee !important;
	text-shadow: none !important;
	@include box-shadow(none);
	 -khtml-user-select: none;
	-webkit-user-select: none;
	   -moz-user-select: -moz-none;
			user-select: none;
	color: $color-text-footnote !important;
	cursor: default;
}

button[disabled],
input[disabled],
.navlink-disabled {
	background-image: none !important;
}

textarea {
	min-height: 4.38461538461538em; // 57px / 13px
	resize: vertical;
	width: 100%;
	/* removes default vertical scrollbar in IE7-9 */
	overflow: auto;
	/* improves readability and alignment in all browsers */
	vertical-align: top;
}

textarea,
select[size],
select[multiple] {
	height: auto;
}

select[size="0"],
select[size="1"] {
	height: 1.8em;
	/* IE7 */
	*height: auto;
}

optgroup {
	font-family: $font-body; // font family repeated, for Firefox
	font-style: normal;
	font-weight: normal;
	color: $color-text;

	&::-moz-focus-inner {
		border: 0;
		padding: 0;
	}
}

/* tweaks for Safari, Chrome */
@media (-webkit-min-device-pixel-ratio: 0) {

	select[size],
	select[multiple],
	select[multiple][size] {
		background-image: none;
		padding-right: .23076923076923em;
	}

	select,
	select[size="0"],
	select[size="1"] {
		background: $color-background url("../img/svg/select_arrow.svg") no-repeat right center;
		padding-right: 2em;
		-webkit-background-size: 1em .30769230769231em;
	            background-size: 1em .30769230769231em;
	}

}

/* addresses box sizing set to content-box and excess padding in IE7-9 */
input[type="checkbox"],
input[type="radio"] {
	padding: 0;
	@include box-sizing;
	*height: 1em;
	*width: 1em;
	*position: relative;
	*top: -3px;
}

/* suppress red glow that Firefox adds to form fields by default, even when user is still typing
   and kill phantom spacing and dotted border that appears in Firefox */
input,
button,
select,
textarea {
	&:invalid {
		@include box-shadow(none);
	}

	&::-moz-focus-inner {
		border: 0;
		padding: 0;
	}
}
