// note: this file is for use with Sass - http://sass-lang.com, don't use it as your live site stylesheet!

// import Sass partials
@import "variables", "mixins";

/* import rules to make base rendering consistent for all browsers */
@import url("reset.css");




/* =============================================================================
   IMPORT CUSTOM CSS FILE
   ========================================================================== */
/* See the 'readme.txt' for instructions on how to use this file */
@import url("custom.css");




/* =============================================================================
   Clearfix
   ========================================================================== */

.clearfix {
    @include clearfix;
}


/* =============================================================================
   Links
   ========================================================================== */

a {
    -webkit-tap-highlight-color: rgba($color-link-hover,.5);
    color: $color-link;
    text-decoration: none;
    &:hover {
        color: $color-link-hover;
        text-decoration: underline;
    }
}


/* =============================================================================
   Typography
   ========================================================================== */

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0 0 1em;
    font-size: 1em;
}

small,
sub,
sup,
.pagejump {
    font-size: $smallfont;
}


/* =============================================================================
   Messages
   ========================================================================== */

#messagepane {
    position: absolute;
    top: 0;
    left: 50%;
    z-index: 1;
    width: 768px;
    margin-left: -384px;
    font-weight: bold;
    text-align: center;
}


/* =============================================================================
   Twistees
   ========================================================================== */

legend {
    display: block;
    width: 100%;
    margin: 0;
    padding: 1px 1em 0;
    font-weight: bold;
    line-height: 2em;
    @include text-shadow-light;
    @include box-shadow(rgba(#fff, .25) 0 1px 0 0 inset);
    @include gradient-bar;
    @include box-sizing;
}

.lever {
    @include text-shadow-light;
    @include box-shadow(rgba(#fff, .25) 0 1px 0 0 inset);
    @include gradient-bar;
}

.lever {
    font-weight: bold;
    margin: 0;
    height: 2em;
    line-height: 2em;
    position: relative;
}

.lever a {
    color: $color-text;
    padding: 0 1em 0 1.53846153846154em;
    float: left;
    display: block;
    width: 92.5%;
    background: url("../img/twisty-arrow.gif") no-repeat .5em 0;
}

.lever a:hover {
    text-decoration: none;
}

.expanded a {
    background-position: 5px -28px;
}

.toggle {
    padding: 1em;
}


/* =============================================================================
   Forms
   ========================================================================== */

fieldset {
    position: relative;
    margin: -1em 0 1em 0;
    border: 1px solid lighten($color-border, 9%);
    padding: 1em 0 0 0;
    background-color: #f7f7f7;
}

fieldset > * {
    margin-right: 1em;
    margin-left: 1em;
}

fieldset > legend {
    position: relative;
    top: 1em;
    margin-right: 0;
    margin-left: 0;
}


label,
.pophelp,
.category-edit,
.section-edit {
    display: inline-block;
    /* IE 7 */
    *zoom: 1;
    *display: inline;
}

input[type="radio"],
input[type="checkbox"] {
    margin-right: .5em;
}

#configuration_content input[type="text"],
#configuration_content input[type="password"],
#configuration_content textarea,
#configuration_content select,
#main_content textarea,
#main_content input[type="text"],
#main_content input[type="password"],
#supporting_content select,
#comment-invite,
.login-pane input[type="text"],
.login-pane input[type="password"],
.categories div input[type="text"] {
    width: 100%;
}

.txp-control-panel input[type="text"],
.txp-control-panel input[type="password"],
.txp-control-panel textarea,
.edit-pane input[type="text"],
.edit-pane input[type="password"],
.edit-pane textarea {
    width: 250px;
}

#article-main .title input {
    width: 80%;
}

#content_switcher input[type="checkbox"],
#content_switcher #list input[type="submit"] {
    margin: 0;
    float: right;
}


/* =============================================================================
   Buttons
   ========================================================================== */

a.article-view {
    float:right;
}

.id a.article-view {
    float:none;
}

#page-login input[type="submit"],
#page-logout input[type="submit"] {
    margin-bottom:1em;
}

.txp-control-panel input[type="submit"] {
    margin-left:9px;
}

#list tfoot .multi-edit input[type="submit"] {
    margin:0;
}

input[name="form_preview"] {
    margin-bottom:1em;
}

.actions input[type="submit"],
#content_switcher .list .smallerbox,
#page-arc_admin_twitter .smallerbox,
#image-thumbnail .smallerbox,
#ql-close {

}

.navlink-disabled {
    padding:.1em 1em;
    display:inline-block;
    zoom:1; /* zoom and *display = ie6, ie7 hack for display:inline-block */
    *display:inline;
    vertical-align:baseline;
    margin:0 3px 0 0;
    outline:0;
    text-align:center;
    color:#fff;
    border:solid 1px #d2d2d2;
    @include border-radius;
    -webkit-box-shadow:0 1px 2px rgba(0,0,0,.2);
            box-shadow:0 1px 2px rgba(0,0,0,.2);
    background:#dadada;
    background:-webkit-gradient(linear,left top,left bottom,from(#e6e6e6),to(#dadada)); /* Safari 4+, Chrome */
    background:-webkit-linear-gradient(top,#e6e6e6,#dadada); /* Safari 5.1+, Chrome 10+ */
    background:   -moz-linear-gradient(top,#e6e6e6,#dadada); /* Firefox 3.6 */
    background:    -ms-linear-gradient(top,#e6e6e6,#dadada); /* IE10 */
    background:     -o-linear-gradient(top,#e6e6e6,#dadada); /* Opera 11.10+ */
    background:        linear-gradient(top,#e6e6e6,#dadada);
		filter:progid:DXImageTransform.Microsoft.gradient(startColorStr='#e6e6e6',EndColorStr='#dadada'); /* IE7-IE9 */
    cursor:default;
}


/* =============================================================================
   Lists
   ========================================================================== */

.plain-list {
    list-style: none;
    margin-left: 0;
}


/* =============================================================================
   Tables
   ========================================================================== */

#list {
    width: 100% !important;
}

#list tr.spam {
    background: #fa8f98;
}

#list th {
    color:#fff;
    background:#555;
    padding:6px 16px 6px 4px;
    border-right:1px solid #999;
    font-weight:normal;
}

#list th a {
    color:#fff;
    display:block;
}

#list th h2 {
    margin:0;
}

#list td {
    padding:6px 4px;
}

#list .id {
    width:7%;
}

#list .multi-edit {
    width:16px !important;
    padding:6px 4px;
}

thead a {
    color:#fff;
}

thead a:hover,
thead a:active {
    color:#fff;
}

#content_switcher #list .odd,
#content_switcher #list .even {
    background:none;
}

#page-page #content_switcher,
#page-css #content_switcher {
    padding-bottom:5px;
}

#page-page #content_switcher #list,
#page-css #content_switcher #list {
    margin: 0;
    float: none;
}

#page-page #content_switcher #list td,
#page-css #content_switcher #list td {
    position:relative;
    padding: 0 1em 5px;
}

#list tfoot .detail-toggle {
    width: 20%;
}

#list tfoot .multi-edit {
    text-align:right;
    width: 100% !important;
}

#list tfoot #js {
    margin-right: 36px;
}



/* =============================================================================
   Layout
   ========================================================================== */

body {
    position: relative;
    color: $color-text;
    background: $color-background;
    padding: 3em 0 0;
    min-width: 320px;
}

#txp-body {
    min-width: 728px;
    padding: 2em 2em 0;
    position: relative;
    z-index: 1;
}

/* Containers */

#page_container td {
    padding: 0;
}

#form_container td[style] {
    padding: 0 !important;
}

#import_container td {
    padding: 4px;
}

#page_container td {
    padding: 0;
}

#form_container td[style] {
    padding: 0 !important;
}

#import_container td {
    padding: 4px;
}


/* =============================================================================
   Header
   ========================================================================== */

#txp-head {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 10000;
    height: 3em;
    padding: 0 2em;
    @include box-shadow;
    @include gradient-bar(#ffda44, #fabc2b);
    h1 {
        float: left;
        margin: 0;
        padding-left: $logo-large-width;
        line-height: 3em;
        background: no-repeat left 50%;
        max-width: 25%;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        @include hires-graphic($logo-large-filename, $logo-large-filetype, $logo-large-width, 3em);
        a {
            margin-right: 1em;
            margin-left: 1em;
            color: $color-text;
            &:hover {
                color: lighten($color-text, 10%);
                text-decoration: none;
            }
        }
    }
}

#txp-logout {
    position: absolute;
    top: -.5em;
    right: 2em;
    a {
        display: block;
    }
}


/* =============================================================================
   Navigation
   ========================================================================== */

#txp-nav {
    float: left;
    overflow: visible;
    select {
        /* Hide select version of navigation for larger screens */
        display: none;
    }
    a {
        color: #333;
        &:hover {
            text-decoration: none;
        }
    }
}

#txp-nav ul {
    list-style: none;
    padding-left: 0;
}

.data-dropdown {
    display: block;
    float: left;
    position: relative;
    left: 0;
    margin: 0;
}

.dropdown {
    position: relative;
    display: block;
    float: left;
    border-right: 1px solid #fabc2b;
    background-color: rgba(#fff, .2);
    &:first-child {
        border-left: 1px solid #fabc2b;
    }
    a.dropdown-toggle {
        display: block;
        float: none;
        padding: 0 1em;
        line-height: 3em;
        text-decoration: none;
        color: darken($color-text, 20%);
        @include text-shadow-light;
    }
    &:hover a.dropdown-toggle {
        background: rgba(#fff, .2) url("../img/indicator.gif") no-repeat 50% bottom;
    }
}

.dropdown.active {
    a.dropdown-toggle {
        background-color: rgba(#fff, .2);
    }
}

.dropdown-menu {
    float: left;
    position: absolute;
    top: 3em;
    left: -9999px;
    z-index: 10001;
    min-width: 166px;
    border: solid 1px #d4d4d4;
    border-top: none;
    background: #fef5d2;
    @include border-radius(0 $border-radius $border-radius $border-radius);
    @include box-shadow(2px 2px 2px rgba(#000, .2));
    li {
        float: none;
        border: 0;
        @include border-radius(0);
        background: none;
        margin-right: 0;
        &:first-child {
            @include border-radius(0 $border-radius 0 0);
        }
        &:last-child {
            @include border-radius(0 0 $border-radius $border-radius);
        }
        &:hover {
            background: #feefb0;
        }
        &.active {
            background: #fee580;
        }
    }
    a {
        display: block;
        padding: .5em 1em;
    }
}

.data-dropdown li:hover .dropdown-menu {
    left: 0;
}


/* =============================================================================
   Footer
   ========================================================================== */

#txp-foot {
    p {
        margin-top: 0;
    }
    .pagejump {
        float: right;
    }
}


/* =============================================================================
   Miscellaneous/shared layout
   ========================================================================== */

.edit-pane {
    width:448px !important;
    margin:0 auto;
}

.edit-pane td {
    padding:4px 1em;
    text-align:left !important;
}

.edit-form {
    margin-bottom:20px !important;
}

.edit-title {
    margin-bottom:1em;
}

.nav-tertiary a {
    margin-bottom:1em;
}

.txp-navigation {
    width:100%;
    margin:1em -20px;
    padding:1em 20px;
    border-top:1px solid #d4d4d4;
}

.pageby {
    float:left;
}

.prev-next {
    float:right;
}

.txp-control-panel {
    text-align:center;
    padding-bottom:1em;
}

table#edit {
    width:100%;
}


/* Login page */

#page-login .login-pane,
#page-logout .login-pane {
    width:360px;
    margin:0 auto;
}

.login-pane p {
    margin:0;
}

.login-pane tr:first-child p {
    margin:1em 0;
}

.login-pane tr:last-child p {
    margin:0 0 6px;
}

.login-pane td {
    padding:4px 1em;
    text-align:left !important;
}

.login-pane .noline label {
    font-weight:bold;
}


/* Categories page */

#page-category .edit-pane td:first-child {
    width:36%;
}

.category-list {
    width:100%;
}

.category-list td {
    padding:0 !important;
    width:25%;
}

.category-list div {
    padding:1em 1em 1px 1em !important;
    margin:0 1em;
}

#categories_article {
    margin-left:0;
}

#categories_file {
    margin-right:0;
}

.category-list .small {
    display:block;
}


/* Write page */

#article-col-1,
#article-col-2 {
    width: 25%;
    min-width: 182px;
}
#article-main {
    width: 50%;
}

#configuration_content,
#tagbuild_links {
    margin-right: 20px;
}

#supporting_content,
#content_switcher {
    margin-left: 20px;
}

#configuration_content > div.empty {
    display: none;
}

#supporting_content .action-create a {
    margin-top:6px
}

#supporting_content .article-nav a {
    margin-bottom:6px
}

#supporting_content .publish {
    margin: 1em;
}

#more_group .date .label,
#more_group .time .label {
    display: block;
}

#more_group .date input,
#more_group .time input {
    width:2.4em;
}

#more_group .date input.year,
#more_group .time input.hour,
#more_group .date input.exp_year,
#more_group .time input.exp_hour {
    margin-left:-8px;
}

#more_group .date input.year,
#more_group .date input.exp_year {
    width:3.5em;
}

.recent li {
    list-style:decimal;
    margin-left:16px;
}


/* Hide article_tabs column (as it's useless IMHO) */
#article-tabs{display:none;}


/* Articles page */

.unpublished {
    color:#999;
}


/* Images page */

#page-image img {
    border: solid 1px $color-border;
    @include border-radius;
    padding: 4px;
    background: #fff;
    @include box-shadow;
}

#page-image a img:hover {
    border: solid 1px $color-link-hover;
    @include box-shadow(0 1px 2px rgba($color-link-hover, .4));
}

#page-image .edit-pane {
    width: 448px !important;
}

#page-image img.fullsize {
    margin-bottom: 18px;
}

#page-image #width,
#page-image #height {
    width: 3.5em;
}

#page-image .edit-pane table td {
    padding: 0 5px 0 0;
}

#thumbnail_alter {
    margin-top:-5px;
}

#thumbnail_alter input[type="checkbox"] {
    margin-top:.7em;
}

#thumbnail_alter input[type="submit"] {
    margin-top:.3em;
}

#page-image .edit-pane select {
    width: 250px;
}

#page-image #caption {
    width: 412px;
}


/* Files page */

#page-file .edit-pane {
    width:448px !important;
}

#page-file #description {
    width:412px !important;
}

#page-file .year {
    width:3.5em;
}

#page-file .month,
#page-file .day,
#page-file .hour,
#page-file .minute,
#page-file .second {
    width:2.4em;
}


/* Links page */

#page-link .edit-pane td:first-child {
    width:36%;
}


/* Comments page */

#cb_show_spam {
    margin-left:4px
}

#discuss_ban_container td {
    width:20% !important;
}


/* Sections page */

#section_container h2 a {
    position:relative;
    top:-1px;
}

#section_container #list td {
    padding:0;
}

#section_container .txp-control-panel {
    padding:0;
    margin-bottom:-2px;
}

#section_container .section input[type="text"],
#section_container .section select {
    width:72%;
}

#section_container #list .section td {
    padding:10px 10px 5px;
}

#section_container #list .section table {
    width:100%;
}

#section_container #list .section table td {
    border:0;
    padding:0 0 5px;
    text-align:left !important;
}

#section_container #list .section table td:first-child {
    width:40%;
}

#section_container #list .label,
#section_container #list .actions {
    width:25%;
}

#section_container #list .section .label {
    font-weight:bold;
    text-align:right;
}


/* Pages page */

#page-page .edit-pane {
    width:100% !important;
}

#page-page #edit td:first-child {
    width:25%;
}

#page-page #edit td:last-child {
    width:25%;
}

#page_form #html {
    height:537px;
    margin:-3px 0 1em;
}

#page_form label {
    display:block;
    width:250px;
    margin-top:1em;
}

#page_form input[type="text"] {
    width:250px;
    margin-left:-1em;
}

#tagbuild_links h2,
#content_switcher h2 {
    margin:0;
    padding:5px 1em;
    display:block;
}

#content_switcher p {
    text-align:left;
    padding: 1em;
    margin:0;
}


/* Forms page */

#page-form #edit td:first-child {
    width:25%;
}

#page-form #edit td:last-child {
    width:25%;
}

#form_form #form {
    height:537px;
    margin:-3px 0 1em;
}

#form_form input[type="text"] {
    width:250px;
    margin-top:7px;
}

#form_form select {
    margin:7px 0;
}

.lever a.pophelp {
    padding: 0 1em;
    position: absolute;
    top: 0;
    right: 0;
    z-index: 5;
    width: .6em;
    height: 2em;
    line-height: 2em;
}

#form_form input[type="submit"].smallbox { /* Removes preview button on froms page, will anyone miss it? */
    display:none;
}

#form_form select.list {
    margin-top:5px;
}

#form_form p {
    float:left;
    margin-right: 1em;
}

#form_form p:last-child {
    float:none;
    clear:both;
    margin-right:0;
}



/* Style page */

#page-css #edit td:last-child {
    width:25%;
}

#page-css td.column {
    padding:0 !important;
}

#style_form #css {
    height:537px;
    margin:-3px 0 1em;
}

#style_form label {
    display:block;
    width:250px;
    margin-top:1em;
}

#style_form input[type="text"] {
    width:250px;
    margin-left:-1em;
}


/* Diagnostics page */

#pre_flight_check table {
    margin:0 0 20px;
}

#pre_flight_check table td,
#diagnostics table td {
    padding:0;
}

#diagnostics textarea {
    width:100% !important;
    height:316px !important;
    margin-bottom: 1em;
}


/* Preferences page */

#prefs_container #list td,
#language_container #list td {
    padding:0;
}

#prefs_container td {
    text-align:left !important;
}

#prefs_container td:first-child,
#language_container td:first-child {
    width:44.5%;
}

#prefs_container .odd td:last-child,
#prefs_container .even td:last-child {
    text-align:right !important;
}

.pref-heading{
    margin:0;
    padding: 4px 1em;
    display:block;
    color:#fff;
    background:#555;
}

#prefs_container input[type="text"] {
    width:250px;
    margin-top:0;
    margin-bottom:-4px;
}

#prefs_container select{
    width:250px;
    margin-top:3px;
}

#prefs_container input[type="submit"] {
    margin-top: 1em;
}

#prefs_control{
    float:right;
    margin-top:-20px;
}

#language_container .nav-tertiary a {
    margin-bottom:0;
}

#language_container tr[style="font-weight:bold"] td {
    padding: 6px 1em !important;
    color:#fff;
    background:#555;
    font-weight:normal !important;
}

#language_container .odd td,
#language_container .even td {
    text-align:left !important;
}

#prefs_container .odd td,
#prefs_container .even td,
#language_container .odd td,
#language_container .even td {
    padding: 6px 1em !important;
}

#language_container .odd td strong,
#language_container .even td strong {
    float:right;
}

#language_container td br {
    display:none;
}

#text_uploader {
    text-align:center;
    margin-top:-12px;
}

#text_uploader p {
    display:inline;
    vertical-align: text-bottom !important;
    position:relative;
    top:-6px;
}

#textpack-install {
    width:50%;
    height:5em;
}


/* Users page */

#page-admin .edit-pane td:first-child {
    width:36%;
}

#change_password {
    margin-top:-2em;
}

#change_password p {
    margin:0;
}

#new_pass {
    width:198px;
    margin-right:5px;
}


/* Visitor logs page */

#page-log .host,
#page-log .page,
#page-log .refer {
    width:28%;
}


/* Plugin page */

#plugin_install_form span {
    vertical-align: text-bottom !important;
    position:relative;
    top:-6px;
}

#plugin-install {
    width:50%;
    height:5em;
}

#plugin_container td.status {
    font-weight:bold;
}

#plugin_preview{
    width:100% !important;
}

#preview-plugin,
#preview-help {
    max-height:316px;
    padding:4px;
    margin-bottom:20px;
    overflow:auto;
    width:100%;
    @include box-sizing;
    *padding:0; /* ie7 hack for box-sizing workaround */
}

#plugin-code {
    width:100%;
    height:316px;
    overflow:auto;
    margin-bottom: 1em;
}

#plugin_container .edit-pane {
    width:100% !important;
}

#plugin_container .edit-pane td {
    padding:0;
}

.plugin-help{
    width:728px !important;
    margin:0 auto;
}


/* Import page */

#page-import #edit {
    width:448px !important;
    margin:0 auto;
}

#page-import #edit td {
    padding:4px 0;
    text-align:left !important;
}

#page-import #edit td:first-child,
#page-import #edit table td:first-child {
    width:171px;
}

#page-import #edit td:last-child,
#page-import #edit table td:last-child {
    width:277px;
}

#page-import #edit input[type="text"],
#page-import #edit select {
    width:250px;
}


/* Tagbuilder popup */

#tag-event {
    background:#fff;
    width:auto;
    padding: 1em;
}

#tag-event th,
#tag-event td {
    padding: .5em;
    text-align:left;
}

.tabs {
    padding-top:20px;
}

.tabs a {
    display:block;
    padding:.9em;
}



/* ---------------- TARGET ALL MOBILE DEVICES ---------------- */

@media only screen and (max-device-width:1024px) {


/* Add a close button only for touch devices */
#txp-nav li.primary:hover ~ #touch-menu-close a {
    display:block;
}


}



/* --------------------- TARGET TABLETS ---------------------- */

@media only screen and (min-device-width:768px) and (max-device-width:1024px) and (orientation:portrait) {


body {
    width:768px;
}


}



/* --------------------- TARGET PHONES ----------------------- */
/* Turn off features to accommodate a really small screen size */

/* @media only screen and (max-device-width:767px) { */
@media only screen and (min-width: 320px) and (max-width: 480px) {


body{
    max-width:320px;
}


/* Body */

#txp-body {
    width:280px;
    min-width:280px;
}


/* Messages */

#messagepane {
    left:0;
    width:320px;
    margin-left:0;
}


/* Forms */

.txp-control-panel input[type="text"],
.txp-control-panel input[type="password"],
.txp-control-panel textarea,
.edit-pane input[type="text"],
.edit-pane input[type="password"],
.edit-pane textarea {
    width:280px;
}


/* Header */

#txp-head {
    width:280px;
    min-width:280px;
}

#mothership {
    width: 56px;
    margin-right: 1em;
}

#mothership a {
    width: 24px;
    background: url("../img/textpattern-sml.png") left top;
}


/* Navigation */

#txp-nav {
    clear:both;
    float:none;
    padding-top:0;
    width:280px;
}

#txp-nav .primary {
    display:none;
}

#txp-nav .primary:first-child,
#txp-nav .primary:last-child {
    display:block;
}

#txp-nav #touch-menu-close {
    top:18px;
    left:-20px;
}


/* Miscellaneous/shared layout stuff */

.edit-pane {
    width:280px !important;
}

.txp-control-panel {
    text-align:left;
}

.txp-control-panel select {
    display:block;
    margin-bottom:-14px;
}

.txp-control-panel input[type="submit"] {
    margin-left:0;
}


/* Login page */

#page-login .login-pane,
#page-logout .login-pane {
    width:280px;
}

.login-pane tr:nth-of-type(4) {
    display:none;
}


/* Categories page */

.category-list td {
    float:left;
    width:280px;
}

.category-list div {
    margin:0 0 20px 0;
}

#categories_file {
    margin:0;
}

.category-list .small {
    display:block;
}


/* Write page */

#article-col-1,
#article-col-2,
#article-main {
    width:280px;
    float:left;
    zoom:1;
}

#article-main {
    margin:20px 0;
}

#configuration_content,
#tagbuild_links {
    margin:0;
}

#supporting_content,
#content_switcher {
    margin:0;
}

#textile_group,
#recent_group,
#page-article .action-create,
#page-article .article-nav {
    display:none;
}


/* Articles page */

#page-list #list {
    border:1px solid #d4d4d4;
    margin-bottom:20px;
}

#page-list #list .id,
#page-list #list .created,
#page-list #list .modified,
#page-list #list .expires,
#page-list #list .section,
#page-list #list .category1,
#page-list #list .category1,
#page-list #list .status,
#page-list #list .author,
#page-list #list .comments,
#page-list #list .multi-edit,
#page-list #list tfoot {
    display:none !important;
}


/* Links page */

#page-link #list {
    border:1px solid #d4d4d4;
    margin-bottom:20px;
}

#page-link #list .id,
#page-link #list .actions,
#page-link #list .description,
#page-link #list .category,
#page-link #list .created,
#page-link #list .author,
#page-link #list .multi-edit,
#page-link #list tfoot {
    display:none !important;
}


/* Comments page */

#list_banned_ips {
    text-align:left !important;
}

#page-discuss #list {
    border:1px solid #d4d4d4;
    margin-bottom: 1em;
}

#page-discuss #list .created,
#page-discuss #list .name,
#page-discuss #list .email,
#page-discuss #list .website,
#page-discuss #list .ip,
#page-discuss #list .status,
#page-discuss #list .parent,
#page-discuss #list .multi-edit,
#page-discuss #list tfoot,
#page-discuss table.edit-pane tr:last-child,
#page-discuss table.edit-pane tr:nth-last-child(2) td:first-child,
#page-discuss table#edit-discuss tr:nth-child(9) {
    display:none !important;
}


}
