//
// note: this file is for use with Sass- http://sass-lang.com,
// don't use it as your live site stylesheet!
//


// import Sass partials
@import "variables", "mixins";


// import reset stylesheet (but leave as separate file)
@import url("reset.css");




/* Clearfix
   ========================================================================== */

.clearfix {
	@include clearfix;
}


@import "links", "typography", "internationalisation", "images", "alerts", "twisties", "progress";


/* Forms
   ========================================================================== */

fieldset {
	position: relative;
	margin: 0 0 1em 0;
	border: 1px solid lighten($color-border, 9%);
	border-top: 0;
	padding: 2.07692307692308em 0 0 0;
	background: $color-background-box;
	/* corrects padding inconsistency in IE7 */
	*padding-top: 3em;
}

fieldset > * {
	margin-right: 1em;
	margin-left: 1em;
}

.toggle fieldset {
	margin-top: 1em;
}

legend {
	position: absolute;
	top: 0;
	margin: 0;
	padding: 0 1em;
	width: 100%;
	font-weight: bold;
	line-height: 2em;
	@include text-shadow-light;
	@include box-shadow(inset 0 1px 0 0 rgba(#fff, .25));
	@include gradient-bar($color-gradient-from, $color-gradient-to);
	@include box-sizing;
	/* corrects alignment displayed oddly in IE7 */
	*margin-right: 7px;
	*margin-left: -7px;
	*right: 0;
	*left: 0;
	*width: auto;
}

input[type="radio"],
input[type="checkbox"] {
	margin-right: .5em;
}

input {
	&.year,
	&.exp_year {
		width: 3.30769230769231em; // 43px / 13px
	}

	&.month,
	&.exp_month,
	&.day,
	&.exp_day,
	&.hour,
	&.exp_hour,
	&.minute,
	&.exp_minute,
	&.second,
	&.exp_second {
		width: 2.30769230769231em; // 30px / 13px
	}
}

/* additional input field widths */

input[size="32"] {
	width: 100%;
	max-width: 23.2307692307692em; // 302px / 13px
}

input.input-large {
	width: 100%;
}

input.input-medium {
	width: 50%;
	max-width: 11.6153846153846em; // 151px / 13px
}

input.input-small {
	width: 25%;
	max-width: 5.76923076923077em; // 75px / 13px
}

input.input-xsmall {
	width: 16.6666666666667%;
	max-width: 3.46153846153846em; // 45px / 13px
}


/* Specific buttons
   ========================================================================== */

/* primary buttons */

input[type="submit"].publish,
button.publish,
a.publish {
	font-weight: bold;
	border: 1px solid #f2ab05;
	border-bottom-color: darken(#f2ab05, 10%);
	padding: .75em; // 9px / 12px
	height: 3em; // 36px / 12px
	@include gradient(#ffda44, #f2ab05);

	&:hover {
		@include gradient(lighten(#ffda44, 10%), lighten(#f2ab05, 10%));
	}

	&:active {
		@include gradient(lighten(#f2ab05, 10%), lighten(#ffda44, 10%));
	}
}

/* delete buttons */

input[type="submit"].destroy,
button.destroy {
	padding: 0 .33333333333333em;
	height: 1.5em; // 18px / 12px
	color: lighten($error-text, 56%);
	@include text-shadow-dark;
	@include gradient-bar(lighten($error-text, 20%), $error-text);

	&:hover {
		color: $color-text-inverse;
		@include gradient-bar(lighten($error-text, 28%), lighten($error-text, 10%));
	}

	&:active {
		@include gradient-bar(lighten($error-text, 10%), lighten($error-text, 28%));
	}
}

/* button sets */

.nav-tertiary,
.prev-next {
	a,
	.navlink-disabled {
		@include border-radius(0);
	}

	> :first-child {
		@include border-left-radius($border-radius);
	}

	> :last-child {
		@include border-right-radius($border-radius);
	}
}


/* Lists
   ========================================================================== */

.plain-list {
	list-style: none;
	padding-left: 0;
}


@import "tables";


/* Container
   ========================================================================== */

body {
	position: relative;
	padding: 5em 2em 0;
	min-width: 71.3846153846154em; // 928px + (13px x 4) = 980px
	color: $color-text;
	background: $color-background;
}

.txp-body {
	max-width: 110em; // 1430px / 13px
	margin: 0 auto;
}


/* Header
   ========================================================================== */

.txp-header {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	z-index: 10000;
	padding: 0 2em;
	height: 3em;
	min-width: 71.3846153846154em;
	@include box-shadow(0 .15384615384615em .23076923076923em rgba(#000, .15));
	@include gradient-bar(#ffda44, #fabc2b);

	h1 {
		float: left;
		margin: 0;
		padding-left: $logo-large-width;
		font-size: 1em; // 13px
		line-height: 3em;
		background: no-repeat left 48%;
		max-width: 25%;
		white-space: nowrap;
		overflow: hidden;
		text-overflow: ellipsis;
		background: {
			repeat: no-repeat;
			position: 0 46%;
		}
		@include svg-graphic($logo-large-filename, $logo-large-filetype, $logo-large-width, $logo-large-height);

		a {
			margin-right: 1em;
			margin-left: 1em;
			color: $color-text;

			&:hover {
				color: lighten($color-text, 10%);
				text-decoration: none;
			}
		}
	}
}

.txp-logout {
	position: absolute;
	z-index: 10010;
	top: -.5em;
	right: 2em;
}


@import "navigation";


/* Footer
   ========================================================================== */

.txp-footer {
	@extend .clearfix;
}

.mothership {
	float: left;
}

.pagejump {
	float: right;
}


/* Edit and login panes
   ========================================================================== */

.txp-edit,
.txp-login {
	margin: 0 auto 1em;
	@include border-radius($border-radius);
	padding: 1em 1em 1px 1em;
	background: $color-background-box;

	p {
		@extend .clearfix;
	}
}

.edit-image-replace,
.edit-upload-thumbnail,
.edit-alter-thumbnail,
.edit-file-replace {
	input[type="submit"] {
		float: right;
	}
}

.txp-edit {
	width: ($standard-column - 2em);
}

.txp-login {
	max-width: 33.5384615384615em; // 436px / 13px
}

.edit-label,
.login-label {
	display: inline-block;
	float: left;
}

.edit-label {
	width: 42%;
}

.login-label {
	width: 31%;
}

.edit-value,
.login-value {
	display: inline-block;
	float: right;

	input,
	select {
		margin-top: -.23076923076923em;
		margin-bottom: -.23076923076923em;
	}
}

.edit-value {
	width: 58%;
}

.login-value {
	width: 69%;
}

/* TBC (for Textpattern v4.6 modals) */
.txp-edit-action {
	margin-right: -1em;
	margin-left: -1em;
	margin-bottom: 0;
	border-top: 1px solid $color-background;
	@include border-bottom-radius($border-radius);
	padding: 1em;
	background: darken($color-background-box, 3%);

	button {
		margin-top: .5em; // 6px / 12px
	}

	input[type="submit"] {
		float: right;
	}
}


/* Miscellaneous/shared layout
   ========================================================================== */

.txp-control-panel {
	text-align: center;
	line-height: 2;
	p {
		margin-top: 0;
	}
}

div.multi-edit {
	margin: 1em 0;
}

.multi-option {
	display: none;
}

.multi-step {
	margin-left: .30769230769231em;
	display: inline-block;
}

.txp-columntable {
	width: 100%;
}

.text-column {
	margin: 0 auto;
	max-width: $text-column;
}

.text-section {
	padding-top: 5em;
	background: url("../img/separator.gif") repeat-x 0 2.15384615384615em; // 28px / 13px
}

/* grids */

.txp-grid {
	text-align: center;
	margin-bottom: .69230769230769em; // 9px / 13px
}

.txp-grid-cell {
	@include box-sizing;
	display: inline-block;
	text-align: left;
	max-width: 22.6153846153846em; // 294px / 13px
	vertical-align: top;
	margin: 0 .15384615384615em .30769230769231em; // 2px / 13px and 4px / 13px
	border: 1px solid $color-border;
	padding: 0 1em;
}

.restricted-area {
	font-size: 2em; // 26px / 13px
	text-align: center;
}

.empty {
	display: none;
}

.disabled {
	opacity: .33;
	/* transparency support for IE < 9 */
	filter: alpha(opacity=33);
	*zoom: 1;
}

/* list navigators on list pages */
.txp-navigation {
	@extend .clearfix;

	.pageby {
		float: left;
	}

	.prev-next {
		float: right;
	}
}

/* AJAX spinner */
span.spinner {
	display: inline-block;
	width: 13px;
	height: 13px;
	@include hires-graphic(spinner, gif, 13px, 13px);
}


/* Setup pages
   ========================================================================== */

body#page-setup {
	padding: 1em 2em 0;
}

.txp-setup {
	margin: 1em auto 2em;
	width: ($standard-column - 2em);

	p {
		@extend .clearfix;
	}
}

/* rules specific to the very first page you'll see */
.welcome {
	.txp-setup {
		max-width: 20.3076923076923em;
	}

	h1 {
		font-size: 1em;
		width: 20.3076923076923em; // 264px / 13px
		height: 4.15384615384615em; // 54px / 13px
		@include hide-text;
		@include svg-graphic(textpattern-xlrg, png, 20.3076923076923em, 4.15384615384615em);
	}

	select {
		width: 100%;
	}
}


/* Tag builder page
   ========================================================================== */

#tag-event {
	padding: 2.5em .5em 1em;
	overflow-y: scroll;

	h3 {
		position: fixed;
		top: 0;
		left: 0;
		right: 0;
		z-index: 10000;
		padding: .5em 1em;
		@include box-shadow(0 .15384615384615em .23076923076923em rgba(#000, .15));
		@include gradient-bar(#ffda44, #fabc2b);
	}

	th,
	td {
		padding: .5em;
		width: 50%;
	}

	p {
		margin: .5em;
	}
}

#tagbuilder-output textarea {
	height: 7em;
}


/* Content -> Categories page
   ========================================================================== */

#page-category .action-create input[type="submit"],
.parent {
	margin-top: .38461538461538em;
}

.category-list {
	width: 100%;

	td {
		width: 25%;
	}
}

.categories > div {
	margin: 0 .5em 1em;
	padding: 1em 1em 1px;
	background: $color-background-box;
}

#categories_article {
	margin-left: 0; // remove left margin from first .category-list div
}

#categories_file {
	margin-right: 0; // remove right margin from last .category-list div
}

.category-list .small {
	display: block;
}


/* Content -> Write page
   ========================================================================== */

#article-col-1,
#article-col-2 {
	width: 24%;
}

#article-tabs {
	width: 2em; // 26px / 13px
	padding-left: 1em;
}

#view_modes {
	ul {
		list-style: none;
		margin: 0;
		padding: 0;
	}

	.text {
		@include svg-graphic(view-text, png, 1.5em, 1.5em);
	}

	.html {
		@include svg-graphic(view-html, png, 1.5em, 1.5em);
	}

	.preview {
		@include svg-graphic(view-preview, png, 1.5em, 1.5em);
	}
}

.view-mode {
	font-size: 16px;
	margin-bottom: .8125em; // 13px / 16px
	width: 1.5em; // 24px / 16px
	height: 1.5em; // 24px / 16px
	@include hide-text;
	@include border-radius($border-radius);
	background: {
		color: $color-gradient-from;
		repeat: no-repeat;
		position: 50% 50%;
	}

	a {
		display: block;
		width: 1.5em; // 24px / 16px
		height: 1.5em; // 24px / 16px
	}

	&:hover {
		background-color: $color-highlight-box;
	}
}

#tab-textup,
#tab-htmlup,
#tab-previewup {
	background-color: $color-highlight-box;
}

.html .excerpt {
	margin-bottom: 1em;
}

#article-main {
	#title {
		width: 75%;
	}

	#body {
		height: 34.4615384615385em; // 448px / 13px
	}

	.author {
		color: $color-text-footnote;
	}
}

#article_partial_article_view {
	margin-left: 1em;
}

#main_content > div:first-of-type > p:first-of-type {
	margin-top: 0;
}

#configuration_content,
#tagbuild_links {
	margin-right: 1em;
}

#configuration_content > div,
#tagbuild_links > div,
.summary-details {
	border: 1px solid lighten($color-border, 9%);
	border-top: 0;
	background: $color-background-box;
	margin-bottom: 1em;
}

#supporting_content,
#content_switcher {
	margin-left: 1em;

	> div {
		margin-bottom: 1em;
	}

	.action-create {
		margin-top: 0;
	}
}

#supporting_content > div {
	border: 1px solid lighten($color-border, 9%);
	border-top: 0;
	background: $color-background-box;
}

#dates {
	.date,
	.time {
		.label {
			display: block;
		}
	}

	.date input.year,
	.time input.hour,
	.date input.exp_year,
	.time input.exp_hour {
		margin-left: -.61538461538462em;
	}
}

.recent {
	list-style: decimal-leading-zero;

	li {
		margin-left: 2em;
	}
}

#keywords {
	height: 4.38461538461538em; // 57px / 13px
}


/* Content -> Articles page
   ========================================================================== */

.unpublished {
	color: $color-text-footnote;
}


/* Content -> Images page
   ========================================================================== */

.fullsize-image {
	text-align: center;
	margin-bottom: 1em;

	img {
		@include box-sizing;
		max-width: 100%;
		height: auto;
	}
}

.thumbnail-edit {
	overflow-x: auto;
	margin-bottom: 1em;
	/* IE7 */
	*overflow-y: hidden;

	form {
		display: inline-block;
		vertical-align: top;
		margin-top: 5px;
	}
}


/* Content -> Comments page
   ========================================================================== */

#page-discuss .txp-list tr.spam td {
	background: lighten($error-background, 2%);
}

#page-discuss .txp-list tr.moderate td {
	background: lighten($warning-background, 2%);
}


/* Presentation -> Pages, Forms, Styles pages shared
   ========================================================================== */

#page-page .txp-columntable td.column,
#page-form .txp-columntable td.column {
	&:first-child,
	&:last-child {
		width: 25%;
	}
}

#page-css .txp-columntable td.column:last-child {
	width: 25%;
}

.edit-title {
	margin: .30769230769231em 0 1em;
}

#page-page,
#page-form,
#page-css {
	textarea.code {
		height: 34.4615384615385em; // 448px / 13px
	}
}

.copy-as {
	line-height: 2;
}

#content_switcher .form-list-action,
#content_switcher .destroy {
	float: right;
	margin-left: 1em;
}

.form-list-group {
	margin-bottom: 1em;
	border-bottom: 1px solid $color-gradient-to;
}

.form-list .plain-list {
	margin: 0 -1em;
	border-right: 1px solid $color-gradient-to;
	border-left: 1px solid $color-gradient-to;

	li {
		border-top: 1px solid $color-gradient-to;
		padding: .38461538461538em .5em .38461538461538em 1em;

		&.even {
			background: $color-background-box;
		}

		&:first-child {
			border-top: 0;
		}
	}
}


/* Admin -> Diagnostics page
   ========================================================================== */

#page-diag textarea {
	height: 17.4615384615385em; // 227px / 13px
}


/* Admin -> Preferences page
   ========================================================================== */

#page-prefs .txp-list {
	tr td,
	tr.even td {
		height: 1.84615384615385em; // 24px / 13px
		vertical-align: middle;
	}

	.modified {
		color: $color-text-footnote;
		margin-left: .6em;
	}

	.pref-heading {
		border-top: 1px solid $color-gradient-to;
		border-right: 1px solid darken($color-gradient-to, 5%);
		border-bottom: 1px solid darken($color-gradient-to, 10%);

		td {
			@include text-shadow-light;
			@include gradient($color-gradient-from, $color-gradient-to);
			height: auto;
		}
	}
}

#page-prefs .basic .pref-value,
#page-prefs .advanced .pref-value {
	width: 66%;
}

.pref-heading h3 {
	font-size: 1em;
	margin: 0;
}

#language_control {
	text-align: left;
}

#textpack-install {
	width: 50%;
}


/* Admin -> Plugins page
   ========================================================================== */

tr {
	.manage span,
	.plugin-prefs {
		visibility: hidden;
	}
}

tr.active {
	.manage span,
	.plugin-prefs {
		visibility: visible;
	}
}

#plugin-install {
	width: 50%;
}

#plugin-code {
	height: 23em;
}

div.code {
	margin-bottom: 1em;
	border: 1px solid $color-border;
	padding: .15384615384615em .38461538461538em;
	height: 21em;
	overflow: auto;
	@include box-sizing;
	/* IE7 box-sizing workaround */
	*padding-right: 0;
	*padding-left: 0;
}

.plugin-column {
	margin: 0 auto;
	max-width: $text-column;

	p {
		@extend .clearfix;
	}
}

@import "responsive";
