// SVG images with fallback for older browsers (via Modernizr)
        
@mixin svg-graphic($imgfilename, $imgtype, $imgwidth, $imgheight) {
    .no-svg & {
        background-image: url('../img/' + $imgfilename + '.' + $imgtype);
        background-size: $imgwidth $imgheight;
    }
    .svg & {
        background-image: url('../img/' + $imgfilename + '.svg');
        background-size: $imgwidth $imgheight;
    }
}

// standard gradients

@mixin gradient-linear($color-gradient-from, $color-gradient-to) {
    background-color: $color-gradient-from;
    @include background-image(linear-gradient($color-gradient-from, $color-gradient-to));
}
@mixin gradient-radial($color-gradient-from, $color-gradient-to) {
    background-color: $color-gradient-from;
    @include background-image(radial-gradient($color-gradient-from, $color-gradient-to));
}

// linear gradients with borders top and bottom

@mixin gradient-linear-bar($color-gradient-from, $color-gradient-to) {
    border-top: 1px solid $color-gradient-to;
    border-bottom: 1px solid $color-gradient-border;
    @include gradient-linear($color-gradient-from, $color-gradient-to);
}

// form placeholders

@mixin placeholder($color-placeholder){
    &::-webkit-input-placeholder { // Safari >= 5, Chrome, Opera >= 11.6
        color: $color-placeholder;
    }
    &:-moz-placeholder { // Firefox < 19
        color: $color-placeholder;
    }
    &::-moz-placeholder { // Firefox >= 19
        color: $color-placeholder;
    }
    &:-ms-input-placeholder {
        color: $color-placeholder; // IE >= 10
    }
}
