// disable Compass support for IE < 8
$legacy-support-for-ie6:      false;
$legacy-support-for-ie7:      false;

// use the Kellum method for hiding text
// http://www.zeldman.com/2012/03/01/replacing-the-9999px-hack-new-image-replacement/

$hide-text-direction:         right;

// font families

$font-sans-serif:             Helvetica, Arial, sans-serif;
$font-mono:                   Menlo, Consolas, Monaco, monospace;

// typography grid

$base-font-size:              13px;
$base-line-height:            20px;

// layout grid

$grid-gutter:                 1em; // 13px
$standard-column:             42em; // 520px / 13px
$text-column:                 57em; // 741px / 13px

// breakpoints (using desktop first in this project)

$breakpoint-1:                59em; // 767px / 13px
$breakpoint-2:                42em; // 546px / 13px

// text colours

$color-text:                  #333333;
$color-text-footnote:         #888888;
$color-text-inverse:          #ffffff;

// interaction colours

$color-link:                  #114eb1;
$color-link-hover:            #0066ff;
$color-link-focus:            #5b9dd9;
$color-selecting:             lighten($color-link, 50%);
$color-selected:              lighten($color-link, 56%);

// borders

$color-border:                #cccccc;
$default-border-radius:       0.5384615em; // 7px / 13px

// shadows

$default-box-shadow-color:    rgba(#000000, 0.2);
$default-box-shadow-h-offset: 0;
$default-box-shadow-v-offset: 0;
$default-box-shadow-blur:     0.5em;
$inset-highlighting:          inset 0 1px 0 rgba(#ffffff, 0.25);
$text-shadow-light:           1px 1px 0 rgba(#ffffff, 0.5);
$text-shadow-dark:            -1px -1px 0 rgba(#000000, 0.1);

// neutral colours

$color-background:            #ffffff;
$color-background-box:        #f7f7f7;
$color-gradient-from:         #eeeeee;
$color-gradient-to:           darken($color-gradient-from, 6.5%);
$color-gradient-border:       darken($color-gradient-from, 13.5%);

// accent colours (change these to make a new colourscheme)

$color-gradient2-from:        #ffda44;
$color-gradient2-to:          darken($color-gradient2-from, 15%);
$color-highlight-box:         #fff9e1;

// alert colours

$color-success-text:          #238c23;
$color-success-background:    #dff0d8;
$color-success-border:        darken($color-success-background, 20%);
$color-warning-text:          #cb8f02;
$color-warning-background:    #fff6d3;
$color-warning-border:        darken($color-warning-background, 20%);
$color-error-text:            #9d261d;
$color-error-background:      #f2dede;
$color-error-border:          darken($color-error-background, 12%);
$color-info-text:             #3a87ad;
$color-info-background:       #e7f6fc;
$color-info-border:           darken($color-info-background, 12%);
