// set Compass minimum browser support and caniuse thresholds

$graceful-usage-threshold:     1;
$critical-usage-threshold:     0.1;
$supported-browsers:           ("chrome", "firefox", "ie", "safari");
$browser-minimum-versions:     ("chrome": "30", "firefox": "24", "ie": "8", "safari": "5");
$debug-browser-support:        false; // set to `true` to see debug comments

// use the Kellum method for hiding text
// https://www.zeldman.com/2012/03/01/replacing-the-9999px-hack-new-image-replacement/

$hide-text-direction:         right;

// font families

$font-sans-serif:             Helvetica, Arial, sans-serif;
$font-mono:                   Menlo, Consolas, Monaco, monospace;

// typography grid

$base-font-size:              13px;
$base-line-height:            20px;

// layout grid

$grid-gutter:                 1em; // 13px
$standard-column:             42em; // 520px / 13px
$text-column:                 57em; // 741px / 13px

// layout grid (using desktop first in this project)

$container-max-width:         116em; // 1508px / 13px
$breakpoint-1:                60em; // 960px / 16px (breakpoints are 16px = 1em measurements)
$breakpoint-2:                47em; // 752px / 16px (breakpoints are 16px = 1em measurements)

// borders

$default-border-radius:       0.5em;

// shadows

$default-box-shadow-color:    rgba(#000000, 0.2);
$default-box-shadow-h-offset: 0;
$default-box-shadow-v-offset: 0;
$default-box-shadow-blur:     0.5em;
$inset-highlighting:          inset 0 1px 0 rgba(#ffffff, 0.25);
$text-shadow-light:           1px 1px 0 rgba(#ffffff, 0.5);
$text-shadow-dark:            -1px -1px 0 rgba(#000000, 0.1);
