/* Just for Design Patterns docs
   ========================================================================== */

.box {
  padding: 1em;
  margin-bottom: 1em;
  background: #cccccc;
}

/* jQuery UI stuff */

.jquery-ui-icons {
  margin: 0 0 1em 0;
  padding: 0;
}

.jquery-ui-icons li {
  margin: 2px;
  position: relative;
  padding: 4px 0;
  cursor: pointer;
  float: left;
  list-style: none;
}

.jquery-ui-icons span.ui-icon {
  float: left;
  margin: 0 4px;
}

.jquery-ui-slider-vertical span {
  height: 120px;
  float: left;
  margin: 15px;
}

.ui-menu {
  width: 150px;
}

.ui-menu:not(.jquery-ui-menu) {
  position: absolute;
  z-index: 1000;
}

.txp-search .txp-search-button {
  margin-left: -0.35em;
  border-radius: 0;
  padding-left: 1.75em;
  padding-right: 1.75em;
}


/* Google Code Prettify
   ========================================================================== */

/* markup colouring */

.atn,
.dec,
.typ,
.var {
  color: teal;
}

.atv,
.str {
  color: #dd1144;
}

.clo,
.opn,
.pun {
  color: #93a1a1;
}

.com {
  color: #93a1a1;
}

.fun {
  color: #dc322f;
}

.kwd {
  color: #1e347b;
}

.lit {
  color: #195f91;
}

.pln {
  color: #48484c;
}

.tag {
  color: #1e347b;
}

/* Google Code Prettify - line numbers */

.linenums {
  padding-left: 2em;
}

.linenums ol {
  -moz-box-shadow: inset 1.9166667em 0 0 #f7f7f7, inset 2em 0 0 #e3e3e3;
  -webkit-box-shadow: inset 1.9166667em 0 0 #f7f7f7, inset 2em 0 0 #e3e3e3;
  box-shadow: inset 1.9166667em 0 0 #f7f7f7, inset 2em 0 0 #e3e3e3;
  margin: 0;
}

.linenums li {
  padding-left: 1em;
  color: #b8b8b8;
}
