/* ==========================================================================
   ONLY for use in design patterns - classes NOT USED in actual theme distro.
   ========================================================================== */
/**
 * Make sure code examples use black text within information blocks.
 */
.information code {
  color: #333333;
}

/* Colour palette.
   ========================================================================== */
/**
 * Generate the colour swatches dynamically.
 *
 * More info: http://www.guyroutledge.co.uk/blog/style-guide-colours-with-sass/
 */
.design-patterns--color {
  display: block;
  position: relative;
  height: 3em;
  margin: 1em 0;
  border: 1px solid #cccccc;
}

.design-patterns--color::after {
  position: absolute;
  top: 0.69230769230769em;
  padding: 1px 0.23076923076923em;
  background-color: rgba(255, 255, 255, 0.66);
  font-family: Menlo, Consolas, Monaco, monospace;
}

.design-patterns--color-text {
  background: #333333;
}

.design-patterns--color-text::after {
  content: "#333333";
}

.design-patterns--color-text-footnote {
  background: #777777;
}

.design-patterns--color-text-footnote::after {
  content: "#777777";
}

.design-patterns--color-gradient-from {
  background: #eeeeee;
}

.design-patterns--color-gradient-from::after {
  content: "#eeeeee";
}

.design-patterns--color-gradient-to {
  background: #dddddd;
}

.design-patterns--color-gradient-to::after {
  content: "#dddddd";
}

.design-patterns--color-gradient-border {
  background: #cccccc;
}

.design-patterns--color-gradient-border::after {
  content: "#cccccc";
}

.design-patterns--color-border {
  background: #cccccc;
}

.design-patterns--color-border::after {
  content: "#cccccc";
}

.design-patterns--color-link {
  background: #004cbf;
}

.design-patterns--color-link::after {
  content: "#004cbf";
}

.design-patterns--color-link-hover {
  background: #0066ff;
}

.design-patterns--color-link-hover::after {
  content: "#0066ff";
}

.design-patterns--color-link-focus {
  background: #0066ff;
}

.design-patterns--color-link-focus::after {
  content: "#0066ff";
}

.design-patterns--color-link-visited {
  background: #003380;
}

.design-patterns--color-link-visited::after {
  content: "#003380";
}

.design-patterns--color-link-selecting {
  background: #cce0ff;
}

.design-patterns--color-link-selecting::after {
  content: "#cce0ff";
}

.design-patterns--color-link-selected {
  background: #e6f0ff;
}

.design-patterns--color-link-selected::after {
  content: "#e6f0ff";
}

.design-patterns--color-background {
  background: #ffffff;
}

.design-patterns--color-background::after {
  content: "#ffffff";
}

.design-patterns--color-background-box {
  background: #f7f7f7;
}

.design-patterns--color-background-box::after {
  content: "#f7f7f7";
}

.design-patterns--color-highlight-box {
  background: #fff9e1;
}

.design-patterns--color-highlight-box::after {
  content: "#fff9e1";
}

.design-patterns--color-strong-highlight-box {
  background: #ffefaf;
}

.design-patterns--color-strong-highlight-box::after {
  content: "#ffefaf";
}

.design-patterns--color-accent-gradient-from {
  background: #ffda44;
}

.design-patterns--color-accent-gradient-from::after {
  content: "#ffda44";
}

.design-patterns--color-accent-gradient-to {
  background: #f7c600;
}

.design-patterns--color-accent-gradient-to::after {
  content: "#f7c600";
}

.design-patterns--color-success-text {
  background: #238c23;
}

.design-patterns--color-success-text::after {
  content: "#238c23";
}

.design-patterns--color-success-background {
  background: #dff0d8;
}

.design-patterns--color-success-background::after {
  content: "#dff0d8";
}

.design-patterns--color-warning-text {
  background: #cc8c00;
}

.design-patterns--color-warning-text::after {
  content: "#cc8c00";
}

.design-patterns--color-warning-background {
  background: #f7eedb;
}

.design-patterns--color-warning-background::after {
  content: "#f7eedb";
}

.design-patterns--color-error-text {
  background: #9d261d;
}

.design-patterns--color-error-text::after {
  content: "#9d261d";
}

.design-patterns--color-error-background {
  background: #f2dede;
}

.design-patterns--color-error-background::after {
  content: "#f2dede";
}

.design-patterns--color-info-text {
  background: #3a87ad;
}

.design-patterns--color-info-text::after {
  content: "#3a87ad";
}

.design-patterns--color-info-background {
  background: #e7f6fc;
}

.design-patterns--color-info-background::after {
  content: "#e7f6fc";
}

/* Layout grid examples.
   ========================================================================== */
.design-patterns--box {
  margin-top: 0;
  padding: 1em;
  background: #aaaaaa;
}

/* jQuery UI styling specific to design patterns.
   ========================================================================== */
/**
 * The list of all available icons.
 */
.jquery-ui-icons li {
  position: relative;
  margin: 2px;
  padding: 4px 0;
  float: left;
  list-style: none;
  cursor: pointer;
}

[dir="rtl"] .jquery-ui-icons li {
  float: right;
}

.jquery-ui-icons .ui-icon {
  margin: 0 4px;
  float: left;
}

[dir="rtl"] .jquery-ui-icons .ui-icon {
  float: right;
}

/**
 * The vertical slider example.
 */
.jquery-ui-slider-vertical span {
  height: 120px;
  margin: 15px;
  float: left;
}

[dir="rtl"] .jquery-ui-slider-vertical span {
  float: right;
}

/**
 * Declare a width for jQuery UI menus.
 */
.ui-menu {
  width: 150px;
}

/**
 * Absolute positioning for miscellaneous jQuery UI menus.
 */
.ui-menu:not(.jquery-ui-menu) {
  position: absolute;
  z-index: 1000;
}

/**
 * Additional information tags on design patterns doc headings.
 *
 * Example HTML:
 *
 * <h2>Title <span>new v4.7</span></h2>
 */
.text-section h1 span,
h2 span {
  font-size: 13px;
  font-weight: normal;
}

/**
 * Prism language indicator (plugin).
 */
div.prism-show-language {
  position: relative;
}

div.prism-show-language > div.prism-show-language-label {
  display: inline-block;
  position: absolute;
  top: -0.75em;
  right: 0;
  bottom: auto;
  left: auto;
  width: auto;
  height: auto;
  padding: 0 0.2727274em;
  border-radius: 0 0.2727274em;
  background-color: #777777;
  color: #ffffff;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
  font-size: 11px;
  z-index: 1;
}
