//
// note: this file is for use with Sass and Compass - http://sass-lang.com, http://compass-style.org
// don't use it as your live site stylesheet!
//


/* Buttons
   ========================================================================== */

/* address inconsistent `text-transform` inheritance for `button` in Chrome, Safari5+, and IE6+ */
button {
    text-transform: none;
}

button,
input[type="reset"],
input[type="submit"],
input[type="button"],
.txp-logout a,
.action-create a,
.navlink,
.navlink-active,
.txp-buttons a {
    @include text-shadow($text-shadow-light);
    @include border-radius;
    @include box-shadow($inset-highlighting);
    @include background-clip;
    @include box-sizing(border-box);
    @include gradient-linear($color-gradient-from, $color-gradient-to);
    @include transition(box-shadow .2s linear);

    -webkit-appearance: none; // remove iOS Safari default styling
    display: inline-block;
    margin: 0; // address margins set differently in Firefox4+, Safari5+, and Chrome */
    border: solid 1px $color-border;
    padding: 0.5384615em 0.75em;
    width: auto;
    height: 2.3846154em; // 31px / 13px
    overflow: visible; // the overflow property removes extra width in IE
    color: $color-text;
    cursor: pointer;
    font-size: 100%; // correct font size not being inherited in all browsers
    font-size: 1em;
    font-family: $font-body;
    font-weight: normal;
    text-align: center;
    vertical-align: baseline;

    &:hover {
        @include gradient-linear(lighten($color-gradient-from, 4%), lighten($color-gradient-to, 4%));

        border-color: darken($color-border, 13%);
        text-decoration: none;
    }

    &:active {
        @include box-shadow(inset 0 0.2em 0.25em rgba(#000000, 0.15));
        @include gradient-linear(darken($color-gradient-from, 3%), darken($color-gradient-to, 3%));

        border-color: darken($color-border, 13%);
        color: darken($color-text, 10%);
    }
}

/* primary buttons */

input[type="submit"].publish,
button.publish,
a.publish {
    @include gradient-linear(lighten($color-gradient2-from, 7%), lighten($color-gradient2-to, 7%));

    font-weight: bold;
    border: 1px solid $color-gradient2-to;
    border-bottom-color: darken($color-gradient2-to, 12%);

    &:hover {
        @include gradient-linear(lighten($color-gradient2-from, 14%), lighten($color-gradient2-to, 14%));

        border: 1px solid darken($color-gradient2-to, 10%);
        border-bottom-color: darken($color-gradient2-to, 19%);
    }

    &:active {
        @include gradient-linear(lighten($color-gradient2-from, 2%), lighten($color-gradient2-to, 2%));

        border: 1px solid darken($color-gradient2-to, 10%);
        border-bottom-color: darken($color-gradient2-to, 19%);
    }
}

/* delete buttons */

input[type="submit"].destroy,
button.destroy {
    @include text-shadow($text-shadow-dark);
    @include gradient-linear-bar(lighten($color-error-text, 20%), $color-error-text);

    border: 1px solid lighten($color-error-text, 18%);
    border-bottom-color: $color-error-text;
    padding: 0 0.25em; // 4px / 13px
    height: 1.5384615em; // 20px / 13px
    color: lighten($color-error-text, 56%);

    &:hover {
        @include gradient-linear-bar(lighten($color-error-text, 28%), lighten($color-error-text, 10%));

        border: 1px solid lighten($color-error-text, 8%);
        border-bottom-color: darken($color-error-text, 10%);
        color: $color-text-inverse;
    }

    &:active {
        @include gradient-linear-bar(lighten($color-error-text, 16%), darken($color-error-text, 4%));

        border: 1px solid lighten($color-error-text, 8%);
        border-bottom-color: darken($color-error-text, 10%);
    }
}

.navlink-disabled {
    @include border-radius;
    @include background-clip;
    @include box-sizing(border-box);

    display: inline-block;
    border: 1px solid;
    padding: 0.5384615em 0.75em;
    height: 2.3846154em; // 31px / 13px
    font-size: 1em;
    line-height: $baseline; // 18px / 13px
}

/* button sets */

ul.nav-tertiary {
    list-style: none;
    padding: 0;

    li {
        display: inline;
    }
}

[dir="rtl"] ul.nav-tertiary {
    padding: 0;
}

.nav-tertiary,
.prev-next {
    a,
    .navlink-disabled {
        @include border-radius(0);
    }

    > :first-child,
    > :first-child > a,
    > :first-child > span {
        @include border-left-radius;
    }

    > :last-child,
    > :last-child > a,
    > :last-child > span {
        @include border-right-radius;
    }
}

[dir="rtl"] .nav-tertiary,
[dir="rtl"] .prev-next {
    > :first-child,
    > :first-child > a,
    > :first-child > span {
        @include border-radius(0);
        @include border-right-radius;
    }

    > :last-child,
    > :last-child > a,
    > :last-child > span {
        @include border-radius(0);
        @include border-left-radius;
    }
}

.nav-tertiary .navlink-active {
    @include gradient-linear(lighten($color-link, 56%), lighten($color-link, 50%));

    border-color: #a3bef3;
    border-bottom-color: darken(#a3bef3, 10%);

    &:hover {
        @include gradient-linear(lighten($color-link, 59%), lighten($color-link, 51%));

        border-color: lighten(#6b8fe8, 10%);
        border-bottom-color: #6b8fe8;
    }

    &:active {
        @include gradient-linear(lighten($color-link, 50%), lighten($color-link, 45%));

        border-color: lighten(#6b8fe8, 10%);
        border-bottom-color: #6b8fe8;
    }
}

/* better focus glows, if box-shadow is supported */
.boxshadow {
    button,
    input[type="button"],
    input[type="reset"],
    input[type="submit"],
    .txp-logout a,
    .action-create a,
    .navlink,
    .navlink-active,
    .txp-buttons a {
        &:focus {
            @include box-shadow($inset-highlighting, 0 0 7px $color-link-hover);

            outline: 0;
        }
    }
}
