//
// note: this file is for use with Sass and Compass - http://sass-lang.com, http://compass-style.org
// don't use it as your live site stylesheet!
//


/* Footer
   ========================================================================== */

.txp-footer {
    @extend .clearfix;
}

.mothership {
    float: left;
}

.pagejump {
    float: right;
}
