//
// note: this file is for use with Sass and Compass - http://sass-lang.com, http://compass-style.org
// don't use it as your live site stylesheet!
//


/* Header
   ========================================================================== */

.txp-header {
    @include box-shadow(0 0.2em 0.25em rgba(#000000, 0.15));
    @include gradient-linear-bar($color-gradient2-from, $color-gradient2-to);

    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
    padding: 0 1.69%;
    height: 3em;

    h1 {
        @include ellipsis;
        @include svg-graphic($logo-large-filename, $logo-large-filetype, $logo-large-width, $logo-large-height);

        float: left;
        margin: 0;
        padding-left: $logo-large-width;
        max-width: 25%;
        font-size: 1em; // 13px
        line-height: 3em;
        background: no-repeat 0 46%;

        a {
            margin-right: 1em;
            margin-left: 1em;
            color: $color-text;

            &:hover {
                color: lighten($color-text, 10%);
                text-decoration: none;
            }
        }
    }
}

.txp-logout {
    position: absolute;
    top: -0.53846em; // 7px / 13px
    right: 1.69%;
}
