/* Support for non-latin languages
   ========================================================================== */

.ltr {
    direction: ltr;
}

html[lang="ja-jp"] {
    font-family: "Hiragino Kaku Gothic Pro", Meiryo, sans-serif;
}

html[lang="ko-kr"] {
    font-family: GulimChe, Gulim, sans-serif;
}

html[lang="zh-cn"] {
    font-family: SimHei, sans-serif;
}

html[lang="zh-tw"] {
    font-family: PMingLiU, sans-serif;
}
