//
// note: this file is for use with Sass and Compass - http://sass-lang.com, http://compass-style.org
// don't use it as your live site stylesheet!
//


/* Links
   ========================================================================== */

a {
    color: $color-link;
    text-decoration: none;

    &:focus {
        outline: thin dotted $color-link-hover;
    }

    &:hover {
        color: $color-link-hover;
        text-decoration: underline;
    }

    &:hover,
    &:active {
        outline: 0;
    }

    &.busy {
        visibility: hidden;
    }
}

.pophelp,
.pophelpsubtle {
    @include border-radius(50%);

    border: 1px solid #fff;
    padding: 0 0.25em;
    font-weight: normal;
    background: #e5e5e5;
}

.txp-list thead th a.pophelp {
    display: inline;
    color: $color-link;

    &:hover {
        color: $color-link-hover;
        text-decoration: underline;
    }
}
