/* Miscellaneous/shared layout
   ========================================================================== */

/* address differences between Firefox and other browsers */
hr {
    @include box-sizing(content-box);

    border: 0; // remove the default `hr` border
    border-bottom: 1px solid $color-border;
    height: 0;
}

/* hide text but still allow screen reader access */
.txp-accessibility {
    position: absolute;
    left: -1000em;
    height: 1px;
    width: 1px;
    overflow: hidden;
}

[dir="rtl"] .txp-accessibility {
    left: auto;
    right: -1000em;
}

[role="search"] {
    float: right;

    p {
        margin: 0 0.35em 0 0;
    }
}

.txp-buttons {
    margin-top: 0;
}

#detail-toggle {
    float: right;
}

.txp-control-panel {
    margin-top: 0.5em;
    text-align: right;
}

.txp-actions a {
    margin-left: 0.75em;
}

div.multi-edit {
    margin: 1em 0;
}

.multi-option {
    display: none;
}

.multi-step {
    margin-left: 0.30769em;
    display: inline-block;
}

.text-section {
    padding-top: 5em;
    background: url("../img/separator.gif") repeat-x 0 2.15384em; // 28px / 13px
}

.restricted-area {
    font-size: 2em; // 26px / 13px
    text-align: center;
}

.empty {
    display: none;
}

.disabled {
    opacity: 0.33;
    /* transparency support for IE8 */
    filter: alpha(opacity=33);
}

/* list navigators on list pages */

.txp-navigation {
    p,
    ul {
        margin: 0 0 0.5em;
    }

    .pageby {
        float: left;
    }

    .prev-next {
        float: right;
    }
}

/* AJAX spinner */
span.spinner {
    display: inline-block;
    width: 13px;
    height: 13px;
    background-image: url("../img/spinner.gif");
}
@media print,
    (-webkit-min-device-pixel-ratio: 2),
    (min--moz-device-pixel-ratio: 2),
    (-o-min-device-pixel-ratio: 2/1),
    (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    span.spinner {
        background-image: url("../img/spinner@2x.gif") !important;
        background-size: 13px 13px;
    }
}


/* Edit and login panes
   ========================================================================== */

.txp-edit,
.txp-login {
    @include border-radius;

    margin: 0 auto 1em;
    padding: 1em 1em 1px 1em;
    background: $color-background-box;
}

.txp-edit,
.txp-login,
.edit-form,
.prefs-form,
.txp-login {
    p {
        @extend .clearfix;
    }
}

.txp-edit {
    max-width: ($text-column - 2em);
}

.txp-login {
    max-width: 35em;
}

.txp-label,
.txp-value {
    float: left;
    width: 50%;

    [dir="rtl"] & {
        float: right;
    }
}

.txp-login {
    .txp-label {
        width: 31%;
    }

    .txp-value {
        width: 69%;
    }
}

.txp-value {
    input,
    select {
        margin-top: -0.23076em;
        margin-bottom: -0.23076em;
    }
}

.txp-value-fixed {
    display: inline-block;
    padding: 0.23076em 0; // 3px / 13px
}

/* deprecated @ 4.6 */
.edit-label {
    display: inline-block;
    float: left;
    width: 42%;
}

/* deprecated @ 4.6 */
.edit-value {
    display: inline-block;
    float: right;
    width: 58%;

    input,
    select {
        margin-top: -0.23076em;
        margin-bottom: -0.23076em;
    }
}

/* TBC (for modals @ 4.6) */
.txp-edit-action {
    @include border-bottom-radius;

    margin-right: -1em;
    margin-left: -1em;
    margin-bottom: 0;
    border-top: 1px solid $color-background;
    padding: 1em;
    background: darken($color-background-box, 3%);

    input[type="submit"] {
        float: right;
    }
}


/* Setup pages
   ========================================================================== */

body#page-setup {
    padding: 1em 2em 0;
}

.txp-setup {
    margin: 1em auto 2em;
    max-width: $standard-column;
}

/* rules specific to the very first page you'll see */
.welcome {
    .txp-setup {
        max-width: 20.30769em;
    }

    h1 {
        @include hide-text;
        @include svg-graphic(textpattern-xlrg, png, 20.30769em, 4.15384em);

        width: 20.30769em; // 264px / 13px
        height: 4.15384em; // 54px / 13px
        font-size: 1em;
        background-repeat: no-repeat;

    }

    select {
        width: 100%;
    }
}


/* Tag builder page
   ========================================================================== */

#tag-event {
    padding: 2.5em 0.5em 1em;
    overflow-y: scroll;

    h3 {
        @include box-shadow(0 0.2em 0.25em rgba(#000000, 0.15));
        @include gradient-linear-bar($color-gradient2-from, $color-gradient2-to);

        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        z-index: 1000;
        padding: 0.5em 1em;
    }

    th,
    td {
        padding: 0.5em;
        width: 50%;
    }

    p {
        margin: 0.5em;
    }
}


/* Content -> Categories page
   ========================================================================== */

.categories {
    margin-bottom: 1em;
    padding: 1em 1em 1px;
    background: $color-background-box;
}


/* Content -> Write page
   ========================================================================== */

#view_modes {
    ul {
        list-style: none;
        padding: 0;
    }

    li {
        display: inline-block;
        margin: 0 0.5em 0 0;
        width: 1.5em; // 24px / 16px
        height: 1.5em; // 24px / 16px
        font-size: 16px;

        [dir="rtl"] & {
            margin: 0 0 0 0.5em;
        }
    }

    a {
        @include hide-text;
        @include border-radius;

        display: block;
        width: 1.5em; // 24px / 16px
        height: 1.5em; // 24px / 16px
        background: $color-gradient-from no-repeat 50% 50%;
    }

    a:hover,
    li.active a {
        background-color: $color-highlight2-box;
    }
}

.no-svg #tab-text a {
    background-image: url("../img/view-text.png");
}
.svg #tab-text a {
    background-image: url("../img/view-text.svg");
}

.no-svg #tab-html a {
    background-image: url("../img/view-html.png");
}
.svg #tab-html a {
    background-image: url("../img/view-html.svg");
}

.no-svg #tab-preview a {
    background-image: url("../img/view-preview.png");
}
.svg #tab-preview a {
    background-image: url("../img/view-preview.svg");
}

.svg #view_modes a {
    background-size: 1.5em 1.5em;
}

.html .excerpt {
    margin-bottom: 1em;
}

#main_content {
    #title {
        width: 75%;
    }

    .author {
        color: $color-text-footnote;
    }
}

#recent_group {
    ul {
        list-style: decimal-leading-zero;
    }

    li {
        margin-left: 2em;
    }
}


/* Content -> Articles page
   ========================================================================== */

.unpublished {
    color: $color-text-footnote;
}


/* Content -> Images page
   ========================================================================== */

.fullsize-image {
    text-align: center;
    margin-bottom: 1em;

    img {
        @include box-sizing(border-box);

        max-width: 100%;
        height: auto;
    }
}

.thumbnail-edit {
    overflow-x: auto;
    margin-bottom: 1em;

    form {
        display: inline-block;
        vertical-align: top;
        margin-top: 5px;
    }
}

.edit-image-replace,
.edit-upload-thumbnail,
.edit-alter-thumbnail {
    input[type="submit"] {
        float: right;
    }
}


/* Content -> Files page
   ========================================================================== */

.edit-file-replace input[type="submit"] {
    float: right;
}


/* Content -> Comments page
   ========================================================================== */

#page-discuss .txp-list tr.spam {
    background: lighten($color-error-background, 2%);
}

#page-discuss .txp-list tr.moderate {
    background: lighten($color-warning-background, 2%);
}


/* Admin -> Languages page
   ========================================================================== */

#page-lang .txp-list .modified {
    color: $color-text-footnote;
    margin-left: 0.6em;
}

#textpack-install {
    width: 50%;
}


/* Admin -> Plugins page
   ========================================================================== */

tr {
    .manage span,
    .plugin-prefs {
        visibility: hidden;
    }
}

tr.active {
    .manage span,
    .plugin-prefs {
        visibility: visible;
    }
}

#plugin-install {
    width: 50%;
}

#plugin-code {
    height: 23em;
}

div.code {
    @include box-sizing(border-box);

    margin-bottom: 1em;
    border: 1px solid $color-border;
    padding: 0.15384em 0.38461em;
    height: 21em;
    overflow: auto;
}

/* Deprecated @ 4.6 - use `.txp-layout-textbox` instead */
.plugin-column {
    margin: 0 auto;
    max-width: 57em;

    & p {
        @extend .clearfix;
    }
}
