/* Messages
   ========================================================================== */

/**
 * Alert labels.
 *
 * Example HTML:
 *
 * <span class="success">
 * <span class="error">
 * <strong class="success">
 * <strong class="error">
 */

.success,
.warning,
.error,
.information {
    border-radius: 0.23076923076923em; // 3px / 13px
    padding: 1px 0.23076923076923em; // 3px / 13px
}

.success {
    color: $color-success-text;
    background: $color-success-background;
}

.warning {
    color: $color-warning-text;
    background: $color-warning-background;
}

.error {
    color: $color-error-text;
    background: $color-error-background;
}

.information {
    color: $color-info-text;
    background: $color-info-background;
}

/**
 * Highlight background.
 *
 * Example HTML:
 *
 * <table>
 *     <tr>
 *         <td class="highlight></td>
 *         <td></td>
 *     </tr>
 * </table>
 */

.highlight {
    background: $color-highlight-box;
}

/**
 * Alert boxes.
 *
 * Example HTML:
 *
 * <p class="alert-block success">
 * <p class="alert-block error">
 */

.alert-block {
    border: 1px solid;
    padding: 0.53846153846154em 1em; // 7px / 13px

    &.success {
        border-color: $color-success-border;
    }

    &.warning {
        border-color: $color-warning-border;
    }

    &.error {
        border-color: $color-error-border;
    }

    &.information {
        border-color: $color-info-border;
    }
}

/**
 * System messages.
 *
 * Example HTML:
 *
 * <div id="messagepane">
 *     <span role="alert" class="error">
 *         Content
 *     </span>
 * </div>
 */

#messagepane {
    position: fixed;
    bottom: 0;
    z-index: 1000;
    text-align: center;

    span {
        &.success,
        &.warning,
        &.error {
            display: inline-block;
            margin: 0 auto;
            border-radius: $default-border-radius $default-border-radius 0 0;
            padding: 0.53846153846154em 2.84615384615385em 0.53846153846154em 1em;
            max-width: ($text-column - 3.84615384615385em);
            color: $color-text-inverse;
            box-shadow: 0 0 0.5em rgba(0, 0, 0, 0.2);
        }

        &.success {
            background: $color-success-text;
        }

        &.warning {
            background: $color-warning-text;
        }

        &.error {
            background: $color-error-text;
        }
    }
}

/*
 * Message close icon.
 *
 * Example HTML:
 *
 * <a role="button" class="close" aria-label="Close">&times;</a>
 */

.close {
    position: absolute;
    top: 0.27777777777778em; // 5px / 18px
    right: 0.72222222222222em; // 13px / 18px
    text-decoration: none;
    color: transparentize($color-text-inverse, 0.4);
    font-size: 18px;
    font-weight: bold;

    &:hover {
        text-decoration: none;
        color: transparentize($color-text-inverse, 0.2);
        cursor: pointer;
    }
}

/*
 * Flash the alert message using CSS animation.
 */

@include keyframes(messageflash) {
    0% {opacity: 0;}
    50%, 100% {opacity: 1;}
    75% {opacity: 0.5;}
}

.messageflash {
    @include animation(messageflash 1s);
}
