/* Messages
   ========================================================================== */

/**
 * Alert labels.
 *
 * Example HTML:
 *
 * <span class="success">
 * <span class="error">
 * <strong class="success">
 * <strong class="error">
 */

.success:not(li),
.warning:not(li),
.error:not(li),
.information:not(li) {
    padding: 1px 0.23076923076923em; // 3px / 13px
    @if $border-radius > 0 {
        border-radius: $border-radius / 2;
    }
}

.success {
    background: $color-success-background;
}

.success:not(li) {
    color: $color-success-text;
}

.warning {
    background: $color-warning-background;
}

.warning:not(li) {
    color: $color-warning-text;
}

.error {
    background: $color-error-background;
}

.error:not(li) {
    color: $color-error-text;
}

.information {
    background: $color-info-background;
}

.information:not(li) {
    color: $color-info-text;
}

/**
 * Highlight background.
 *
 * Example HTML:
 *
 * <table>
 *     <tr>
 *         <td class="highlight></td>
 *         <td></td>
 *     </tr>
 * </table>
 */

.highlight {
    background: $color-highlight-box;
}

/**
 * Alert boxes.
 *
 * Example HTML:
 *
 * <p class="alert-block success">
 * <p class="alert-block error">
 */

.alert-block:not(li) {
    padding: 0.53846153846154em 1em; // 7px / 13px
    clear: both;
    border: 1px solid;

    &.success {
        border-color: $color-success-border;
    }

    &.warning {
        border-color: $color-warning-border;
    }

    &.error {
        border-color: $color-error-border;
    }

    &.information {
        border-color: $color-info-border;
    }
}

/**
 * System messages.
 *
 * Example HTML:
 *
 * <div id="messagepane">
 *     <span role="alert" class="error">
 *         Content
 *     </span>
 * </div>
 */

#messagepane {
    position: fixed;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
    z-index: 1000;

    span {
        &.success,
        &.warning,
        &.error {
            display: inline-block;
            max-width: ($text-column - 3.84615384615385em);
            margin: 0 auto;
            padding: 0.53846153846154em 2.84615384615385em 0.53846153846154em 1em;
            @if $border-radius > 0 {
                border-radius: $border-radius $border-radius 0 0;
            }
            color: $color-text-inverse;
            @if $flat-theme < 1 {
                box-shadow: $standard-shadow;
            }
        }

        &.success {
            background: $color-success-text;
        }

        &.warning {
            background: $color-warning-text;
        }

        &.error {
            background: $color-error-text;
        }
    }
}

/*
 * Message close icon.
 *
 * Example HTML:
 *
 * <a role="button" class="close" aria-label="Close">&times;</a>
 */

.close {
    position: absolute;
    top: 0.27777777777778em; // 5px / 18px
    right: 0.72222222222222em; // 13px / 18px
    color: transparentize($color-text-inverse, 0.4);
    font-size: 18px;
    font-weight: bold;
    text-decoration: none;

    &:hover {
        color: transparentize($color-text-inverse, 0.2);
        text-decoration: none;
        cursor: pointer;
    }
}

/*
 * Flash the alert message using CSS animation.
 */

.messageflash {
    animation: messageflash 1s;
}
