@use "../setup";

/* Reset
   ========================================================================== */

a,
input,
button {
    touch-action: manipulation;
}


/* Float clearing
   ========================================================================== */

/**
 * Clearfix using the 'A new micro clearfix hack' method.
 */

.clearfix {
    &::after {
        content: "";
        display: table;
        clear: both;
    }
}

/**
 * Basic float clearer.
 */

.clear {
    clear: both;
}
