@use "sass:color"; // TEMP
@use "../setup";

// import colourscheme TEMP
@use "../setup/colours";

/* Buttons
   ========================================================================== */

/**
 * Remove the inheritance of text transform in Edge, Firefox, and IE.
 */

button {
    text-transform: none;
}

/**
 * Remove the inner border and padding in Firefox.
 */

button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
    padding: 0;
    border-style: none;
}

/**
 * 1. Remove iOS Safari default styling.
 * 2. Improve usability and consistency of cursor style between image-type
 *    `input` and others.
 */

button,
[type="reset"],
[type="submit"],
input[type="button"],
.txp-button,
.txp-logout a,
.navlink,
.navlink-active {
    @include setup.gradient-linear(colours.$color-button-gradient-from, colours.$color-button-gradient-to);

    display: inline-block;
    width: auto;
    height: 2.307692307692308em; // 30px / 13px
    padding: 0.30769230769231em 0.61538461538462em; // 4px / 13px + 8px / 13px
    border: 1px solid colours.$color-button-border;
    border-radius: setup.$border-radius;
    background-clip: padding-box;
    color: colours.$color-text-button;
    font-weight: normal;
    text-align: center;
    /* 1 */
    appearance: none;
    /* 2 */
    cursor: pointer;
    user-select: none;

    &:hover {
        @include setup.gradient-linear(color.adjust(colours.$color-button-gradient-from, $lightness: 4%), color.adjust(colours.$color-button-gradient-to, $lightness: 4%));

        border-color: color.adjust(colours.$color-button-border, $lightness: -13%);
        color: colours.$color-text-button-hover;
        text-decoration: none;
    }

    &:active {
        @include setup.gradient-linear(color.adjust(colours.$color-button-gradient-from, $lightness: -3%), color.adjust(colours.$color-button-gradient-to, $lightness: -3%));

        border-color: color.adjust(colours.$color-button-border, $lightness: -13%);
        color: colours.$color-text-button-active;
        text-decoration: none;

        @if setup.$flat-theme < 1 {
            box-shadow: setup.$inset-lowlighting;
        }
    }

    &:focus {
        border-color: colours.$color-link-focus;
        outline: 2px solid transparent; // Allows for repainting in high contrast modes.
        color: colours.$color-text-button-active;
    }
}

@include setup.dark-mode {
    button,
    [type="reset"],
    [type="submit"],
    input[type="button"],
    .txp-button,
    .navlink,
    .navlink-active {
        color: colours.$dark-color-text-button;

        &:hover {
            color: colours.$dark-color-text-button-hover;
        }

        &:active {
            color: colours.$dark-color-text-button-active;
        }

        &:focus {
            border-color: colours.$dark-color-link-focus;
            outline: 2px solid transparent; // Allows for repainting in high contrast modes.
            color: colours.$dark-color-text-button-active;
        }
    }
}

/**
 * Additional styling for primary buttons.
 *
 * Example HTML:
 *
 * <input type="submit" class="publish">
 */

[type="submit"].publish,
button.publish,
a.publish {
    @include setup.gradient-linear(colours.$color-button-primary-gradient-from, colours.$color-button-primary-gradient-to);

    height: 2.76923076923077em; // 36px / 13px
    padding: 0.61538461538462em 1em; // 8px / 13px + 13px
    border: 1px solid colours.$color-button-primary-border;
    font-weight: bold;

    &:hover {
        @include setup.gradient-linear(color.adjust(colours.$color-button-primary-gradient-from, $lightness: 7%), color.adjust(colours.$color-button-primary-gradient-to, $lightness: 7%));

        border: 1px solid color.adjust(colours.$color-button-primary-border, $lightness: -10%);
    }

    &:active {
        @include setup.gradient-linear(color.adjust(colours.$color-button-primary-gradient-from, $lightness: -5%), color.adjust(colours.$color-button-primary-gradient-to, $lightness: -5%));

        border: 1px solid color.adjust(colours.$color-button-primary-border, $lightness: -10%);
    }

    &:focus {
        border-color: colours.$color-link-focus;
    }
}

@include setup.dark-mode {
    [type="submit"].publish,
    button.publish,
    a.publish {
        &:focus {
            border-color: colours.$dark-color-link-focus;
            outline: 2px solid transparent; // Allows for repainting in high contrast modes.
        }
    }
}

/**
 * Additional styling for delete (destroy) buttons.
 *
 * Example HTML:
 *
 * <button class="destroy" type="submit">
 *     <span class="ui-icon ui-icon-close">Destroy</span>
 * </button>
 */

button.destroy {
    height: auto;
    padding: 0.07692307692308em 0 0; // 1px / 13px
    border: 0;

    @if setup.$border-radius > 0 {
        border-radius: 0;
    }

    background: none;

    &:hover,
    &:active {
        background: none;
        box-shadow: none;
    }

    &:focus {
        outline: thin solid colours.$color-link-focus;
    }

    .ui-icon {
        opacity: 0.66;
    }

    &:hover .ui-icon,
    &:active .ui-icon {
        opacity: 1;
    }
}

@include setup.dark-mode {
    button.destroy {
        &:focus {
            outline: thin solid colours.$dark-color-link-focus;
        }

        .ui-icon {
            opacity: 1;
        }

        &:hover .ui-icon,
        &:active .ui-icon,
        &:hover .ui-icon,
        &:active .ui-icon {
            filter: brightness(2.5) sepia(1) hue-rotate(-62deg) saturate(750%) brightness(100%);
        }
    }

    a.destroy.ui-icon {
        opacity: 1;

        &:hover,
        &:active {
            filter: brightness(2.5) sepia(1) hue-rotate(-62deg) saturate(750%) brightness(100%);
        }
    }
}

/**
 * Grey-out disabled navlinks (but keep them in button style).
 *
 * Example HTML:
 *
 * <p class="prev-next">
 *     <span class="navlink-disabled">Previous</span>
 *     <a class="navlink">Next</a>
 * </p>
 */

.navlink-disabled {
    display: inline-block;
    box-sizing: border-box;
    height: 2.307692307692308em; // 30px / 13px
    padding: 0.30769230769231em 0.61538461538462em; // 4px / 13px + 8px / 13px
    border: 1px solid;

    @if setup.$border-radius > 0 {
        border-radius: setup.$border-radius;
    }

    background-clip: padding-box;
}

@include setup.dark-mode {
    .navlink-disabled {
        @include setup.gradient-linear(colours.$color-button-gradient-from, colours.$color-button-gradient-to);
    }
}

/**
 * Tertiary button sets.
 *
 * Anchor elements kept to one line to prevent space between buttons.
 *
 * Example HTML:
 *
 * <p class="nav-tertiary">
 *     <a class="navlink-active">Page 1</a><a class="navlink">Page 2</a>
 * </p>
 */

ul.nav-tertiary {
    padding: 0;
    list-style: none;

    li {
        display: inline;
    }
}

[dir="rtl"] ul.nav-tertiary {
    padding: 0;
}

@if setup.$border-radius > 0 {
    .nav-tertiary {
        > * {
            border-radius: 0;
        }

        > :first-child,
        > :first-child > a,
        > :first-child > span {
            border-radius: setup.$border-radius 0 0 setup.$border-radius;
        }

        > :last-child,
        > :last-child > a,
        > :last-child > span {
            border-radius: 0 setup.$border-radius setup.$border-radius 0;
        }
    }

    [dir="rtl"] .nav-tertiary {
        > :first-child,
        > :first-child > a,
        > :first-child > span {
            border-radius: 0 setup.$border-radius setup.$border-radius 0;
        }

        > :last-child,
        > :last-child > a,
        > :last-child > span {
            border-radius: setup.$border-radius 0 0 setup.$border-radius;
        }
    }
}

/**
 * Indication of the currently active `.nav-tertiary` button.
 *
 * Example HTML:
 *
 * <p class="nav-tertiary">
 *     <a class="navlink-active">Page 1</a><a class="navlink">Page 2</a>
 * </p>
 */

.nav-tertiary .navlink-active,
.filtered button.ui-corner-right {
    @include setup.gradient-linear(colours.$color-button-selected-gradient-from, colours.$color-button-selected-gradient-to);

    border-color: colours.$color-button-selected-border;

    &:hover {
        @include setup.gradient-linear(color.adjust(colours.$color-button-selected-gradient-from, $lightness: 2%), color.adjust(colours.$color-button-selected-gradient-to, $lightness: 2%));

        border-color: color.adjust(colours.$color-button-selected-border, $lightness: -15%);
    }

    &:active {
        @include setup.gradient-linear(color.adjust(colours.$color-button-selected-gradient-from, $lightness: -5%), color.adjust(colours.$color-button-selected-gradient-to, $lightness: -5%));

        border-color: color.adjust(colours.$color-button-selected-border, $lightness: -15%);
    }

    &:focus {
        border-color: colours.$color-link-focus;
    }
}

@include setup.dark-mode {
    .nav-tertiary .navlink-active,
    .filtered button.ui-corner-right {
        &:focus {
            border-color: colours.$dark-color-link-focus;
        }
    }
}

/**
 * Search widget 'search' button.
 *
 * 1. Correct specificity for RTL languages.
 *
 * Example HTML:
 *
 * <form class="txp-search">
 *     <input class="txp-search-input" type="search" size="24">
 *     <span class="txp-search-buttons">
 *         <button class="txp-search-button">Search</button>
 *         ...
 *     </span>
 * </form>
 */

.txp-search button.txp-search-button {
    padding-right: 1.5em;
    padding-left: 1.5em;

    @if setup.$border-radius > 0 {
        border-radius: 0;

        [dir="rtl"] & {
            /* 1 */
            border-radius: 0;
        }
    }
}

/**
 * Disbaled button additional styling.
 */

button[disabled],
[type="button"][disabled],
[type="reset"][disabled],
[type="submit"][disabled],
.txp-button.disabled,
.navlink-disabled,
.ui-checkboxradio-disabled {
    background: colours.$color-background-form-disabled !important;
    color: colours.$color-text-button-disabled !important;
}

@include setup.dark-mode {
    button[disabled],
    [type="button"][disabled],
    [type="reset"][disabled],
    [type="submit"][disabled],
    .txp-button.disabled,
    .navlink-disabled,
    .ui-checkboxradio-disabled {
        background: colours.$color-background-form-disabled !important;
        color: colours.$dark-color-text-button-disabled !important;
    }
}
