/* Buttons
   ========================================================================== */

/**
 * 1. Address `overflow` set to `hidden` in IE 8/9/10/11.
 * 2. Correct `button` style inheritance in Firefox, IE 8/9/10/11, and Opera.
 */

button {
    /* 1 */
    overflow: visible;
    /* 2 */
    text-transform: none;
}

/**
 * 1. Remove iOS Safari default styling.
 * 2. Improve usability and consistency of cursor style between image-type
 *    `input` and others.
 */

button,
input[type="reset"],
input[type="submit"],
input[type="button"],
.txp-logout a,
.action-create a,
.navlink,
.navlink-active,
.txp-buttons a {
    @include text-shadow($text-shadow-light);
    @include border-radius;
    @include box-shadow($inset-highlighting);
    @include background-clip;
    @include gradient-linear($color-gradient-from, $color-gradient-to);
    @include transition(box-shadow 0.1s linear);

    /* 1 */
    -webkit-appearance: none;
    display: inline-block;
    border: solid 1px $color-gradient-border;
    padding: 0.30769231em 0.61538462em; // 4px / 13px + 8px / 13px
    width: auto;
    height: 2.1538462em; // 28px / 13px
    font-weight: normal;
    text-align: center;
    color: $color-text;
    /* 2 */
    cursor: pointer;

    &:hover {
        @include gradient-linear(lighten($color-gradient-from, 4%), lighten($color-gradient-to, 4%));

        border-color: darken($color-gradient-border, 13%);
        color: $color-text;
        text-decoration: none;
    }

    &:active {
        @include box-shadow(inset 0 0.2em 0.25em rgba(#000000, 0.15));
        @include gradient-linear(darken($color-gradient-from, 3%), darken($color-gradient-to, 3%));

        border-color: darken($color-gradient-border, 13%);
        color: darken($color-text, 10%);
        text-decoration: none;
    }

    &:focus {
        @include box-shadow($inset-highlighting, 0 0 7px $color-link-focus-glow);

        border-color: $color-link-focus;
        outline: 0;
    }
}

/**
 * Additional styling for primary buttons.
 *
 * Example HTML:
 *
 * <input type="submit" class="publish">
 */

input[type="submit"].publish,
button.publish,
a.publish {
    @include gradient-linear(lighten($color-gradient2-from, 7%), lighten($color-gradient2-to, 7%));

    font-weight: bold;
    border: 1px solid $color-gradient2-to;

    &:hover {
        @include gradient-linear(lighten($color-gradient2-from, 14%), lighten($color-gradient2-to, 14%));

        border: 1px solid darken($color-gradient2-to, 10%);
    }

    &:active {
        @include gradient-linear(lighten($color-gradient2-from, 2%), lighten($color-gradient2-to, 2%));

        border: 1px solid darken($color-gradient2-to, 10%);
    }

    &:focus {
        border-color: $color-link-focus;
    }
}

/**
 * Additional styling for delete buttons.
 *
 * Example HTML:
 *
 * <input type="submit" class="destroy">
 */

input[type="submit"].destroy,
button.destroy {
    @include text-shadow($text-shadow-dark);
    @include border-radius(50%);
    @include gradient-linear(lighten($color-error-text, 10%), $color-error-text);

    border-color: darken($color-error-text, 5%);
    padding: 0 0.3076923em; // 4px / 13px
    height: 1.53846154em; // 20px / 13px
    color: #ffffff;

    &:hover {
        @include gradient-linear(lighten($color-error-text, 18%), lighten($color-error-text, 8%));

        border-color: darken($color-error-text, 12%);
    }

    &:active {
        @include gradient-linear($color-error-text, lighten($color-error-text, 8%));

        border-color: darken($color-error-text, 12%);
        color: darken(#ffffff, 10%);
    }

    &:focus {
        border-color: $color-link-focus;
    }
}

/**
 * Grey-out disabled navlinks (but keep them in button style).
 *
 * Example HTML:
 *
 * <p class="prev-next">
 *     <span class="navlink-disabled">← Prev</span>
 *     <a class="navlink">Next →</a>
 * </p>
 */

.navlink-disabled {
    @include border-radius;
    @include background-clip;
    @include box-sizing(border-box);

    display: inline-block;
    border: 1px solid;
    padding: 0.30769231em 0.61538462em; // 4px / 13px + 8px / 13px
    height: 2.1538462em; // 28px / 13px
}

/**
 * Button sets - either `.nav-tertiary` or `.prev-next` depending on context.
 *
 * Anchor elements kept to one line to prevent space between buttons.
 *
 * Example HTML:
 *
 * <p class="nav-tertiary">
 *     <a class="navlink-active">Page 1</a><a class="navlink">Page 2</a>
 * </p>
 * <p class="prev-next">
 *     <a class="navlink">← Prev</a><a class="navlink">Next →</a>
 * </p>
 */

ul.nav-tertiary {
    list-style: none;
    padding: 0;

    li {
        display: inline;
    }
}

[dir="rtl"] ul.nav-tertiary {
    padding: 0;
}

.nav-tertiary,
.prev-next {
    a,
    .navlink-disabled {
        @include border-radius(0);
    }

    > :first-child,
    > :first-child > a,
    > :first-child > span {
        @include border-left-radius;
    }

    > :last-child,
    > :last-child > a,
    > :last-child > span {
        @include border-right-radius;
    }
}

[dir="rtl"] .nav-tertiary,
[dir="rtl"] .prev-next {
    > :first-child,
    > :first-child > a,
    > :first-child > span {
        @include border-radius(0);
        @include border-right-radius;
    }

    > :last-child,
    > :last-child > a,
    > :last-child > span {
        @include border-radius(0);
        @include border-left-radius;
    }
}

/**
 * Indication of the currently active `.nav-tertiary` button.
 *
 * Example HTML:
 *
 * <p class="nav-tertiary">
 *     <a class="navlink-active">Page 1</a><a class="navlink">Page 2</a>
 * </p>
 */

.nav-tertiary .navlink-active {
    @include gradient-linear(#e3edfc, #c7dbfa);

    border-color: #a3bef3;

    &:hover {
        @include gradient-linear(#f1f6fe, #ccdefa);

        border-color: #6b8fe8;
    }

    &:active {
        @include gradient-linear(#c7dbfa, #b0cbf7);

        border-color: #6b8fe8;
    }

    &:focus {
        border-color: $color-link-focus;
    }
}

/**
 * Search widget 'search' button.
 *
 * Example HTML:
 *
 * <form class="txp-search">
 *     <input type="search" size="16" class="txp-search-input">
 *     <span class="txp-search-buttons">
 *         <button class="txp-search-button">Search</button>
 *         <button class="txp-search-options">Search options</button>
 *     </span>
 * </form>
 */

.txp-search button.txp-search-button {
    margin-left: -0.35em;
    border-radius: 0;
    padding-left: 1.5em;
    padding-right: 1.5em;
}
