@use "../setup";

/* Buttons
   ========================================================================== */

/**
 * Remove the inheritance of text transform in Firefox.
 */

button {
    text-transform: none;
}

/**
 * Remove the inner border and padding in Firefox.
 */

button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
    padding: 0;
    border-style: none;
}

/**
 * 1. Remove iOS Safari default styling.
 * 2. Improve usability and consistency of cursor style between image-type
 *    `input` and others.
 */

button,
[type="reset"],
[type="submit"],
input[type="button"],
.txp-button,
.txp-logout a,
.navlink,
.navlink-active {
    @include setup.gradient-linear(
        var(--clr-btn-grad-from),
        var(--clr-btn-grad-to)
    );

    display: inline-block;
    width: auto;
    height: auto;
    padding: 0.3076923em 0.6153846em; // 4px / 13px + 8px / 13px
    border: 1px solid var(--clr-btn-brdr);
    border-radius: setup.$border-radius;
    background-clip: padding-box;
    color: var(--clr-text-btn);
    font-weight: 400;
    text-align: center;
    appearance: none; /* 1 */
    cursor: pointer; /* 2 */
    user-select: none;

    &:hover {
        filter: brightness(1.05);
        color: var(--clr-text-btn-hover);
        text-decoration: none;
    }

    &:active {
        filter: brightness(0.95);
        color: var(--clr-text-btn-active);
        text-decoration: none;

        @if not setup.$flat-theme {
            box-shadow: var(--inset-lolite);
        }
    }

    &:focus {
        border-color: var(--clr-focus);
        outline: 0;
        box-shadow: 0 0 0 1px var(--clr-focus-a50);
        color: var(--clr-text-btn-active);
    }

    .ui-icon {
        top: 1px; // Nicer vertical alignment of icons within buttons.
    }
}

button.txp-reduced-ui-button {
    border: none;
    background: none;
    color: var(--clr-a);

    &:hover,
    &:active {
        color: var(--clr-a-interact);
        text-decoration: underline;
    }

    &:focus {
        outline: thin solid var(--clr-focus);
    }
}

/**
 * Additional styling for primary buttons.
 *
 * Example HTML:
 *
 * <input type="submit" class="publish">
 */

[type="submit"].publish,
button.publish {
    @include setup.gradient-linear(
        var(--clr-btn-primary-grad-from),
        var(--clr-btn-primary-grad-to)
    );

    padding: 0.6153846em 1em; // 8px / 13px + 13px
    border: 1px solid var(--clr-btn-primary-brdr);
    font-weight: 700;

    &:focus {
        border-color: var(--clr-focus);
    }
}

/**
 * Additional styling for buttons that have impactful results.
 *
 * Example HTML:
 *
 * <input type="submit" class="caution">
 */

[type="submit"].caution,
 button.caution {
     @include setup.gradient-linear(
         var(--clr-btn-caution-grad-from),
         var(--clr-btn-caution-grad-to)
     );

     border: 1px solid var(--clr-error-brdr);
     color: var(--clr-error-text);
     font-weight: 700;

     &:focus {
         border-color: var(--clr-focus);
     }
 }

/**
 * Additional styling for delete (destroy) buttons.
 *
 * Example HTML:
 *
 * <button class="destroy" type="submit">
 *     <span class="ui-icon ui-icon-close">Destroy</span>
 * </button>
 */

button.destroy {
    padding: 0.0769231em 0.2307692em; // 1px / 13px + 3px / 13px
    border-radius: 50%;

    .ui-icon {
        opacity: 0.66;
    }

    &:hover .ui-icon,
    &:active .ui-icon {
        opacity: 1;
    }
}

@include setup.dark-mode {
    button.destroy {
        .ui-icon {
            opacity: 1;
        }

        &:hover .ui-icon,
        &:active .ui-icon,
        &:hover .ui-icon,
        &:active .ui-icon {
            filter: brightness(2.5) sepia(1) hue-rotate(-62deg) saturate(750%)
                brightness(100%);
        }
    }

    a.destroy.ui-icon {
        opacity: 1;

        &:hover,
        &:active {
            filter: brightness(2.5) sepia(1) hue-rotate(-62deg) saturate(750%)
                brightness(100%);
        }
    }
}

/**
 * Grey-out disabled navlinks (but keep them in button style).
 *
 * Example HTML:
 *
 * <p class="prev-next">
 *     <span class="navlink-disabled">Previous</span>
 *     <a class="navlink">Next</a>
 * </p>
 */

.navlink-disabled {
    display: inline-block;
    box-sizing: border-box;
    padding: 0.3076923em 0.6153846em; // 4px / 13px + 8px / 13px
    border: 1px solid;

    @if setup.$border-radius > 0 {
        border-radius: setup.$border-radius;
    }

    background-clip: padding-box;
}

/**
 * Tertiary button sets.
 *
 * Anchor elements kept to one line to prevent space between buttons.
 *
 * Example HTML:
 *
 * <p class="nav-tertiary">
 *     <a class="navlink-active">Page 1</a><a class="navlink">Page 2</a>
 * </p>
 */

ul.nav-tertiary {
    padding: 0;
    list-style: none;

    li {
        display: inline;
    }
}

@if setup.$border-radius > 0 {
    .nav-tertiary {
        > * {
            border-radius: 0;
        }

        > :first-child,
        > :first-child > a,
        > :first-child > span {
            border-radius: setup.$border-radius 0 0 setup.$border-radius;
        }

        > :last-child,
        > :last-child > a,
        > :last-child > span {
            border-radius: 0 setup.$border-radius setup.$border-radius 0;
        }
    }

    [dir="rtl"] .nav-tertiary {
        > :first-child,
        > :first-child > a,
        > :first-child > span {
            border-radius: 0 setup.$border-radius setup.$border-radius 0;
        }

        > :last-child,
        > :last-child > a,
        > :last-child > span {
            border-radius: setup.$border-radius 0 0 setup.$border-radius;
        }
    }
}

/**
 * Indication of the currently active `.nav-tertiary` button.
 *
 * Example HTML:
 *
 * <p class="nav-tertiary">
 *     <a class="navlink-active">Page 1</a><a class="navlink">Page 2</a>
 * </p>
 */

.nav-tertiary .navlink-active,
.filtered button.ui-corner-right {
    @include setup.gradient-linear(
        var(--clr-btn-selected-grad-from),
        var(--clr-btn-selected-grad-to)
    );

    border-color: var(--clr-btn-selected-brdr);

    &:hover {
        filter: brightness(1.05);
    }

    &:active {
        filter: brightness(0.95);
    }

    &:focus {
        border-color: var(--clr-focus);
    }
}

/**
 * Search widget 'search' button.
 *
 * 1. Correct specificity for RTL languages.
 *
 * Example HTML:
 *
 * <form class="txp-search">
 *     <input class="txp-search-input" type="search" size="24">
 *     <span class="txp-search-buttons">
 *         <button class="txp-search-button">Search</button>
 *         ...
 *     </span>
 * </form>
 */

.txp-search button.txp-search-button {
    padding-right: 1.5em;
    padding-left: 1.5em;

    @if setup.$border-radius > 0 {
        border-radius: 0;

        [dir="rtl"] & {
            border-radius: 0; /* 1 */
        }
    }
}

/**
 * Disbaled button additional styling.
 */

button[disabled],
button[inert],
[type="button"][disabled],
[type="button"][inert],
[type="reset"][disabled],
[type="reset"][inert],
[type="submit"][disabled],
[type="submit"][inert],
.txp-button.disabled,
.navlink-disabled,
.ui-checkboxradio-disabled {
    background: var(--clr-bkgd-form-disabled) !important;
    filter: none !important;
    color: var(--clr-text-form) !important;
}
