@use "../setup/colours";
@use "../setup/helpers";
@use "../setup/settings";

/* Container
   ========================================================================== */

/**
 * 1. Make body position relative so subsequent items can be positioned
 *    absolutely if desired.
 * 2. Remove default margin.
 */

body {
    display: flex;
    /* 1 */
    position: relative;
    box-sizing: border-box;
    flex-direction: column;
    min-height: 100vh;
    /* 2 */
    margin: 0;
    padding: 4em 4% 0;
    background: colours.$color-background;
    color: colours.$color-text;
    overscroll-behavior: none;
}

@include helpers.dark-mode {
    //body {
    background: colours.$dark-color-background;
    color: colours.$dark-color-text;
    //}
}

/**
 * Main content area.
 *
 * Example HTML:
 *
 * <body>
 *     <header class="txp-header"></header>
 *     <main class="txp-body">
 *         Content
 *     </main>
 *     <footer class="txp-footer"></footer>
 * </body>
 */

.txp-body {
    flex-grow: 1;
    width: 100%;
    max-width: settings.$container-max-width;
    margin: 0 auto;
}
