/* Embedded content
   ========================================================================== */

img {
    /* remove border when inside `<a>` element in IE8-9 */
    border: 0;
    /* remove the gap between images and the bottom of their containers */
    vertical-align: middle;

    &.align-left {
        float: left;
        margin: 1em 1em 1em 0;
    }

    &.align-right {
        float: right;
        margin: 1em 0 1em 1em;
    }

    &.align-center {
        display: block;
        margin: 1em auto;
    }
}

/* address margin not present in IE 8-9 and Safari 5 */
figure {
    margin: 0;
}

/* correct overflow displayed oddly in IE9 */
svg:not(:root) {
    overflow: hidden;
}

.content-image {
    @include border-radius;
    @include box-shadow;

    border: solid 1px $color-border;
    padding: 4px;
    background: #fff;

    a:hover & {
        border-color: $color-link-hover;
    }

    a:focus & {
        @include box-shadow(0 0 0.5em rgba($color-link-focus, 0.4));

        border-color: $color-link-focus;
    }
}
