/* Embedded content
   ========================================================================== */

/**
 * Make embedded elements responsive.
 */

img,
video {
    max-width: 100%;
    height: auto;
}

/**
 * Images.
 *
 * 1. Remove potential border when inside `a` element.
 * 2. Remove the gap between images and the bottom of their containers.
 *
 * Image alignment (compatible with Textile markup syntax).
 *
 * Example HTML:
 *
 * <img class="align-left">
 * <img class="align-right">
 * <img class="align-center">
 */

img {
    /* 1 */
    border: 0;
    /* 2 */
    vertical-align: middle;

    &.align-left {
        margin: 1em 1em 1em 0;
        float: left;
    }

    &.align-right {
        margin: 1em 0 1em 1em;
        float: right;
    }

    &.align-center {
        display: block;
        margin: 1em auto;
    }
}

/**
 * Swap image alignment right/left positions in RTL languages.
 */

[dir="rtl"] img {
    &.align-left {
        margin: 1em 0 1em 1em;
        float: right;
    }

    &.align-right {
        margin: 1em 1em 1em 0;
        float: left;
    }
}

/**
 * Address margin not present in Safari.
 */

figure {
    margin: 0;
}

/**
 * Correct overflow not hidden in IE 11.
 */

svg:not(:root) {
    overflow: hidden;
}

/**
 * Content images and content images with links.
 *
 * Example HTML:
 *
 * <a>
 *     <img class="content-image">
 * </a>
 */

.content-image {
    border: solid 1px $color-border;
    background: $color-background;
    box-shadow: 0 0 0.5em rgba(#000000, 0.2);

    a:hover & {
        border-color: $color-link-hover;
    }

    a:focus & {
        border-color: $color-link-focus;
    }
}
