/* ==========================================================================
   Fonts
   ========================================================================== */

/**
 * 'Inter' font.
 */

// Regular
@font-face {
    font-family: "Inter";
    font-style: normal;
    font-weight: normal;
    font-display: fallback;
    src: url("../fonts/Inter-Regular.woff2") format("woff2"), url("../fonts/Inter-Regular.woff") format("woff");
}

// Regular Italic
@font-face {
    font-family: "Inter";
    font-style: italic;
    font-weight: normal;
    font-display: fallback;
    src: url("../fonts/Inter-Italic.woff2") format("woff2"), url("../fonts/Inter-Italic.woff") format("woff");
}

// Bold
@font-face {
    font-family: "Inter";
    font-style: normal;
    font-weight: bold;
    font-display: fallback;
    src: url("../fonts/Inter-Bold.woff2") format("woff2"), url("../fonts/Inter-Bold.woff") format("woff");
}

// Bold Italic
@font-face {
    font-family: "Inter";
    font-style: italic;
    font-weight: bold;
    font-display: fallback;
    src: url("../fonts/Inter-BoldItalic.woff2") format("woff2"), url("../fonts/Inter-BoldItalic.woff") format("woff");
}

// Variable
//@font-face {
//    font-family: "Inter var";
//    font-weight: 100 900;
//    font-style: normal;
//    font-display: fallback;
//    font-named-instance: "Regular";
//    src: url("../fonts/Inter-upright.var.woff2") format("woff2 supports variations(gvar)"),
//        url("../fonts/Inter-upright.var.woff2") format("woff2-variations"),
//        url("../fonts/Inter-upright.var.woff2") format("woff2");
//}
//
//@font-face {
//    font-family: "Inter var";
//    font-weight: 100 900;
//    font-style: italic;
//    font-display: fallback;
//    font-named-instance: "Italic";
//    src: url("../fonts/Inter-italic.var.woff2") format("woff2 supports variations(gvar)"),
//        url("../fonts/Inter-italic.var.woff2") format("woff2-variations"),
//        url("../fonts/Inter-italic.var.woff2") format("woff2");
//}
