/* Footer
   ========================================================================== */

/**
 * Footer content area.
 *
 * Example HTML:
 *
 * <body>
 *     <header class="txp-header"></header>
 *     <main class="txp-body"></main>
 *     <footer class="txp-footer">
 *         Content
 *     </footer>
 * </body>
 */

.txp-footer {
    @extend .clearfix;

    position: absolute;
    right: 2.1%;
    bottom: 1.5em;
    left: 2.1%;
    height: 1em;
}

/**
 * Link to Textpattern official website.
 *
 * Example HTML:
 *
 * <p class="mothership">
 */

.mothership {
    float: left;
    margin: 0;
}

/**
 * Link back to top of page.
 *
 * Example HTML:
 *
 * <p class="pagejump">
 */

.pagejump {
    float: right;
    margin: 0;
}
