/* Forms
   ========================================================================== */

/**
 * 1. Address width being affected by wide descendants in Chrome, Firefox.
 * 2. Define consistent fieldset border, margin, and padding.
 */

fieldset {
    /* 1 */
    min-width: 0;
    /* 2 */
    margin: 1em 0;
    padding: 1px 1em;
    border: 1px solid $color-border;
}

/**
 * Normalize styling of `legend`.
 *
 * 1. Correct wrapping not present in IE 11 and Edge 12/13.
 * 2. Remove padding so people aren't caught out if they zero out fieldsets.
 * 3. Correct `color` not being inherited from fieldset in IE 11.
 */

legend {
    /* 1 */
    display: table;
    /* 1 */
    max-width: 100%;
    /* 2 */
    padding: 0;
    /* 3 */
    color: inherit;
    /* 1 */
    white-space: normal;
    /* 1 */
    box-sizing: border-box;
}

/**
 * 1. Prevent elements from spilling out of their parent.
 * 2. Address margins set differently in Firefox 4+, Safari, and Chrome.
 * 3. Correct font properties not being inherited.
 */

button,
input,
optgroup,
select,
textarea,
.txp-button,
.txp-logout a,
.navlink,
.navlink-active,
.navlink-disabled {
    /* 1 */
    max-width: 100%;
    /* 2 */
    margin: 0;
    color: $color-text-form;
    font-family: $font-form;
    /* 3 */
    font-size: $base-font-size;
    line-height: 1.38461538461538em; // 18px / 13px
    vertical-align: baseline;
    box-sizing: border-box;
}

/**
 * Remove the inner border and padding in Firefox.
 */

button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
    padding: 0;
    border-style: none;
}

/**
 * Remove inner padding in Safari and Chrome on OS X. Safari (but not Chrome)
 * clips the cancel button when the search input has padding (and `textfield`
 * appearance).
 */

[type="search"]::-webkit-search-decoration {
    -webkit-appearance: none;
}

/**
 * Styling of form input fields.
 *
 * 1. Remove browser-specific default styling.
 */

[type="color"],
[type="date"],
[type="datetime"],
[type="datetime-local"],
[type="email"],
[type="month"],
[type="number"],
[type="password"],
[type="search"],
[type="tel"],
[type="text"],
[type="time"],
[type="url"],
[type="week"],
select,
textarea {
    height: 2.15384615384615em; // 28px / 13px
    padding: 0.30769230769231em; // 4px / 13px
    border: 1px solid $color-border;
    border-radius: 0;
    background: $color-background-form;
    /* 1 */
    appearance: none;

    &:focus {
        border-color: $color-link-focus;
        outline-width: 0;
    }
}

/**
 * Remove padding from `color` fields.
 */

[type="color"] {
    padding: 0;
}

/**
 * Fix the cursor style for Chrome's increment/decrement buttons. For certain
 * `font-size` values of the `input`, it causes the cursor style of the
 * decrement button to change from `default` to `text`.
 */

[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
    height: auto;
}

/**
 * 1. Remove any excess padding.
 * 2. Correct margins for inline checkbox/radio labels.
 */

[type="checkbox"],
[type="radio"] {
    /* 1 */
    padding: 0;

    + label:not(.ui-controlgroup-item) {
        /* 2 */
        margin: 0 0.5em 0 0;

        &:last-of-type {
            /* 2 */
            margin: 0;
        }
    }
}

/**
 * Swap margin positions in RTL languages.
 */

[dir="rtl"] {
    [type="checkbox"],
    [type="radio"] {
        + label:not(.ui-controlgroup-item) {
            margin: 0 0 0 0.5em;

            &:last-of-type {
                margin: 0;
            }
        }
    }
}

/**
 * Use indicator icon to signify the drop-down ability of `select`.
 */

select {
    padding-right: 1.30769230769231em; // 17px / 13px
    background: $color-background-form url("data:image/svg+xml;charset=utf-8;base64,PHN2ZyB4bWxucz0naHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmcnIHdpZHRoPScxM3B4JyBoZWlnaHQ9JzRweCcgdmlld0JveD0nMCAwIDEzIDQnPjxwb2x5Z29uIGZpbGw9JyMzMzMnIHBvaW50cz0nMy41LDQgMCwwIDcsMCcvPjwvc3ZnPg==") right center no-repeat;
    background-size: 1em 0.30769230769231em;
    text-transform: none;
}

/**
 * Swap `select` icon position in RTL languages.
 */

[dir="rtl"] {
    select {
        padding-right: 0.30769230769231em; // 4px / 13px
        padding-left: 1.30769230769231em; // 17px / 13px
        background-position: 0.46153846153846em center; // 6px / 13px
    }
}

/**
 * Remove browser-specific `select` UI in IE 11.
 */

select:-ms-expand {
    opacity: 0;
}

/**
 * Remove browser-specific `select` UI in Firefox 4+.
 */

select:-moz-focusring {
    color: transparent;
    text-shadow: 0 0 0 $color-text-form;
}

/**
 * Override height and background set in a previous rule and allow auto height.
 */

select[size],
select[multiple] {
    height: auto;
    padding-right: 0.30769230769231em; // 4px / 13px
    background-image: none;
    vertical-align: top;
}

/**
 * Override height set in rule above and restrict to one line field.
 */

select[size="0"],
select[size="1"] {
    height: 2.15384615384615em; // 28px / 13px
    vertical-align: baseline;
}

/**
 * Normalize styling of `optgroup`.
 */

optgroup {
    color: $color-text-form;;
    font-style: normal;
    font-weight: bold;
}

/**
 * 1. Remove default vertical scrollbar in IE 11.
 * 2. Remove unwanted space below `textarea` in Safari, Chrome, Opera.
 * 3. Restrict to vertical resizing to prevent layout breakage.
 */

textarea {
    width: 100%;
    height: auto;
    min-height: 3em;
    /* 1 */
    overflow: auto;
    /* 2 */
    vertical-align: top;
    /* 3 */
    resize: vertical;
}

/**
 * Ensure code text areas are always rendered left-to-right.
 */

textarea.code {
    direction: ltr;
}

/**
 * Make sure disabled elements really are disabled and styled appropriately.
 *
 * 1. Re-set default cursor for disabled elements.
 * 2. Override default iOS opacity setting.
 */

[disabled],
[disabled] option,
[disabled] optgroup,
.navlink-disabled {
    border-color: $color-border-light !important;
    background: $color-background-form-disabled !important;
    color: $color-text-form-disabled !important;
    @if $flat-theme < 1 {
        text-shadow: none !important;
        box-shadow: none !important;
    }
    /* 1 */
    cursor: default !important;
    /* 2 */
    opacity: 1;
}

/**
 * Width display options for `input` fields.
 *
 * Example HTML:
 *
 * <input size="32">
 * <input class="large">
 * <input class="medium">
 * <input class="small">
 * <input class="xsmall">
 */

input[size="32"] {
    width: 100%;
    max-width: 28em; // 364px / 13px
}

input.input-large {
    width: 100%;
}

input.input-medium {
    width: 50%;
    max-width: 14.46153846153846em; // 188px / 13px
}

input.input-small {
    width: 25%;
    max-width: 7.61538461538462em; // 99px / 13px
}

input.input-xsmall {
    width: 16%;
    max-width: 4.23076923076923em; // 55px / 13px
}

/**
 * Width display options for date and time `input` fields.
 *
 * Note: These are intentionally *not* using the HTML5 input type contexts.
 *
 * Example HTML:
 *
 * <div class="txp-form-field date posted">
 *     <div class="txp-form-field-label">
 *         <label>Publish date</label>
 *     </div>
 *     <div class="txp-form-field-value">
 *         <input class="input-year">
 *         <span role="separator">/</span>
 *         <input class="input-month">
 *         <span role="separator">/</span>
 *         <input class="input-day">
 *     </div>
 * </div>
 *
 * <div class="txp-form-field time posted">
 *     <div class="txp-form-field-label">
 *         <label>Publish time</label>
 *     </div>
 *     <div class="txp-form-field-value">
 *         <input class="input-hour">
 *         <span role="separator">:</span>
 *         <input class="input-minute">
 *         <span role="separator">:</span>
 *         <input class="input-second">
 *     </div>
 * </div>
 */

input {
    &.input-year {
        width: 4.07692307692308em; // 53px / 13px
        text-align: center;
    }

    &.input-month,
    &.input-day,
    &.input-hour,
    &.input-minute,
    &.input-second {
        width: 2.46153846153846em; // 32px / 13px
        text-align: center;
    }
}
