/* Forms
   ========================================================================== */

/**
 * 1. Define consistent fieldset border, margin, and padding.
 * 2. Address width being affected by wide descendants in Chrome, Firefox.
 */

fieldset {
    /* 1 */
    margin: 1em 0;
    border: 1px solid $color-border;
    padding: 1px 1em;
    /* 2 */
    min-width: 0;
}

/**
 * 1. Correct `color` not being inherited in IE 8/9/10/11.
 * 2. Remove padding so people aren't caught out if they zero out fieldsets.
 */

legend {
    /* 1 */
    border: 0;
    /* 2 */
    padding: 0;
}

/**
 * 1. Correct font properties not being inherited.
 * 2. Address margins set differently in Firefox 4+, Safari, and Chrome.
 * 3. Prevent elements from spilling out of their parent.
 */

button,
input,
optgroup,
select,
textarea,
.txp-button,
.txp-logout a,
.navlink,
.navlink-active,
.navlink-disabled {
    @include box-sizing(border-box);

    /* 1 */
    font-size: 100%;
    @include adjust-font-size-to(13px, 0.9); // 18px `line-height`

    /* 2 */
    margin: 0;
    /* 3 */
    max-width: 100%;
    font-family: $font-sans-serif;
    vertical-align: baseline;
}

/**
 * Colour for placeholder text.
 */

input,
textarea {
    @include input-placeholder {
        color: #999999;
    }
}

/**
 * Remove inner padding and border in Firefox 4+.
 */

button::-moz-focus-inner,
input::-moz-focus-inner {
    border: 0;
    padding: 0;
}

/**
 * Remove inner padding in Safari and Chrome on OS X. Safari (but not Chrome)
 * clips the cancel button when the search input has padding (and `textfield`
 * appearance).
 */

input[type="search"]::-webkit-search-decoration {
    -webkit-appearance: none;
}

/**
 * Styling of form input fields.
 *
 * 1. Remove iOS Safari default styling.
 */

input[type="color"],
input[type="date"],
input[type="datetime"],
input[type="datetime-local"],
input[type="email"],
input[type="month"],
input[type="number"],
input[type="password"],
input[type="search"],
input[type="tel"],
input[type="text"],
input[type="time"],
input[type="url"],
input[type="week"],
select,
textarea {
    @include transition(box-shadow 0.1s linear);

    /* 1 */
    -webkit-appearance: none;
    border: 1px solid $color-border;
    border-radius: 0;
    padding: 0.30769230769231em; // 4px / 13px
    height: 2.15384615384615em; // 28px / 13px
    background: #ffffff;

    &:focus {
        @include box-shadow(0 0 7px $color-link-focus-glow);

        border-color: $color-link-focus;
        outline: 0;
    }
}

/**
 * Remove padding from `color` fields.
 */

input[type="color"] {
    padding: 0;
}

/**
 * Fix the cursor style for Chrome's increment/decrement buttons. For certain
 * `font-size` values of the `input`, it causes the cursor style of the
 * decrement button to change from `default` to `text`.
 */

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
    height: auto;
}

/**
 * 1. Remove excess padding in IE 8/9/10.
 * 2. Correct margins for inline checkbox/radio labels.
 */

input[type="checkbox"],
input[type="radio"] {
    /* 1 */
    padding: 0;

    & + label {
        /* 2 */
        margin: 0 0.5em 0 0;

        &:last-of-type {
            /* 2 */
            margin: 0;
        }
    }
}

/**
 * Swap margin positions in RTL languages.
 */

[dir="rtl"] {
    input[type="checkbox"],
    input[type="radio"] {
        & + label {
            margin: 0 0 0 0.5em;

            &:last-of-type {
                margin: 0;
            }
        }
    }
}

/**
 * Correct `select` style inheritance in Firefox.
 */

select {
    text-transform: none;
}

/**
 * Override height set in a previous rule and allow auto heght.
 */

select[size],
select[multiple] {
    height: auto;
}

/**
 * Override height set in rule above and restrict to one line field.
 */

select[size="0"],
select[size="1"] {
    height: 2.15384615384615em; // 28px / 13px
}

@media (-webkit-min-device-pixel-ratio: 0) {

    /**
     * Address `select` alignment in Safari, Chrome, Opera.
     */

    select[size],
    select[multiple],
    select[multiple][size] {
        padding-right: 0.30769230769231em; // 4px / 13px
        background-image: none;
    }

    /**
     * Use indicator icon to signify the downdown ability of `select` in Safari,
     * Chrome, Opera.
     */

    select,
    select[size="0"],
    select[size="1"] {
        padding-right: 2em;
        background: $color-background url("data:image/svg+xml,<svg version='1.1' baseProfile='full' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' x='0px' y='0px' width='13px' height='4px' viewBox='0 0 13 4' enable-background='new 0 0 13 4' xml:space='preserve'><polygon fill='#333333' points='3.5,4 0,0 7,0'/></svg>") right center no-repeat;
        background-size: 1em 0.30769230769231em;
    }

}

/**
 * Normalise styling of `optgroup`.
 */

optgroup {
    font-style: normal;
    font-weight: bold;
    color: $color-text;
}

/**
 * 1. Remove default vertical scrollbar in IE 8/9/10/11.
 * 2. Restrict to vertical resizing to prevent layout breakage.
 * 3. Remove unwanted space below `textarea` in Safari, Chrome, Opera.
 */

textarea {
    height: auto;
    min-height: 3em;
    /* 1 */
    overflow: auto;
    /* 2 */
    resize: vertical;
    /* 3 */
    vertical-align: top;
    width: 100%;
}

/**
 * Make sure disabled elements really are disabled and styled appropriately.
 *
 * 1. Override default iOS opacity setting.
 * 2. Re-set default cursor for disabled elements.
 */

button[disabled],
button[disabled],
input[disabled],
input[type="button"][disabled],
input[type="reset"][disabled],
input[type="submit"][disabled],
select[disabled],
select[disabled] option,
select[disabled] optgroup,
textarea[disabled],
.navlink-disabled {
    @include box-shadow(none !important);

    /* 1 */
    opacity: 1;
    border-color: $color-gradient-to !important;
    color: #aaaaaa !important;
    background: #eeeeee !important;
    text-shadow: none !important;
    /* 2 */
    cursor: default !important;
}

/**
 * Width display options for `input` fields.
 *
 * Example HTML:
 *
 * <input size="32">
 * <input class="large">
 * <input class="medium">
 * <input class="small">
 * <input class="xsmall">
 */

input[size="32"] {
    width: 100%;
    max-width: 28em; // 364px / 13px
}

input.input-large {
    width: 100%;
}

input.input-medium {
    width: 50%;
    max-width: 14.46153846153846em; // 188px / 13px
}

input.input-small {
    width: 25%;
    max-width: 7.61538461538462em; // 99px / 13px
}

input.input-xsmall {
    width: 16%;
    width: 4.23076923076923em; // 55px / 13px
}

/**
 * Width display options for date and time `input` fields.
 *
 * Note: These are intentionally *not* using the HTML5 input type contexts.
 *
 * Example HTML:
 *
 * <div class="txp-form-field date posted">
 *     <label class="txp-form-field-label">Publish date</label>
 *     <input class="txp-form-field-input input-year">
 *     <span role="separator">/</span>
 *     <input class="txp-form-field-input input-month">
 *     <span role="separator">/</span>
 *     <input class="txp-form-field-input input-day">
 *     <a class="txp-datepicker-button">
 *         <span class="ui-icon ui-icon-calendar">Datepicker</span>
 *     </a>
 * </div>
 *
 * <div class="txp-form-field time posted">
 *     <label class="txp-form-field-label">Publish time</label>
 *     <input class="txp-form-field-input input-hour">
 *     <span role="separator">:</span>
 *     <input class="txp-form-field-input input-minute">
 *     <span role="separator">:</span>
 *     <input class="txp-form-field-input input-second">
 * </div>
 */

input {
    &.input-year {
        text-align: center;
        width: 4.07692307692308em; // 53px / 13px
    }

    &.input-month,
    &.input-day,
    &.input-hour,
    &.input-minute,
    &.input-second {
        text-align: center;
        width: 2.46153846153846em; // 32px / 13px
    }
}
