@use "../setup";

/* Forms
   ========================================================================== */

/**
 * 1. Address width being affected by wide descendants in Chrome, Edge, Firefox.
 * 2. Define consistent fieldset border, margin, and padding.
 */

fieldset {
    min-width: 0; /* 1 */
    margin: 1em 0; /* 2 */
    padding: 1px 1em; /* 2 */
    border: 1px solid var(--clr-brdr); /* 2 */
}

/**
 * Normalize styling of `legend`.
 *
 * 1. Remove padding so people aren't caught out if they zero out fieldsets.
 */

legend {
    padding: 0; /* 1 */
}

/**
 * Remove tap delay in modern browsers.
 */

button,
input {
    touch-action: manipulation;
}

/**
 * 1. Prevent elements from spilling out of their parent.
 * 2. Correct font properties not being inherited.
 */

button,
input,
optgroup,
select,
textarea,
.txp-button,
.txp-logout a,
.navlink,
.navlink-active,
.navlink-disabled {
    box-sizing: border-box;
    max-width: 100%; /* 1 */
    margin: 0;
    color: var(--clr-text-form);
    font-family: inherit;
    font-size: 1rem; /* 2 */
    line-height: setup.$base-line-height;
    vertical-align: baseline;
}

/**
 * Styling of form input fields.
 *
 * 1. Remove browser-specific default styling.
 */

[type="color"],
[type="date"],
[type="datetime"],
[type="datetime-local"],
[type="email"],
[type="month"],
[type="number"],
[type="password"],
[type="search"],
[type="tel"],
[type="text"],
[type="time"],
[type="url"],
[type="week"],
select,
textarea {
    height: 2.3076923em; // 30px / 13px
    padding: 0.3076923em; // 4px / 13px
    border: 1px solid var(--clr-brdr);

    @if setup.$border-radius > 0 {
        border-radius: setup.$border-radius;
    } @else {
        border-radius: 0;
    }

    background: var(--clr-bkgd-form);
    appearance: none; /* 1 */

    &:hover {
        border-color: var(--clr-brdr-x-dark);
    }

    &:focus {
        border-color: var(--clr-focus);
        outline: 0;
        box-shadow: 0 0 0 1px var(--clr-focus-a50);
    }
}

@include setup.dark-mode {
    [type="color"],
    [type="date"],
    [type="datetime"],
    [type="datetime-local"],
    [type="email"],
    [type="month"],
    [type="number"],
    [type="password"],
    [type="search"],
    [type="tel"],
    [type="text"],
    [type="time"],
    [type="url"],
    [type="week"],
    select,
    textarea {
        border-color: var(--clr-brdr-x-dark);

        &:hover {
            border-color: var(--clr-brdr-x-lite);
        }

        &:focus {
            border-color: var(--clr-focus);
        }
    }
}

/**
 * Correct the cursor style of increment and decrement buttons in Chrome.
 */

[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
    height: auto;
}

/**
 * Remove the inner padding in Chrome and Safari on macOS.
 */

[type="search"]::-webkit-search-decoration {
    /* autoprefixer: off */
    appearance: none;
}

/**
 * Use indicator icon to signify the drop-down ability of `select`.
 */

select {
    padding-inline-end: 1.3076923em; // 17px / 13px
    background: var(--clr-bkgd-form)
        url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 13 4'%3E%3Cpolygon fill='%23777' points='3.5,4 0,0 7,0'/%3E%3C/svg%3E")
        right center no-repeat;
    background-size: 1em 0.3076923em;
    text-overflow: ellipsis;
    text-transform: none;

    &:hover {
        background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 13 4'%3E%3Cpolygon fill='%23000' points='3.5,4 0,0 7,0'/%3E%3C/svg%3E");
    }
}

.txp-reduced-ui select {
    border-color: var(--clr-bkgd);
    background-color: var(--clr-bkgd);

    &:hover {
        border-color: var(--clr-brdr-x-dark);
    }

    &:focus {
        border-color: var(--clr-focus);
    }
}

@include setup.dark-mode {
    select {
        background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 13 4'%3E%3Cpolygon fill='%23788591' points='3.5,4 0,0 7,0'/%3E%3C/svg%3E");

        &:hover {
            background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 13 4'%3E%3Cpolygon fill='%23ced4da' points='3.5,4 0,0 7,0'/%3E%3C/svg%3E");
        }
    }

    .txp-reduced-ui select {
        border-color: var(--clr-bkgd);

        &:hover {
            border-color: var(--clr-brdr-x-lite);
        }

        &:focus {
            border-color: var(--clr-focus);
        }
    }
}

/**
 * Swap `select` icon position in RTL languages.
 */

[dir="rtl"] select {
    background-position: 0.4615385em center; // 6px / 13px
}

/**
 * Override height and background set in a previous rule and allow auto height.
 */

select[size],
select[multiple] {
    box-sizing: border-box;
    height: auto;
    padding-inline-end: 0.3076923em; // 4px / 13px
    background-image: none;
    vertical-align: top;
}

@include setup.dark-mode {
    select[size],
    select[multiple] {
        background-image: none;
    }
}

/**
 * Override height set in rule above and restrict to one line field.
 */

select[size="0"],
select[size="1"] {
    height: 2.3076923em; // 30px / 13px
}

/**
 * Normalize styling of `optgroup`.
 */

optgroup {
    font-style: normal;
    font-weight: 700;
}

/**
 * 1. Remove unwanted space below `textarea` in Safari, Chrome, Edge, Opera.
 * 2. Set tab size to 4 spaces.
 * 3. Restrict to vertical resizing to prevent layout breakage.
 */

textarea {
    width: 100%;
    height: auto;
    min-height: 3em;
    vertical-align: top; /* 1 */
    tab-size: 4; /* 2 */
    resize: vertical; /* 3 */
}

/**
 * Ensure code text areas are always rendered left-to-right.
 */

textarea.code {
    direction: ltr;
}

/**
 * Width display options for `input` fields.
 *
 * Example HTML:
 *
 * <input size="32">
 * <input class="large">
 * <input class="medium">
 * <input class="small">
 * <input class="xsmall">
 */

input[size="32"] {
    width: 100%;
    max-width: 30em; // 390px / 13px
}

input.input-large {
    width: 100%;
}

input.input-medium {
    width: 50%;
    max-width: 14.4615385em; // 188px / 13px
}

input.input-small {
    width: 25%;
    max-width: 7.6153846em; // 99px / 13px
}

input.input-xsmall {
    width: 16%;
    max-width: 4.2307692em; // 55px / 13px
}

input.input-number-max100 {
    width: 4em; // 52px / 13px
}

/**
 * Width display options for date and time `input` fields.
 *
 * Note: These are intentionally *not* using the HTML5 input type contexts.
 *
 * Example HTML:
 *
 * <div class="txp-form-field date posted">
 *     <div class="txp-form-field-label">
 *         <label>Publish date</label>
 *     </div>
 *     <div class="txp-form-field-value">
 *         <input class="input-year">
 *         <span role="separator">/</span>
 *         <input class="input-month">
 *         <span role="separator">/</span>
 *         <input class="input-day">
 *     </div>
 * </div>
 *
 * <div class="txp-form-field time posted">
 *     <div class="txp-form-field-label">
 *         <label>Publish time</label>
 *     </div>
 *     <div class="txp-form-field-value">
 *         <input class="input-hour">
 *         <span role="separator">:</span>
 *         <input class="input-minute">
 *         <span role="separator">:</span>
 *         <input class="input-second">
 *     </div>
 * </div>
 */

input {
    &.input-year {
        width: 4.0769231em; // 53px / 13px
        text-align: center;
    }

    &.input-month,
    &.input-day,
    &.input-hour,
    &.input-minute,
    &.input-second {
        width: 2.4615385em; // 32px / 13px
        text-align: center;
    }
}

/**
 * Styling for form field validation.
 */

input,
select,
textarea {
    &:focus:invalid {
        border-color: var(--clr-error-text) !important;
        box-shadow: 0 0 0 1px var(--clr-error-text-a50) !important;
    }
}

input,
select,
textarea {
    &:user-invalid {
        border-color: var(--clr-error-text) !important;
        box-shadow: 0 0 0 1px var(--clr-error-text-a50) !important;
    }
}

input,
select,
textarea {
    &:out-of-range {
        border-color: var(--clr-error-text) !important;
        box-shadow: 0 0 0 1px var(--clr-error-text-a50) !important;
    }
}

/**
 * Normalize form placeholder style across browsers.
 *
 * 1. Fix placeholder font properties inheritance.
 */

::placeholder {
    opacity: 1;
    color: var(--clr-text-placeholder);
    font: inherit; /* 1 */
    font-weight: 400;
}
