main {
    display: flex;
    flex-wrap: wrap;
}

.txp-layout-1col {
    flex: 1 0 100%;
}

.txp-layout-2col-cell-1,
.txp-layout-4col-cell-1-2,
.txp-layout-2col-cell-2,
.txp-layout-4col-cell-3-4,
.txp-layout-4col-cell-2-3 {
    flex: 1 0 50%;
}

.txp-layout-4col-cell-1,
.txp-layout-4col-cell-1alt,
.txp-layout-4col-cell-2,
.txp-layout-4col-cell-3,
.txp-layout-4col-cell-4,
.txp-layout-4col-cell-4alt {
    flex: 1 0 25%;
}

.txp-layout-4col-cell-1-2-3,
.txp-layout-4col-cell-2-3-4 {
    flex: 1 0 75%;
}
