/* Header
   ========================================================================== */

/**
 * Header content area.
 *
 * Example HTML:
 *
 * <body>
 *     <header class="txp-header">
 *         Content
 *     </header>
 *     <main class="txp-body"></main>
 *     <footer class="txp-footer"></footer>
 * </body>
 */

.txp-header {
    @include box-shadow(0 0.2em 0.25em rgba(#000000, 0.15));
    @include gradient-linear($color-gradient2-from, $color-gradient2-to);

    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
    border-top: 1px solid $color-gradient2-to;
    border-bottom: 1px solid darken($color-gradient2-to, 6%);
    padding: 0 2.1%;
    height: 2.69230769230769em; // 35px / 13px
}

/**
 * Hide header content area on login pages.
 *
 * Move offscreen - don't `display:none` as we need to show #messagepane content.
 * `.txp-view-site` is OK to hide though (otherwise it affects page tabbing).
 */

#page-login,
#page-logout {
    .txp-header {
        position: absolute;
        right: auto;
        left: -1000em;
        height: 1px;
        width: 1px;
    }
}

/**
 * Textpattern logo.
 *
 * Example HTML:
 *
 * <header class="txp-header">
 *      <h1><a>My site</a></h1>
 */

.txp-header h1 {
    @include hide-text;

    float: left;
    margin: 0.0625em 0.5em 0 0; // 1px / 16px, 8px / 16px
    width: 8em;
    height: 2em;
    font-size: 16px;
    background: url("../img/sprite.svg") no-repeat;
    background-size: 13em 2em; // 208px / 16px + 32px / 16px
}

/**
 * 'View site' link.
 *
 * Example HTML:
 *
 * <p class="txp-view-site">
 *      <a>My site</a>
 * </p>
 */

.txp-view-site {
    float: left;
    margin: 0 1em;
    max-width: 24%;
    line-height: 2.69230769230769em; // 35px / 13px
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;

    a {
        color: darken($color-text, 20%);
    }
}

/**
 * Positioning of logout button.
 *
 * Example HTML:
 *
 * <p class="txp-logout">
 */

.txp-logout {
    position: absolute;
    top: -0.76923076923077em; // 10px / 13px
    right: 2.1%;
}
