// Global
@use "links";
@use "typography";
@use "internationalization";
@use "embedded-content";
@use "alerts";
@use "twisties";
@use "progress-summary";
@use "code-highlighting";
@use "forms-base";
@use "forms-input-checkboxradio";
@use "forms-input-file";
@use "forms-input-range";
@use "forms-disabled";
@use "buttons";
@use "meter";
@use "progress";
@use "lists";
@use "tables";
@use "accessibility";
@use "animation-keyframes";

// Layout modules
@use "container";
@use "grid";
@use "header";
@use "footer";
@use "navigation";
@use "layout-shared";
@use "layout-specific";

// jQuery UI core
@use "jquery-ui/core";

// jQuery UI icons
@use "jquery-ui/icons";

// jQuery UI interactions
@use "jquery-ui/draggable";
@use "jquery-ui/resizable";
@use "jquery-ui/selectable";
@use "jquery-ui/sortable";

// jQuery UI widgets
@use "jquery-ui/accordion";
@use "jquery-ui/autocomplete";
@use "jquery-ui/button";
@use "jquery-ui/checkboxradio";
@use "jquery-ui/controlgroup";
@use "jquery-ui/datepicker";
@use "jquery-ui/dialog";
@use "jquery-ui/menu";
@use "jquery-ui/progressbar";
@use "jquery-ui/selectmenu";
@use "jquery-ui/slider";
@use "jquery-ui/spinner";
@use "jquery-ui/tabs";
@use "jquery-ui/tooltip";

// Responsive layout
@use "responsive";
