/* Support for non-latin languages
   ========================================================================== */

/**
 * Bidirectional (bidi) text support.
 * See: https://www.w3.org/International/articles/inline-bidi-markup/#cssshim
 */

[dir="ltr"],
[dir="rtl"] {
    unicode-bidi: isolate;
}

bdo[dir="ltr"],
bdo[dir="rtl"] {
    unicode-bidi: isolate-override;
}

/**
 * Preferred font for Japanese language.
 */

html[lang="ja-jp"] {
    font-family: "Hiragino Kaku Gothic Pro", Meiryo, sans-serif;
}

/**
 * Preferred font for Korean language.
 */

html[lang="ko-kr"] {
    font-family: GulimChe, Gulim, sans-serif;
}

/**
 * Preferred font for Chinese (PRC) language.
 */

html[lang="zh-cn"] {
    font-family: SimHei, sans-serif;
}

/**
 * Preferred font for Chinese (Taiwan) language.
 */

html[lang="zh-tw"] {
    font-family: PMingLiU, sans-serif;
}

/**
 * Suppress `text-decoration` in some RTL languages for better legibility.
 */

[lang|="ar"],
[lang|="fa"],
[lang|="ur"] {
    a:hover {
        text-decoration: none;
    }
}
