/* Globally shared layout
   ========================================================================== */

/**
 * 1. Prevent iOS text size adjust after orientation change, without disabling
 *    user zoom.
 * 2. As 2 above, for Windows Phone.
 */

html {
    -webkit-tap-highlight-color: rgba($color-link-hover, 0.5);
    /* 1 */
    -webkit-text-size-adjust: 100%;
    /* 2 */
    -ms-text-size-adjust: 100%;
}

/**
 * Address differences between Firefox and other browsers.
 */

hr {
    @include box-sizing(content-box);

    border: 0; // remove the default `hr` border
    border-bottom: 1px solid $color-border;
    height: 0;
}

/**
 * Hide text but still allow screen reader access.
 *
 * Example HTML:
 *
 * <h1 class="txp-accessibility">
 */

.txp-accessibility {
    position: absolute;
    left: -1000em;
    height: 1px;
    width: 1px;
    overflow: hidden;
}

/**
 * Swap absolute positions in RTL languages.
 *
 * This avoids browser scrollbar displaying incorrectly.
 */

[dir="rtl"] .txp-accessibility {
    left: auto;
    right: -1000em;
}

/**
 * TODO: Search widget at top of lists.
 *
 * Appears on: listing pages.
 */

[role="search"] {
    float: right;

    p {
        margin: 0 0.35em 0 0;
    }
}

/**
 * TODO: Primary buttons at top of listings.
 *
 * Appears on:
 *
 * List pages.
 *
 * Example HTML:
 *
 * TODO
 */

.txp-buttons {
    margin-top: 0;
}

/**
 * TODO: Details toggle at top of listings.
 *
 * Appears on:
 *
 * List pages.
 *
 * Example HTML:
 *
 * TODO
 */

.txp-button-details {
    float: right;
}

/**
 * TODO: Additonal forms at top of listings.
 *
 * Appears on:
 *
 * Languages list page, plugins list page.
 *
 * Example HTML:
 *
 * TODO
 */

.txp-control-panel {}

/**
 * Additonal links ('Duplicate', 'View', etc.) on some pages.
 *
 * Appears on:
 *
 * Article write/edit page, pages page, forms page, styles page.
 *
 * Example HTML:
 *
 * <p class="title">
 *     <label>Label</label><br>
 *     <input type="text">
 *     <span class="txp-actions"><a>Duplicate</a></span>
 *     <span class="txp-actions"><a>View</a></span>
 * </p>
 */

.txp-actions a {
    margin-left: 0.75em;
}

/**
 * Parent container for multi-edit `select` widget at bottom of listings.
 *
 * Appears on:
 *
 * List pages.
 *
 * Example HTML:
 *
 * <div class="multi-edit">
 *     <select>
 *         <option selected="selected">With selected...</option>
 *         <option>Change author</option>
 *         <option>Duplicate</option>
 *         <option>Delete</option>
 *     </select>
 * </div>
 */

div.multi-edit {
    margin: 1em 0;
}

/**
 * Hide secondary `select` element on multi-edit `select` widget.
 *
 * Display is controlled via JavaScript (hidden by default until an action is
 * selected by user, then overrode by `.multi-step`).
 *
 * Appears on:
 *
 * List pages.
 *
 * Example HTML:
 *
 * <div class="multi-edit">
 *     <select>
 *         <option selected="selected">With selected...</option>
 *         <option>Change author</option>
 *         <option>Duplicate</option>
 *         <option>Delete</option>
 *     </select>
 *     <div class="multi-option">
 *         <select name="order">
 *             <option value="1">1</option>
 *             <option value="2">1</option>
 *             <option value="3" selected="selected">5</option>
 *         </select>
 *     </div>
 *     <input type="submit" value="Go">
 * </div>
 */

.multi-option {
    display: none;
}

/**
 * Show secondary `select` element on multi-edit `select` widget.
 *
 * Display is controlled via JavaScript (class not present until an action is
 * selected by user, then overrides `.multi-edit`).
 *
 * Appears on:
 *
 * List pages.
 *
 * Example HTML:
 *
 * <div class="multi-edit">
 *     <select>
 *         <option selected="selected">With selected...</option>
 *         <option>Change author</option>
 *         <option>Duplicate</option>
 *         <option>Delete</option>
 *     </select>
 *     <div class="multi-option multi-step">
 *         <select name="order">
 *             <option value="1">1</option>
 *             <option value="2">1</option>
 *             <option value="3" selected="selected">5</option>
 *         </select>
 *     </div>
 *     <input type="submit" value="Go">
 * </div>
 */

.multi-option.multi-step {
    margin-left: 0.30769231em;
    display: inline-block;
}

/**
 * When text sections are linked with anchors, make sure there is ample padding
 * above so they don't become obscured by sticky `header` area.
 *
 * Appears on:
 *
 * Plugin help pages, miscellaneous text pages.
 *
 * Example HTML:
 *
 * <section class="text-section" id="help-section02">
 */

.text-section {
    padding-top: 4em;
    background: url("../img/separator.gif") 0 2em repeat-x; // 26px / 13px
}

/**
 * System permissions 'keep out' messages.
 */

.restricted-area {
    font-size: 2em; // 26px / 13px
    text-align: center;
}

/**
 * Hide empty containers from view (and from screen readers).
 *
 * TODO: this is a dirty solution - should be improved in HTML strucure.
 *
 * Example HTML:
 *
 * <section id="comments_group" class="txp-details empty"></section>
 */

.empty {
    display: none;
}

/**
 * Visually disabled text and anchors.
 */

.disabled {
    background-image: none;
    opacity: 0.33;
    cursor: default !important;

    a {
        text-decoration: none;
        cursor: default;
    }
}

/* List navigators on list pages.
 *
 * Anchor elements kept to one line to prevent space between buttons.
 *
 * @see .nav-tertiary
 *
 * Example HTML:
 *
 * <div class="txp-navigation" id="image_navigation">
 *     <p class="nav-tertiary pageby">
 *         <a class="navlink-active">15</a><a class="navlink">25</a><a class="navlink">50</a>
 *     </p>
 *     <ul class="nav-tertiary prev-next">
 *         Content
 *     </ul>
 * </div>
 */

.txp-navigation {
    p,
    ul {
        margin: 0 0 0.5em;
    }

    .pageby {
        float: left;
    }

    .prev-next {
        float: right;
    }
}

/**
 * AJAX spinners.
 *
 * Example HTML:
 *
 * <span class="spinner"></span>
 */

span.spinner {
    @include hires-graphic(spinner, gif, 13px, 13px);

    display: inline-block;
    width: 13px;
    height: 13px;
}


/* Edit and login panes
   ========================================================================== */

/**
 * Styling of edit/tagbuilder/login panes.
 */

.txp-edit,
.txp-tagbuilder,
.txp-login {
    margin: 0 auto 1em;
    padding: 1em 1em 1px 1em;
    background: $color-background-box;
}

/**
 * Maximum width of edit/tagbuilder panes.
 */

.txp-edit,
.txp-tagbuilder, {
    max-width: ($text-column - 2em);
}

/**
 * Maximum width of login panes.
 */

.txp-login {
    max-width: 35em;
}

// Clearfix form paragraphs (adds to cleafix rules in _base.scss via @extend).

.txp-edit,
.txp-tagbuilder,
.txp-login,
.edit-form,
.prefs-form {
    p {
        @extend .clearfix;
    }
}

/**
 * Label/value inline two-column layouts within edit/login panes.
 *
 * Note: this is collapsed to a one-column format on mobile layout.
 *
 * Example HTML:
 *
 * <p>
 *     <span class="txp-label">
 *         <label>Label</label> <a class="pophelp">i</a>
 *     </span>
 *     <span class="txp-value">
 *         <input type="text" size="32">
 *     </span>
 * </p>
 */

.txp-label,
.txp-value {
    float: left;
    width: 50%;
}

/**
 * Swap label/value text alignment in RTL languages.
 */

.txp-label,
.txp-value {
    [dir="rtl"] & {
        float: right;
    }
}

/**
 * Slightly different label/value column widths for login panel, since it's
 * thinner than the standard edit pane width.
 */

.txp-login {
    .txp-label {
        width: 31%;
    }

    .txp-value {
        width: 69%;
    }
}

/**
 * Vertically inline align values with their labels.
 */

.txp-value {
    input,
    select {
        margin-top: -0.4615385em; // 6px / 13px
        margin-bottom: -0.2307692em; // 3px / 13px
    }
}

/**
 * Vertically inline align values with their labels.
 *
 * TODO: This is temporary until we confirm using this UI.
 */

.txp-value .jquery-ui-buttonset {
    display: inline-block;
    margin-top: -0.4615385em; // 6px / 13px
    margin-bottom: -0.2307692em; // 3px / 13px
}

/**
 * Keeps non-editable values on same baseline, to prevent content jumping.
 *
 * TODO: check this actually does align properly.
 *
 * Appears on:
 *
 * Forms page.
 *
 * Example HTML:
 *
 * <p>
 *     <span class="txp-label-fixed">Form name</span><br>
 *     <span class="txp-value-fixed">default</span>
 * </p>
 */

.txp-value-fixed {
    display: inline-block;
    padding: 0.4615385em 0; // 6px / 13px
}

/**
 * Label columns within edit panes - OLD.
 *
 * @deprecated in 4.6.0
 * @see        .txp-label
 */

.edit-label {
    display: inline-block;
    float: left;
    width: 42%;
}

/**
 * Value columns within edit panes - OLD.
 *
 * @deprecated in 4.6.0
 * @see        .txp-value
 */

.edit-value {
    display: inline-block;
    float: right;
    width: 58%;

    input,
    select {
        margin-top: -0.4615385em; // 6px / 13px
        margin-bottom: -0.2307692em; // 3px / 13px
    }
}

/**
 * TODO: Modal window edit panes (TBC).
 */

.txp-edit-action {
    @include border-bottom-radius;

    margin-right: -1em;
    margin-left: -1em;
    margin-bottom: 0;
    border-top: 1px solid $color-background;
    padding: 1em;
    background: darken($color-background-box, 3%);

    input[type="submit"] {
        float: right;
    }
}
