/* Setup and login pages - additional layout
   ========================================================================== */

/**
 * Reduced `body` top padding of setup/login pages.
 *
 * Example HTML:
 *
 * <body id="page-setup">
 * <body class="login-pane">
 */

#page-setup,
.login-pane {
    padding: 1em 2.1% 0;
}

/**
 * Column width and margins of setup pages.
 */

.txp-setup {
    margin: 1em auto;
    max-width: $standard-column;

    // Column width of welcome message page.
    .welcome & {
        max-width: 20.30769230769231em; // 264px / 13px
    }
}

/**
 * Column width and margins of login pages.
 */

.txp-login {
    margin: 1em auto;
    max-width: 20.30769230769231em; // 264px / 13px
}

/**
 * Large Textpattern logo replaces `h1`.
 */

.welcome,
.txp-login {
    h1 {
        /* 2 */
        @include hide-text;

        width: 16.5em; // 264px / 16px
        height: 3.375em; // 54px / 16px
        font-size: 16px;
        background: url("../img/textpattern.svg") no-repeat;
        background-size: 16.5em 3.375em;
    }
}

/**
 * Welcome page `select` spans entire column width.
 */

.welcome select {
    width: 100%;
}


/* Tag builder page - additional layout
   ========================================================================== */

/**
 * Remove `body` padding of tag builder popup panes.
 *
 * TODO: Change this from a popup window to a jQuery UI dialog window.
 *
 * Example HTML:
 *
 * <body id="tag-event">
 */

#tag-event {
    padding-top: 1em;
}


/* Content -> Categories page - additional layout
   ========================================================================== */

/**
 * Extra margin below multi-edit widgets on categories page.
 */

#page-category .multi-edit {
    margin-bottom: 1em;
}


/* Content -> Write page - additional layout
   ========================================================================== */

/**
 * View mode tabs on write pages.
 *
 * Example HTML:
 *
 * <div id="view_modes">
 *     <ul>
 *         <li id="tab-text" class="active"><a>Text</a></li>
 *         <li id="tab-html"><a>HTML</a></li>
 *         <li id="tab-preview"><a>Preview</a></li>
 *     </ul>
 * </div>
 */


#view_modes ul {
    @include adjust-font-size-to(11px, 0.8);

    margin: 0;
    border-bottom: 1px solid $color-border;
    padding: 0;
    background: none;

    &:after {
        content: "";
        display: table;
        clear: both;
    }

    li {
        @include box-shadow(inset 0 -0.25em 0.5em rgba(102, 102, 102, 0.15));

        position: relative;
        top: 0;
        float: left;
        margin-right: 2px;
        border: 1px solid $color-border;
        border-bottom-width: 0;
        list-style: none;
        white-space: nowrap;
        background-color: darken($color-background-box, 2%);

        &:hover,
        &:focus {
            border-color: darken($color-border, 13.5%);
            background-color: $color-background-box;
        }

        &.active {
            @include box-shadow(none);

            margin-bottom: -1px;
            padding-bottom: 1px;
            background-color: lighten($color-background-box, 3%);
        }
    }

    a {
        float: left;
        padding: 0.36363636363636em 1em; // 4px / 11px + 11px
        color: $color-text;
        text-decoration: none;
    }
}

/**
 * View mode tabs RTL support.
 */

[dir="rtl"] #view_modes ul {
    li,
    a {
        float: right;
    }
}

/**
 * Write page excerpt field when in HTML preview.
 */

.html .excerpt {
    margin-bottom: 1em;
}

/**
 * Custom font size/weight/colour for elements in write -> main content area.
 */

#main_content {
    .text input {
        font-size: 16px;
    }

    .text textarea {
        font-size: 16px;
        line-height: 1.5em; // 24px / 16px
    }

    #title {
        font-size: 1.25em; // 20px / 16px
        font-weight: bold;
    }

    .author {
        color: $color-text-footnote;
    }
}


/* Content -> Articles page - additional layout
   ========================================================================== */

/**
 * Grey-out text for unpublished articles/non-modified dates in the list.
 */

.unpublished,
.not-modified {
    color: $color-text-footnote;
}


/* Content -> Images page - additional layout
   ========================================================================== */

td.thumbnail a {
    outline: 0;
}

.fullsize-image {
    text-align: center;
    margin-bottom: 1em;

    img {
        @include box-sizing(border-box);

        max-width: 100%;
        height: auto;
    }
}

.thumbnail-edit {
    overflow-x: auto;
    margin-bottom: 1em;

    form {
        display: inline-block;
        vertical-align: top;
        margin-top: 5px;
    }
}

.edit-image-replace,
.edit-upload-thumbnail,
.edit-alter-thumbnail {
    input[type="submit"] {
        float: right;
    }
}


/* Content -> Files page - additional layout
   ========================================================================== */

.edit-file-replace input[type="submit"] {
    float: right;
}


/* Content -> Comments page - additional layout
   ========================================================================== */

/**
 * Red background highlight for spam comment rows in the list.
 */

#page-discuss .txp-list tr.spam {
    background: lighten($color-error-background, 2%);
}

/**
 * Yellow background highlight for unmoderated comment rows in the list.
 */

#page-discuss .txp-list tr.moderate {
    background: lighten($color-warning-background, 2%);
}


/* Admin -> Languages page - additional layout
   ========================================================================== */

#page-lang .txp-list .modified {
    margin-left: 0.6em;
}


/* Admin -> Plugins page - additional layout
   ========================================================================== */

tr {
    .manage span,
    .plugin-prefs {
        visibility: hidden;
    }
}

tr.active {
    .manage span,
    .plugin-prefs {
        visibility: visible;
    }
}

#plugin-code {
    height: 23em;
}

div.code {
    @include box-sizing(border-box);

    margin-bottom: 1em;
    border: 1px solid $color-border;
    padding: 0.15384615384615em 0.38461538461538em;
    height: 21em;
    overflow: auto;
}

/**
 * Plugin help columns (fixed proportion cell) - OLD.
 *
 * @deprecated in 4.6.0
 * @see        .txp-layout-textbox
 */

.plugin-column {
    margin: 0 auto;
    max-width: $text-column;
}
