@use "../setup";

/**
 * Clearfix using the 'A new micro clearfix hack' method.
 */

.clearfix {
    &::after {
        content: "";
        display: table;
        clear: both;
    }
}

/**
 * Basic float clearer.
 */

.clear {
    clear: both;
}

/**
 * Hide elements.
 */

.hidden {
    display: none;
}

/* Globally shared layout
   ========================================================================== */

/**
 * 1. Add some breathing space above page anchors.
 * 2. Avoid content shift when scrollbars appear.
 */

html {
    scroll-padding-top: 1rem; /* 1 */
    scrollbar-gutter: stable both-edges; /* 2 */
}

/**
 * Hide content during 'not ready'.
 */

.not-ready main {
    opacity: 0;
}

/**
 * 1. Add the correct box sizing in Firefox.
 */

hr {
    box-sizing: content-box; /* 1 */
    height: 0;
    margin: 1.5em 0;
    clear: both; // make sure any floats above `hr` are cleared
    border: 0; // remove the default `hr` border
    border-bottom: 1px solid var(--clr-brdr);

    &.secondary {
        margin: 0.33em 0;
        border-style: dashed;
    }
}

/**
 * Hide text but still allow screen reader access.
 *
 * Example HTML:
 *
 * <h1 class="txp-accessibility">
 */

.txp-accessibility {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    overflow: hidden;
    clip: rect(
        0 0 0 0
    ); // TODO: Deprecated - use `clip-path` when browser support is better.
    //clip-path: inset(50%); // TODO: Currently causes severe performance issues in Chrome.
    border: 0;
    white-space: nowrap;
}

/**
 * Contain width of user-definable content, to avoid potential layout breakage.
 */

.txp-contain {
    max-width: 30em; // 390px / 13px
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

/**
 * Drop down lists.
 *
 * 1. Ensure dropdowns are hidden at page load (prevents content 'jumping').
 *
 * <ul class="txp-dropdown">
 *     <li class="txp-dropdown-toggle-all">
 *         <div>
 *             <label><input class="checkbox" type="checkbox"> Toggle all/none selected</label>
 *         </div>
 *     </li>
 *     <li>
 *         <div>
 *             <label><input class="checkbox active" type="checkbox"> ID#</label>
 *         </div>
 *     </li>
 * </ul>
 */

.txp-dropdown {
    /* 1 */
    display: none;
    position: absolute;
    z-index: 100;
    width: 18em; // 234px / 13px

    .checkbox {
        margin: 0.1538462em; // 2px / 13px
    }
}

.txp-dropdown-toggle-all {
    border-bottom: 1px solid var(--clr-brdr-lite);
}

/**
 * Search widget at top of lists.
 *
 * Appears on:
 *
 * List panels.
 *
 * Example HTML:
 *
 * <form class="txp-search">
 *     <span class="txp-search-clear"><a>Clear search</a></span>
 *     <input class="txp-search-input" type="search" size="24">
 *     <span class="txp-search-buttons">
 *         <button class="txp-search-button">Search</button>
 *         <button class="txp-search-options">Search options</button>
 *     </span>
 * </form>
 */

.txp-search {
    display: flex;
    position: relative;
    justify-content: flex-end;
    margin: 1em 0;
    float: right; // TODO: Use `float: inline-end` when browser support is better.

    // Ensure the 2 buttons stay together.

    .ui-controlgroup {
        flex-wrap: nowrap;
    }

    // Ensure search dropdown lays above Column display options dropdown.

    .txp-dropdown {
        z-index: 101;
    }

    [dir="rtl"] & {
        float: left;
    }
}

.txp-search-input {
    max-width: calc(100% - 5.5rem);

    @if setup.$border-radius > 0 {
        border-radius: setup.$border-radius 0 0 setup.$border-radius;

        [dir="rtl"] & {
            border-radius: 0 setup.$border-radius setup.$border-radius 0;
        }
    }
}

.txp-search-clear {
    flex: 1;
    margin: auto 0.5em;
    text-align: end;
}

/**
 * Actions at top of listings.
 *
 * Appears on:
 *
 * List panels.
 *
 * Example HTML:
 *
 * <div class="txp-control-panel">
 *     Content
 * </div>
 */

.txp-control-panel {
    margin-bottom: 1em;

    > * {
        margin: 0.5em;
        margin-inline-start: 0;

        &:last-child {
            margin-inline-end: 0;
        }
    }

    form {
        display: inline-block;
    }

    textarea {
        margin-bottom: 1em;
    }

    .txp-details form {
        display: block;
        margin-block: .5em;
    }
}

/**
 * Upload forms inline and as part of a `.txp-form-field` group.
 *
 * Appears on:
 *
 * List panels (inline) and edit panels.
 *
 * Example HTML:
 *
 * <div class="inline-file-uploader">
 *     <label>Upload file</label>
 *     <input type="file" multiple="multiple">
 *     <span class="inline-file-uploader-actions">
 *         <label for="file_category">Category</label>
 *         <select id="file_category" name="category">
 *             <option>&nbsp;</option>
 *             <option>File example category</option>
 *         </select>
 *     </span>
 *     <span class="inline-file-uploader-actions">
 *         <input type="reset" value="Reset">
 *         <input type="submit" value="Upload">
 *     </span>
 * </div>
 *
 * <div class="txp-form-field file-uploader">
 *     <div class="txp-form-field-label"><label>Upload file</label></div>
 *     <div class="txp-form-field-value">
 *         <input type="file">
 *         <span class="inline-file-uploader-actions">
 *             <input type="reset" value="Reset">
 *             <input type="submit" value="Upload">
 *         </span>
 *     </div>
 * </div>
 */

.inline-file-uploader {
    margin-bottom: -0.5em;

    > * {
        margin-bottom: 0.5em;
    }
}

.txp-form-field.file-uploader {
    margin-bottom: -0.5em;

    .txp-form-field-value > * {
        margin-bottom: 1em;
    }
}

.inline-file-uploader-actions {
    display: inline-block;
}

/**
 * List display options at top of listings.
 *
 * Appears on:
 *
 * List panels.
 *
 * Example HTML:
 *
 * <div class="txp-list-options">
 *     <a>List view</a>
 *     <a>Grid view</a>
 *     <a>Column display options</a>
 * </div>
 */

.txp-list-options {
    position: relative;
    flex-grow: 1;
    margin: 1em 0;
    text-align: end;

    > ul {
        text-align: start;
    }

    > *:not(ul) {
        margin: 0;
        margin-inline-start: 1em;
        white-space: nowrap;
        user-select: none;
    }

    form {
        display: inline-block;
    }
}

/**
 * Additional action links ('Duplicate', 'View', etc.) on some panels.
 *
 * Appears on:
 *
 * Article write/edit panel, pages panel, forms panel, styles panel.
 *
 * Example HTML:
 *
 * <p class="txp-actions">
 *     <a class="txp-article-view">View</a>
 *     <a class="txp-clone">Duplicate</a>
 *     <a class="txp-new">Create new</a>
 * </p>
 */

.txp-actions > * {
    display: inline-block;
    margin: 0.5em 0 0;
    margin-inline-end: 1em;

    &:last-child {
        margin-inline-end: 0;
    }
}

/**
 * Remove top margin when inside a dialog box.
 */

.ui-dialog .txp-actions {
    margin-top: 0;
}

/**
 * Inline the action links.
 *
 * Appears on:
 *
 * Article pages panel, forms panel, styles panel.
 */

:not(.txp-edit) .txp-actions-inline {
    margin-top: 1.3076923em; // 17px / 13px
    float: right; // TODO: Use `float: inline-end` when browser support is better.
}

.txp-edit .txp-actions-inline {
    position: absolute;
    top: 1em;
    right: 1em;
    margin-top: 0;

    a {
        margin-top: 0;
    }
}

/**
 * Swap position in RTL languages.
 */

[dir="rtl"] .txp-actions-inline {
    float: left;
}

[dir="rtl"] .txp-edit .txp-actions-inline {
    right: auto;
    left: 1em;
}

/**
 * Parent container for multi-edit `select` widget at bottom of listings.
 *
 * Appears on:
 *
 * List panels.
 *
 * Example HTML:
 *
 * <div class="multi-edit">
 *     <select>
 *         <option selected="selected">With selected...</option>
 *         <option>Change author</option>
 *         <option>Duplicate</option>
 *         <option>Delete</option>
 *     </select>
 * </div>
 */

.multi-edit {
    position: sticky;
    z-index: 20;
    bottom: 0;
    margin: 1em 0 0;
    padding: 0.3076923em 0; // 4px / 13px
    background: var(--clr-bkgd);
    box-shadow: 0 -1em 1em -0.5em var(--clr-bkgd);
}

/**
 * Hide secondary `select` element on multi-edit `select` widget.
 *
 * Display is controlled via JavaScript (hidden by default until an action is
 * selected by user, then overrode by `.multi-step`).
 *
 * Appears on:
 *
 * List panels.
 *
 * Example HTML:
 *
 * <div class="multi-edit">
 *     <select>
 *         <option selected="selected">With selected...</option>
 *         <option>Change author</option>
 *         <option>Duplicate</option>
 *         <option>Delete</option>
 *     </select>
 *     <div class="multi-option">
 *         <select name="order">
 *             <option value="1">1</option>
 *             <option value="2">1</option>
 *             <option value="3" selected="selected">5</option>
 *         </select>
 *     </div>
 *     <input type="submit" value="Go">
 * </div>
 */

.multi-option {
    display: none;
}

/**
 * Show secondary `select` element on multi-edit `select` widget.
 *
 * Display is controlled via JavaScript (class not present until an action is
 * selected by user, then overrides `.multi-edit`).
 *
 * Appears on:
 *
 * List panels.
 *
 * Example HTML:
 *
 * <div class="multi-edit">
 *     <select>
 *         <option selected="selected">With selected...</option>
 *         <option>Change author</option>
 *         <option>Duplicate</option>
 *         <option>Delete</option>
 *     </select>
 *     <div class="multi-option multi-step">
 *         <select name="order">
 *             <option value="1">1</option>
 *             <option value="2">1</option>
 *             <option value="3" selected="selected">5</option>
 *         </select>
 *     </div>
 *     <input type="submit" value="Go">
 * </div>
 */

.multi-option.multi-step {
    display: inline-block;
    margin-inline-start: 0.3076923em; // 4px / 13px
}

/**
 * Ensure links display as inline blocks (prevents linebreak problems).
 *
 * Example HTML:
 *
 * <a class="txp-option-link">Edit</a>
 */

.txp-option-link {
    display: inline-block;
    white-space: nowrap;
}

/**
 * When text sections are linked with anchors, make sure there is ample padding
 * above so they don't become obscured by sticky `header` area.
 *
 * Appears on:
 *
 * Plugin help pages, miscellaneous text pages.
 *
 * Example HTML:
 *
 * <section class="text-section" id="help-section02">
 */

.text-section {
    margin-top: 3em;
    padding-top: 3em;
    border-top: 2px solid var(--clr-brdr);
}

/**
 * System permissions 'keep out' messages.
 */

.restricted-area {
    font-size: 2rem; // 26px / 13px
    text-align: center;
}

/**
 * Visually secondary text.
 */

.secondary-text {
    opacity: 0.66;
}

/**
 * Visually disabled text and anchors.
 */

.disabled:not(.txp-button) {
    opacity: 0.33;
    background-image: none;
    text-decoration: none;
    cursor: default !important;
    pointer-events: none;

    a {
        text-decoration: none;
        cursor: default;
        pointer-events: none;
    }
}

/**
 * List navigators on list panels.
 *
 * Anchor elements kept to one line to prevent space between buttons.
 *
 * Example HTML:
 *
 * <div class="txp-layout-cell-row txp-navigation" id="image_navigation">
 *     <p class="nav-tertiary pageby">
 *         <a class="navlink-active">15</a><a class="navlink">25</a><a class="navlink">50</a>
 *     </p>
 *     <nav class="prev-next">
 *         <span class="disabled"><span class="ui-icon ui-icon-arrowthick-1-w">Previous</span></span>
 *         <form>
 *             <label>Page</label>
 *             <input class="current-page">
 *             of <span class="total-pages">2</span>
 *         </form>
 *         <a><span class="ui-icon ui-icon-arrowthick-1-e">Next</span></a>
 *     </nav>
 * </div>
 */

.pageby {
    margin: 1em 0;
}

.prev-next {
    margin: 1em 0;

    form {
        display: inline-block;
    }
}

/**
 * Swap margin positions and arrow icons in RTL languages.
 */

[dir="rtl"] .prev-next {
    .ui-icon-arrowthick-1-w {
        transform: rotate(180deg);
    }

    .ui-icon-arrowthick-1-e {
        transform: rotate(180deg);
    }
}

/* Panes
   ========================================================================== */

/**
 * Styling of edit panels.
 *
 * 1. Maximum width of edit panels.
 * 2. Remove margin above `h2` within panels.
 */

.txp-edit {
    position: relative;
    max-width: (setup.$text-column - 2em);
    margin: 0 auto;
    padding: 1em 1em 1px;
    clear: both;
    background: var(--clr-bkgd-box); /* 1 */

    h2 {
        margin-top: 0; /* 2 */
    }
}

/**
 * Styling of edit panel cancel/submit button combinations.
 */

.txp-edit-actions > * {
    margin-inline-start: 1em;
}

.txp-edit .txp-edit-actions,
.txp-details .txp-edit-actions {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin: 1em -1em;
    padding: 1em 1em 0;
    border-top: 2px solid var(--clr-bkgd);

    .caution {
        margin-inline: 0 auto;
    }
}

/* Form fields.
   ========================================================================== */

/**
 * Form field containers.
 *
 * Textpattern form fields can have optional inline help texts applied to them.
 *
 * Example HTML:
 *
 * <div class="txp-form-field">
 *     <div class="txp-form-field-label">
 *         <label> <a class="pophelp"><span class="ui-icon ui-icon-help">Help</span></a></label>
 *     </div>
 *     <div class="txp-form-field-value">
 *         <input>
 *     </div>
 * </div>
 *
 * <div class="txp-form-field">
 *     <div class="txp-form-field-label">
 *         <label> <a class="pophelp"><span class="ui-icon ui-icon-help">Help</span></a></label>
 *     </div>
 *     <div class="txp-form-field-instructions">
 *         <p>(Optional) intructions on how to fill out this form field.</p>
 *     </div>
 *     <div class="txp-form-field-value">
 *         <input>
 *     </div>
 * </div>
 */

.txp-form-field {
    margin: 1em 0;
    vertical-align: top;

    .txp-edit &,
    .txp-tabs-vertical-group & {
        flex-flow: row wrap;
    }
}

/**
 * Label/value form field pairings.
 *
 * Note: this is always collapsed to a one-column format on mobile layout.
 *
 * Example HTML:
 *
 * <div class="txp-form-field">
 *     <div class="txp-form-field-label">
 *         <label>Label <a class="pophelp"><span class="ui-icon ui-icon-help">Help</span></a></label>
 *     </div>
 *     <div class="txp-form-field-value">
 *         <input type="text" size="32">
 *     </div>
 * </div>
 */

.txp-form-field-label,
.txp-form-field-value {
    max-width: 30em; // 390px / 13px
}

/**
 * Allow a 'shim' to move non-regular form fields 50% across panels.
 */

.txp-form-field-shim {
    margin-inline-start: 50%;
}

/**
 * Ensure field sets stay together and don't wrap unexpectedly.
 */

.txp-form-field-set {
    display: inline-block;
}

/**
 * Inline form field pairings on edit panels, preferences group panels and
 * setup panels.
 *
 * Example HTML:
 *
 * <form class="txp-edit">
 *     <div class="txp-form-field">
 *         <div class="txp-form-field-label"></div>
 *         <div class="txp-form-field-value"></div>
 *     </div>
 * </form>
 */

.txp-edit,
.txp-tabs-vertical-group,
.setup:not(.welcome) {
    .txp-form-field:not(.txp-form-field-textarea) {
        display: flex;
        align-items: baseline;
    }

    .txp-form-field-label,
    .txp-form-field-value {
        flex: 1 1 0%;
        min-height: 2.3076923em; // 30px / 13px
    }
}

/**
 * Don't inline or constrain form fields for textareas.
 *
 * Example HTML:
 *
 * <div class="txp-form-field txp-form-field-textarea">
 *     <div class="txp-form-field-label">
 *         <label>Label <a class="pophelp"><span class="ui-icon ui-icon-help">Help</span></a></label>
 *     </div>
 *     <div class="txp-form-field-value">
 *         <textarea></textarea>
 *     </div>
 * </div>
 */

.txp-form-field-textarea {
    .txp-form-field-label,
    .txp-form-field-value {
        flex: none;
        max-width: inherit;
        min-height: inherit;
    }
}

/**
 * Don't constrain form fields when in 3 column layout spans.
 */

.txp-layout-4col-3span {
    .txp-form-field-label,
    .txp-form-field-value {
        max-width: inherit;
    }
}

/**
 * Form field inline help texts.
 *
 * Example HTML:
 *
 * <div class="txp-form-field>
 *     <div class="txp-form-field-label"></div>
 *     <div class="txp-form-field-instructions">
 *         <p>(Optional) intructions on how to fill out this form field.</p>
 *     </div>
 *     <div class="txp-form-field-value"></div>
 * </div>
 */

.txp-form-field-instructions {
    max-width: 56em; // 616px / 11px

    .txp-edit &,
    .txp-tabs-vertical-group & {
        flex: 0 0 100%;
        order: 3;
        max-width: 100%;
    }
}

/**
 * Options for specific textareas.
 */

.txp-textarea-options {
    position: relative;
    z-index: 2;
    margin: 0 1px;
    float: right; // TODO: Use `float: inline-end` when browser support is better.
}

.txp-textarea-preview {
    margin-inline-start: 1em;
}

/**
 * Swap alignment of textarea options in RTL languages.
 */

[dir="rtl"] .txp-textarea-options {
    float: left;
}

/**
 * Constrain the width of vertical tab column 2 groups.
 */

.txp-tabs-vertical-group {
    max-width: setup.$text-column;
}

/**
 * Ensure dialog box vertical footprint doesn't spill out of screen area.
 */

.ui-dialog.txp-dialog-container,
.ui-dialog.txp-preview-container {
    flex-direction: column;
    align-items: stretch;
    margin: auto;
}

/**
 * Override position for the tag builder dialog.
 */

.txp-tagbuilder-container {
    position: absolute !important;
}

/**
 * Sticky save button region.
 *
 * Example HTML:
 *
 * <div class="txp-save-zone">
 *     <p class="txp-save">
 *         <span class="txp-save-button">
 *             <input class="publish" type="submit">
 *             <span class="spinner-sticker"><span class="spinner ui-icon ui-icon-refresh"></span></span>
 *         </span>
 *         <span class="txp-save-export">
 *             <input class="checkbox" type="checkbox">
 *             <label>Export to disk</label>
 *         </span>
 *     </p>
 *     <p class="txp-actions">
 *         <a class="txp-new"></a>
 *         <a class="txp-clone"></a>
 *     </p>
 * </div>
 */

.txp-save-zone {
    position: sticky;
    z-index: 999;
    top: 2.75em;
    margin: -1.25em 0 1.75em;
    padding: 1px 1em 0;
    border: 1px solid var(--clr-brdr-lite);
    border-top: 0;

    @if setup.$border-radius > 0 {
        border-radius: 0 0 setup.$border-radius setup.$border-radius;
    }

    background: var(--clr-bkgd);

    @if not setup.$flat-theme {
        box-shadow: 0 0.1em 0.125em hsl(0 0% 0% / 0.15);
    }

    .txp-actions {
        margin-bottom: 0.5em;
    }
}

@include setup.dark-mode {
    .txp-save-zone {
        background: var(--clr-bkgd-box);
    }
}

/**
 * Save export checkbox region on certain presentation panels.
 */

.txp-save {
    display: flex;
    align-items: center;
}

.txp-save-export {
    display: inline-block;
    order: 2;
    margin-inline-start: 1em;
}

/**
 * Save buttons with AJAX spinners.
 */

.txp-save-button {
    position: relative;
}

.spinner-sticker {
    position: absolute;
    z-index: 2;
    top: 50%;
    left: 50%;
    width: 16px;
    height: 16px;
    margin: -10px 0 0 -10px;
    border: 2px solid var(--clr-bkgd);
    border-radius: 50%;
    background-color: var(--clr-bkgd);
    font-size: 13px;

    .ui-icon {
        margin: 0;
    }

    @if not setup.$flat-theme {
        box-shadow: 0 0 0.5em hsl(0 0% 0% / 0.5);
    }
}

span.spinner {
    animation: spinning linear 1s infinite;
}
