@use "../setup";

/* Setup and login panels - additional layout
   ========================================================================== */

/**
 * Reduced `body` top padding of setup/login panels.
 *
 * Example HTML:
 *
 * <body class="setup">
 * <body class="login">
 */

.setup,
.login {
    padding: 1em 4% 0;
}

/**
 * Column width and margins of setup panels.
 */

.txp-setup {
    max-width: setup.$setup-column;
    margin: 1em auto;

    // Column width of 'welcome' setup panel.

    .welcome & {
        max-width: 20.3076923em; // 264px / 13px
    }
}

/**
 * Column width and margins of login panels.
 */

.txp-login {
    max-width: 20.3076923em; // 264px / 13px
    margin: 1em auto;
    padding: 1em 2em 1px;

    @if setup.$border-radius > 0 {
        border-radius: 1em;
    }

    @if not setup.$flat-theme {
        box-shadow: 0 0 1em hsl(0 0% 0% / 0.3);
    }
}

.login-forgot,
.login-view-site,
.login-return {
    text-align: center;
}

/**
 * Large Textpattern logo replaces `h1`.
 */

.welcome,
.login {
    h1 {
        /* 2 */
        @include setup.hide-text;

        width: 16.5em; // 264px / 16px
        height: 3.375em; // 54px / 16px
        margin-right: auto;
        margin-left: auto;
        background: url("../img/textpattern.svg") no-repeat;
        background-size: 16.5em 3.375em;
        font-size: 16px;
    }

    [type="submit"] {
        width: 100%;
    }
}

body.darkmode.welcome,
body.darkmode.login {
    h1 {
        background-image: url("../img/textpattern-dark.svg");
    }
}

/**
 * Additional styling for 'view site' link on login panel.
 */

.login-view-site {
    position: relative;
    bottom: -0.5em;
    padding: 1em 0;
    overflow: hidden;
    border-top: 1px solid var(--clr-brdr);
    text-overflow: ellipsis;
}

/**
 * Welcome page `select` spans entire column width.
 */

.welcome select {
    width: 100%;
}

/* Content -> Categories panel - additional layout
   ========================================================================== */

/**
 * Extra margin below multi-edit widgets on categories page.
 */

#page-category .multi-edit {
    margin-bottom: 1em;
}

/* Content -> Write panel - additional layout
   ========================================================================== */

/**
 * View mode tabs on write area.
 *
 * Example HTML:
 *
 * <div id="view_modes">
 *     <ul>
 *         <li id="tab-text" class="active"><a>Text</a></li>
 *         <li id="tab-html"><a>HTML</a></li>
 *         <li id="tab-preview"><a>Preview</a></li>
 *     </ul>
 * </div>
 */

#view_modes {
    ul {
        margin: 2em 0 0;
        padding: 0;
        border-bottom: 1px solid var(--clr-brdr);
        font-size: setup.$small-font-size;
        line-height: setup.$small-line-height;
    }

    li {
        display: inline-block;
        height: 2.6363636em; // 29px / 11px
    }

    a {
        display: block;
        position: relative;
        bottom: -1px;
        padding: 0.5em 1em;
        border: 1px solid var(--clr-brdr);
        background-color: var(--clr-bkgd-box);
        color: var(--clr-text);
        text-decoration: none;

        @if not setup.$flat-theme {
            box-shadow: inset 0 -0.25em 0.5em hsl(0 0% 40% / 0.15);
        }

        &:hover {
            border-color: var(--clr-brdr-x-dark);
            filter: brightness(1.05);
        }

        &:focus {
            border-color: var(--clr-focus);
            outline: 0;
        }
    }

    .active a {
        border-bottom-color: var(--clr-bkgd);
        background-color: var(--clr-bkgd);

        @if not setup.$flat-theme {
            box-shadow: none;
        }

        &:focus {
            border-color: var(--clr-focus);
            border-bottom-color: var(--clr-bkgd);
        }
    }
}

@include setup.dark-mode {
    #view_modes {
        a {
            @if not setup.$flat-theme {
                box-shadow: inset 0 -0.25em 0.5em hsl(0 0% 0% / 0.3);
            }

            &:hover {
                border-color: var(--clr-brdr-x-lite);
                filter: brightness(1.1);
            }

            &:focus {
                border-color: var(--clr-focus);
            }
        }

        .active a {
            @if not setup.$flat-theme {
                box-shadow: none;
            }

            &:focus {
                border-color: var(--clr-focus);
                border-bottom-color: var(--clr-bkgd);
            }
        }
    }
}

/**
 * Custom font size/weight/colour for elements in write -> main content area.
 */

#main_content {
    .text {
        input {
            font-size: 1.2307692rem; // 16px / 13px
        }

        textarea {
            font-size: 1.2307692rem; // 16px / 13px
            line-height: 1.5; // 24px / 16px
        }

        .title input {
            width: 100%;
            font-size: 1.5384615rem; // 20px / 13px
            font-weight: 700;
        }
    }

    .author small {
        display: block;
        margin-top: -1em;
        color: var(--clr-text-demoted);
    }
}

/**
 * Reduce space above expires date/time region.
 */

#expires-datetime-group {
    margin-top: 0;
}

/* Content -> Articles panel - additional layout
   ========================================================================== */

/**
 * Grey-out text for unpublished articles/non-modified dates in the list.
 */

.unpublished,
.not-modified {
    color: var(--clr-text-demoted);
}

/* Content -> Images panel - additional layout
   ========================================================================== */

.image-replace {
    margin-bottom: 1em;
}

.edit-alter-thumbnail {
    margin-bottom: 1.5em;
}

.edit-alter-thumbnail input {
    margin: 0;
    margin-inline-end: 0.3076923em;

    &:last-child {
        margin-inline-end: 0;
    }
}

.ui-button.thumbnail-swap-size {
    margin: 0;
    margin-inline-end: 0.3076923em;
}

.thumbnail-image form {
    display: inline-block;
    margin-top: 5px;
    vertical-align: top;
}

/* Content -> Files panel - additional layout
   ========================================================================== */

/**
 * Make sure form for selecting existing files is on a new line.
 */

.txp-control-panel .assign-existing-form {
    display: block;
}

/* Content -> Comments panel - additional layout
   ========================================================================== */

/**
 * Background highlight for spam comment/unmoderated comment rows in the list.
 */

.txp-list tbody tr {
    &.spam {
        background: var(--clr-error-bkgd);
    }

    &.moderate {
        background: var(--clr-warning-bkgd);
    }
}

/* Presentation -> all panels - additional layout
   ========================================================================== */

.presentation textarea.code {
    height: 64vh;
}

/* Presentation -> Forms panel - additional layout
   ========================================================================== */

#page-form .name {
    display: inline-block;
    margin: 0;
    margin-inline-end: 1em;

    input {
        width: 14.4615385em; // 188px / 13px
    }
}

#page-form .type {
    display: inline-block;
    margin: 0;
}

/* Admin -> Plugins panel - additional layout
   ========================================================================== */

.plugin-data {
    display: block;
}

tr:not(.active) {
    .manage span,
    .plugin-prefs {
        display: none;
    }
}

#preview-plugin,
#preview-help,
#preview-textpack {
    height: 16vh;
    overflow: auto;
    resize: vertical;
}

.edit-plugin-code textarea {
    height: 70vh;
}
