/* Links
   ========================================================================== */

/**
 * 1. Specify link colour.
 * 2. Remove default underline style from non-hover state links.
 * 3. Interrupt the decoration line to let the shape of the text show through
 *    in supported browsers.
 * 4. Hide `.busy` class links when processing AJAX.
 */

a {
    /* 1 */
    color: $color-link;
    /* 2 */
    text-decoration: none;
    /* 3 */
    text-decoration-skip-ink: auto;

    &:hover,
    &:active {
        color: $color-link-hover;
        text-decoration: underline;
    }

    &:focus {
        outline: thin solid $color-link-focus;
    }

    &.busy {
        /* 4 */
        visibility: hidden;
    }
}

/**
 * Additional styling for popup help links.
 *
 * Example HTML:
 *
 * <a class="pophelp"><span class="ui-icon ui-icon-help">Help</span></a>
 */

.pophelp,
.pophelpsubtle {
    display: inline-block;
}

/**
 * Additional styling for popup help links in table headers.
 */

.txp-list thead th a.pophelp {
    display: inline-block;
    margin: 0;
    padding: 0;
}

/**
 * Reduce risk of render glitches in links on RTL languages.
 */

[dir="rtl"] a {
    unicode-bidi: embed;
}
