/* Links
   ========================================================================== */

/**
 * 1. Specify link colour.
 * 2. Remove default underline style from non-hover state links.
 * 3. Interrupt the decoration line to let the shape of the text show through
 *    in supported browsers.
 * 4. Hide `.busy` class links when processing AJAX.
 */

a {
    color: $color-link; /* 1 */
    text-decoration: none; /* 2 */
    text-decoration-skip-ink: auto; /* 3 */

    &:hover,
    &:active {
        color: $color-link-hover;
        text-decoration: underline;
    }

    &:focus {
        outline: thin solid $color-link-focus;
    }

    &.busy {
        visibility: hidden; /* 4 */
    }
}

@media (prefers-color-scheme: dark) {
    a {
        color: $dark-color-link;

        &:hover,
        &:active {
            color: $dark-color-link-hover;
        }

        &:focus {
            outline: thin solid $dark-color-link-focus;
        }
    }
}

/**
 * Additional styling for popup help links.
 *
 * Example HTML:
 *
 * <a class="pophelp"><span class="ui-icon ui-icon-help">Help</span></a>
 */

.pophelp,
.pophelpsubtle {
    display: inline-block;
}

/**
 * Additional styling for popup help links in table headers.
 */

.txp-list thead th a.pophelp {
    display: inline-block;
    margin: 0;
    padding: 0;
}

/**
 * Reduce risk of render glitches in links on RTL languages.
 */

[dir="rtl"] a {
    unicode-bidi: embed;
}
