/* Links
   ========================================================================== */

/**
 * 1. Specify link colour.
 * 2. Remove default underline style from non-hover state links.
 * 3. Interrupt the decoration line to let the shape of the text show through
 *    in supported browsers.
 * 4. Expanded CSS level 3 `text-decoration` property in supported browsers,
 *    older browsers will fallback to legacy `text-decoration` property.
 * 5. Hide `.busy` class links when processing AJAX.
 */

a {
    /* 1 */
    color: $color-link;
    /* 2 */
    text-decoration: none;
    /* 3 */
    text-decoration-skip: ink edges;

    &:hover,
    &:active {
        outline-width: 0;
        color: $color-link-hover;
        text-decoration: underline;
        /* 4 */
        text-decoration: $color-link solid underline;
    }

    &:focus {
        outline: thin solid $color-link-focus;
    }

    &.busy {
        /* 5 */
        visibility: hidden;
    }
}

/**
 * Additional styling for popup help links.
 *
 * Example HTML:
 *
 * <a class="pophelp">i</a>
 */

.pophelp,
.pophelpsubtle {
    padding: 0 0.4em;
    border: 1px solid lighten($color-border, 8%);
    border-radius: 50%;
    font-weight: normal;

    &:focus {
        border-color: $color-link-focus;
        outline-width: 0;
    }
}

/**
 * Additional styling for popup help links in table headers.
 */

.txp-list thead th a.pophelp {
    display: inline;
    margin: 0;
    padding: 0 0.4em;
    border-color: $color-border;
    color: $color-link;

    &:hover {
        color: $color-link-hover;
        text-decoration: underline;
    }

    &:focus {
        border-color: $color-link-focus;
    }
}

/**
 * Reduce risk of render glitches in links on RTL languages.
 */

[dir="rtl"] a {
    unicode-bidi: embed;
}
