/* Lists
   ========================================================================== */

/* address padding set differently */
menu,
ol,
ul {
    padding: 0 0 0 2em;
}

[dir="rtl"] menu,
[dir="rtl"] ol,
[dir="rtl"] ul {
    padding: 0 2em 0 0;
}

/* remove margins from nested lists */
li {
    > ul,
    > ol {
        margin: 0;
    }
}

dd {
    margin: 0 0 0 2em;
}

[dir="rtl"] dd {
    margin: 0 2em 0 0;
}

dt {
    font-style: italic;
}

.plain-list {
    list-style: none;
    padding: 0;
}

[dir="rtl"] .plain-list { // required for specificity
    padding: 0;
}

.switcher-list {
    list-style: none;
    margin: 0 -1em;
    padding-left: 0;

    li {
        position: relative;
        border-top: 1px solid $color-gradient-to;
        padding: 0.3846154em 3em 0.3846154em 1em;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;

        &:nth-child(odd) {
            background: $color-background;
        }

        &:first-child {
            border-top: 0;
        }

        &.active {
            background: $color-selected;
        }
    }
}

.switcher-action,
.switcher-list .destroy {
    position: absolute;
    z-index: 2;
    right: 1em;
}

.switcher-action {
    top: 0.3846154em; // 5px / 13px
}

.switcher-list .destroy {
    top: 0.4615385em; // 6px / 13px
}
