/* Lists
   ========================================================================== */

/**
 * Address paddings set differently.
 */

menu,
ol,
ul {
    padding: 0 0 0 2em;
}

/**
 * Swap padding positions in RTL languages.
 */

[dir="rtl"] {
    menu,
    ol,
    ul {
        padding: 0 2em 0 0;
    }
}

/**
 * Remove margins from nested lists.
 */

li {
    > ul,
    > ol {
        margin: 0;
    }
}

/**
 * Address margins set differently.
 */

dd {
    margin: 0 0 0 2em;
}

/**
 * Swap margin positions in RTL languages.
 */

[dir="rtl"] dd {
    margin: 0 2em 0 0;
}

/**
 * Italicise definition terms.
 */

dt {
    font-style: italic;
}

/**
 * Have a list with no bullets/numerals.
 *
 * Example HTML:
 *
 * <ul class="plain-list">
 * <ol class="plain-list">
 */

.plain-list {
    padding: 0;
    list-style: none;
}

/**
 * Ensure padding stays removed in RTL languages.
 *
 * Required for specificity.
 */

[dir="rtl"] .plain-list {
    padding: 0;
}

/**
 * Switcher lists, to swap between different page templates/form templates/etc.
 *
 * Example HTML:
 *
 * <ul class="switcher-list">
 *     <li class="active"></li>
 *     <li><a></a></li>
 *     <li><a></a></li>
 * </ul>
 */

.switcher-list {
    list-style: none;
    margin: 0 -1em;
    padding-left: 0;

    li {
        position: relative;
        border-top: 1px solid $color-gradient-to;

        &:nth-child(odd) {
            background: $color-background;
        }

        &:first-child {
            border-top: 0;
        }

        &.active {
            background: $color-selected;
        }

        a {
            display: block;
            padding: 0.38461538461538em 2.5em 0.38461538461538em 1em;
            text-overflow: ellipsis;
            white-space: nowrap;
            overflow: hidden;
        }
    }
}

/**
 * 'Destroy' buttons within switcher lists.
 */

.switcher-action,
.switcher-list .destroy {
    position: absolute;
    right: 1em;
    z-index: 2;
}

.switcher-action {
    top: 0.38461538461538em; // 5px / 13px
}

.switcher-list .destroy {
    top: 0.46153846153846em; // 6px / 13px
}
