@use "../setup";

/* Progress indicators
   ========================================================================== */

/**
 * Add the correct vertical alignment in Chrome, Firefox, and Opera.
 */

progress {
    vertical-align: baseline;
}

/**
 * Styled progress indicators.
 *
 * Example HTML:
 *
 * <progress class="txp-upload-progress"></progress>
 */

.txp-upload-progress {
    box-sizing: border-box;
    width: 100%;
    max-width: 30em; // 390px / 13px
    height: 8px;
    border: 1px solid var(--clr-brdr);
    background-color: var(--clr-bkgd-box);
    appearance: none;
}

@include setup.dark-mode {
    .txp-upload-progress {
        border-color: var(--clr-brdr-x-dark);
    }
}

// WebKit/Blink.

.txp-upload-progress::-webkit-progress-bar {
    background-color: var(--clr-bkgd-box);
}

.txp-upload-progress::-webkit-progress-value {
    animation: progressbar-stripes linear 4s infinite;
    background-color: var(--clr-accent-grad-to);
    background-image: linear-gradient(
        135deg,
        hsl(0 0% 100% / 0.33) 25%,
        transparent 25%,
        transparent 50%,
        hsl(0 0% 100% / 0.33) 50%,
        hsl(0 0% 100% / 0.33) 75%,
        transparent 75%,
        transparent
    );
    background-size: 24px 24px;
}

.txp-upload-progress:indeterminate::-webkit-progress-bar {
    animation: progressbar-stripes linear 4s infinite;
    background-color: var(--clr-brdr);
    background-image: linear-gradient(
        135deg,
        hsl(0 0% 100% / 0.25) 25%,
        transparent 25%,
        transparent 50%,
        hsl(0 0% 100% / 0.25) 50%,
        hsl(0 0% 100% / 0.25) 75%,
        transparent 75%,
        transparent
    );
    background-size: 24px 24px;
}

// Stop animation at 100% progress.

.txp-upload-progress[value="1"]::-webkit-progress-value {
    background-image: none;
}

// Gecko/Quantum.

.txp-upload-progress::-moz-progress-bar {
    /* autoprefixer: off */
    animation: progressbar-stripes linear 4s infinite;
    background-color: var(--clr-accent-grad-to);
    background-image: linear-gradient(
        135deg,
        hsl(0 0% 100% / 0.33) 25%,
        transparent 25%,
        transparent 50%,
        hsl(0 0% 100% / 0.33) 50%,
        hsl(0 0% 100% / 0.33) 75%,
        transparent 75%,
        transparent
    );
    background-size: 24px 24px;
}

.txp-upload-progress:indeterminate::-moz-progress-bar {
    /* autoprefixer: off */
    animation: progressbar-stripes linear 4s infinite;
    background-color: var(--clr-brdr);
    background-image: linear-gradient(
        135deg,
        hsl(0 0% 100% / 0.25) 25%,
        transparent 25%,
        transparent 50%,
        hsl(0 0% 100% / 0.25) 50%,
        hsl(0 0% 100% / 0.25) 75%,
        transparent 75%,
        transparent
    );
    background-size: 24px 24px;
}

// Stop animation at 100% progress.

.txp-upload-progress[value="1"]::-moz-progress-bar {
    background-image: none;
}

/**
 * Reverse the progress direction in RTL languages.
 */

// WebKit/Blink.

[dir="rtl"] .txp-upload-progress::-webkit-progress-value {
    animation-direction: reverse;
}

[dir="rtl"] .txp-upload-progress:indeterminate::-webkit-progress-bar {
    animation-direction: reverse;
}

// Gecko/Quantum.

[dir="rtl"] .txp-upload-progress::-moz-progress-bar {
    /* autoprefixer: off */
    animation-direction: reverse;
}

[dir="rtl"] .txp-upload-progress:indeterminate::-moz-progress-bar {
    /* autoprefixer: off */
    animation-direction: reverse;
}
