/* Progress meter (only used in core for setup pages)
   ========================================================================== */

/**
 * Progress meter lists.
 *
 * Utilises CSS counters to increment the progress steps, more info -
 * https://developer.mozilla.org/en-US/docs/Web/Guide/CSS/Counters
 *
 * Example HTML:
 *
 * <div class="progress-meter">
 *     <ol>
 *         <li class="active"><strong>Item 1</strong></li>
 *         <li>Item 2</li>
 *         <li>Item 3</li>
 *     </ol>
 * </div>
 */

.progress-meter {
    ol {
        @extend .clearfix;

        list-style: none;
        margin-bottom: 0;
        padding: 0;
        text-align: center;
        counter-reset: step; // set up name of increment on parent
    }

    li {
        @include text-shadow($text-shadow-light);
        @include box-shadow($inset-highlighting);
        @include gradient-linear($color-gradient-from, $color-gradient-to);

        position: relative;
        display: inline-block;
        margin: 0 1em 1em 0;
        border-top: 1px solid $color-gradient-to;
        border-right: 1px solid lighten($color-border, 9%);
        border-bottom: 1px solid $color-gradient-border;
        border-left: 1px solid lighten($color-border, 9%);
        padding: 1em 1em 1em 4em;

        // highlight the currently active step
        &.active {
            @include gradient-linear($color-accent-gradient-from, $color-accent-gradient-to);

            border: 1px solid $color-accent-gradient-to;
            border-bottom-color: darken($color-accent-gradient-to, 6%);
        }

        // numerical indication of step
        &:before {
            @include border-radius(50%);

            position: absolute;
            z-index: 2;
            counter-increment: step; // increment the step on each occurance of this (pseudo) element
            content: counter(step); // write out value of the increment
            top: 0.4375em; // 7px / 16px
            left: 0.6875em; // 12px / 16px
            border: 1px solid #fff;
            padding: 0.25em; // 4px / 16px
            width: 1.375em; // 22px / 16px
            text-align: center;
            font-size: 1.23076em; // 16px / 13px
            font-weight: bold;
            background: $color-border;
        }

        // arrows at right-hand side of boxes
        &:after {
            position: absolute;
            top: 0;
            left: 100%;
            z-index: 2;
            content: "";
            height: 0;
            width: 0;
            border-top: 1.75em solid transparent;
            border-left: 0.9em solid $color-border;
            border-bottom: 1.75em solid transparent;
        }
    }

    strong {
        font-weight: normal;
    }
}

/**
 * Swap margin/padding/numerical/arrow positions in RTL languages.
 */

[dir="rtl"] .progress-meter {
    ol {
        padding: 0;
    }

    li {
        margin: 0 0 1em 1em;
        padding: 1em 4em 1em 1em;

        &:before {
            left: auto;
            right: 0.6875em; // 12px / 16px
        }

        &:after {
            left: auto;
            right: 100%;
            border-left: 0;
            border-right: 0.9em solid $color-border;
        }
    }
}
