/* ==========================================================================
   Additional layout for devices < 768px
   ========================================================================== */


@media (max-width: $breakpoint-1) {


    /* Layout < 768px
       ========================================================================== */

    /**
     * Adjust right/left padding of body.
     */

    body {
        padding: 4em 1.53846153846154em 0; // 52px + 20px / 13px
    }

    .setup,
    .login {
        padding: 1em 1.53846153846154em 0; // 13px + 20px / 13px
    }


    /* Header < 768px
       ========================================================================== */

    /**
     * Adjust right/left padding of header area.
     */

    .txp-header {
        padding: 0 1.53846153846154em; // 20px / 13px
    }

    /**
     * Smaller version of Textpattern logo.
     */

    .txp-header h1 {
        width: 1.625em; // 26px / 16px
    }

    /**
     * 'View site' link.
     *
     * Example HTML:
     *
     * <p class="txp-view-site">
     *      <a>My site</a>
     * </p>
     */

    .txp-view-site {
        margin: 0.0625em 0.375em 0; // 1px / 16px + 6px / 16px;
        font-size: 16px;

        a {
            @include hide-text;

            display: block;
            width: 2em;
            height: 2em;
            background: url("../img/sprite.svg") no-repeat -8em 0;
            background-size: 13em 2em; // 208px / 16px + 32px / 16px
        }
    }

    /**
     * Adjust right absolute position of logout button.
     */

    .txp-logout {
        right: 1.53846153846154em; // 20px / 13px
    }

}



/* ==========================================================================
   Additional layout for devices < 547px
   ========================================================================== */


@media (max-width: $breakpoint-2) {

    /**
     * Non-fixed header on mobile layout (because mobile nav menu couldn't scroll otherwise).
     */

    .txp-header {
        position: absolute;
    }

    /**
     * Show the navigation menu toggle button on mobile layout.
     *
     * Example HTML:
     *
     * <button class="txp-nav-toggle">
     */

    button.txp-nav-toggle {
        @include hide-text;

        display: block;
        float: left;
        margin: 0.0625em 0 0;
        border: 0;
        border-radius: 0;
        padding: 0;
        width: 2em;
        height: 2em;
        background: transparent url("../img/sprite.svg") -10em 0;
        background-size: 13em 2em; // 208px / 16px + 32px / 16px
        text-shadow: none;
        box-shadow: none;
        font-size: 16px;

        &:focus {
            outline: thin dotted $color-link-focus;
        }

        &:not(.collapsed) {
            background-color: rgba(255, 255, 255, 0.33);
        }
    }

    /**
     * Hide the navigation menu by default on mobile layout.
     */

    .txp-nav .data-dropdown {
        display: none;
    }

    /**
     * Show the navigation menu when toggled on mobile layout.
     */

    .txp-nav.in .data-dropdown {
        position: absolute;
        top: 3em;
        right: 0;
        left: 0;
        display: block;
        background: $color-highlight-box;
        box-shadow: 0 0 0.5em rgba(0, 0, 0, 0.2);

        // Indicator pointer.
        &:before {
            position: absolute;
            top: -0.5em; // 8px / 16px
            left: 3.9375em; // 99px / 16px;
            z-index: 2;
            width: 1em;
            height: 0.5em;
            background: url("../img/sprite.svg") no-repeat -12em 0;
            background-size: 13em 2em; // 208px / 16px + 32px / 16px
            font-size: 16px;
            content: "";
        }
    }



    .txp-nav > ul > li {
        float: none;
        border: 0;
        border-bottom: 1px solid #d4d4d4;

        &:first-child {
            border-left: 0;
        }
    }

    /**
     * Secondary-level navigation menu items (submenus).
     */

    .dropdown-menu {
        position: static;
        border: 0;
        border-radius: 0;
        min-width: 0;
        box-shadow: none;

        a {
            padding: 0.5em 2em;
        }

        // Remove indicator pointer.
        &:before {
            display: none;
        }
    }

    /**
     * Search widget at top of lists.
     */

    .txp-search,
    [dir="rtl"] .txp-search {
        margin-top: 0;
        float: none;
    }

    /**
     * Collapse 2 column form fields to 1 column.
     */

     .txp-edit,
     .txp-prefs-group {
        .txp-form-field {
            display: block;
        }
    }

    /**
     * Label/value one-column layouts within panes.
     *
     * Collapsed from two-column format on desktop layout.
     *
     * Example HTML:
     *
     * <p>
     *     <div class="txp-form-field-label">
     *         <label>Label <a class="pophelp">i</a></label>
     *     </span>
     *     <div class="txp-form-field-value">
     *         <input type="text" size="32">
     *     </span>
     * </p>
     */

     .txp-edit,
     .txp-prefs-group {
        .txp-form-field-label,
        .txp-form-field-value {
            -webkit-flex: none; // Safari 7/8
            -ms-flex: none; // IE 10
            flex: none; // Modern browsers (2014/2015 W3C spec)
            min-height: inherit;
        }
    }

    /**
     * Remove inline alignment margin values when collapsed.
     */

    .txp-form-field-value {
        .jquery-ui-buttonset, // This is an optional jQuery UI widget (not used in core layouts).
        input,
        select {
            margin: 0;
        }
    }

    /**
     * Reduce height of write -> body text area.
     */

    #page-article #body {
        max-height: 18.75em; // 300px / 16px
    }

    /**
     * Reduce height of code text areas.
     */

    textarea.code {
        max-height: 20em; // 260px / 13px
    }

    /**
     * Remove float from list navigators on list panels.
     */

    .pageby,
    .prev-next {
        float: none;
    }

    /**
     * Collapse progress meters responsively.
     */

    .progress-meter {
        ol {
            display: block;
            margin-bottom: 1em;
            text-align: left;
        }

        li {
            display: block;
            float: none;
            margin: 0;

            &:after {
                display: none;
            }
        }
    }

    /**
     * Override specifity on collapsed progress meters in RTL languages.
     */

    [dir="rtl"] .progress-meter {
        ol {
            text-align: right;
        }

        li {
            margin: 0;

            &:after {
                display: none;
            }
        }
    }

    /**
     * Collapse jQuery UI tabs responsively.
     */

    .ui-tabs .ui-tabs-nav {
        li {
            float: none;
            margin: 0;
            margin-top: 2px;
            border-bottom-width: 1px;
            box-shadow: none;

            &.ui-tabs-active {
                margin-bottom: 0;
                padding-bottom: 0;
            }

            [dir="rtl"] & {
                float: none;
            }
        }

        .ui-tabs-anchor {
            display: block;
            float: none;

            [dir="rtl"] & {
                float: none;
            }
        }
    }

    /**
     * Remove top border from jQuery UI tabs panel.
     */

    .ui-tabs .ui-tabs-panel {
        border-top-width: 0;
    }

}
