/* ==========================================================================
   Additional layout for devices < 768px
   ========================================================================== */


@media only screen and (max-width: $breakpoint-1) {


    /* Layout < 768px
       ========================================================================== */

    /**
     * Adjust right/left padding of body.
     */

    body {
        padding: 4em 1.53846153846154em 0; // 52px + 20px / 13px
    }

    #page-setup,
    #page-login,
    #page-logout {
        padding: 1em 1.53846153846154em 0; // 13px + 20px / 13px
    }


    /* Header < 768px
       ========================================================================== */

    /**
     * Adjust right/left padding of header area.
     */

    .txp-header {
        padding: 0 1.53846153846154em; // 20px / 13px
    }

    /**
     * Smaller version of Textpattern logo.
     */

    .txp-header h1 {
        width: 1.625em; // 26px / 16px
    }

    /**
     * 'View site' link.
     *
     * Example HTML:
     *
     * <p class="txp-view-site">
     *      <a>My site</a>
     * </p>
     */

    .txp-view-site {
        margin: 0.0625em 0.375em 0; // 1px / 16px + 6px / 16px;
        font-size: 16px;

        a {
            @include hide-text;
    
            display: block;
            width: 2em;
            height: 2em;
            background: url("../img/sprite.svg") no-repeat -8em 0;
            background-size: 13em 2em; // 208px / 16px + 32px / 16px
        }
    }

    /**
     * Adjust right absolute position of logout button.
     */

    .txp-logout {
        right: 1.53846153846154em; // 20px / 13px
    }

}



/* ==========================================================================
   Additional layout for devices < 547px
   ========================================================================== */


@media only screen and (max-width: $breakpoint-2) {

    /**
     * Non-fixed header on mobile layout (because mobile nav menu couldn't scroll otherwise).
     */

    .txp-header {
        position: absolute;
    }

    /**
     * Show the navigation menu toggle button on mobile layout.
     *
     * Example HTML:
     *
     * <button class="txp-nav-toggle">
     */

    button.txp-nav-toggle {
        @include text-shadow(none);
        @include border-radius(0);
        @include box-shadow(none);
        @include hide-text;

        font-size: 16px;
        display: inline-block;
        margin: 0.0625em 0 0;
        border: 0;
        padding: 0;
        width: 2em;
        height: 2em;
        background: transparent url("../img/sprite.svg") -10em 0;
        background-size: 13em 2em; // 208px / 16px + 32px / 16px

        &:focus {
            outline: thin dotted $color-link-focus;
        }

        &:not(.collapsed) {
            background-color: rgba(255, 255, 255, 0.33);
        }
    }

    /**
     * Hide the navigation menu by default on mobile layout.
     */

    .txp-nav .data-dropdown {
        display: none;
    }

    /**
     * Show the navigation menu when toggled on mobile layout.
     */

    .txp-nav.in .data-dropdown {
        @include box-shadow;

        position: absolute;
        top: 3em;
        left: 0;
        right: 0;
        display: block;
        background: $color-highlight-box;

        // Indicator pointer.
        &:before {
            font-size: 16px;
            position: absolute;
            content: "";
            top: -0.5em; // 8px / 16px
            left: 6.1875em; // 99px / 16px;
            z-index: 2;
            width: 1em;
            height: 0.5em;
            background: url("../img/sprite.svg") no-repeat -12em 0;
            background-size: 13em 2em; // 208px / 16px + 32px / 16px
        }
    }



    .txp-nav > ul > li {
        float: none;
        border: 0;
        border-bottom: 1px solid #d4d4d4;

        &:first-child {
            border-left: 0;
        }
    }

    /**
     * Secondary-level navigation menu items (submenus).
     */

    .dropdown-menu {
        @include border-radius(none);
        @include box-shadow(none);

        position: static;
        min-width: 0;
        border: 0;

        a {
            padding: 0.5em 2em;
        }

        // Remove indicator pointer.
        &:before {
            display: none;
        }
    }

    /**
     * Label/value one-column layouts within panes.
     *
     * Collapsed from two-column format on desktop layout.
     *
     * Example HTML:
     *
     * <p>
     *     <span class="txp-label">
     *         <label>Label</label> <a class="pophelp">i</a>
     *     </span>
     *     <span class="txp-value">
     *         <input type="text" size="32">
     *     </span>
     * </p>
     */

    .txp-label,
    .txp-value {
        float: none;
        display: block;
        width: 100%;
    }

    /**
     * Remove inline alignment margin values when collapsed.
     */

    .txp-value {
        .jquery-ui-buttonset, // TODO: This is temporary until we confirm using this UI.
        input,
        select {
            margin: 0;
        }
    }

    /**
     * Label/value one-column layouts within panes - OLD.
     *
     * @deprecated in 4.6.0
     * @see        .txp-label
     * @see        .txp-value
     */

    .edit-label,
    .edit-value {
        float: none;
        width: 100%;
    }

    /**
     * Remove inline alignment margin values when collapsed - OLD.
     *
     * @deprecated in 4.6.0
     * @see        .txp-value
     */

    .edit-value {
        input,
        select {
            margin: 0;
        }
    }

    /**
     * Reduce height of write -> body text area.
     */

    #page-article #body {
        height: 18.75em; // 300px / 16px
    }

    /**
     * Reduce height of code text areas.
     */

    #page-page,
    #page-form,
    #page-css {
        textarea.code {
            height: 20em; // 260px / 13px
        }
    }

    /**
     * Remove float from `.txp-navigation` elements.
     */

    .txp-navigation {
        .pageby,
        .prev-next {
            float: none;
        }
    }

    /**
     * Collapse progress meters responsively.
     */

    .progress-meter {
        ol {
            display: block;
            margin-bottom: 1em;
            text-align: left;
        }

        li {
            float: none;
            display: block;
            margin: 0;

            &:after {
                display: none;
            }
        }
    }

    /**
     * Override specifity on collapsed progress meters in RTL languages.
     */

    [dir="rtl"] .progress-meter {
        ol {
            text-align: right;
        }

        li {
            margin: 0;

            &:after {
                display: none;
            }
        }
    }

    /**
     * Collapse jQuery UI tabs responsively.
     */

    .ui-tabs .ui-tabs-nav {
        li {
            @include box-shadow(none);
            @include border-radius(0);

            float: none;
            margin-top: 2px;
            border-bottom-width: 1px;

            &.ui-tabs-active {
                margin-bottom: 0;
                padding-bottom: 0;
            }

            [dir="rtl"] & {
                float: none;
            }
        }

        .ui-tabs-anchor {
            float: none;
            display: block;

            [dir="rtl"] & {
                float: none;
            }
        }
    }

    /**
     * Remove top border from jQuery UI tabs panel.
     */

    .ui-tabs .ui-tabs-panel {
        border-top-width: 0;
    }


    /* Content -> Write page < 547px
       ========================================================================== */

    /**
     * Make title field full width.
     */

    #main_content #title {
        width: 100%;
    }

    /**
     * Move action links below title field.
     */

    .title .txp-actions {
        a {
            display: inline-block;
            margin-top: 0.75em;
        }

        &:first-of-type a {
            margin-right: 0;
            margin-left: 0;
        }
    }

}
