/* Twisties
   ========================================================================== */

/**
 * Collapsible and non-collapsible summary/details boxes.
 *
 * Example HTML:
 *
 * <section class="txp-details">
 *     <h3 class="txp-summary expanded">
 *         <a>Heading (lever)</a>
 *     </h3>
 *     <div class="toggle">
 *         Content
 *     </div>
 * </section>
 *
 * <section class="txp-details">
 *     <h3>Heading</h3>
 *     <div>
 *         Content
 *     </div>
 * </section>
 */

.txp-details {
    margin: 1em 0;
    border: 1px solid lighten($color-border, 9%);
    border-top: 0;
    background: $color-background-box;
}

/**
 * Styling for summary headings.
 */

h3.txp-summary,
.txp-details > h3 {
    @include gradient-linear($color-gradient-from, $color-gradient-to);

    position: relative;
    height: 2em; // 26px / 13px
    margin: 0;
    border-top: 1px solid $color-gradient-to;
    border-bottom: 1px solid $color-gradient-border;
    font-size: 1em; // 13px
    font-weight: bold;
    line-height: 2em; // 26px / 13px
    text-shadow: $text-shadow-light;
    box-shadow: $inset-highlighting;
}

/**
 * Padding for non-collapsible summary headings.
 *
 * For collapsible summary headings the padding is done via the `a` tag.
 */

.txp-details > h3:not(.txp-summary) {
    padding: 0 1em;
}

/**
 * Additonal styling for lever summary headings.
 */

h3.txp-summary a {
    display: block;
    padding: 0 2em 0 1em;
    color: $color-text;

    &:hover {
        color: $color-text;
        text-decoration: none;
    }

    &:after {
        @include hide-text;

        display: block;
        position: absolute;
        top: 0.5625em; // 9px / 16px
        right: 0.625em; // 10px / 16px
        width: 0;
        height: 0;
        border: 0 solid transparent;
        border-width: 0.25em 0 0.25em 0.25em;
        border-left-color: #333333;
        font-size: 16px;
        content: "\2193";
        opacity: 0.5;
        z-index: 10;
    }

    &:hover:after {
        opacity: 1;
    }
}

/**
 * Additonal styling for lever summary headings - expanded state.
 */

h3.txp-summary.expanded a:after {
    top: 0.6875em; // 11px / 16px
    right: 0.5625em; // 9px / 16px
    border: 0 solid transparent;
    border-width: 0.25em 0.25em 0;
    border-top-color: #333333;
    content: "\2191";
}

/**
 * Pad left and right of inner details content container.
 */

.toggle,
.txp-details > div {
    padding: 0 1em;
}
