// import global variables
@import "core/settings";

// import Compass, Compass Plugins and any additional mixins
@import "core/helpers";

// import colourscheme
@import "core/colours";



/* ==========================================================================
   ONLY for use in design patterns - classes NOT USED in actual theme distro.
   ========================================================================== */

/**
 * Make sure code examples use black text within information blocks.
 */

.information code {
    color: $color-text;
}


/* Colour palette.
   ========================================================================== */

/**
 * Generate the colour swatches dynamically.
 *
 * More info: http://www.guyroutledge.co.uk/blog/style-guide-colours-with-sass/
 */

$colors: (
    'text':                 $color-text,
    'text-footnote':        $color-text-footnote,
    'gradient-from':        $color-gradient-from,
    'gradient-to':          $color-gradient-to,
    'gradient-border':      $color-gradient-border,
    'border':               $color-border,
    'link':                 $color-link,
    'link-hover':           $color-link-hover,
    'link-focus':           $color-link-focus,
    'link-focus-glow':      $color-link-focus-glow,
    'link-visited':         $color-link-visited,
    'link-selecting':       $color-selecting,
    'link-selected':        $color-selected,
    'background':           $color-background,
    'background-box':       $color-background-box,
    'highlight-box':        $color-highlight-box,
    'strong-highlight-box': $color-strong-highlight-box,
    'accent-gradient-from': $color-accent-gradient-from,
    'accent-gradient-to':   $color-accent-gradient-to,
    'success-text':         $color-success-text,
    'success-background':   $color-success-background,
    'warning-text':         $color-warning-text,
    'warning-background':   $color-warning-background,
    'error-text':           $color-error-text,
    'error-background':     $color-error-background,
    'info-text':            $color-info-text,
    'info-background':      $color-info-background
);

.design-patterns--color {
    position: relative;
    display: block;
    margin: 1em 0;
    border: 1px solid $color-border;
    height: 3em; // 39px / 13px

    &:after {
        position: absolute;
        top: 0.69230769230769em; // 9px / 13px
        padding: 1px 0.23076923076923em; // 3px / 13px
        font-family: $font-mono;
        background-color: rgba(255, 255, 255, 0.66);
    }
}

@each $name, $color in $colors {
    .design-patterns--color-#{$name} {
        background: $color;

        &:after {
            content: "#{$color}";
        }
    }
}


/* Layout grid examples.
   ========================================================================== */

.design-patterns--box {
    margin-top: 0;
    padding: 1em;
    background: #aaaaaa;
}


/* jQuery UI styling specific to design patterns.
   ========================================================================== */

/**
 * The list of all available icons.
 */

.jquery-ui-icons {
    margin: 0;
    padding: 0;
}

.jquery-ui-icons li {
    position: relative;
    float: left;
    margin: 2px;
    padding: 4px 0;
    list-style: none;
    cursor: pointer;
}

[dir="rtl"] .jquery-ui-icons li {
    float: right;
}

.jquery-ui-icons .ui-icon {
    float: left;
    margin: 0 4px;
}

[dir="rtl"] .jquery-ui-icons .ui-icon {
    float: right;
}

/**
 * The vertical slider example.
 */

.jquery-ui-slider-vertical span {
    float: left;
    margin: 15px;
    height: 120px;
}

[dir="rtl"] .jquery-ui-slider-vertical span {
    float: right;
}

/**
 * Declare a width for jQuery UI menus.
 */

.ui-menu {
    width: 150px;
}

/**
 * Absolute positioning for miscellaneous jQuery UI menus.
 */

.ui-menu:not(.jquery-ui-menu) {
    position: absolute;
    z-index: 1000;
}


/* Google Code Prettify
   ========================================================================== */

/**
 * Colouring for code language syntax.
 */

/* html/xml attribute name */
.atn,
/* decimal */
.dec,
/* type */
.typ,
/* variable */
.var {
    color: #008080;
}

/* html/xml attribute value */
.atv,
/* string */
.str {
    color: #dd1144;
}

/* closure */
.clo,
/* opening */
.opn {
    color: #93a1a1;
}

/* punctuation */
.pun {
    color: #000000;
}

/* comment */
.com {
    color: #93a1a1;
}

/* function */
.fun {
    color: #dc322f;
}

/* keyword */
.kwd {
    color: #1e347b;
    font-weight: bold;
}

/* literal */
.lit {
    color: #195f91;
}

/* plaintext */
.pln {
    color: #48484c;
}

/* html/xml tag */
.tag {
    color: #1e347b;
}

/**
 * Colouring for optional code line numbers.
 *
 * Example HTML:
 *
 * <pre class="linenums">
 */

.linenums {
    padding-left: 2em;

    ol {
        margin: 0;
        padding: 0 0 0 2em;
        box-shadow: inset 1.92307692307692em 0 0 $color-background-box, inset 2em 0 0 lighten($color-border, 9%);
    }

    li {
        padding-left: 1em;
        color: darken($color-border, 8%);
    }
}
