// slightly lighten a colour
@function tint($color, $percentage) {
    @return mix(white, $color, $percentage);
}

// slightly darken a colour
@function shade($color, $percentage) {
    @return mix(black, $color, $percentage);
}

// Neutral Grey colourscheme (overrides Classic Yellow defaults)

$flat-theme:                          1;

$color-text-button:                   #ffffff;
$color-gradient-from:                 #eeeeee;
$color-gradient-to:                   #eeeeee; // nullify gradient (use flat colours)
$color-accent-gradient-from:          #c7e0f6;
$color-accent-gradient-to:            #c7e0f6; // nullify gradient (use flat colours)
$color-selecting:                     #c7e0f6;
$color-selected:                      lighten($color-selecting, 6%);
$color-background:                    #f7f7f7;
$color-background-box:                #ffffff;
$color-button-gradient-from:          #5ba4e5;
$color-button-gradient-to:            #5ba4e5; // nullify gradient (use flat colours)
$color-button-primary-gradient-from:  #9fc158;
$color-button-primary-gradient-to:    #9fc158; // nullify gradient (use flat colours)
$color-button-selected-gradient-from: #9dc8ef;
$color-button-selected-gradient-to:   #9dc8ef; // nullify gradient (use flat colours)

$dark-color-background:               #373e45;
$dark-color-gradient-from:            shade($dark-color-background, 24%);
$dark-color-gradient-to:              shade($dark-color-background, 24%); // nullify gradient (use flat colours)

$border-radius:                       0.3em;

// import the default Hive (Classic Yellow) theme
@import "hive-default";

@media screen {

    tr {
        border-color: $color-border;
    }

    @include dark-mode {
        tr {
            border-color: $dark-color-border-extra-light;
        }
    }

    .txp-list {
        tbody tr,
        thead th,
        thead th:first-child {
            border-color: $color-border;
        }
    }

    @include dark-mode {
        .txp-list {
            tbody tr,
            thead th,
            thead th:first-child {
                border-color: $dark-color-border-extra-light;
            }
        }
    }

    .txp-edit,
    .txp-details {
        background: $color-background;
    }

    button:not(.destroy),
    [type="reset"],
    [type="submit"]:not(.destroy),
    input[type="button"],
    .txp-button,
    .ui-button:not(.ui-checkboxradio-label),
    .ui-widget-content .ui-icon,
    .ui-widget-header .ui-icon,
    .ui-state-hover .ui-icon,
    .ui-state-focus .ui-icon,
    .ui-state-active .ui-icon {
        .ui-icon {
            filter: brightness(5) !important;
        }
    }

    button[disabled]:not(.destroy),
    [type="reset"][disabled],
    [type="submit"][disabled]:not(.destroy),
    input[type="button"][disabled],
    .txp-button.disabled {
        .ui-icon {
            filter: none !important;
        }
    }

    .no-ui-button .ui-button .ui-icon {
        filter: none;
    }

    .dropdown-menu {
        border-radius: 0;
        background: #ffffff;

        li {
            &:hover {
                background: $color-selected;
            }

            &.selected {
                background: $color-selecting;
            }
        }
    }

    .ui-menu,
    .switcher-list li.active,
    .ui-tabs-vertical .ui-tabs-nav .ui-tabs-active {
        background: #ffffff;
    }

    .txp-upload-progress::-webkit-progress-value {
        background-color: $color-button-primary-gradient-to;
    }

    .txp-upload-progress::-moz-progress-bar {
        background-color: $color-button-primary-gradient-to;
    }

    .txp-upload-progress::-ms-fill {
        background-color: $color-button-primary-gradient-to;
    }

    .ui-progressbar-value {
        background-color: $color-button-primary-gradient-to;
    }

    .ui-tabs-vertical {
        .ui-tabs-nav {
            border-bottom-color: $color-border;
        }

        .ui-tabs-nav li {
            border-color: $color-border;
            border-bottom-color: transparent;
        }
    }

}



/* ==========================================================================
   Additional layout for devices < 547px
   ========================================================================== */


@media (max-width: $break-small) {

    /**
     * Collapse jQuery UI tabs responsively.
     */

    .ui-tabs:not(.ui-tabs-vertical) .ui-tabs-nav {
        border-bottom-color: $color-border;

        li {
            border-color: $color-border;
            border-bottom-color: transparent;
        }
    }

}
