// Neutral Grey colourscheme (overrides Classic Yellow defaults)

$flat-theme:                          1;
$color-text-button:                   #ffffff;
$color-gradient-from:                 #eeeeee;
$color-gradient-to:                   #eeeeee; // nullify gradient (use flat colours)
$color-accent-gradient-from:          #c7e0f6;
$color-accent-gradient-to:            #c7e0f6; // nullify gradient (use flat colours)
$color-selecting:                     lighten($color-accent-gradient-from, 3%);
$color-selected:                      lighten($color-accent-gradient-from, 8%);
$color-background:                    #f7f7f7;
$color-button-gradient-from:          #5ba4e5;
$color-button-gradient-to:            #5ba4e5; // nullify gradient (use flat colours)
$color-button-primary-gradient-from:  #9fc158;
$color-button-primary-gradient-to:    #9fc158; // nullify gradient (use flat colours)
$color-button-selected-gradient-from: #9dc8ef;
$color-button-selected-gradient-to:   #9dc8ef; // nullify gradient (use flat colours)
$border-radius:                       0.3em;

// import the default Hive (Classic Yellow) theme
@import "hive-default";

@media screen {

    .txp-list {
        tbody tr,
        thead th,
        thead th:first-child {
            border-color: $color-border;
        }
    }

    .ui-button .ui-icon {
        background-image: url("../img/ui-icon-sprite-ffffff.svg");
    }

    .no-ui-button .ui-button .ui-icon {
        background-image: url("../img/ui-icon-sprite-333333.svg");
    }

    .dropdown-menu {
        border-radius: 0;
        background: #ffffff;

        li {
            &:hover {
                background: $color-selected;
            }

            &.selected {
                background: $color-selecting;
            }
        }
    }

    .ui-menu,
    .switcher-list li.active,
    .ui-tabs-vertical .ui-tabs-nav .ui-tabs-active {
        background: #ffffff;
    }

}
