// Neutral Grey colourscheme (overrides Classic Yellow defaults)

$flat-theme:                 1;
$color-gradient-from:        #eeeeee;
$color-gradient-to:          $color-gradient-from; // nullify gradient (use flat colours)
$color-accent-gradient-from: #cccccc;
$color-accent-gradient-to:   #cccccc; // nullify gradient (use flat colours)
$border-radius:              0;

// import the default Hive (Classic Yellow) theme
@import "hive-default";

.txp-list {
    tbody tr,
    thead th,
    thead th:first-child {
        border-color: $color-border;
    }
}
