// import global variables
@import "core/settings";

// import Compass, Compass Plugins and any additional mixins
@import "core/helpers";


/* fallbacks for lack of RGBa/opacity support in IE 8 */

.close {
    color: #cccccc;

    &:hover {
        color: #ffffff;
    }
}

.dropdown {
    background: #fcdc7f;

    &:hover a.dropdown-toggle {
        background: #fcdc7f;
    }

    &.active a.dropdown-toggle {
        background: #fcdc7f;
    }
}

/* fallbacks for lack of SVG support in IE 8 */

.welcome h1 {
    background-image: url("../img/textpattern-xlrg.png");
}

.txp-header h1 {
    background-image: url("../img/textpattern-lrg.png");
}

.dropdown-menu:before {
    background-image: url("../img/indicator.gif");
}

#tab-text a {
    background-image: url("../img/view-text.png");
}

#tab-html a {
    background-image: url("../img/view-html.png");
}

#tab-preview a {
    background-image: url("../img/view-preview.png");
}

/* Fix for reponsive embedded content in IE 8 */

img,
video {
    width: auto;
}
