@use "setup";
@use "hive-default-variables";

/* ==========================================================================
   Styling and layout for screen media
   ========================================================================== */

// Global
@import "modules/links";
@import "modules/typography";
@import "modules/alerts";
@import "modules/forms-base";
@import "modules/forms-input-checkboxradio";
@import "modules/buttons";

// Layout modules
@import "modules/container";

html {
    text-size-adjust: 100%;
}

.setup {
    padding: 1em 4% 0;
}

.txp-setup {
    max-width: setup.$setup-column;
    margin: 1em auto;
}

.ui-icon {
    display: inline-block;
    position: relative;
    width: 16px;
    height: 16px;
    overflow: hidden;
    background-size: 16px 16px;
    vertical-align: text-bottom;
    text-indent: -9999px;
}

.success .ui-icon {
    filter: invert(36%) sepia(80%) saturate(582%) hue-rotate(72deg)
        brightness(97%) contrast(86%);
}

.error .ui-icon {
    filter: invert(20%) sepia(42%) saturate(3280%) hue-rotate(343deg)
        brightness(93%) contrast(97%);
}

.ui-icon-alert {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16'%3E%3Cpath d='M0 15L8 1l8 14H0zM9 5H7v6h2V5zm0 7H7v2h2v-2z'/%3E%3C/svg%3E");
}

.ui-icon-check {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16'%3E%3Cpath d='M13 3l-7 7-2-2-2 2 4 4L15 5z'/%3E%3C/svg%3E");
}

/* ==========================================================================
   Additional layout for devices < 768px
   ========================================================================== */

@media (max-width: setup.$break-large) {
    .setup {
        padding: 1em 2em 0; // 13px + 26px
    }
}

/* ==========================================================================
   Additional layout for devices < 547px
   ========================================================================== */

@media (max-width: setup.$break-small) {
    /**
     * Prevent zoom upon form element focus.
     */

    html {
        font-size: 16px;
    }
}
