@use "sass:meta";
@use "setup";

/* Colourscheme
   ========================================================================== */

/* stylelint-disable declaration-colon-space-after */

:root {
    // text colours
    --color-text:                          hsl(0, 0%, 20%);
    --color-text-heading:                  hsl(0, 0%, 0%);
    --color-text-footnote:                 hsl(0, 0%, 35%);
    --color-text-inversed:                 hsl(0, 0%, 100%);
    --color-text-enforced-white:           hsl(0, 0%, 100%);
    --color-text-form:                     hsl(0, 0%, 0%);
    --color-text-form-placeholder:         hsl(0, 0%, 60%);
    --color-text-button:                   hsl(0, 0%, 0%);
    --color-text-button-hover:             hsl(0, 0%, 0%);
    --color-text-button-active:            hsl(0, 0%, 0%);
    // neutral colours
    --color-background:                    hsl(0, 0%, 100%);
    --color-background-enforced-white:     hsl(0, 0%, 100%);
    --color-background-box:                hsl(0, 0%, 97%);
    --color-background-form:               hsl(0, 0%, 100%);
    --color-background-form-disabled:      hsl(0, 0%, 89%);
    --color-gradient-from:                 hsl(0, 0%, 93%);
    --color-gradient-to:                   hsl(0, 0%, 87%);
    // accent colours
    --color-accent-gradient-from:          hsl(48, 100%, 63%);
    --color-accent-gradient-to:            hsl(48, 100%, 48%);
    --color-accent-dark:                   hsl(48, 100%, 42%);
    --color-accent-background:             hsl(48, 100%, 94%);
    --color-highlight-box:                 hsla(48, 100%, 63%, 0.25);
    --color-strong-highlight-box:          hsla(48, 100%, 63%, 0.66);
    // border colours
    --color-border:                        hsl(0, 0%, 80%);
    --color-border-light:                  hsl(0, 0%, 82%);
    --color-border-extra-light:            hsl(0, 0%, 84%);
    --color-border-dark:                   hsl(0, 0%, 75%);
    --color-border-extra-dark:             hsl(0, 0%, 70%);
    // interaction colours
    --color-link:                          hsl(216, 100%, 37%);
    --color-link-hover:                    hsl(216, 100%, 50%);
    --color-link-focus:                    hsl(216, 100%, 50%);
    --color-selecting:                     hsl(216, 100%, 90%);
    --color-selected:                      hsl(216, 100%, 95%);
    // button colours
    --color-button-gradient-from:          hsl(0, 0%, 93%);
    --color-button-gradient-to:            hsl(0, 0%, 87%);
    --color-button-border:                 hsl(0, 0%, 80%);
    --color-button-primary-gradient-from:  hsl(48, 100%, 70%);
    --color-button-primary-gradient-to:    hsl(48, 100%, 55%);
    --color-button-primary-border:         hsl(48, 100%, 48%);
    --color-button-selected-gradient-from: hsl(216, 100%, 95%);
    --color-button-selected-gradient-to:   hsl(216, 100%, 90%);
    --color-button-selected-border:        hsl(216, 100%, 79%);
    // alert colours
    --color-success-text:                  hsl(120, 60%, 34%);
    --color-success-background:            hsl(120, 40%, 90%);
    --color-success-border:                hsl(102, 40%, 68%);
    --color-warning-text:                  hsl(41, 100%, 40%);
    --color-warning-background:            hsl(41, 64%, 91%);
    --color-warning-border:                hsl(41, 64%, 71%);
    --color-error-text:                    hsl(4, 69%, 36%);
    --color-error-background:              hsl(4, 43%, 91%);
    --color-error-border:                  hsl(4, 43%, 78%);
    --color-info-text:                     hsl(200, 50%, 45%);
    --color-info-background:               hsl(200, 78%, 95%);
    --color-info-border:                   hsl(200, 78%, 82%);
    // shadows
    --standard-shadow:                     0 0 0.5em hsla(0, 0%, 0%, 0.2);
    --inset-lowlighting:                   inset 0 0.2em 0.25em hsla(0, 0%, 0%, 0.15);
}

@include setup.dark-mode {
    // text colours
    --color-text:                          hsl(210, 14%, 83%);
    --color-text-heading:                  hsl(0, 0%, 100%);
    --color-text-footnote:                 hsl(210, 14%, 70%);
    --color-text-inversed:                 hsl(210, 11%, 24%);
    --color-text-form:                     hsl(0, 0%, 100%);
    --color-text-form-placeholder:         hsl(210, 6%, 48%);
    // neutral colours
    --color-background:                    hsl(210, 11%, 24%);
    --color-background-box:                hsl(210, 11%, 20%);
    --color-background-form:               hsl(210, 11%, 17%);
    --color-background-form-disabled:      hsl(210, 11%, 17%);
    --color-gradient-from:                 hsl(210, 7%, 36%);
    --color-gradient-to:                   hsl(210, 9%, 30%);
    // border colours
    --color-border:                        hsl(210, 7%, 53%);
    --color-border-light:                  hsl(210, 7%, 43%);
    --color-border-extra-light:            hsl(210, 7%, 33%);
    --color-border-dark:                   hsl(210, 7%, 20%);
    --color-border-extra-dark:             hsl(210, 7%, 6%);
    // interaction colours
    --color-link:                          hsl(210, 100%, 81%);
    --color-link-hover:                    hsl(210, 100%, 87%);
    --color-link-focus:                    hsl(312, 100%, 50%);
    --color-selecting:                     hsl(210, 50%, 18%);
    --color-selected:                      hsl(210, 50%, 21%);
    // alert colours
    --color-success-text:                  hsl(100, 60%, 50%);
    --color-success-background:            hsl(109, 27%, 20%);
    --color-success-border:                hsla(100, 60%, 50%, 0.33);
    --color-warning-text:                  hsl(40, 100%, 62%);
    --color-warning-background:            hsl(49, 35%, 21%);
    --color-warning-border:                hsla(40, 100%, 62%, 0.33);
    --color-error-text:                    hsl(337, 100%, 60%);
    --color-error-background:              hsl(348, 34%, 21%);
    --color-error-border:                  hsla(337, 100%, 60%, 0.43);
    --color-info-text:                     hsl(207, 100%, 63%);
    --color-info-background:               hsl(207, 68%, 17%);
    --color-info-border:                   hsla(207, 100%, 63%, 0.38);
    // shadows
    --standard-shadow:                     0 0 0.5em hsla(0, 0%, 0%, 0.75);
}


/* ==========================================================================
   Styling and layout for all media
   ========================================================================== */

@include meta.load-css("modules/base");



/* ==========================================================================
   Styling and layout for screen media
   ========================================================================== */

@media screen {

    // Global
    @include meta.load-css("modules/links");
    @include meta.load-css("modules/typography");
    @include meta.load-css("modules/alerts");
    @include meta.load-css("modules/forms");
    @include meta.load-css("modules/buttons");

    // Layout modules
    @include meta.load-css("modules/container");

    html {
        text-size-adjust: 100%;
    }

    .setup {
        padding: 1em 4% 0;
    }

    .txp-setup {
        max-width: setup.$setup-column;
        margin: 1em auto;
    }

    .ui-icon {
        display: inline-block;
        position: relative;
        width: 16px;
        height: 16px;
        overflow: hidden;
        background-size: 16px 16px;
        vertical-align: text-bottom;
        text-indent: -9999px;
    }

    .success .ui-icon {
        filter: brightness(2) sepia(1) hue-rotate(82deg) saturate(250%) brightness(90%);
    }

    .error .ui-icon {
        filter: brightness(2) sepia(1) hue-rotate(-62deg) saturate(750%) brightness(65%);
    }

    .ui-icon-alert { background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16'%3E%3Cpath fill='%23333' d='M0 15L8 1l8 14H0zM9 5H7v6h2V5zm0 7H7v2h2v-2z'/%3E%3C/svg%3E"); }
    .ui-icon-check { background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16'%3E%3Cpath fill='%23333' d='M13 3l-7 7-2-2-2 2 4 4L15 5z'/%3E%3C/svg%3E"); }
}



/* ==========================================================================
   Additional layout for devices < 768px
   ========================================================================== */


@media (max-width: setup.$break-large) {
    .setup {
        padding: 1em 2em 0; // 13px + 26px
    }
}



/* ==========================================================================
   Additional layout for devices < 547px
   ========================================================================== */


@media (max-width: setup.$break-small) {

    /**
     * Prevent zoom upon form element focus.
     */

    html {
        font-size: 16px;
    }
}
